<div track 
     ng-if="active_book_filter"
	   ng-class="{'hidden_summary_button':!hovered}" 
	   class="summary_button_base animate-fast" 
     ns-popover
     ns-popover-template="bookPopover"
     ns-popover-trigger="mouseover"
     ns-popover-timeout="0"
     ns-popover-placement="bottom|left"
     ns-popover-hide-on-click=false
     >
	<span class="icon-file"></span>

</div>
<div track 
     ng-if="active_author_filter"
     ng-class="{'hidden_summary_button':!hovered}" 
     class="summary_button_base animate-fast" 
     ns-popover
     ns-popover-template="authorPopover"
     ns-popover-trigger="mouseover"
     ns-popover-timeout="0"
     ns-popover-placement="bottom|left"
     ns-popover-hide-on-click=false
     >
  <span class="icon-file"></span>

</div>
<div track 
     ng-if="active_reader_filter"
     ng-class="{'hidden_summary_button':!hovered}" 
     class="summary_button_base animate-fast" 
     ns-popover
     ns-popover-template="readerPopover"
     ns-popover-trigger="mouseover"
     ns-popover-timeout="0"
     ns-popover-placement="bottom|left"
     ns-popover-hide-on-click=false
     >
  <span class="icon-file"></span>

</div>
<script type="text/ng-template" id="bookPopover">
  <div class="triangle"></div>
  <div class="tooltip">
    <div class="header">
      <span class="title" ng-click="show_book(2)">
        <span itemprop= "name">{{book.title}}</span>
      </span>
      <span>&nbsp;by&nbsp;</span>
      <span class="author" ng-click="show_book(16)">
        <span itemprop= "author">{{book.author_name}}</span>
      </span>
    </div>
    <hr>
    <div class="description">
      <span itemprop="description">{{book.summary}}</span>
    </div>
    <hr>
    <div class="users_count">{{book.users_count}} friends have read this</div>
    <div class="users">
      <div ng-repeat="user in book.users">
        <img ng-src="{{user.thumb}}"/>
      </div>
    </div>
    <div class="footer">
      <recommend></recommend>
    </div>
  </div>
</script>

<script type="text/ng-template" id="authorPopover">
  <div class="triangle"></div>
  <div class="tooltip">
    <div class="header">
      <div class="title">
        <span itemprop= "name">{{author.name}}</span>
      </div>
    </div>
    <hr>
    <div class="description">
      ABOUT AUTHOR
    </div>
    <hr>
    <div class="users_count">readers count</div>
    <div class="users">
      
    </div>
    <div class="footer">
      <recommend></recommend>
    </div>
  </div>
</script>

<script type="text/ng-template" id="readerPopover">
  <div class="triangle"></div>
  <div class="tooltip">
    <div class="header">
      <div class="title">
        <span itemprop= "name">{{reader.name}}</span>
      </div>
    </div>
    <hr>
    <div class="description">
      Reader description
    </div>
    <hr>
    <div class="users_count">Followers Count</div>
    <div class="users">
      
    </div>
    <div class="footer">
      <recommend></recommend>
    </div>
  </div>
</script>

<div class="animate-fast widget_thumb" 
     ng-style="thumb_style">
</div>

<!-- <div ng-if="read" class="stamp_read">
	<span class="glyphicon glyphicon-check"></span> READ
</div>
 -->