<div  itemscope 
 	  itemtype= "http://schema.org/Book" 
 	  ng-style="randomise_position"
 	  class="animate-fast widget">
	<!-- <category track widget="book"></category> -->
	<div ng-model="book" 
		ng-click="show_focused_tooltip($event)"
		class="card animate-slow">
		<book-interact data="book" track></book-interact>
		<widget-thumb track></widget-thumb>
		<div class="card_summary animate-fast">
			<div>
				<tooltip text="book.title" position="top"></tooltip>
				<b><span>{{book.title | reduced_title}}</span></b><br/>
				<span>by {{book.author_name}}</span>
			</div>
			<div>
				<tooltip text="book.summary" position="bottom" scroll="true"></tooltip>
				<span ng-if="book.summary" class="normal_text">{{book.summary | reduced_summary}}</span>
			</div>
		</div>
		<!-- <book-navbar track></book-navbar> -->
	</div>
</div>
<div class="base" ng-click="show_book(3)"></div>