<!-- <span class="popup_icon icon-angle-down" ng-click="show_feedback_popup()"></span> -->
<!-- <ul ng-if="focused_book.show_feedback_popup" class="feedback_popup">
  <li><span ng-click="focusedBook.add_thumb = !focusedBook.add_thumb;" 
            ng-show="!focusedBook.add_thumb">Suggest a new thumbnail</span>
  <span><input placeholder="Add a thumb url..." 
              class="input_thumb" 
              set-focus="focusedBook.add_thumb"
              ng-model="new_thumb"
              ng-keydown="stop_keyboard_navigation($event)"
              ng-keypress="handle_enter($event, new_thumb)"
              ng-show="focusedBook.add_thumb"/></span></li>
  <li><span>Report Duplicate</span></li>
  <li><span>Not Interested In Such Books</span></li>
  
  <hr>
  <li><span>Error in data</span></li>
  <hr>
  <li><span>Share</span><span></span></li>
  <hr>
  <li><span>I don't want to see this</span></li>
  <li><span>Incorrect Recommendation</span></li>
  <li><span>Make Recommendations Better</span></li>
</ul> -->
<div class="arrow" ng-class="{'arrow_left': on_left, 'arrow_right': !on_left}"></div>
<div class="icon-close-popup" ng-click="hide_popups()"></div>
<!-- <div class="close button_effect" ng-click="close_focused_tooltip()">x</div> -->
<div class="header">
  <div class="title site_color header_font" title="{{focused_book.title}}"><b>{{focused_book.title | book_title}} </b></div>
  <div class="author site_color">by <b>{{focused_book.author_name}}</b></div>
  <div class="author">
    <span ng-if="focused_book.published_year">
      {{focused_book.published_year | published_year}}</span>
    <span>{{focused_book.page_count | page_count}}</span>
  </div>
 <!--  <div class="rating_star">
    <img src="assets/star.png"/>
    <div class="rating_text">{{focused_book.rating | rating }}</div>
  </div> -->
</div>
<div class="tabs">
  <div ng-click="get_book_overview();"
       ng-class="{'active_tab2': !show_buy && !show_author}"
        class="tab tab2">
      <span><b>Overview</b></span><span class=""></span>
  </div>
 <!--  <div ng-click="show_buy = false;"
        class="tab"
        ng-class="{'active_tab2': !show_info && !show_buy}">
      <span>Actions</span><span class=""></span>
  </div> -->
  <div class="tab tab2"
       ng-click="get_author_details();"
       ng-class="{'active_tab2': show_author && !show_buy}">
      <span><b>About author</b></span><span class=""></span>
  </div>
  <div ng-click="get_buy_links();"
       class="tab tab2"
       ng-class="{'active_tab2': show_buy && !show_author}">
      <span><b>Buy this book</b></span><span class=""></span>
  </div>
</div>

<div class="book_info" ng-if="!show_buy && !show_author">
  <div class="instruct_block">
    <span>
      <span class="site_color">
        <span>{{focused_book.readers_count | integer}}</span>
        <span>Readers</span>
        <span class="icon-users2"></span> 
      </span>
    </span>
    <span itemprop="aggregateRating" 
          itemscope 
          itemtype="http://schema.org/AggregateRating"
         >
      <span>&nbsp;</span>
      <span class="site_color">
        <span>{{focused_book.bookmark_count | integer}}</span>
        <span>Tags</span>
        <span class="icon-tags"></span> 
      </span>
    </span>
    <span>
      <span>&nbsp;</span>
      <span class="site_color">
        <span>{{focused_book.comment_count | integer}}</span>
        <span>Comments</span>
        <span class="icon-bubbles2"></span>
      </span>
    </span>
  </div>
   <div ng-if="!show_buy && !show_author" ng-disabled="!focused_book.status">
    <rate data="focused_book"></rate>
  </div>
</div>

<div class="scrollbar description" 
     ng-class="{'long_description': !focused_book.users_count || focused_book.users_count == 0}"
     msd-wheel="stop_horizontal_scroll($event)" ng-if="!show_buy && !show_author">
  <span itemprop="description" ng-bind-html="focused_book.summary | summary"></span>
  <br/>
  <br/>
  <br/>
</div>

<div class="user_box" ng-if="!show_author && !show_buy && focused_book.users_count && focused_book.users_count > 0">
  <div class="heading">{{focused_book.users_count}} friends have read this</div>
  <div class="users">
    <div ng-repeat="user in focused_book.users">
      <img ng-src="{{user.thumb}}" />
    </div>
  </div>
</div>

<div class="book_info scrollbar author_book_info"
     ng-if="show_author && !show_buy">
      <img ng-src="{{focused_book.author_details.image_url}}"/>
      <div class="text"
          msd-wheel="stop_horizontal_scroll($event)">
          {{focused_book.author_details.about}}
          <br/>
          <br/>
          <br/>
          <br/>
      </div>
</div>

<div class="user_box_wrapper animate-fast"
    ng-click="get_book_from_author()"
    ng-show="show_author && !show_buy">
    <div class="text"><b>Books from {{focused_book.author_name}} </b></div>
</div>
<div class="user_box"
     ng-if="show_author && !show_buy">
     <div class="heading">{{focused_book.author_details.book_ids.length}} more books from author</div>
      <img ng-src="{{book_isbn | small_thumb}}" 
           ng-repeat="book_isbn in focused_book.author_details.book_isbns | limitTo: 7 track by $index" 
           class="book_thumb">
    <!-- <img class="signature_thumb" ng-src="{{focused_book.author_details.signature_pic}}"/> -->
</div>

<div ng-if="show_buy && !show_author" class="buy_column">
  <div ng-if="focused_book.bnn_links">
    <span>Buy from&nbsp;</span><em><span>Barnes & Nobles</span></em>
    <span ng-repeat="link in focused_book.bnn_links track by $index">
      <a ng-href="{{link}}" target="_blank" class="site_color">Link{{$index+1}}</a>&nbsp;
    </span>
  </div>
  <div ng-if="!focused_book.bnn_links || focused_book.bnn_links.length == 0">
    Sorry! Could find this book on <em>Barnes & Nobles</em>.
  </div>
</div>

<div class="time_to_read" ng-if="show_buy && !show_author">
  <div class="header">Describe the reading length of this book</div>
  <div ng-click="record_read_time(0, $event)"
      class="tab read_block"
      ng-class="{'active_tab':is_timer(0)}">Tiny Read</div>
  <div ng-click="record_read_time(1, $event)"
      class="tab read_block"
      ng-class="{'active_tab':is_timer(1)}">Small Read</div>
  <div ng-click="record_read_time(2, $event)"
      class="tab read_block"
      ng-class="{'active_tab':is_timer(2)}">Normal Read</div>
  <div ng-click="record_read_time(3, $event)"
      class="tab read_block"
      ng-class="{'active_tab':is_timer(3)}">Long Read</div>
</div>

<div class="tweet_link site_color" ng-click="user.interact = true;">
  <span><img ng-src="{{focused_book.display_profile}}"></span>
  <span ng-model="focused_book.display_tweet" ng-bind-html="focused_book.display_tweet | display_tweet"></span>
</div>
<div class="footer">
  <recommend data="focused_book"></recommend>
  <!-- <span class="interact" ng-click="user.interact = true;">Tweet</span> -->
  <!-- <div class="own_this_book"
     ng-click="own_this_book()">
     <span ng-show="!have_this_book">I have this Book</span>
     <span ng-show="have_this_book">I don't have this Book</span>
  </div> -->
</div>