<div class="wrapper animate-slow"
 	 style="z-index:12;" 
	 ng-click="close_interaction_box()"
	 msd-wheel="stop_horizontal_scroll($event)">
	 
	<div class="interaction_group">
		<div class="icon-close-popup" ng-click="close_interaction_box();"></div>
		<div ng-include src="'/assets/angular/widgets/partials/interaction_box.html'"></div>
		<div class="scrollbar tweets"
			 ng-if="focused_book"
		 	 ng-click="stop_propagation($event)">
			<div class="tweet animate-fast" ng-repeat="tweet in focused_book.tweets | reverse">
				<div class="thumb"><img ng-src="{{tweet.user.thumb | thumb_backup}}"></div>
				<div class="tweet_text">
					<b><div ng-bind-html="tweet.user.name"></div></b>
					<div ng-bind-html="tweet.tag"></div>
					<div ng-bind-html="tweet.message"></div>
				</div>
			</div>
			<div class="tweet animate-fast">
				No new notifications.
			</div>
		</div>
		<div class="scrollbar tweets"
			ng-if="!focused_book.tweets"
			check-scroll-bottom="get_notifications()"
			ng-click="stop_propagation($event)">
			<div ng-repeat="notification in notifications | reverse" 
			     class="tweet animate-fast">
				<div class="thumb"><img ng-src="{{notification.thumb | thumb_backup}}"></div>
				<div class="tweet_text">
					<b><div ng-bind-html="notification.user.name"></div></b>
					<b><a ng-href="{{notification.url}}" target="_blank">
						<div ng-bind-html="notification.title"></div></a>
					</b>
					<div class="trending_background site_color" ng-show="notification.title">
						<a ng-href="#user/{{user.id}}/trending/books/id/{{notification.id}}/name/{{notification.name}}">Check out books related to  <b>{{notification.keywords}}</b></a>
					</div>
					<div ng-bind-html="notification.tag"></div>
					<br/>
					<div ng-bind-html="notification.message"></div>
					<img ng-show="notification.large_image" ng-src="{{notification.large_image}}" class="large_thumb">
				</div>
			</div>
			<div class="tweet animate-fast">
				No new notifications.
			</div>
		</div>
		
	</div>
</div>	