<div class="wrapper" 
	 ng-click="close_interaction_box()"
	 msd-wheel="stop_horizontal_scroll($event)"
	 ng-if="focused_book.interact" 
	 style="z-index: 7;">
	<div class="interaction_box_options">
		<div ng-repeat="item in hash_tags track by $index" 
    		 ng-click="handle_selection(item.name)" 
    		 ng-class="{active:is_current($index, item.name)}" 
    		 ng-mouseenter="set_current($index)"
    		 class="option">
	  		<div class="title">{{item.name}}</div>
	      	<div ng-show="item.author_name">by {{item.author_name}}</div>
		</div>
	</div>
	<div class="interaction_box animate-fast"
		 ng-click="stop_propagation($event)">
		<div>
			<span class="highlighter" ng-bind-html="focused_book.hash_tagged_comment"></span>
			<textarea itemprop= "commentText"
			   itemtype= "http://schema.org/UserComments"
			   set-focus="focused_book.interact"
			   type="text"
			   ng-paste="update_hashtagged_comment()"
			   ng-model="focused_book.current_comment"
			   ng-keydown="handle_backspace($event)"
			   placeholder="What do you feel about {{focused_book.title}} by {{focused_book.author_name}}..."
			   class="comment_box animate-fast"
			   ng-keypress="handle_hash_tags($event)"
			   ng-keyup="key_up()"
			   rows="1">
			</textarea>
		</div>
		<div>{{focused_book.hash_tagged_comment}}</div>
		<div class="character_count">{{140 - focused_book.current_comment.length}} characters left</div>
	</div>
	<div class="scrollbar tweets"
	 	 ng-click="stop_propagation($event)">
		<div class="tweet" ng-repeat="tweet in focused_book.tweets | reverse">
			<div class="display_inline_block_float_left"><user-thumb></user-thumb></div>
			<div class="tweet_text display_inline_block_float_left" ng-bind-html="tweet.tweet"></div>
		</div>
	</div>
</div>	