<div class="wrapper animate-slow"
 	 style="z-index:12;" 
	 ng-click="close_interaction_box()"
	 msd-wheel="stop_horizontal_scroll($event)">
	 
	<div class="interaction_group">
		<div class="icon-close-popup" ng-click="close_interaction_box();"></div>
		<div ng-include src="'/assets/angular/widgets/partials/interaction_box.html'"></div>
		<div class="scrollbar tweets"
			 ng-if="focused_book"
		 	 ng-click="stop_propagation($event)">
		 	<div class="tweet">
				<b><div class="tweet_text">Book Timeline</div></b>
			</div>
			<div class="tweet animate-fast" ng-repeat="tweet in focused_book.tweets | reverse">
				<div class="thumb"><img ng-src="{{tweet.user.thumb | thumb_backup}}"/></div>
				<div class="tweet_text">
					<b><div ng-bind-html="tweet.user.name"></div></b>
					<div ng-bind-html="tweet.tag"></div>
					<div ng-bind-html="tweet.message"></div>
				</div>
			</div>
			<div class="tweet animate-fast">
				No new notifications.
			</div>
		</div>

		<div class="scrollbar tweets"
			ng-if="!focused_book.tweets && notifications && show_trending"
			check-scroll-bottom="get_notifications(true)"
			ng-click="stop_propagation($event)">
			<div class="tweet">
				<b><div class="tweet_text">Trending</div></b>
			</div>
			<div ng-repeat="notification in notifications | reverse" 
			     class="tweet animate-fast">
				<div ng-include src="'/assets/angular/widgets/partials/notification_block.html'"></div>
			</div>
			<div class="tweet animate-fast">
				You've reached end of the trending list.
			</div>
		</div>

		<div class="scrollbar tweets"
			ng-if="!focused_book.tweets && notifications && !show_trending"
			check-scroll-bottom="get_notifications()"
			ng-click="stop_propagation($event)">
			<div class="tweet">
				<b><div class="tweet_text">News Feed</div></b>
			</div>
			<div ng-repeat="notification in notifications | reverse" 
			     class="tweet animate-fast">
				<div ng-include src="'/assets/angular/widgets/partials/notification_block.html'"></div>
			</div>
			<div class="tweet animate-fast">
				You've reached end of the news feed.
			</div>
		</div>

		<div class="scrollbar tweets"
			ng-if="!focused_book.tweets && readers_notifications && !show_trending && !personal_notifications"
			check-scroll-bottom="get_notifications(false, reader.id)"
			ng-click="stop_propagation($event)">
			<div class="tweet">
				<b><div class="tweet_text">{{reader.name | first_name}}'s timeline</div></b>
			</div>
			<div ng-repeat="notification in readers_notifications | reverse" 
			     class="tweet animate-fast">
				<div ng-include src="'/assets/angular/widgets/partials/notification_block.html'"></div>
			</div>
			<div class="tweet animate-fast">
				No new notifications from {{reader.name | first_name}}.
			</div>
		</div>

		<div class="scrollbar tweets"
			ng-if="!focused_book.tweets && personal_notifications && !show_trending"
			check-scroll-bottom="get_notifications(false, user.id)"
			ng-click="stop_propagation($event)">
			<div class="tweet">
				<b><div class="tweet_text">Profile</div></b>
			</div>
			<div ng-repeat="notification in personal_notifications | reverse" 
			     class="tweet animate-fast">
				<div ng-include src="'/assets/angular/widgets/partials/notification_block.html'"></div>
			</div>
			<div class="tweet animate-fast">
				No new notifications.
			</div>
		</div>
		
	</div>
</div>	