<div itemprop="review" 
 	  itemscope 
 	  itemtype="http://schema.org/Review"
 	  class="rate">
 	<div class="rate_radio_buttons">
		<span ng-if="!rate_object.user_rating">Rate this book&nbsp;</span>
		<span ng-if="rate_object.user_rating">Rated&nbsp;</span>
		<span type="radio" 
			   class="rate_radio"
			   ng-class="{'yellow_color icon-star22':is_active($index) && !rate_object.rated,
			   'icon-star':!is_active($index),
			   'dark_blue_color icon-star22':ready_to_rate && is_active($index),
			   'purple_color icon-star22':rate_object.rated && is_active($index) && !ready_to_rate}"
			   ng-mouseenter="show_if_rated($index)"
			   ng-mouseleave="reset_rating()"
			   ng-click="mark_as_rated($index, $event)"
			   ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
		</span>
		<span ng-model="rate_object.user_rating">{{rate_object.user_rating}}/10</span>
 	</div>
</div>