<span ng-class="{'recommended':recommend_object.recommended, 'recommend':!recommend_object.recommended}"
	  ng-click="recommend()"
      title="Recommend book to all friends">
	<span ng-show="!recommend_object.recommended">RECOMMEND</span>
	<span ng-show="recommend_object.recommended">DON'T RECOMMEND</span>
</span>
<div class="recommendation_box animate-slow" ng-if="recommend_object.recommended">
	<div class="header">
		Select friends whom you want to recommend
	</div>
	<div class="friend_grid">
		<img ng-src="{{friend.thumb}}" 
		     ng-repeat="friend in user.friends" 
		     class="friend_thumb" 
		     data-selected="false"
		     ng-click="select_thumb($event)"/>
	</div>
	<div class="footer">
		<div class="button_effect done" ng-click="recommend()">Done</div>
	</div>
</div>