<span ng-click="recommend()"
	  class='site recommend'
      title="Recommend book to friends">
	<span ng-show="!recommend_object.recommended">RECOMMEND TO FRIENDS</span>
	<!-- <span ng-show="recommend_object.recommended">Cancel</span> -->
</span>
<div class="wrapper" 
	ng-if="recommend_object.recommended" 
	style="z-index:1;" 
	ng-click="recommend_object.recommended = false;"
	msd-wheel="stop_propagation($event)">
	<div class="recommendation_box animate-slow"
		 ng-click="stop_propagation($event)">
		<div class="header">
			<span>Select friends whom you want to recommend</span><br/>
			<span class="site_color"> {{recommend_object.title}} by {{recommend_object.author_name}}</span>
		</div>
		<div class="friend_grid">
			<div ng-repeat="friend in user.friends" class="friend_block">
				<div class="friend_name">{{friend.name}}</div>
				<img ng-src="{{friend | blob_backup}}" 
					 title="{{friend.name}}" 
				     class="friend_thumb" 
				     data-selected="false"
				     ng-click="select_thumb($event, friend.id)"/>
			</div>
		</div>
		<div class="footer">
			<button class="button_effect done site" ng-click="recommend()" ng-disabled="!user.selected_friends || user.selected_friends.length == 0">Done</button>
		</div>
	</div>
</div>