<div ng-class="{'dark_grey': communityFeed.expand}">
    <md-card class="community" ng-class="{'no_shadow': !communityFeed.expand}"
        ng-if="communityFeed.title && communityFeed.title != '' && communityFeed.title != null">
        <div layout="row" class="communities" ng-if="communityFeed.communities">
            <div ng-repeat="community in communityFeed.communities | limitTo: 4" 
                layout-align="start start" layout-padding layout-wrap layout="row" class="community_circle">
                <a layout="column" layout-align="center center" ng-href="/room?id={{::community.id}}" 
                    class="animate-fast vertical_expansion" 
                    ng-if="!communityFeed.expand">
                    <img ng-src="http://rd-images.readersdoor.netdna-cdn.com/{{community.id}}/S.png" class="square" alt="{{::community.name}}" />
                    <md-tooltip>
                        {{::community.name}}
                    </md-tooltip>
                </a>
                <a layout="row" layout-align="start" ng-href="/room?id={{community.id}}" 
                    class="animate-fast vertical_expansion"
                    ng-if="communityFeed.expand">
                    <img ng-src="http://rd-images.readersdoor.netdna-cdn.com/{{community.id}}/S.png" class="circular" alt="{{::community.name}}" />
                    <md-tooltip>{{::community.name}}</md-tooltip>
                </a>
            </div>
        </div>
        <div class="content">
            <h2>
                <a ng-href="/news?id={{communityFeed.id || communityFeed.news_id}}"
                    ng-bind-html="::communityFeed.title">
                </a>
            </h2>
            <div class="less_important">News, {{communityFeed.created_at | timestamp | date:'dd MMM'}}</div><br/>
        </div>
        <div class="description_card">
            <div class="image_container clear" layout="column">
                <div flex class="image_wrapper">
                    <img class="full_width"
                         ng-src="{{::communityFeed.image_url}}"
                         ng-if="communityFeed.image_url"/>
                </div>
                <a class="less_important" ng-href="{{::communityFeed.url}}"  target="_blank">
                    {{::communityFeed.url}}
                </a>
            </div>
            <div ng-bind-html="::communityFeed.description" class="wrap" layout-padding
                ng-if="communityFeed.description">
            </div>
        </div>
        
        <div class="footer" 
            ng-if="communityFeed.id"
            ng-init="bookmark_object = {'id': communityFeed.id, 'type': 'Community'}; feed = communityFeed"
            ng-include src="'/assets/angular/html/shared/partials/feed_footer.html'">
        </div>
    </md-card>
    <div layout-padding></div>
</div>