<md-card class="community" ng-if="community_feed.title && community_feed.title != '' && community_feed.title != null">
    <md-card-content class="content">
        <h3><a ng-click="goto_community_page(community_feed.id)">{{community_feed.title}}</a></h3>
        <div class="less_important">News</div>
        <div>{{community_feed.description}}</div>
    </md-card-content>
    <md-card-content class="circles clear" layout="row">
        <img flex class="community_feed_image" ng-repeat="feed in community_feed.communities"
             ng-src="{{feed.image_url}}"
             ng-click="goto_community_page(community_feed.id)"  
             layout-padding
             ng-show="feed.image_url">
        </img>
    </md-card-content>
    <md-card-content class="footer" 
                     ng-init="bookmark_object = {'id': community_feed.id, 'type': 'Community'}"
                     ng-include src="'/assets/angular/html/shared/partials/card_footer.html'">
    </md-card-content>
</md-card>
<style>
    .community_feed_image{
        height: 50vh;
    }

    .community_icon{
        width: 70px;
        height: 70px;
    }

    .community h2{
        margin: 16px 0px 0px 0px !important;
    }

    .community .circles{
        background-color: #f5f5f5;
        order: 2;
    }

    .community .circles svg{
        max-height: 400px;
    }

    .community .content{
        order: 1;
    }

    .community .footer{
        order: 3;
    }
</style>