<md-card class="community">
    <md-card-content>
        <section layout="row" layout-align="space-between">
            <div layout="row">
                <img src="/assets/community_icon.png" class="community_icon">
                <div layout="column" layout-align="start start">
                    <h2>Spacecrafts</h2>
                    <div>Shared on 10Feb</div>
                </div>
            </div>
            <div layout="row" layout-align="end start">
                <md-button class="md-raised md-primary">Join Community</md-button>
            </div>
        </section>
        <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
    </md-card-content>
    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQox0nlxDovuLYNFipkkbIyE_yuQEVfqjL4qf6y0VtSaA6F2rpH" alt="Washed Out">
    <md-card-content class="footer">
        <section layout="row" layout-sm="column" layout-align="space-between">
            <div layout="row" layout-align="start center">
                <md-button ng-click="show_shelf_bottom_sheet()">Bookmark</md-button>&nbsp;
                <div><span class="icon-bookmark3"></span></div>&nbsp;
                <div>12</div>&nbsp;&nbsp;
                <div><span class="icon-bubbles2"></span></div>&nbsp;
                <div>1</div>&nbsp;
            </div>
            <div layout="row" layout-align="end center">
                <md-button ng-click="show_share_bottom_sheet()">Share</md-button>&nbsp;
                <div><span class="icon-share"></span></div>&nbsp;
                <div>45</div>
            </div>
        </section>
    </md-card-content>
</md-card>
<style>
    .community_icon{
        width: 70px;
        height: 70px;
    }

    .community h2{
        margin: 16px 0px 0px 0px !important;
    }
</style>