<md-card>
    <md-card-content>Suggestions for travellers in India</md-card-content>
    <div class="social_content" layout="row">
        <div>
            <img src="https://s-media-cache-ak0.pinimg.com/236x/8f/af/5e/8faf5e39ee67c2c8e6c073a3f0af6ddf.jpg">
        </div>
        <div>
            <img src="https://s-media-cache-ak0.pinimg.com/236x/8f/af/5e/8faf5e39ee67c2c8e6c073a3f0af6ddf.jpg">
        </div>
        <div>
            <img src="https://s-media-cache-ak0.pinimg.com/236x/8f/af/5e/8faf5e39ee67c2c8e6c073a3f0af6ddf.jpg">
        </div>
        <div>
            <img src="https://s-media-cache-ak0.pinimg.com/236x/8f/af/5e/8faf5e39ee67c2c8e6c073a3f0af6ddf.jpg">
        </div>
        <div>
            <img src="https://s-media-cache-ak0.pinimg.com/236x/8f/af/5e/8faf5e39ee67c2c8e6c073a3f0af6ddf.jpg">
        </div>
        <div>
            <img src="https://s-media-cache-ak0.pinimg.com/236x/8f/af/5e/8faf5e39ee67c2c8e6c073a3f0af6ddf.jpg">
        </div>
        <div>
            <img src="https://s-media-cache-ak0.pinimg.com/236x/8f/af/5e/8faf5e39ee67c2c8e6c073a3f0af6ddf.jpg">
        </div>
    </div>
    <md-card-content class="footer">
        <section layout="row" layout-sm="column" layout-align="space-between">
            <div layout="row" layout-align="start center">
                <md-button class="md-button-clear" ng-click="show_shelf_bottom_sheet()">Bookmark</md-button>&nbsp;
                <div><span class="icon-bookmark3"></span></div>&nbsp;
                <div>12</div>&nbsp;&nbsp;
                <div><span class="icon-bubbles2"></span></div>&nbsp;
                <div>1</div>&nbsp;
            </div>
            <div layout="row" layout-align="end center">
                <md-button class="md-button-clear" ng-click="show_share_bottom_sheet()">Share</md-button>&nbsp;
                <div><span class="icon-share"></span></div>&nbsp;
                <div>45</div>
            </div>
        </section>
    </md-card-content>
</md-card>
<style>
    .profile_thumb{
        width: 70px;
        height: 70px;
    }

    .social_content{
        order: 1;
    }
</style>