<suggest-communities></suggest-communities>
<!-- <md-list layout-wrap layout="row" hide-sm hide-md class="feed_margin">
    <div layout="column" flex>
        <div ng-repeat="news_feed in feed track by $index" class="feed" ng-if="$even">
            <div ng-include src="'/assets/angular/html/home/partials/feed_type.html'" ></div>
        </div>
    </div>
    <div layout="column" flex>
        <div ng-repeat="news_feed in feed track by $index" class="feed" ng-if="$odd">
           <div ng-include src="'/assets/angular/html/home/partials/feed_type.html'" ></div>
        </div>
    </div>
</md-list> -->
<md-list layout-wrap layout="row" class="feed_margin">
    <div layout="column" flex>
        <div ng-repeat="news_feed in feed track by $index" class="feed">
            <div ng-include src="'/assets/angular/html/home/partials/feed_type.html'" ></div>
        </div>
    </div>
</md-list>