<link rel="stylesheet" type="text/css" href="assets/book_timeline.css.scss">
<div class="timeline_wrapper">
	<div class="book_timeline" ng-controller="bookTimelineController">
		<div class="header">
			<span class="title">Siddhartha</span>
			<span class="author">by Hermann Hesse</span>
		</div>
		<div ng-repeat="moment in moments" class="moment">
			<div class="vote">{{moment.votes}}</div>
			<div class="moment_description">
				<div class="quote">
					<span class="icon-quote-left"></span>
					<span>{{moment.quote}}</span>
					<span class="icon-quote-right"></span>
				</div>
				<div class="description">
					{{moment.moment}}
				</div>
			</div>
		</div>
	</div>
</div>