<div class="notifications_popup scrollbar" 
	 ng-click="stop_horizontal_scroll($event)"
     msd-wheel="stop_horizontal_scroll($event)">
	<!-- <div class="icon-close-popup" ng-click="toggle_notification_popup($event)"></div> -->
	<div class="relative_position">
		<div class="notification_stable animate-fast">
			<b>Notifications</b>
		</div>
	</div>

	<div ng-repeat="notification in user.push_notifications" class="notification">
		<div class="inline_block">
			<img ng-src="{{friend.thumb | thumb_backup}}" class="small_thumb" />
		</div>
		<div class="inline_block">
			<img ng-src="{{notification.isbn | small_thumb}}" />
		</div>
		<div class="inline_block content">
			<a ng-href="#reader/{{notification.user_id}}/profile" class="click">
				<span ng-show="notification.name">{{notification.name}}</span>
				<span ng-show="!notification.name">Someone</span>
			</a>
			<span> recommended you </span>
			<span>{{notification.author}}'s </span>
			<a ng-href="#user/{{user.id}}/book/{{notification.book_id}}"  class="click">{{notification.title}}</a>.
			<timestamp data="notification.timestamp"></timestamp>
		</div>
	</div>

	<div class="relative_position">
		<div class="notification_stable animate-fast light_grey">
			<div class="float_left instruct_block site">
				<span class="icon-book"></span>
			</div>
			<div class="block">
				<div class="notification_message">
					<b>Welcome to Reader's Door</b>
				</div>
				<div class="notification_message">
					Explore and find your next precious read like never before.
				</div>
			</div>
		</div>
	</div>
	
	<div class="relative_position">
		<div class="notification_stable animate-fast light_grey">
			<div class="float_left instruct_block green">
				<span class="icon-user22"></span>
			</div>
			<div class="block">
				<div class="notification_message">
					<b>Help us recommend you better</b>
				</div>
				<div class="notification_message">
					Rate, tag books, create virtual book shelves and tell us what you have read. 
				</div>
			</div>
		</div>
	</div>

	<div class="relative_position">
		<div class="notification_stable animate-fast light_grey">
			<!-- <div class="float_left instruct_icon purple_color">
				<span class="icon-cool2"></span>
			</div> -->
			<div class="float_left instruct_block purple_background">
				<span class="icon-cool2"></span>
			</div>
			<div class="block">
				<div class="notification_message">
					<b>Use arrow keys to scroll through books</b>
				</div>
				<div class="notification_message">
					<span class="icon-arrow-left keyboard_keys"></span>
					<span class="icon-arrow-right keyboard_keys"></span>
				</div>
			</div>
		</div>
	</div>

	<div class="relative_position">
		<div class="notification_stable animate-fast light_grey">
			<!-- <div class="float_left instruct_icon red_color">
				<span class="icon-bars"></span>
			</div> -->
			<div class="float_left instruct_block red">
				<span class="icon-bars"></span>
			</div>
			<div class="block">
				<div class="notification_message">
					<b>Explore books on trending topics</b>
				</div>
				
			</div>
		</div>
	</div>
	<div class="relative_position">
		<div class="notification_stable animate-fast">
			You've reached the end of notifications.
		</div>
	</div>
</div>