<div ng-show="hovered" ng-hide="!hovered" class="book_navbar_base">
	<div class="heading animate_fast" 
	     ng-show="hovered" 
	     ng-hide="!hovered"
	     ng-click="show_book(11)">
		<h2>{{book.readers_count}}</h2><br/>
		<span class="icon-users2"></span> READERS</div>
	<div class="heading animate_fast" 
	     ng-show="hovered" 
	     ng-hide="!hovered"
	     ng-click="show_book(14)">
		<h2>{{book.discussions_count}}</h2><br/>
		<span class="icon-bubbles2"></span> DISCUSSIONS</div>
	<div class="heading animate_fast" 
	     ng-show="hovered" 
	     ng-hide="!hovered"
	     ng-click="show_book(13)">
		<h2>
			<span itemprop="aggregateRating" 
		 		  itemscope 
		 		  itemtype="http://schema.org/AggregateRating">
				<span itemprop="reviewCount">
				{{book.reviews_count}}
				</span>
			</span>
		</h2><br/>
		<span class="icon-pencil2"></span> REVIEWS</div>
</div>