<div  itemscope 
 	  itemtype= "http://schema.org/Book" 
 	  ng-style="book_tilt"
 	  class="animate-fast book_widget_base book_widget">
	<category track></category>
	<div ng-model="book" 
		ng-mouseenter="discovered = true" 
		ng-mouseover="hover()" 
		ng-mouseout="mouseout()" 
		ng-class="{'discovered': hovered, 'undiscovered': !hovered}" class="card animate-fast">
		<bookthumb track></bookthumb>
		<book-navbar track></book-navbar>
		<interact track></interact>
	</div>
</div>
<div class="base" ng-click="show_book(3)"></div>