<div class="interaction_box animate-fast"
	 ng-if="interact">
	<recommend></recommend>
 	<div class="close"
 		 ng-click="close_interaction_box()">x</div>
	<div itemprop="review" 
	 	  itemscope 
	 	  itemtype="http://schema.org/Review"
	 	  class="rate">
	 	<div class="rate_radio_buttons">
			Rate
			<button type="radio" 
				   class="rate_radio"
				   ng-class="{'active_rating':is_active($index)}"
				   ng-click="mark_as_rated()"
				   ng-repeat="i in [1, 2, 3, 4, 5]">{{i}}
			</button>
	 	</div>
	</div>
	<textarea itemprop= "commentText" 
		itemtype= "http://schema.org/UserComments"
	   type="text" 
	   ng-keydown="post_review()"
	   placeholder="What do you feel about {{book.title}} by {{book.author_name}}..." 
	   class="comment_box animate-fast" 
	   rows="1"/>
	<div class="time_to_read">
		<hr>
		<div class="header">Time required to read this book</div>
		<div>
			<span ng-click="record_read_time(0)"
				  ng-class="{'active_read_timer':is_timer(0)}">24 hours</span>
			<span ng-click="record_read_time(1)"
				  ng-class="{'active_read_timer':is_timer(1)}">7 days</span>
			<span ng-click="record_read_time(2)"
				  ng-class="{'active_read_timer':is_timer(2)}">31 days</span>
			<span ng-click="record_read_time(3)"
				  ng-class="{'active_read_timer':is_timer(3)}">1 Half year</span>
			<span ng-click="record_read_time(4)"
				  ng-class="{'active_read_timer':is_timer(4)}">An Year or more</span>
		</div>
	</div>
</div>