 <div itemprop="review" 
 	  itemscope 
 	  itemtype="http://schema.org/Review"
 	  class="rate animate-fast">
 	<div class="rate_radio_buttons">
		Rate this book
		<button type="radio" 
			   class="rate_radio" 
			   value="{{$index+1}}"
			   ng-model="rate_book" 
			   ng-mouseover="show_rating_description()" 
			   ng-mouseleave="init_rate_description()"
			   ng-click="mark_as_rated()"
			   ng-repeat="i in [1, 2, 3, 4, 5]">{{i}}</button>
		 <!-- <span class="glyphicon glyphicon-star"></span> -->
 	</div>
	<div class="rating_description">
		 <span itemprop="description">
			{{rating_description}}
		</span>
	</div>
	<!-- <span ng-repeat="i in [1, 2, 3, 4, 5]" ng-click="toggle($index)">
		<img src="assets/icon-sprites.png" class="rate_icon" />
	</span> -->
</div>