<div class="image_wrapper">
	<img ng-src="{{friend.thumb | thumb_backup}}" 
	     class="friend_thumb" />
</div>
<div class="friend_details">
	<div class="click capitalise" ng-if="friend.name && friend.id == user.id"><b>
		<a ng-href="#user/{{user.id}}/recommendations/books">{{friend.name}}</a></b>
	</div>
	<div class="click" ng-if="!friend.name && friend.id == user.id"><b>
		<a ng-href="#user/{{user.id}}/recommendations/books">{{friend.email}}</a></b>
	</div>
	<div class="click capitalise" ng-if="friend.name && friend.id != user.id"><b>
		<a ng-href="#reader/{{friend.id}}/profile">{{friend.name}}</a></b>
	</div>
	<div class="click" ng-if="!friend.name && friend.id != user.id"><b>
		<a ng-href="#reader/{{friend.id}}/profile">{{friend.email}}</a></b>
	</div>
	<div ng-if="friend.init_book_read_count">Reader of {{friend.init_book_read_count}}</div>
	<div>
		<span>+{{friend.total_count | integer}}</span>
		<span> · </span>
		<span>{{friend.book_read_count | integer}}</span>
		<span class="icon-books"></span>
		<span> · </span>
		<span>{{friend.bookmark_count| integer}}</span>
		<span class="icon-bookmarks"></span>
		<span> · </span>
	</div>
	<div class="normal_text" ng-if="friend.fav_categories">Likes {{friend.fav_categories}} books</div>
	<follow data="friend" follow="false"></follow>
</div>