*.sassc
*.lessc
*.swp
.sass-cache
.less-cache
capybara-*.html
.rspec
.bundle
vendor/bundle
doc/*
log/*
tmp/*
db/*.sqlite3
public/system/*
public/rf_images/*
public/sitemaps/*
public/uploads*
private/nestoria*
private/mitula*
public/mitula*
public/broker_map/*
coverage/
spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
nbproject/private
nbproject/
config/database.yml
config/housing/local.rb
config/environments/overrides/*.rb
config/housing/environments/overrides/*.rb
config/application.yml
private/pano_image_processing/tmp*
db/schema.rb
*~
~ 
/.idea/
*._.DS_Store 
*.DS_Store
neo4j/data/graph.db/schema/label/lucene/*.cfs
config/application.yml
private/deactivation_log*
private/broker_map/images/*
Gemfile.lock.sample
Gemfile.sample
.gitignore
neo4j/data/graph.db/nioneo_logical.*
neo4j/data/graph.db/schema/label/lucene/
neo4j/*.graphml
neo4j/data/*
neo4j/bin/*
neo4j/doc/*
neo4j/lib/*
neo4j/plugins/*
neo4j/system/*
neo4j/*.txt
node_modules/*
app/assets/javascripts/angular/widgets/gzip/**
app/build/**
.elasticbeanstalk/
Archive.zip
neo4j/*.log
app/assets/javascripts/min/**/*
app/assets/stylesheets/min/*.css
neo4j/conf/neo4j-wrapper.conf
neo4j/conf/neo4j.properties