*.sassc
*.lessc
*.swp
.sass-cache
.less-cache
capybara-*.html
.rspec
.bundle
vendor/bundle
doc/*
log/*
tmp/*
db/*.sqlite3
public/system/*
public/rf_images/*
public/sitemaps/*
public/uploads*
private/nestoria*
private/mitula*
public/mitula*
public/broker_map/*
coverage/
spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
nbproject/private
nbproject/
config/database.yml
config/housing/local.rb
config/environments/overrides/*.rb
config/housing/environments/overrides/*.rb
config/application.yml
private/pano_image_processing/tmp*
db/schema.rb
*~
~ 
/.idea/
*._.DS_Store 
*.DS_Store
config/application.yml
private/deactivation_log*
private/broker_map/images/*  