<div class="follow_content" layout="row" ng-if="author">
    <img ng-src="{{author.id | author_thumb}}" class="circular"
    	 onerror="this.src='/assets/author_profile.jpg'">
    <div layout-padding>
        <a ng-href="/author?id={{::author.id}}" data-id="{{::author.id}}" data-url="author" 
            ng-click="render_page($event)" class="no_anchor">
            <h2 class="bold no_anchor" data-id="{{::author.id}}" data-url="author" >{{::author.name}}</h2>
        </a>
        <div class="less_important" ng-if="author.location">
            <span>{{::author.location}} </span>
        </div>
    </div>
</div>