<div class="social_content" layout="row" layout-padding ng-show="!book_loading" ng-if="book.title || book.name">
    <div flex="25">
        <md-button ng-click="show_book_dialog(book, $event)" class="clear book" layout-margin>
            <div ng-include src="'/assets/angular/html/shared/partials/book_thumb.html'"></div>
        </md-button>
    </div>
    <div flex="75">
        <div class="book_title"><a ng-href="/book?q={{book.id}}">{{book.title || book.name}}</a></div>
        <div class="less_important">By <a ng-href="/author?id={{book.author_id}}">{{book.author_name}}</a></div>
        <div class="book_description">
            {{book.description | reduced_summary}}
        </div>
    </div>
</div>
<md-progress-linear class="md-primary"
                    ng-show="book_loading"
                    md-mode="indeterminate">
</md-progress-linear>
<style>
    .book_title{
        font-size: 1.2em;
        font-family: sans-serif;
    }

    .book_description{
        margin-top: 10px;
        font-size: 0.9em;
    }
</style>