<div ng-include src="'/assets/angular/html/shared/partials/rating_info_button.html'" class="book_rating"></div>
<div class="md-whiteframe-z1 clear rd_book_container" >
	<div class="read_review bold animate-fast white_color" layout-align="center center" layout="row">
		<div>Read Review</div>
	</div>
    <div ng-include src="'/assets/angular/html/shared/partials/book_thumb.html'"></div>
</div>
<div class="bookmark">
    <bookmark bookmark-id="book.id || book.book_id" bookmark-type="'Book'" ng-if="book"
            shelves="book.shelves"></bookmark>
</div>