<md-list-item class="social_content md-3-line" layout="row" layout-padding 
    ng-show="!book_loading" 
    ng-if="book.title || book.name">
    <!-- <div>
        <section class="md-whiteframe-z1 rd_book_image_cover">
            <div ng-include src="'/assets/angular/html/shared/partials/book_thumb.html'"></div>
        </section>
    </div> -->
    <div class="md-list-item-text">
        <div layout-padding>
            <h3><a ng-href="https://oditty.me/book?q={{::book.id}}">{{book.title || book.name}}</a></h3>
            <div class="less_important">By <a ng-href="https://oditty.me/author?id={{::book.author_id}}">{{book.author_name}}</a></div>
        </div>
        <div class="description_card" layout-padding >
            {{book.description | reduced_summary}}
        </div>
    </div>
</md-list-item>