<md-list-item class="social_content md-3-line" layout="row" layout-padding 
    ng-show="!book_loading" 
    ng-if="book.title || book.name">
    <div>
        <section class="md-whiteframe-z1 rd_book_image_cover">
            <md-button aria-label="show_book_dialog" ng-click="show_book_dialog(book, $event)" class="clear rd_book_image_cover" layout-margin>
                <div ng-include src="'/assets/angular/html/shared/partials/book_thumb.html'"></div>
            </md-button>
        </section>
    </div>
    <div class="md-list-item-text">
        <div layout-padding>
            <div class="book_title" ><a ng-href="/book?q={{::book.id}}">{{book.title || book.name}}</a></div>
            <div class="less_important">By <a ng-href="/author?id={{::book.author_id}}">{{book.author_name}}</a></div>
        </div>
        <div class="book_description" layout-padding >
            {{book.description | reduced_summary}}
        </div>
    </div>
</md-list-item>
<!-- <md-progress-linear class="md-primary"
                    ng-if="book_loading"
                    md-mode="indeterminate">
</md-progress-linear> -->
<style>
    .book_title{
        font-size: 1.2em;
        font-family: sans-serif;
    }

    .book_description{
        margin-top: 10px;
        font-size: 0.9em;
    }
</style>