<div layout="column" layout-align="center" class="relative  upper_slider_wrapper"
		ng-if="book.status">
  	<md-slider flex md-discrete ng-model="book.user_rating" 
  			   step="1" min="1" max="10" aria-label="rating"
  			   ng-change="rate_book(book)">
  	</md-slider>
</div>
<div class="cover_gradient" layout="column" layout-align="center" ng-if="book.status">
	<div layout="row" layout-align="center center">
		<div class="circular_icon white padding">
			<span class="icon-checkmark"></span>
		</div>
	</div>
</div>

<md-button aria-label="select_book" class="info_button animate-fast" ng-click="select_book(book)">
</md-button>

<div ng-include src="'/assets/angular/html/shared/partials/book_thumb.html'"></div>