<div ng-style="{background:'{{book.color | random_color}}'}" class="rd_book_backup_cover" 
        layout="column" layout-padding layout-align="space-between">
    <h3>{{book.title}}</h3>
    <h5>{{book.author_name}}</h5>
</div>
<div class="rd_slider_wrapper">
	<div layout="column" layout-align="center" class="relative white"
		ng-if="book.status">
      	<md-slider flex md-discrete 
      				class="md-warn"
      				ng-change="rate_book(book, $event)"
      				ng-model="book.user_rating" step="1" min="1" max="10" 
      				aria-label="user_rating">
      	</md-slider>
	</div>
	<img ng-src="{{book | choose_medium_thumb}}" class="rd_book_image_cover">
</div>
<br/>

<style>

	.rd_book_backup_cover{
		width: 130px;
		height: 180px;
        position: absolute;
        color: white;
        white-space: normal;
	}

	.rd_book_backup_cover h3{
		font-weight: 400;
		overflow: hidden;
		margin: 0px;
	}

	.rd_book_image_cover{
		width: 130px;
		height: 180px;
		position: relative;
	}

	.rd_slider_wrapper{
		width: 130px;
  		height: 180px;
  		overflow: hidden;
  		z-index: 1;
	}

</style>