<section layout="row" layout-sm="column" layout-align="space-between">
    <div layout="row" layout-align="end center">
    </div>
    <div layout="row" layout-align="start center">
        <md-button class="md-button-clear" 
                   ng-click="show_shelf_bottom_sheet(bookmark_object_id, bookmark_object_type)">Bookmark</md-button>&nbsp;
        <div><span class="icon-bookmark3"></span>
        <md-tooltip>
        Bookmark
         </md-tooltip>
        </div>&nbsp;
        <div>{{feed.bookmark_count || 0}}</div>&nbsp;&nbsp;
        <div><span class="icon-bubbles2"></span>
         <md-tooltip>
           Comments
         </md-tooltip>
        </div>&nbsp;
        <div>{{feed.comment_count || 0}}</div>&nbsp;
    </div>
</section>