<section layout="row" layout-sm="column" layout-align="space-between">
    <div layout="row" layout-align="start center">
        <md-button  class="md-button-clear" ng-click="show_shelf_bottom_sheet()">Bookmark</md-button>&nbsp;
        <div><span class="icon-bookmark3"></span></div>&nbsp;
        <div>{{feed.bookmark_count || 0}}</div>&nbsp;&nbsp;
        <div><span class="icon-bubbles2"></span></div>&nbsp;
        <div>{{feed.comment_count || 0}}</div>&nbsp;
    </div>
    <div layout="row" layout-align="end center">
        <md-button  class="md-button-clear" ng-click="show_share_bottom_sheet()">Share</md-button>&nbsp;
        <div><span class="icon-share"></span></div>&nbsp;
        <div>{{feed.share_count || 0}}</div>
    </div>
</section>