<div class="follow_content" layout="row" layout-padding>
    <div flex="25" layout="row" layout-align="center center">
        <img ng-src="{{community.image_url}}" class="circular">
    </div>
    <div flex="75">
        <div class="community_title">{{community.name}}</div>
        <md-content class="books">
            <section layout="row" >
                <md-button ng-click="show_book_dialog(book, $event)" 
                   class="clear book" layout-margin
                   ng-repeat="book in community.books">
                    <div ng-include src="'/assets/angular/html/shared/partials/book_thumb.html'" ></div>
                </md-button>
            </section>
        </md-content>
    </div>
</div>
<style>
    .community_title{
        font-size: 1.2em;
        font-family: sans-serif;
    }

    .books{
        max-height: 180px;
    }

    .books .book{
        width: 130px;
        height: 180px;
    }

    .follow_content .circular{
        width: 120px;
        height: 120px;
    }

</style>