<div class="follow_content" layout="row" ng-show="!community_loading" ng-if="community">
    <img ng-src="{{community.image_url}}" class="square">
    <div layout-padding>
        <a ng-href="/room?id={{community.id}}">
            <div class="big_title bold capitalize">{{community.name}}</div>
            <div class="less_important">{{community.view_Count}}</div>
        </a>
        <div class="less_important" ng-show="community.view_count && community.view_count != 0">
            <span>{{community.view_count}} </span>
            <span ng-show="community.view_count == 1">View</span>
            <span ng-show="community.view_count != 1">Views</span>
        </div>
    </div>
</div>