<div class="md-whiteframe-z1 rd_main_container_wrapper">
	<div class="main_container_bar" layout="row" layout-align="space-between center" 
        ng-class="{'green': container.url == 'news_group', 'red': container.url == 'books', 'violet': container.url == 'spaces', 'dark_blue': container.url == 'rooms'}">
		<div class="white_color capitalize" ng-bind-html="container.header | reduced_label" layout-padding></div>
		<div layout="row" layout-align="center center">
            <md-button ng-click="goto_page(container)">
                <md-icon md-font-set="material-icons white_color">call_made</md-icon>
            </md-button>
			<md-button ng-click="remove_container($index)">
				<md-icon md-font-set="material-icons white_color">close</md-icon>
			</md-button>
		</div>
	</div>
	<md-content class="rd_main_container white" layout-padding ng-if="show_md_content" ng-style="custom_style">
	    <div ng-include src="::content_url"></div>
	</md-content>
    <div ng-if="!show_md_content" ng-include src="::content_url"></div>
</div>