<!-- <md-select ng-model="active_page" class="active_page_menu full_width_sm"
        layout="row" ng-show="info.mobile_search">
    <a href="/rooms" layout="row" layout-align="start center"  class="pointer">
        <span>&nbsp;&nbsp;</span>
        <i class="material-icons light_grey_color">whatshot</i>
        <md-option ng-value="1">Rooms</md-option>
    </a>
    <a href="/filters" layout="row" layout-align="start center"  class="pointer">
        <span>&nbsp;&nbsp;</span>
        <i class="material-icons light_grey_color">filter_list</i>
        <md-option ng-value="2">Filters</md-option>
    </a>
</md-select> -->