<md-card class="social no_shadow">
    <md-card-content layout="column">
        <section layout="column" layout-align="start" flex="50">
            <div layout="row">
                <img ng-src="{{profile_user.image_url | default_profile}}" class="circular">
                <div layout="column" layout-align="start start" class="side_padding">
                    <div layout-padding class="bold" ng-show="profile_user.first_name">{{::profile_user.first_name}}</div>
                    <div layout-padding>
                        <div class="less_important">{{feed.created_at | timestamp | date:'h:mm a, dd MMM'}}</div>
                        <div class="status_message">{{::feed.message}}</div>
                    </div>
                    <author-info info="info" ng-if="feed.author" 
                        flex="50" author="::feed.author">
                    </author-info>
                    <community-info info="info" ng-if="feed.community" 
                        flex="50" community="::feed.community"></community-info>
                </div>
            </div>
        </section>
    </md-card-content>
</md-card>
<style>
    .profile_thumb{
        width: 70px;
        height: 70px;
        padding: 10px;
    }

    .social_content{
        order: 1;
    }

    .social h2{
        margin: 16px 0px 0px 0px !important;
    }

    .social .book_thumb{
        width: 100%;
    }

    .status_message a{
        font-weight: bold;
        text-decoration: underline;
    }
</style>