<md-card class="social no_shadow">
    <md-card-content layout="column">
        <section layout="column" layout-align="start" flex="50">
            <md-list-item class="md-3-line">
                <img ng-src="{{profile_user.image_url}}" class="circular" onerror="this.src='/assets/user_profile.jpg'">
                <div layout="column" layout-align="start start" class="md-list-item-text">
                    <div layout-padding class="bold" ng-if="profile_user.first_name">{{::profile_user.first_name}}</div>
                    <div layout-padding>
                        <div class="less_important">{{feed.created_at | timestamp | date:'h:mm a, dd MMM'}}</div>
                        <div class="status_message">{{::feed.message}}</div>
                    </div>
                    <author-info info="info" ng-if="feed.author" 
                        flex="50" author="::feed.author">
                    </author-info>
                    <community-info info="info" ng-if="feed.community" 
                        flex="50" community="::feed.community"></community-info>
                    <friend-info info="info" ng-if="feed.friend"
                        flex="50" friend="::feed.friend"></friend-info>
                </div>
            </md-list-item>
        </section>
    </md-card-content>
</md-card>
<style>
    .profile_thumb{
        width: 70px;
        height: 70px;
        padding: 10px;
    }

    .social_content{
        order: 1;
    }

    .social .book_thumb{
        width: 100%;
    }

    .status_message a{
        font-weight: bold;
        text-decoration: underline;
    }
</style>