<div flex="10" hide-sm></div>
<div flex="80" flex-sm="100" layout="column">
    <div layout-padding>
        <div layout-padding></div>
        <div class="big_title">Introduce your friends to Oditty</div>
        <div class="less_important">You have introduced {{user.invite_count || 0}} friends.</div>
        <div layout-padding></div>
    </div>
    <md-divider></md-divider>
    <div  layout="column" layout-padding layout-align="center center" class="full_width">
        <div layout="column" layout-margin  class="full_width" layout="center center">
            <div>
                <label class="less_important">Introduce 1 of 5</label>
            </div>
            <email-invite></email-invite>
        </div>
        <div layout="column" layout-margin  class="full_width" layout="center center">
            <div>
                <label class="less_important">Introduce 2 of 5</label>
            </div>
            <email-invite></email-invite>
        </div>
        <div layout="column" layout-margin  class="full_width" layout="center center">
            <div>
                <label class="less_important">Introduce 3 of 5</label>
            </div>
            <email-invite></email-invite>
        </div>
        <div layout="column" layout-margin  class="full_width" layout="center center">
            <div>
                <label class="less_important">Introduce 4 of 5</label>
            </div>
            <email-invite></email-invite>
        </div>
        <div layout="column" layout-margin  class="full_width" layout="center center">
            <div>
                <label class="less_important">Introduce 5 of 5</label>
            </div>
            <email-invite></email-invite>
        </div>
        <div layout-padding></div>
        <div layout-padding></div>
    </div>
</div>
<div flex="10" hide-sm></div>