<div class="yellow full_width no_overflow" layout="column"
    layout-align="center center" layout-padding>
    <!-- <div class="less_important white_color">Click outside to close</div> -->
    <div class="relative">
        <div id="container">
            <div id="main">
              <div id="outer-circle">
                <div id="inner-circle">
                    <div id="center-circle">
                        <div id="content">
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="big_title white_color rating_value" ng-bind-html="book.goodness_index"></div>
    </div>
    <div class="less_important white_color bold" layout-padding>Goodness Rating</div>
</div>
<div layout="column" layout-padding class="overflow_y">
    <div layout="row" layout-padding layout-align="space-between center" flex>
        <div>
            <div>Book-Reader Relationship Index</div>
            <div class="less_important">Sums up the extent to which readers could connect with the Book.</div>
        </div>
        <div ng-bind-html="book.book_reader_relationship_index" flex="20"
            layout="column" layout-align="start center" layout-padding></div>
    </div>
    <div layout="row" layout-padding layout-align="space-between center" flex>
        <div>
            <div>Likeability Index</div>
            <div class="less_important">Quantifies how much a user in general would like the Book.</div>
        </div>
        <div ng-bind-html="book.likeability_index" flex="20"
            layout="column" layout-align="start center" layout-padding></div>
    </div>
    <div layout="row" layout-padding layout-align="space-between center" flex>
        <div>
            <div>Popularity Index</div>
            <div class="less_important">Measures the popularity of a Book globally.</div>
        </div>
        <div ng-bind-html="book.popularity_index" flex="20"
            layout="column" layout-align="start center" layout-padding></div>
    </div>
</div>