<div layout="row" layout-align="space-between" layout-padding class="footer">
	<div layout-padding  layout-align="center">
		<a title="facebook" 
			class="md-whiteframe-z1 facebook" layout-padding layout-align="center" layout-margin
			target="_blank" href="https://	www.facebook.com/pages/ReadersDoorcom/257580821079462">
			<span class="icon-facebook"></span>
		</a>
		<a title="twitter" 
			class="md-whiteframe-z1 twitter" layout-padding layout-align="center" layout-margin
			target="_blank" href="https://twitter.com/readers_door">
			<span class="icon-twitter"></span>
		</a>
		<a title="google_plus" 
			class="md-whiteframe-z1 google-plus" layout-padding layout-align="center" layout-margin
			target="_blank" href="https://plus.google.com/b/115163206469709809913">
			<span class="icon-googleplus3"></span>
		</a>
	</div>
	<div layout-padding layout="column">
		<a class="white_color" target="_blank" href="http://blog.readersdoor.com/">Blog</a>
		<a class="white_color" target="_blank" href="http://magazine.readersdoor.com/">Magazine</a>
		<a class="white_color" target="_blank" href="http://blog.readersdoor.com/team/">Team</a>
		<a class="white_color" target="_blank" href="http://blog.readersdoor.com/about/">About</a>
	</div>
</div>
<style>
	.facebook, .twitter, .pinterest, .google-plus{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: white;
		cursor: pointer;
		font-size: 1.4em;
	}

	.facebook{
		color: #45619D;
	}

	.twitter{
		color: #55ACEE;
	}

	.google-plus{
		color: #DD4C39;
	}

	.footer{
		background-color: rgba(0, 0, 0, 0.1);
	}
</style>