<div layout="column" layout-align="space-between" layout-padding >
	<div layout-padding></div>
	<div layout-padding></div>
	<div layout-padding  layout-align="center" layout="row">
		<a title="facebook" 
			class="md-whiteframe-z1 facebook" layout-padding layout-align="center center" layout-margin
			layout="row"
			target="_blank" href="https://	www.facebook.com/pages/ReadersDoorcom/257580821079462">
			<div>
				<span class="icon-facebook"></span>
			</div>
		</a>
		<a title="twitter" 
			class="md-whiteframe-z1 twitter" layout-padding layout-align="center center" layout-margin
			layout="row"
			target="_blank" href="https://twitter.com/readers_door">
			<div>
				<span class="icon-twitter"></span>
			</div>
		</a>
		<a title="google_plus" 
			class="md-whiteframe-z1 google-plus" layout-padding layout-align="center center" layout-margin
			layout="row"
			target="_blank" href="https://plus.google.com/b/115163206469709809913">
			<div>
				<span class="icon-googleplus3"></span>
			</div>
		</a>
	</div>
	<div layout-padding layout="row" layout-align="center" layout-wrap>
		<a layout-padding target="_blank" href="http://blog.readersdoor.com/">Blog</a>
		<a layout-padding target="_blank" href="http://magazine.readersdoor.com/">Magazine</a>
		<a layout-padding target="_blank" href="http://fragments.readersdoor.com/">Fragments</a>
		<a layout-padding target="_blank" href="http://blog.readersdoor.com/team/">Team</a>
		<a layout-padding target="_blank" href="/about">About</a>
		<a layout-padding target="_blank" href="/careers">Careers</a>
	</div>
</div>