<md-list layout="row" layout-wrap layout-align="center center">
    <a ng-repeat="user in active_tag.users" ng-href="/profile?q={{::user.id}}" ng-if="user.id" 
    	data-id="{{::user.id}}" data-url="profile" ng-click="render_page($event)" class="no_anchor" 
    	data-header="{{::user.first_name}}&nbsp;{{::user.last_name}}"
        layout="row" layout-align="center center">
        <img data-id="{{::user.id}}" data-url="profile" 
        	data-header="{{::user.first_name}}&nbsp;{{::user.last_name}}"
        	class="no_anchor square" ng-src="{{user.image_url || '/assets/user_profile.jpg'}}"  alt="{{::user.first_name}} {{::user.last_name}}" onerror="this.src='/assets/user_profile.jpg'"/>&nbsp;
    	<md-tooltip>{{::user.first_name}}&nbsp;{{::user.last_name}}</md-tooltip>
    </a>
</md-list>