<h2 layout-padding>Testimonials</h2>
<md-input-container flex>
    <label>Write a Testimonial</label>
    <input ng-model="info.new_testimonial" class="border_bottom" />
</md-input-container>
<div>
	<md-button class="md-button-clear md-raised md-warn" ng-click="save_testimonial($event)">Post</md-button>
</div>
<div layout-padding></div>
<div layout-padding></div>
<div layout-padding></div>
<div ng-repeat="testimonial in testimonials" layout-padding>
	<div layout="row" flex layout-padding>
		<div layout="row" layout-align="space-between">
			<div></div>
			<img ng-src="{{testimonial.image_url || '/assets/user_profile.jpg'}}" class="square" 
				onerror="this.src='/assets/user_profile.jpg'" layout-padding/>
		</div>
		<div flex layout-padding layout="column" flex-md="70" flex-sm="70">
			<h2><a ng-href="/profile?id={{testimonial.user_id}}" ng-bind-html="testimonial.name"></a></h2>
			<div class="less_important" ng-bind-html="testimonial.created_at | timestamp | date:'dd MMM'"></div>
			<div class="less_important" ng-bind-html="testimonial.description"></div>
		</div>
	</div>
	<div layout="row">
		<a layout-padding class="less_important" ng-href="/profile?id={{testimonial.user_id}}#/profile/feed">Feed</a>
		<a layout-padding class="less_important" ng-href="/profile?id={{testimonial.user_id}}#/profile/books">Books</a>
		<a layout-padding class="less_important" ng-href="/profile?id={{testimonial.user_id}}#/profile/rooms">Rooms</a>
	</div>
	<md-divider></md-divider>
</div>