<div class="focused_tooltip animate-fast" 
     ng-style="focused_author.reposition_tooltip"
     ng-click="stop_propagation($event)"
     ng-if="focused_author">
  <div class="box_close button_effect" ng-click="close_focused_tooltip()">x</div>
  <div class="book_info">
    <span> · </span>
    <span class="book_link">
      <span class="count">
        <span>{{focused_author.readers_count}}</span>
        <span class="icon-users2"></span> 
      </span>
      <span>&nbsp;&nbsp;Readers</span>
    </span>
    · 
    <span itemprop="aggregateRating" 
          itemscope 
          itemtype="http://schema.org/AggregateRating" class="book_link">
      <span class="count">
        <span>{{focused_author.reviews_count}}</span>
        <span class="icon-pencil2"></span> 
      </span>
      <span>&nbsp;&nbsp;Reviews</span>
    </span>
    · 
    <span class="book_link">
      <span class="count">
        <span>{{focused_author.discussions_count}}</span>
        <span class="icon-bubbles2"></span>
      </span>
      <span>&nbsp;&nbsp;Discussions</span>
    </span>
     · 
  </div>
  <hr>
  <div class="description" msd-wheel="stop_horizontal_scroll($event)" >
    <span itemprop="description">{{focused_author.summary}}</span>
  </div>
  <hr>
  <div class="users_count">{{focused_author.users_count}} friends are follwing him his/her</div>
  <div class="users">
    <div ng-repeat="user in focused_author.users">
      <img ng-src="{{user.thumb}}" />
    </div>
  </div>
  
  <div class="footer">
    <span class="interact" ng-click="focused_author.interact = true;">What do you feel about this author</span>
  </div>
  <interaction-box></interaction-box>
</div>