<div flex layout-padding class="login_box" layout="column">
    <md-button layout="row" class="md-button-clear google">
        <div flex="10"><span class="icon-googleplus"></span></div>
        <div flex="90" class="google-right">LOGIN WITH GOOGLE</div>
    </md-button>
    <md-button layout="row" class="md-button-clear fb">
        <div flex="10"><span class="icon-facebook"></span></div>
        <div flex="90" class="fb-right">LOGIN WITH FACEBOOK</div>
    </md-button>
    <br/>
    <div>Or Login with email</div>
    <md-input-container>
        <label>Email</label>
        <input>
    </md-input-container>
    <md-input-container>
        <label>Password</label>
        <input>
    </md-input-container>
    <md-button class="login md-button-clear">LOGIN</md-button>
    <a href="">Forgot Password?</a>
</div>