<!-- <tooltip prepend-text="Friends List" 
		 ng-show="!user.collapsed_left_column"
		 position="right"></tooltip> -->
<div class="animate-fast"
	 id="friendsList"
     msd-wheel="stop_propagation($event)"
     ng-style="style.main_header"
	 ng-class="{'left_column_collapsed left_column_collapsed2': user.collapsed_friends, 
	 			'left_column_shifted left_column_shifted1': !user.collapsed_filters,
	            'left_column_shifted left_column_shifted2': !user.collapsed_trends,
	            'left_column_shifted left_column_shifted3': !user.collapsed_lists,
	            'left_column_shifted left_column_shifted4': !user.collapsed_column,
	            'left_column': !user.collapsed_friends}">
	<div class="collapse_icon" 
	     ng-click="user.collapsed_friends = true; user.collapsed_left_column = true; collapse_left_panel();" 
	     ng-if="!user.collapsed_friends">
		<span class="icon-angle-left"></span>
	</div>
	<div class="left_column_tab"
		 ng-class="{'left_column_tab_compressed': !user.collapsed_left_column}"
		 ng-hide="!user.collapsed_friends"
	 	 ng-click="show_friends_list();">
	 	 <span class="table_cell">
			<span class="icon-users green_color header_font" ng-if="user.collapsed_friends" ></span>
			<span ng-show="user.collapsed_left_column">&nbsp;&nbsp;Friends</span>
	 	 </span>
	</div>
	<div class="header"
		 ng-if="!user.collapsed_friends"
		 ng-click="handle_friends_grid_size(undefined, true)">
		
		<span ng-if="!$routeParams.type != 'profile'"><b>Friends</b></span>
		<span ng-if="!$routeParams.type == 'profile'"><b>Friends</b></span>
	</div>
	<div ng-if="!user.collapsed_friends && $routeParams.type != 'profile'" class="friends_grid scrollbar">
		<div ng-repeat="friend in user.friends" class="friend_block animate-fast">
			<div ng-include src="'/assets/angular/views/left_panel/shared/friend_grid.html'"></div>
		</div>
	</div>
	<div ng-if="!user.collapsed_friends && $routeParams.type == 'profile'" class="friends_grid scrollbar">
		<div ng-repeat="friend in reader.friends" class="friend_block animate-fast">
			<div ng-include src="'/assets/angular/views/left_panel/shared/friend_grid.html'"></div>
		</div>
	</div>
</div>