<div class="expand_notifications"
	 ng-if="reader"
	 ng-class="{'expand_notifications_shift': user.collapsed_column}"
	 ng-click="show_interaction_box(reader.id)">
	<span class="icon-expand2"></span>
</div>
<div class="expand_notifications" 
	 ng-if="!reader"
	 ng-class="{'expand_notifications_shift': user.collapsed_column}" 
	 ng-click="show_interaction_box()">
	<span class="icon-expand2"></span>
</div>
<!-- <tooltip prepend-text="News Feed" 
		 ng-show="!user.collapsed_left_column"			
		 position="right"></tooltip> -->
<div class="animate-fast"
	 id="newsFeed"
	 ng-style="style.main_header"
	 ng-class="{'left_column_collapsed left_column_collapsed3': user.collapsed_column, 
	            'left_column_shifted left_column_shifted1': !user.collapsed_friends,
	            'left_column_shifted left_column_shifted2': !user.collapsed_filters,
	            'left_column_shifted left_column_shifted3': !user.collapsed_trends,
	            'left_column_shifted left_column_shifted4': !user.collapsed_lists,
	            'left_column': !user.collapsed_column}">
	<div class="collapse_icon" 
	     ng-click="user.collapsed_column = true; user.collapsed_left_column = true; collapse_left_panel();" 
	     ng-if="!user.collapsed_column">
		<span class="icon-angle-left"></span>
	</div>
	<div ng-if="user.collapsed_column && !reader" 
	     class="animate-fast left_column_tab"
	     ng-class="{'left_column_tab_compressed': !user.collapsed_left_column}"
		 ng-click="get_news_feed();">
		<span class="table_cell">
			<span class="icon-newspaper site_color header_font"></span>
			<span class="shelves" ng-show="user.collapsed_left_column">&nbsp;&nbsp;News Feed</span>
		</span>
	</div>
	<div ng-if="user.collapsed_column && reader" 
	     class="animate-fast left_column_tab"
	     ng-class="{'left_column_tab_compressed': !user.collapsed_left_column}"
		 ng-click="get_news_feed(reader.id);">
		<span class="table_cell">
			<span class="icon-newspaper site_color header_font"></span>
			<span class="shelves" ng-show="user.collapsed_left_column">&nbsp;&nbsp;{{reader.gender_prefix}} Timeline</span>
		</span>
	</div>
	<div class="header"
		 ng-if="!user.collapsed_column && reader">
		<span><b>&nbsp;&nbsp;{{reader.name | first_name}}'s Timeline</b></span>
	</div>
	<div ng-include src="'/assets/angular/views/shared/feed/readers.html'"
		 ng-if="show_notifications && !user.collapsed_column && reader"></div>

	<div class="header"
		 ng-if="!user.collapsed_column && !reader">
		<span><b>&nbsp;&nbsp;News Feed</b></span>
	</div>
	<div ng-include src="'/assets/angular/views/shared/feed/news.html'"
		 ng-if="show_notifications && !user.collapsed_column && !reader"></div>
	
	<!-- <more-filters></more-filters> -->
	<!-- <div class="scrollbar friends_grid" 
		 ng-if="!user.collapsed_column"
		 ng-style="column_heights.friends_grid_style"
		 msd-wheel="handle_friends_grid_size($event)"
		 check-scroll-down="handle_friends_grid_size($event, true)">
	</div> -->
	<!-- <div class="status site_color">What's on your mind?</div> -->
</div>