<!-- <tooltip prepend-text="Shelves" 
		 ng-show="!user.collapsed_left_column"
		 position="right"></tooltip> -->
<div class="animate-fast"
	 id="shelves"
     msd-wheel="stop_propagation($event)"
     ng-style="style.main_header"
     ng-class="{'left_column_collapsed left_column_collapsed1': user.collapsed_filters, 
	            'left_column_shifted left_column_shifted1': !user.collapsed_trends,
	            'left_column_shifted left_column_shifted2': !user.collapsed_lists,
	            'left_column_shifted left_column_shifted3': !user.collapsed_column,
	            'left_column_shifted left_column_shifted4': !user.collapsed_friends,
	            'left_column': !user.collapsed_filters}">
	<div class="collapse_icon" 
	     ng-click="user.collapsed_filters = true; user.collapsed_left_column = true; collapse_left_panel();" 
	     ng-if="!user.collapsed_filters">
		<span class="icon-angle-left"></span>
	</div>
	<div class="left_column_tab"
		 ng-class="{'left_column_tab_compressed': !user.collapsed_left_column}"
		 ng-hide="!user.collapsed_filters"
	 	 ng-click="user.collapsed_filters = false; 
	 	 		   user.collapsed_left_column = false;
	 	           user.collapsed_column = true; 
	 	           user.collapsed_trends = true;
	 	           user.collapsed_lists = true;
	 	           user.collapsed_friends = true;
	 	           expand_left_panel();">
	 	 <span class="table_cell">
			<span class="icon-bookmark2 yellow_color header_font" ng-if="user.collapsed_filters" ></span>
			<span ng-show="user.collapsed_left_column">&nbsp;&nbsp;Shelves</span>
	 	 </span>
	</div>
	<div class="header" ng-if="!user.collapsed_filters">
		<span><b>&nbsp;Explore Shelves</b></span>
	</div>
	<div class="filters_panel_large scrollbar" ng-if="!user.collapsed_filters">
		<div class="filters_group">
			<div ng-repeat="filter in labels">
				<filter data="filter" icon-class="icon-bookmark3" url="recommendations/{{$routeParams.type}}/label/{{filter.id}}/name/{{filter.name}}"></filter>
			</div>
		</div>
	</div>
	<!-- <div class="filters_panel_large scrollbar" ng-if="!user.collapsed_filters && !user.shelves_active">
		<div class="filters_group">
			<div class="filter">
				Build and manage your own virtual library of books. Rate your 10 motivational books to activate this feature.
			</div>
		</div>
	</div> -->
</div>