<div ng-if="!reduced">
    <div layout="row" layout-align="center center">
        <a layout-padding layout="row" layout-align="center center" class="grey_color very_important_title" href="/rooms">
            <div layout-padding>Rooms of Knowledge</div>
        </a>
        <div class="primary round_corners less_important white_color" layout-padding>New</div>
    </div>

    <md-grid-list
        md-cols-sm="1" md-cols-md="2" md-cols-gt-md="10"
        md-row-height-gt-md="1:1" md-row-height="4:3"
        md-gutter="50px" md-gutter-gt-sm="10px">
        <md-grid-tile ng-repeat="trend in rooms"
                    md-rowspan="2"
                    md-colspan="2"
                    md-colspan-sm="1"
                    class="pointer">
            <a ng-href="/room?id={{trend.id}}">
                <img ng-src="http://rd-images.readersdoor.netdna-cdn.com/{{trend.id}}/M.png" class="trends" />
                <md-grid-tile-footer layout="row" layout-padding>
                    <div class="less_important white_color">{{trend.name}}</div>
                </md-grid-tile-footer>
            </a>
        </md-grid-tile>
    </md-grid-list>
</div>
<div ng-if="reduced" class="feed_ticker">
    <div layout="row" layout-align="center center">
        <a layout-padding layout="row" layout-align="center center" class="grey_color important_title" href="/rooms">
            <div layout-padding>Rooms of Knowledge</div>
        </a>
        <div class="primary round_corners less_important white_color" layout-padding>New</div>
    </div>

    <div ng-repeat="trend in rooms" layout="row" layout-padding>
        <img ng-src="http://rd-images.readersdoor.netdna-cdn.com/{{trend.id}}/M.png" class="square" />
        <div layout-align="center center" layout="row"><a layout-padding ng-href="/room?id={{trend.id}}" class="less_important">{{trend.name}}</a></div>
    </div>
</div>