<div ng-if="!reduced" id="browseRooms">
    <div layout="column" layout-align="start start">
        <div class="site_description">
            <div ng-if="no_suggestions">
                Not everything which needs to be discovered is searchable. I want to read this life through a specific collection of News, Books and Videos on...
            </div>
            <div ng-if="!no_suggestions">
                Not everything which needs to be discovered is searchable. Rooms I need to explore depending on my <b>Facebook Likes</b>...
            </div>
        </div>
    </div>
    <div layout-padding></div>
    <md-grid-list
        md-cols-sm="4" md-cols-md="7" md-cols-gt-md="12"
        md-row-height="4:3" md-row-height-gt-md="1:1" md-row-height-md="1:1" md-row-height-sm="12:13"
        md-gutter="50px" md-gutter-gt-sm="10px" md-gutter-md="10px" md-gutter-sm="20px">
        <md-grid-tile ng-repeat="trend in rooms"
                    md-rowspan="{{trend.row || 3}}"
                    md-colspan="{{trend.col || 3}}"
                    md-colspan-sm="2"
                    class="pointer">
            <a ng-href="/room?id={{trend.id}}" class="room_container">
                <img ng-src="http://rd-images.readersdoor.netdna-cdn.com/{{trend.id}}/M.png" class="trends" 
                    onerror="this.src='https://oditty.me/assets/rooms.png'"/>
                <md-grid-tile-footer layout="row" layout-padding class="animate-fast">
                    <div class="less_important white_color trend_name">{{trend.name}}</div>
                    <div layout="column" class="facebook_likes">
                        <div layout="row" layout-padding>
                            <div ng-repeat="like in trend.facebook_likes">
                                <a ng-href="/room?id={{like.id}}">
                                    <img ng-src="http://rd-images.readersdoor.netdna-cdn.com/{{like.id}}/S.png" 
                                        onerror="this.src='https://oditty.me/assets/rooms.png'"
                                        class="small_circle"/>
                                    <md-tooltip>Because you like &nbsp;{{like.name}}</md-tooltip>
                                </a>
                            </div>
                        </div>
                    </div>
                </md-grid-tile-footer>
            </a>
        </md-grid-tile>
    </md-grid-list>
    <div layout-padding ng-if="no_suggestions">
        <a href="https://oditty.me/browse" class="less_important site_color bold">35000+ more Rooms...</a>
    </div>
    <div layout-padding ng-if="!no_suggestions" ng-hide="rooms_loading">
        <a ng-click="show_more_suggestions()" class="less_important site_color bold">Show me more Suggestions...</a>
    </div>
    <div ng-if="rooms_loading">
        Loading...
    </div>
</div>
<div ng-if="reduced" >
    <div layout="row">
        <h3><a layout-padding layout="row" href="https://oditty.me/browse">
            <div>Rooms Suggestions</div>
        </a></h3>
    </div>
    <div class="feed_ticker" check-scroll-bottom="show_more_suggestions()">
        <div ng-repeat="trend in rooms" layout="row" layout-padding>
            <img ng-src="http://rd-images.readersdoor.netdna-cdn.com/{{trend.id}}/S.png" class="square" 
                onerror="this.src='https://oditty.me/assets/rooms.png'"/>
            <div layout="column">
                <a layout-padding ng-href="/room?id={{trend.id}}" class="less_important">{{trend.name}}</a>
                <div layout="row" layout-padding class="less_important" layout-wrap>
                    <span>Because you like&nbsp;</span>
                    <span ng-repeat="like in trend.facebook_likes">
                        <a ng-href="/room?id={{like.id}}" class="less_important">
                            <span>{{like.name}}&nbsp;</span>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #browseRooms md-grid-tile-footer{
        font-size: 15px;
        padding: 4px;
        background-color: rgba(0, 0, 0, 0.41);
        white-space: pre-wrap;
        word-wrap: break-word;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        border-radius: 2px;
        font-weight: 600;
    }

    #browseRooms md-grid-tile-footer:hover{
        background-color: rgba(0, 0, 0, 0.7);
    }

    #browseRooms md-grid-tile-footer figcaption{
        position: absolute;
        left: 2px;
        top: 2px;
        right: 2px;
        bottom: 2px;
        text-align: center;
    }

    #browseRooms md-grid-tile-footer figcaption .trend_name{
        position: absolute;
        top: 50%;
        margin-top: -15px;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 18px;
        line-height: 1.125;
        font-weight: 100;
    }

    .room_container{
        width: 100%;
        height: 100%;
        position: relative;
    }

    .room_container img{
        position: absolute;
    }

    .facebook_likes{
        position: absolute;
        left: 0px;
        bottom: 0px;
        right: 0px;
        align-items: baseline;
    }


</style>