<div ng-if="!reduced" id="browseRooms">
    <div layout="column" layout-align="start start">
            <h1><a  layout="row" layout-align="center center" href="/rooms">
                    Rooms of Knowledge
                </a>
            </h1>
            <div class="site_description">Not everything which needs to be discovered is searchable. I want to read this life through a specific collection of Books, News and Videos on...</div>
        <!-- <div class="primary round_corners less_important white_color" layout-padding>New</div> -->
    </div>
    <div layout-padding></div>
    <md-grid-list
        md-cols-sm="4" md-cols-md="7" md-cols-gt-md="12"
        md-row-height="4:3" md-row-height-gt-md="1:1" md-row-height-md="1:1" md-row-height-sm="12:13"
        md-gutter="50px" md-gutter-gt-sm="10px" md-gutter-md="10px" md-gutter-sm="20px">
        <md-grid-tile ng-repeat="trend in rooms"
                    md-rowspan="2"
                    md-colspan="2"
                    md-colspan-sm="2"
                    class="pointer">
            <a ng-href="/room?id={{trend.id}}" class="room_container">
                <img ng-src="http://rd-images.readersdoor.netdna-cdn.com/{{trend.id}}/M.png" class="trends" />
                <md-grid-tile-footer layout="row" layout-padding>
                    <div class="less_important white_color trend_name">{{trend.name}}</div>
                </md-grid-tile-footer>
            </a>
        </md-grid-tile>
    </md-grid-list>
    <div layout-padding>
        <a href="/rooms" class="less_important site_color bold">35000+ more Rooms...</a>
    </div>
</div>
<div ng-if="reduced" >
    <div layout="row">
        <h3><a layout-padding layout="row" href="/rooms">
            <div>Rooms of Knowledge</div>
        </a></h3>
    </div>
    <div class="feed_ticker">
        <div ng-repeat="trend in rooms" layout="row" layout-padding>
            <img ng-src="http://rd-images.readersdoor.netdna-cdn.com/{{trend.id}}/S.png" class="square" />
            <div layout-align="center center" layout="row"><a layout-padding ng-href="/room?id={{trend.id}}" class="less_important">{{trend.name}}</a></div>
        </div>
    </div>
</div>
<style>
    #browseRooms md-grid-tile-footer{
        font-size: 15px;
        padding: 4px;
        background-color: rgba(0, 0, 0, 0.41);
        white-space: pre-wrap;
        word-wrap: break-word;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        border-radius: 5px;
        font-weight: 600;
    }

    #browseRooms md-grid-tile-footer figcaption{
        position: absolute;
        left: 2px;
        top: 2px;
        right: 2px;
        bottom: 2px;
        text-align: center;
    }

    #browseRooms md-grid-tile-footer figcaption .trend_name{
        position: absolute;
        top: 50%;
        margin-top: -15px;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 18px;
        line-height: 1.125;
        font-weight: 100;
    }

    .room_container{
        width: 100%;
        height: 100%;
        position: relative;
    }

    .room_container img{
        position: absolute;
    }
</style>