<div layout-padding layout-align="start start" layout="column">
    <h1>
        <a layout-padding layout="row"  class="feed_margin grey_header" href="/news_group">
            Trending
        </a>
    </h1>
    <div>Most Viewed Rooms on Oditty today...</div>
</div>
<md-grid-list
    md-cols-sm="4" md-cols-md="4" md-cols-gt-md="6"
    md-row-height-gt-md="1:1" md-row-height="4:3" md-row-height-md="3:3" md-row-height-sm="3:3"
    md-gutter="50px" md-gutter-gt-sm="10px" md-gutter-sm="10px">
    <md-grid-tile ng-repeat="trend in suggest_communities | limitTo : 6"
            md-rowspan="1"
            md-colspan="1"
            md-colspan-sm="1"
            class="pointer">
        <a ng-href="/room?id={{trend.id}}">
            <img ng-src="http://rd-images.readersdoor.netdna-cdn.com/{{trend.id}}/M.png" class="trends" />
            <md-grid-tile-footer layout="row" layout-padding>
            	<div class="less_important white_color">{{trend.name}}</div>
            	<div class="less_important white_color">{{trend.view_count}} Views</div>
            </md-grid-tile-footer>
        </a>
    </md-grid-tile>
</md-grid-list>
<div layout-padding>
    <a href="/news_group" class="less_important">Show Today's News...</a>
</div>