<div ng-class="{'dark_grey': show_suggestions}" layout-padding>
	<md-card class="md-whiteframe-z1">
		<md-card-content>
			<div layout="row" layout-align="space-between">
				<div class="less_important pointer" layout="row" ng-click="toggle_suggestions()">
					<div>
						<i class="material-icons">whatshot</i>
					</div>
					<div layout-padding>
						Room Suggestions
					</div>
				</div>
				<div>
					<i class="material-icons pointer" ng-show="show_suggestions" ng-click="toggle_suggestions()">close</i>
					<i class="material-icons pointer" ng-show="!show_suggestions" ng-click="toggle_suggestions()">add</i>
				</div>
				
			</div>
		</md-card-content>
		<md-card-content ng-show="show_suggestions">
			<join-community community="community" layout-padding layout="row" layout-align="space-between"
				ng-repeat="community in suggest_communities" >
			</join-community>
		</md-card-content>
	</md-card>
</div>