<div flex-sm="95" flex="70" layout-padding class="white" 
    layout-align="center center"
    layout="column" ng-controller="signupController">
    <div layout-padding></div>
    <div layout-padding></div>
    <div layout-padding class="big_title">
        ReadersDoor.com
    </div>
    <div layout-padding></div>
    <div layout-padding></div>
    <div layout="row" layout-sm="column" layout-align="center">
        <div layout-padding flex="30" flex-sm="100" class="center_text">
            <div class="big_title" layout="column">
                <!-- <i class="material-icons">whatshot</i> -->
                <div layout-padding>Rooms of Knowledge</div>
            </div>
            <div class="less_important">
                Connecting Books with the real world through News.
            </div>
        </div>
        <div layout-padding flex="30" flex-sm="100" class="center_text">
            <div class="big_title" layout="column">
                <!-- <i class="material-icons">filter_list</i> -->
                <div layout-padding>Filter Books</div>
            </div>
            <div class="less_important">
                A smart Librarian that helps you filter books out of 1 Million Books.
            </div>
        </div>
        <div layout-padding flex="30" flex-sm="100" class="center_text">
            <div class="big_title" layout="column">
                <!-- <i class="material-icons">accessibility</i> -->
                <div layout-padding>Recommendations</div>
            </div>
            <div class="less_important">
                Personalized suggestions based on your current mood and past history.
            </div>
        </div>
    </div>
    <div layout-padding></div>
    <div layout-padding></div>
    <div class="login_panel" layout="column" layout-padding>
        <md-button class="md-button-clear fb md-raised" ng-click="intent_login()" flex>
            <div layout="row" >
                <div flex="10"><span class="icon-facebook"></span></div>
                <div flex="90" class="fb-right">LOG IN WITH FACEBOOK</div>
            </div>
        </md-button>
        <br/>

        <div>Or Log in with email</div>
        <div layout="row">
            <div layout-padding layout-align="center center" layout="row">
                <i class="material-icons less_important">email</i>
            </div>
            <md-input-container flex>
                <label>Email</label>
                <input type="email" required ng-model="user.email">
            </md-input-container>
        </div>
        <div layout="row">
            <div layout-padding layout-align="center center" layout="row">
                <i class="material-icons less_important">security</i>
            </div>
            <md-input-container flex>
                <label>Password</label>
                <input type="password" required ng-model="user.password">
            </md-input-container>
        </div>
        <md-button class="md-button-clear md-warn md-raised" flex
                    ng-click="authenticate(true)">Log in</md-button><br/>
        <md-button class="md-button-clear md-primary md-raised" flex
                    ng-click="authenticate(false)">Sign up</md-button>
        <a href="" ng-click="recover_password()" class="less_important md-primary" layout-margin>Forgot Password?</a>
        <div ng-model="user.error_message" class="red_color">{{user.error_message}}</div>
        <md-progress-circular class="md-accent md-hue-1" md-mode="indeterminate" 
                ng-if="loading_icon">
        </md-progress-circular>
    </div>
</div>

<style>
    .sigin_dialog md-input-container{
        padding: 2px !important;
    }
    .google, .google:hover{
        background-color: #DC4B39 !important;
        color: white !important;
        margin-bottom: 5px !important;
        margin-top: 5px !important;
    }
    .google-right:before, 
    .fb-right:before{
        content: '';
        background: rgba(255,255,255,0.1);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .fb, .fb:hover{
        background-color: #3B5998 !important;
        color: white !important;
        margin-bottom: 5px !important;
        margin-top: 5px !important;
    }
    .login, .login:hover{
        background-color: #5F698C !important;
        color: white !important;
        margin-bottom: 5px !important;
        margin-top: 5px !important;
    }
</style>