<div>
	<div ng-repeat="feed in social_feed" layout="row">
		<div layout-padding>
			<img ng-src="{{feed.data.user.thumb || '/assets/user_profile.jpg'}}" class="square"
				onerror="this.src='/assets/user_profile.jpg'"/>
		</div>
		<div layout="column" layout-padding flex>
			<div class="less_important">{{feed.created_at | timestamp | date:'dd MMM'}}</div>
			<div ng-if="feed.label == 'FollowsNode'" layout="row">
				<div ng-if="::feed.data.community" layout="row" layout-wrap>
					<div>
						<a ng-click="render_page($event)" data-url="profile" data-id="feed.data.user.id" ng-href="/profile?id={{feed.data.user.id}}">{{::feed.data.user.name}}</a>&nbsp;joined a room,&nbsp;<a ng-click="render_page($event)" data-url="room" data-id="feed.data.community.id" ng-href="/room?id={{feed.data.community.id}}">{{::feed.data.community.name}}</a>.
					</div>
				</div>
				<div ng-if="::feed.data.author" layout="row" layout-wrap>
					<a ng-click="render_page($event)" data-url="profile" data-id="feed.data.user.id" ng-href="/profile?id={{feed.data.user.id}}">{{::feed.data.user.name}}</a>&nbsp;started following,&nbsp;<a ng-click="render_page($event)" data-url="author" data-id="feed.data.author.id" ng-href="/author?id={{feed.data.author.id}}">{{::feed.data.author.name}}</a>.
				</div>
				<div ng-if="::feed.data.friend" layout="row" layout-wrap>
					<a ng-click="render_page($event)" data-url="profile" data-id="feed.data.user.id" ng-href="/profile?id={{feed.data.user.id}}">{{::feed.data.user.name}}</a>&nbsp;started following,&nbsp;<a ng-click="render_page($event)" data-url="profile" data-id="feed.data.friend.id" ng-href="/profile?id={{feed.data.friend.id}}">{{::feed.data.friend.name}}</a>.
				</div>
			</div>
			<div ng-if="feed.label == 'BookmarkNode'">
				<a ng-click="render_page($event)" data-url="profile" data-id="feed.data.user.id" ng-href="/profile?id={{feed.data.user.id}}">{{::feed.data.user.name}}</a>&nbsp;added&nbsp;<a ng-click="render_page($event)" data-url="book" data-id="feed.data.book.id" ng-href="/book?q={{feed.data.book.id}}">{{::feed.data.book.title}}</a>&nbsp;by&nbsp;<a ng-click="render_page($event)" data-url="author" data-id="feed.data.author.id" ng-href="/author?q={{::feed.data.author.id}}">{{::feed.data.author.name}}</a>&nbsp;to&nbsp;{{::feed.data.feed.key}}.
			</div>
			<div ng-if="feed.label == 'RatingNode'">
				<a ng-click="render_page($event)" data-url="profile" data-id="feed.data.user.id" ng-href="/profile?id={{feed.data.user.id}}">{{::feed.data.user.name}}</a>&nbsp;gave {{::feed.data.feed.rating}} to&nbsp;<a ng-click="render_page($event)" data-url="book" data-id="feed.data.book.id" ng-href="/book?id={{feed.data.book.id}}">{{::feed.data.book.title}}</a>&nbsp;by&nbsp;<a ng-click="render_page($event)" data-url="author" data-id="feed.data.author.id" ng-href="/author?q={{::feed.data.author.id}}">{{::feed.data.author.name}}</a>.
			</div>
			<div ng-if="feed.label == 'StatusNode'">
				<div><a ng-click="render_page($event)" data-url="profile" data-id="feed.data.user.id" ng-href="/profile?id={{feed.data.user.id}}">{{::feed.data.user.name}}</a></div>
				<div ng-bind-html="::feed.data.content"></div>
			</div>
			<div ng-if="feed.label == 'EndorseNode'">
				<div><a ng-click="render_page($event)" data-url="profile" data-id="feed.data.user.id" ng-href="/profile?id={{feed.data.user.id}}">{{::feed.data.user.name}}</a>&nbsp;endorsed&nbsp;<a ng-click="render_page($event)" data-url="book" data-id="feed.data.book.id" ng-href="/book?id={{feed.data.book.id}}">{{::feed.data.book.title}}</a>&nbsp;by&nbsp;<a ng-click="render_page($event)" data-url="author" data-id="feed.data.author.id" ng-href="/author?q={{::feed.data.author.id}}">{{::feed.data.author.name}}</a>.</div>
			</div>
			<div layout-padding></div>
			<div layout-padding></div>
		</div>
	</div>	
</div>