<md-content class="less_important margin_top" check-scroll-bottom="get_feed()">
	<h3 class="white" layout-padding ng-if="social_feed && (social_feed.length > 0)">
		Moments from the Community
	</h3>
	<div class="feed_ticker">
		<div ng-repeat="feed in social_feed" layout="column" layout-padding >
			<div class="less_important">{{feed.created_at | timestamp | date:'dd MMM'}}</div>
			<div ng-if="feed.label == 'FollowsNode'" layout="row">
				<div ng-if="::feed.data.community" layout="row" layout-wrap>
					<div>
						<a ng-href="/profile?id={{feed.data.user.id}}">{{::feed.data.user.name}}</a>&nbsp;joined a room,&nbsp;<a ng-href="/room?id={{feed.data.community.id}}">{{::feed.data.community.name}}</a>.
					</div>
				</div>
				<div ng-if="::feed.data.author" layout="row" layout-wrap>
					<a ng-href="/profile?id={{feed.data.user.id}}">{{::feed.data.user.name}}</a>&nbsp;started following,&nbsp;<a ng-href="/author?id={{feed.data.author.id}}">{{::feed.data.author.name}}</a>.
				</div>
				<div ng-if="::feed.data.friend" layout="row" layout-wrap>
					<a ng-href="/profile?id={{feed.data.user.id}}">{{::feed.data.user.name}}</a>&nbsp;started following,&nbsp;<a ng-href="/profile?id={{feed.data.friend.id}}">{{::feed.data.friend.name}}</a>.
				</div>
			</div>
			<!-- <div ng-if="feed.label == 'BookmarkNode'">
				<a ng-href="/profile?id={{feed.data.user.id}}">{{::feed.data.user.name}}</a>&nbsp;added&nbsp;<a ng-href="/book?q={{feed.data.book.id}}">{{::feed.data.book.title}}</a>&nbsp;by&nbsp;<a ng-href="/author?q={{::feed.data.author.id}}">{{::feed.data.author.name}}</a>&nbsp;to&nbsp;{{::feed.data.feed.key}}.
			</div>
			<div ng-if="feed.label == 'RatingNode'">
				<a ng-href="/profile?id={{feed.data.user.id}}">{{::feed.data.user.name}}</a>&nbsp;gave {{::feed.data.feed.rating}} to&nbsp;<a ng-href="/book?id={{feed.data.book.id}}">{{::feed.data.book.title}}</a>&nbsp;by&nbsp;<a ng-href="/author?q={{::feed.data.author.id}}">{{::feed.data.author.name}}</a>.
			</div>
			<div ng-if="feed.label == 'StatusNode'">
				<div><a ng-href="/profile?id={{feed.data.user.id}}">{{::feed.data.user.name}}</a></div>
				<div ng-bind-html="::feed.data.content"></div>
			</div>
			<div ng-if="feed.label == 'EndorseNode'">
				<div><a ng-href="/profile?id={{feed.data.user.id}}">{{::feed.data.user.name}}</a>&nbsp;endorsed&nbsp;<a ng-href="/book?id={{feed.data.book.id}}">{{::feed.data.book.title}}</a>&nbsp;by&nbsp;<a ng-href="/author?q={{::feed.data.author.id}}">{{::feed.data.author.name}}</a>.</div>
			</div>
			<br/>
			<md-divider></md-divider> -->
		</div>	
	</div>
</md-content>
<!-- <md-progress-linear class="md-primary"
    ng-if="info.feed_loading"
    md-mode="indeterminate">
</md-progress-linear> -->