<div class="grid1">
	<a ng-href="" target="_blank" class="header">
		<div class="text" ng-bind-html="grid.grid_text"></div>
	</a>
	<img ng-src="{{grid.grid_books[1][0] | medium_thumb}}" class="first" />
	<img ng-src="{{grid.grid_books[4][0] | medium_thumb}}" class="second" />
	<img ng-src="{{grid.grid_books[5][0] | medium_thumb}}" class="third" />
	<img ng-src="{{grid.grid_books[8][0] | medium_thumb}}" class="fourth" />
	<img ng-src="{{grid.grid_books[12][0] | medium_thumb}}" class="fifth" />
	<img ng-src="{{grid.grid_books[19][0] | medium_thumb}}" class="sixth" />	
</div>
