<div class="book_footer">
	<span class="glyphicon glyphicon-picture gallery_icon" 
		  ng-click="turn_page('content')"></span>
	<span class="glyphicon glyphicon-hand-right first_sentence_icon" 
		  ng-click="turn_page('first_sentence')"></span>
	<span class="glyphicon glyphicon-user characters_icon" 
		  ng-click="turn_page('characters')"></span>
	<span class="glyphicon glyphicon-comment quotes_icon" 
		  ng-click="turn_page('quotes')"></span>
	<span class="glyphicon glyphicon-tower themes_icon" 
		  ng-click="turn_page('themes')"></span>
	<span class="glyphicon glyphicon-globe subject_places_icon" 
		  ng-click="turn_page('subject_places')"></span>
	<span class="glyphicon glyphicon-film movies_based_icon" 
		  ng-click="turn_page('movies_based')"></span>
	<span class="glyphicon glyphicon-tags tags_icon" 
		  ng-click="turn_page('tags')"></span>
	<span class="glyphicon glyphicon-user readers_icon" 
		  ng-click="turn_page('readers')"></span>
	<span class="glyphicon glyphicon-tasks news_icon" 
		  ng-click="turn_page('news')"></span>
	<span class="glyphicon glyphicon-pencil reviews_icon" 
		  ng-click="turn_page('reviews')"></span>
	<span class="glyphicon glyphicon-edit discussions_icon" 
		  ng-click="turn_page('discussions')"></span>
	<span class="glyphicon glyphicon-user about_author_icon" 
		  ng-click="turn_page('about_author')"></span>
</div>