<ul class="book_footer">
	<li class="icon-file3 gallery_icon" 
		  ng-click="turn_page('content')"></li>
	<li class="icon-pen first_sentence_icon" 
		  ng-click="turn_page('first_sentence')"></li>
	<li class="icon-user characters_icon" 
		  ng-click="turn_page('characters')"></li>
	<li class="icon-quotes-left quotes_icon" 
		  ng-click="turn_page('quotes')"></li>
	<li class="icon-tower themes_icon" 
		  ng-click="turn_page('themes')"></li>
	<li class="icon-earth subject_places_icon" 
		  ng-click="turn_page('subject_places')"></li>
	<li class="icon-film movies_based_icon" 
		  ng-click="turn_page('movies_based')"></li>
	<li class="icon-tags tags_icon" 
		  ng-click="turn_page('tags')"></li>
	<li class="icon-users readers_icon" 
		  ng-click="turn_page('readers')"></li>
	<li class="icon-newspaper news_icon" 
		  ng-click="turn_page('news')"></li>
	<li class="icon-pencil2 reviews_icon" 
		  ng-click="turn_page('reviews')"></li>
	<li class="icon-bubbles2 discussions_icon" 
		  ng-click="turn_page('discussions')"></li>
	<li class="icon-user2 about_author_icon" 
		  ng-click="turn_page('about_author')"></li>
</ul>