<ul class="book_footer">
	<li class="glyphicon glyphicon-list gallery_icon" 
		  ng-click="turn_page('content')"></li>
	<li class="glyphicon glyphicon-hand-right first_sentence_icon" 
		  ng-click="turn_page('first_sentence')"></li>
	<li class="glyphicon glyphicon-user characters_icon" 
		  ng-click="turn_page('characters')"></li>
	<li class="glyphicon glyphicon-comment quotes_icon" 
		  ng-click="turn_page('quotes')"></li>
	<li class="glyphicon glyphicon-tower themes_icon" 
		  ng-click="turn_page('themes')"></li>
	<li class="glyphicon glyphicon-globe subject_places_icon" 
		  ng-click="turn_page('subject_places')"></li>
	<li class="glyphicon glyphicon-film movies_based_icon" 
		  ng-click="turn_page('movies_based')"></li>
	<li class="glyphicon glyphicon-tags tags_icon" 
		  ng-click="turn_page('tags')"></li>
	<li class="glyphicon glyphicon-user readers_icon" 
		  ng-click="turn_page('readers')"></li>
	<li class="glyphicon glyphicon-tasks news_icon" 
		  ng-click="turn_page('news')"></li>
	<li class="glyphicon glyphicon-pencil reviews_icon" 
		  ng-click="turn_page('reviews')"></li>
	<li class="glyphicon glyphicon-edit discussions_icon" 
		  ng-click="turn_page('discussions')"></li>
	<li class="glyphicon glyphicon-user about_author_icon" 
		  ng-click="turn_page('about_author')"></li>
</ul>