<ul class="book_footer">
	<li ng-click="turn_page('content')">
		  <div class="icon-file3 gallery_icon" ></div>
		  <div>CONTENT</div><div><br/></div>
	</li>
	<li ng-click="turn_page('first_sentence')">
		<div class="icon-pen first_sentence_icon"></div>
		<div>FIRST</div><div>SENTENCE</div>
	</li>
	<li ng-click="turn_page('characters')">
		<div class="icon-user characters_icon"></div>
		<div>CHARACTERS</div><div><br/></div>
	</li>
	<li ng-click="turn_page('quotes')">
		<div class="icon-quotes-left quotes_icon"></div>
		<div>QUOTES</div><div><br/></div>
	</li>
	<li ng-click="turn_page('themes')">
		<div class="icon-tower themes_icon"></div>
		<div>THEMES</div><div><br/></div>
	</li>
	<li ng-click="turn_page('subject_places')">
		<div class="icon-earth subject_places_icon"></div>
		<div>SUBJECT</div><div>PLACES</div>
	</li>
	<li ng-click="turn_page('movies_based')">
		<div class="icon-film movies_based_icon"></div>
		<div>MOVIES</div><div>BASED</div>
	</li>
	<li ng-click="turn_page('tags')">
		<div class="icon-tags tags_icon"></div>
		<div>TAGS</div><div><br/></div>
	</li>
	<li ng-click="turn_page('readers')">
		<div class="icon-users readers_icon"></div>
		<div>READERS</div><div><br/></div>
	</li>
	<li ng-click="turn_page('news')">
		<div class="icon-newspaper news_icon"></div>
		<div>NEWS</div><div><br/></div>
	</li>
	<li ng-click="turn_page('reviews')">
		<div class="icon-pencil2 reviews_icon"></div>
		<div>REVIEWS</div><div><br/></div>
	</li>
	<li ng-click="turn_page('discussions')">
		<div class="icon-bubbles2 discussions_icon"></div>
		<div>DISCUSSIONS</div><div><br/></div>
	</li>
	<li ng-click="turn_page('about_author')">
		<div class="icon-user2 about_author_icon"></div>
		<div>ABOUT</div><div>AUTHOR</div>
	</li>
</ul>