<div class="left_column animate-fast scrollbar"
	 id="friendsList"
     msd-wheel="stop_propagation($event)"
	 ng-class="{'left_column_collapsed left_column_collapsed2': user.collapsed_friends, 
	 			'left_column_shifted left_column_shifted1': !user.collapsed_filters,
	            'left_column_shifted left_column_shifted2': !user.collapsed_trends,
	            'left_column_shifted left_column_shifted3': !user.collapsed_lists,
	            'left_column_shifted left_column_shifted4': !user.collapsed_column}">
	<div class="collapse_icon red_button" 
	     ng-click="user.collapsed_friends = true; user.collapsed_left_column = true; collapse_left_panel();" 
	     ng-if="!user.collapsed_friends">
		<span class="icon-angle-left"></span>
	</div>
	<div class="left_column_tab"
		 ng-hide="!user.collapsed_friends"
	 	 ng-click="user.collapsed_friends = false; 
	 	 		   user.collapsed_left_column = false;
	 	 		   user.collapsed_column = true; 
	 	 		   user.collapsed_lists = true;
	 	 		   user.collapsed_filters = true;
	 	 		   user.collapsed_trends = true;
	 	 		   expand_left_panel();">
	 	 <span class="table_cell">
			<span class="icon-users green_color header_font" ng-if="user.collapsed_friends" ></span>
			<span ng-show="user.collapsed_left_column">&nbsp;&nbsp;Friends</span>
	 	 </span>
	</div>
	<div class="header"
		 ng-if="!user.collapsed_friends"
		 ng-click="handle_friends_grid_size(undefined, true)">
		<span class="icon-users2 green_color header_font"></span>
		<span ng-if="!$routeParams.type != 'profile'"><b>&nbsp;&nbsp;{{user.friends.length}} Friends</b></span>
		<span ng-if="!$routeParams.type == 'profile'"><b>&nbsp;&nbsp;{{reader.friends.length}} Friends</b></span>
	</div>
	<div ng-if="!user.collapsed_friends && $routeParams.type != 'profile'" class="friends_grid">
		<div ng-repeat="friend in user.friends" class="friend_block animate-fast">
			<div ng-include src="'/assets/angular/widgets/partials/friend_grid.html'"></div>
		</div>
	</div>
	<div ng-if="!user.collapsed_friends && $routeParams.type == 'profile'" class="friends_grid">
		<div ng-repeat="friend in reader.friends" class="friend_block animate-fast">
			<div ng-include src="'/assets/angular/widgets/partials/friend_grid.html'"></div>
		</div>
	</div>
</div>