<div class="left_column animate-fast scrollbar"
     msd-wheel="stop_propagation($event)"
	 ng-class="{'friends_collapsed': user.collapsed_friends, 'friends_collapsed_shifted': (!user.collapsed_filters || !user.collapsed_column) && user.collapsed_friends}">
	<div class="collapse_icon" 
	     ng-click="user.collapsed_friends = !user.collapsed_friends;" 
	     ng-if="!user.collapsed_friends">
		<span class="icon-angle-left"></span>
	</div>
	<div class="collapsed_friends table"
		 ng-hide="!user.collapsed_friends"
	 	 ng-click="user.collapsed_friends = false; user.collapsed_column = true; user.collapsed_filters = true;">
	 	 <span class="table_cell">
			<span class="icon-users light_grey_color" ng-if="user.collapsed_friends" ></span>
			<span ng-show="user.collapsed_column && user.collapsed_friends && user.collapsed_filters">Friends</span>
	 	 </span>
	</div>
	<div class="header"
		 ng-if="!user.collapsed_friends"
		 ng-click="handle_friends_grid_size(undefined, true)">
		<span class="icon-users2"></span>
		<span>&nbsp;&nbsp;{{user.friends.length}} Friends</span>
	</div>
	<div ng-if="!user.collapsed_friends" class="friends_grid">
		<div ng-repeat="friend in user.friends" class="friend_block animate-fast">
			<img ng-src="{{friend.thumb}}" 
			     class="friend_thumb" />
			<div class="friend_details">
				<div><b>{{friend.name}}</b></div>
				<div ng-show="friend.init_book_read_count">Reader of {{friend.init_book_read_count}}</div>
				<div>
					<span>{{friend.total_count | integer}}</span>
					<span> · </span>
					<span>{{friend.book_read_count | integer}}</span>
					<span class="icon-books"></span>
					<span> · </span>
					<span>{{friend.bookmark_count| integer}}</span>
					<span class="icon-bookmarks"></span>
					<span> · </span>
				</div>
				<div class="normal_text site_color" ng-show="friend.fav_categories">Likes {{friend.fav_categories}} books</div>
			</div>
		</div>
	</div>
</div>