<div ng-if="$routeParams.type == 'books'" ng-model="user.books.bookmarked">
	<div ng-switch on="user.books.bookmarked.length">
		<div ng-switch-when="0">
			<div class="recommendation_block">
				<div class="widget bookmark_instruct">
					
				</div>
			</div>
		</div>
		<div ng-switch-default>
			<div ng-repeat="user_book in user.books.bookmarked" class="recommendation_block">
				<book track id="{{user_book.category.name | lowercase}}-{{user_book.id}}" data="user_book"></book>
			</div>
		</div>
	</div>
</div>
<div ng-if="$routeParams.type == 'authors'" ng-model="user.authors.bookmarked">
	<div ng-switch on="user.authors.bookmarked.length">
		<div ng-switch-when="0">
			Bookmark authors
		</div>
		<div ng-switch-default>
			<div ng-repeat="author in user.authors.bookmarked" class="recommendation_block">
				<author track id="{{author.category.name | lowercase}}-{{author.id}}" data="author"></author>
			</div>
		</div>
	</div>
</div>