<div class="left_column animate-fast scrollbar"
     msd-wheel="stop_propagation($event)"
	 ng-class="{'left_column_collapsed left_column_collapsed4': user.collapsed_lists, 
	            'left_column_shifted left_column_shifted1': !user.collapsed_trends,
	            'left_column_shifted left_column_shifted2': !user.collapsed_filters,
	            'left_column_shifted left_column_shifted3': !user.collapsed_column,
	            'left_column_shifted left_column_shifted4': !user.collapsed_friends}">
	<div class="collapse_icon"
	     ng-click="user.collapsed_lists = true; user.collapsed_left_column = true;" 
	     ng-if="!user.collapsed_lists">
		<span class="icon-angle-left"></span>
	</div>

	<div class="left_column_tab"
		 ng-hide="!user.collapsed_lists"
	 	 ng-click="user.collapsed_lists = false; 
	 	           user.collapsed_left_column = false;
	 	           user.collapsed_column = true; 
	 	           user.collapsed_trends = true;
	 	           user.collapsed_filters = true;
	 	           user.collapsed_friends = true;">
	 	 <span class="table_cell">
			<span class="icon-list light_grey_color" ng-if="user.collapsed_lists" ></span>
			<span ng-show="user.collapsed_left_column">Listopia</span>
	 	 </span>
	</div>
	<div class="header" ng-if="!user.collapsed_lists">
		<span class="icon-list light_grey_color"></span>
		<span>&nbsp;Explore Listopia</span>
	</div>
	<div class="filters_panel_large" ng-if="!user.collapsed_lists">
		<div class="filters_group">
			<div ng-repeat="filter in book_lists">
				<filter data="filter" icon-class="icon-list" url="grid/{{$routeParams.type}}/id/{{filter.id}}/name/{{filter.name}}"></filter>
			</div>
		</div>
	</div>
</div>