<style>
	.load_page{
		background-color: #172A36;
		width: 100%;
		height: 100%;
		position: absolute;
		margin: -10px;
	}

	.load_title{
		color: white;
		position: absolute;
		left: 20px;
		top: 20px;
		font-size: 2em;
		font-weight: bold;
		font-family: Helvetica;
		letter-spacing: -4.2px;
	}

	.load_tagline{
		position: absolute;
		top: 32px;
		left: 245px;
		color: white;
		font-size: 1em;
	}

	.load_icon{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -25px;
		margin-top: -25px;
	}

	.load_icon img{
		width: 50px;
	}
</style>
<div class="load_page">
	<div class="load_title">
		<span>r</span>
      	<span>e</span>
      	<span>a</span>
      	<span>d</span>
      	<span>e</span>
      	<span>r</span>
      	<span>'</span>
      	<span>s</span>
      	<span>&nbsp;</span>
      	<span>d</span>
      	<span>o</span>
      	<span>o</span>
      	<span>r</span>
	</div>
	<div class="load_tagline">Live and build your years with books.</div>
	<div class="load_icon"><img src="assets/preloader.gif" /></div>
</div>