<div class="main_header">
	<a class="site_logo" ng-href="#/user/{{$routeParams.id}}/search">
 		<span>r</span>
		<span>e</span>
		<span>a</span>
		<span>d</span>
		<span>e</span>
		<span>r</span>
		<span>'</span>
		<span>s</span>
		<span>&nbsp;</span>
		<span>d</span>
		<span>o</span>
		<span>o</span>
		<span>r</span>
 	</a>
 	<div class="profile_thumb" ng-click="goto_info_card()">
		<img ng-src="{{user | blob_backup}}" class="profile_small_thumb" ng-if="user">
		<div class="user_details">
			<div class="animate-slow count" ng-class="{'green': is_additive, 'magenta': !is_additive}" ng-show="count && !initiate_counting">
				<span ng-if="is_additive">+</span><span ng-if="!is_additive">-</span>{{count}}
			</div>
			<span class="site_color">{{user.name}}</span><span> · </span>
			<span class="site_color">{{user.total_count | integer}}</span><span> · </span>
			<span class="green_color">{{user.book_read_count | integer}}&nbsp;</span><span class='green_color icon-books'></span><span> · </span>
			<span class="purple_color">{{user.bookmark_count | integer}}&nbsp;</span><span class='purple_color icon-bookmarks'></span><span> · </span>
		</div>
	</div>
	<!-- <div class="menu_group" 
 		 ng-class="{'menu_group_active':show_menu}"
 		 ng-mouseenter="toggle_menu()"
		 ng-mouseleave="toggle_menu()">
	 	<div class="menu" ng-if="show_menu">
	 		<a ng-href="#/user/{{$routeParams.id}}/search">
		 		<div>
		 			<span class="icon-home2"></span>
			 		<span>Home</span>
		 		</div>
		 	</a>
		 	<a ng-href="#/user/{{$routeParams.id}}/recommendations/books">
		 		<div ng-hide="$routeParams.type == 'books'">
		 			<span class="icon-book"></span>
			 		<span>Books</span>
		 		</div>
		 	</a>
		 	<a ng-href="#/user/{{$routeParams.id}}/recommendations/authors">
	 			<div ng-hide="$routeParams.type == 'authors'">
	 				<span class="icon-pen"></span>
		 			<span>Authors</span>
	 			</div>
		 	</a>
		 	<a ng-href="#/user/{{$routeParams.id}}/recommendations/readers">
	 			<div ng-hide="$routeParams.type == 'readers'">
	 				<span class="icon-users"></span>
		 			<span>Readers</span>
	 			</div>
		 	</a>
	 	</div>
		<div class="advanced_filter animate-fast" 
			 ng-class="{'advanced_filter_active':show_menu || filter_expanded}">
			<span ng-if="$routeParams.type == 'books'">
				<span class="icon-book"></span>
				<span ng-if="filter_expanded || show_menu">Books</span>
			</span>
			<span ng-if="$routeParams.type == 'authors'">
				<span class="icon-pen"></span>
				<span ng-if="filter_expanded || show_menu">Authors</span>
			</span>
			<span ng-if="$routeParams.type == 'readers'">
				<span class="icon-users"></span>
				<span ng-if="filter_expanded || show_menu">Readers</span>
			</span>
			<span class="icon-angle-down" ng-if="!show_menu"></span>
		 	<span class="icon-angle-up" ng-if="show_menu"></span>
		</div>
 	</div> -->
 	<div ng-controller="searchController">
 		<search-bar></search-bar>
 	</div>


 	<!-- <input placeholder="Search..."/> -->
</div>