<div class="main_header">
	<a class="site_logo" ng-href="#/user/{{$routeParams.id}}/search">
 		<span>r</span>
		<span>e</span>
		<span>a</span>
		<span>d</span>
		<span>e</span>
		<span>r</span>
		<span>'</span>
		<span>s</span>
		<span>&nbsp;</span>
		<span>d</span>
		<span>o</span>
		<span>o</span>
		<span>r</span>
 	</a>
	<div class="header_navbar" ng-click="show_settings_popup($event)">
		<span class="icon-cog table_cell"></span>
	</div>
	<profile-link></profile-link>
 	<div ng-controller="searchController">
 		<search-bar></search-bar>
 	</div>
	<div class="header_navbar site_color" ng-click="show_interaction_box()">
		<span class="table_cell share"></span>
	</div>
 
	<!-- <div class="menu_group" 
 		 ng-class="{'menu_group_active':show_menu}"
 		 ng-mouseenter="toggle_menu()"
		 ng-mouseleave="toggle_menu()">
	 	<div class="menu" ng-if="show_menu">
	 		<a ng-href="#/user/{{$routeParams.id}}/search">
		 		<div>
		 			<span class="icon-home2"></span>
			 		<span>Home</span>
		 		</div>
		 	</a>
		 	<a ng-href="#/user/{{$routeParams.id}}/recommendations/books">
		 		<div ng-hide="$routeParams.type == 'books'">
		 			<span class="icon-book"></span>
			 		<span>Books</span>
		 		</div>
		 	</a>
		 	<a ng-href="#/user/{{$routeParams.id}}/recommendations/authors">
	 			<div ng-hide="$routeParams.type == 'authors'">
	 				<span class="icon-pen"></span>
		 			<span>Authors</span>
	 			</div>
		 	</a>
		 	<a ng-href="#/user/{{$routeParams.id}}/recommendations/readers">
	 			<div ng-hide="$routeParams.type == 'readers'">
	 				<span class="icon-users"></span>
		 			<span>Readers</span>
	 			</div>
		 	</a>
	 	</div>
		<div class="advanced_filter animate-fast" 
			 ng-class="{'advanced_filter_active':show_menu || filter_expanded}">
			<span ng-if="$routeParams.type == 'books'">
				<span class="icon-book"></span>
				<span ng-if="filter_expanded || show_menu">Books</span>
			</span>
			<span ng-if="$routeParams.type == 'authors'">
				<span class="icon-pen"></span>
				<span ng-if="filter_expanded || show_menu">Authors</span>
			</span>
			<span ng-if="$routeParams.type == 'readers'">
				<span class="icon-users"></span>
				<span ng-if="filter_expanded || show_menu">Readers</span>
			</span>
			<span class="icon-angle-down" ng-if="!show_menu"></span>
		 	<span class="icon-angle-up" ng-if="show_menu"></span>
		</div>
 	</div> -->
 	


 	<!-- <input placeholder="Search..."/> -->
</div>