<div ng-if="show_more_filters" 
	 class="more_filters animate-slow"
	 ng-click="stop_click_propagation($event)">
	

	<div ng-if="!bookmark_selected && !read_selected">
		<!-- BOOK FILTERS -->
		<div class="filters" ng-if="$routeParams.type == 'books'">
			<div class="filters_panel_large">
				<div class="filters_group">
					<div ng-repeat="filter in more_filters[0]['book']">
						<filter data="filter"></filter>
					</div>
				</div>
			</div>
			<hr>
			<div class="filters_panel">
			 	<type-ahead items="genres" 
			 				prompt="Filter books by a Genre" 
			 				title="name"
			 				custom-options="genre_typeahead_options"
			 				custom="input_filter"
			 				model="genre" 
			 				on-select="on_genre_selection(genre, $event)"
			 				auto-populate="show_genre_options('BOOK', genre)"
			 				on-clear="clear_filter('BOOK', 'genre')"
			 				ng-keypress="show_genre_options('BOOK', genre)">
			 	</type-ahead>
				<type-ahead items="authors" 
			 				prompt="Filter books by Author Name"
			 				title="name"
			 				custom-options = "author_typeahead_options"
			 				custom="input_filter"
			 				model="author"
			 				on-clear="clear_filter('BOOK', 'author')"
			 				on-select="on_author_selection(author)"
			 				ng-keypress="show_author_options('BOOK', author)">
			 	</type-ahead>
			</div>
			<hr>
			<div class="filters_panel_right">
			 	<div class="position_dropdown"
				 	  dropdown-select="countryOptions" 
				 	  dropdown-onchange="advance_filter_changed(selected, 'country')"
				 	  dropdown-model="countrySelected"
				 	  dropdown-item-label="name"></div>
			 	<div class="position_dropdown"
			 		  dropdown-select="readTimeOptions" 
			 		  dropdown-onchange="advance_filter_changed(selected, 'readingTime')"
			 		  dropdown-model="readTimeSelected"
			 		  dropdown-item-label="name"></div>
			 	<div class="position_dropdown time_group"
			 		  dropdown-select="timeOptions" 
			 		  dropdown-onchange="advance_filter_changed(selected, 'timeGroup')"
			 		  dropdown-model="timeSelected"
			 		  dropdown-item-label="name"></div>
			</div>
		</div>


		<!-- AUTHOR FILTERS -->
		<div class="filters" ng-if="$routeParams.type == 'authors'">
			<div class="filters_panel_large">
				<div class="filters_group">
					<div ng-repeat="filter in more_filters[0]['author']">
						<filter data="filter"></filter>
					</div>
				</div>
			</div>
			<hr>
			<div class="filters_panel">
				<type-ahead items="genres" 
			 				prompt="GENRE" 
			 				title="name"
			 				custom-options = "genre_typeahead_options"
			 				custom="input_filter"
			 				model="genre" 
			 				on-select="on_genre_selection()"
			 				ng-keypress="show_genre_options('BOOK', genre)">
			 	</type-ahead>
			</div>
			<hr>
			<div class="filters_panel_right">
				
			</div>
		</div>

		<!-- READER FILTERS -->
		<div class="filters" ng-if="$routeParams.type == 'readers'">
			<div class="filters_panel_large">
				<div class="filters_group">
					<div ng-repeat="filter in more_filters[0]['reader']">
						<filter data="filter"></filter>
					</div>
				</div>
			</div>
			<hr>
			<div class="filters_panel">
				<type-ahead items="genres" 
			 				prompt="GENRE" 
			 				title="name"
			 				custom-options = "genre_typeahead_options"
			 				custom="input_filter"
			 				model="genre" 
			 				on-select="on_genre_selection()"
			 				ng-keypress="show_genre_options('BOOK', genre)">
			 	</type-ahead>
			</div>
			<hr>
			<div class="filters_panel_right">
				<div class="header">
				</div>
			</div>
		</div>
		
	</div>
	<div class="main_filters">
		<div class="reset_filters">
			 <a ng-href="#/user/{{$routeParams.id}}/recommendations/{{$routeParams.type}}" ng-click="reset_filters()">
			 	<span>RESET FILTERS </span>
			 	<span class="icon-loop"></span>
			 </a>
		</div>

		<span class="selected_filters">
			<span ng-if="filters.filter_type == 'BOOK'" 
				class="selected_filter icon-book"></span>
			<span class="selected_filter" ng-if="filters.more_filters">
				{{filters.more_filters}}
			</span>
			<span ng-if="filters.other_filters.author" class="selected_filter">
				<span class="icon-pen"></span>
				<!-- <span>{{filters.other_filters.author}}</span> -->
			</span>
			<span ng-if="filters.other_filters.genre" class="selected_filter">
				<span class="icon-shapes"></span>
				<!-- <span>{{filters.other_filters.genre}}</span> -->
			</span>
			<span ng-if="filters.other_filters.timeGroup" class="selected_filter">
				<span class="icon-calendar"></span>
				<!-- <span>{{filters.other_filters.timeGroup}}</span> -->
			</span>
			<span ng-if="filters.other_filters.readingTime" class="selected_filter">
				<span class="icon-clock"></span>
				<!-- <span>{{filters.other_filters.readingTime}}</span> -->
			</span>
			<span ng-if="filters.other_filters.country" class="selected_filter">
				<span class="icon-earth"></span>
				<!-- <span>{{filters.other_filters.country}}</span> -->
			</span>
		</span>

		<span class="result_count selected_filter" 
			  ng-model="recommendations.books.length"
			  ng-if="filters.filter_type == 'BOOK'">
			<span ng-if="bookmark_selected">
				{{user.books.bookmarked.length}} books bookmarked</span>
			<span ng-if="read_selected">
			    {{user.books.read.length}} books read</span>
			<span ng-if="!bookmark_selected && !read_selected">
			    {{recommendations.books.length}} books
			</span>
		</span>
		<span class="result_count" 
		      ng-model="recommendations.readers.length"
		      ng-if="filters.filter_type == 'READER'">
			<span ng-if="bookmark_selected">
				{{user.readers.bookmarked.length}} readers bookmarked</span>
			<span ng-if="read_selected">
			    {{user.readers.read.length}} readers followed</span>
			<span ng-if="!bookmark_selected && !read_selected">
			    {{recommendations.readers.length}} readers
			</span>
		</span>
		<span class="result_count" 
			  ng-model="recommendations.authors.length"
			  ng-if="filters.filter_type == 'AUTHOR'">
			<span ng-if="bookmark_selected">
				{{user.authors.bookmarked.length}} authors bookmarked</span>
			<span ng-if="read_selected">
			    {{user.authors.read.length}} authors followed</span>
			<span ng-if="!bookmark_selected && !read_selected">
			    {{recommendations.authors.length}} authors
			</span>
		</span>
	</div>
</div>