<div class="more_filters">
	<div class="main_filters">
		<div ng-click="toggle_active_filter()"
			 ng-disabled="active_book_filter"
			 ng-class="{'active_filter':active_book_filter, 'inactive_filter':!active_book_filter}">
			 BOOK</div>
		<div ng-click="toggle_active_filter()"
			 ng-disabled="active_author_filter"
			 ng-class="{'active_filter':active_author_filter, 'inactive_filter':!active_author_filter}">AUTHOR</div>
		<div ng-click="toggle_active_filter()"
			 ng-disabled="active_reader_filter"
			 ng-class="{'active_filter':active_reader_filter, 'inactive_filter':!active_reader_filter}">READER</div>
	</div>
	<hr>
	<div class="filters" ng-if="active_book_filter">
		<div class="filters_panel">
			<div class="header">
				Advance Input Filters
			</div>
			<div>
				<input class="input_filter" placeholder="GENRE"></input>
			</div>
			<div>
				<input class="input_filter" placeholder="COUNTRY"></input>
			</div>
		</div>
		<div class="filters_panel_large">
			<div class="header">
				Tags
			</div>
			<div ng-repeat="filter in more_filters[0]['book']">
				<filter data="filter"></filter>
			</div>
		</div>
	</div>
	<div class="filters" ng-if="active_author_filter">AUTHOR</div>
	<div class="filters" ng-if="active_reader_filter">READER</div>
</div>