<div class="more_filters">
	<div class="main_filters">
		<div ng-click="toggle_active_filter()"
			 ng-disabled="active_book_filter"
			 ng-class="{'active_filter':active_book_filter, 'inactive_filter':!active_book_filter}">
			 <span class="glyphicon glyphicon-book"></span> BOOK</div>
		<div ng-click="toggle_active_filter()"
			 ng-disabled="active_author_filter"
			 ng-class="{'active_filter':active_author_filter, 'inactive_filter':!active_author_filter}">
			 <span class="glyphicon glyphicon-user"></span> AUTHOR</div>
		<div ng-click="toggle_active_filter()"
			 ng-disabled="active_reader_filter"
			 ng-class="{'active_filter':active_reader_filter, 'inactive_filter':!active_reader_filter}">
			 <span class="glyphicon glyphicon-user"></span> READER</div>
	</div>
	<hr>
	<div class="filters" ng-show="active_book_filter">
		<div class="filters_panel">
			<div class="header">
				<b>Advance Input Filters</b>
			</div>
			<div>
			 	<type-ahead items="genres" 
			 				prompt="GENRE" 
			 				title="name" 
			 				model="genre" 
			 				on-select="on_genre_selection()"
			 				ng-keypress="show_genre_options('BOOK')">
			 	</type-ahead>
			</div>
			<div>
				<type-ahead items="countries" 
			 				prompt="COUNTRY"
			 				title="name"
			 				model="country"
			 				on-select="on_country_selection()"
			 				ng-keypress="show_country_options('BOOK')">
			 	</type-ahead>
			</div>
		</div>
		<div class="filters_panel_large">
			<div class="header">
				<b><span class="glyphicon glyphicon-tags"></span> Tags</b>
			</div>
			<div ng-repeat="filter in more_filters[0]['book']">
				<filter data="filter"></filter>
			</div>
		</div>
	</div>
	<div class="filters" ng-show="active_author_filter">
		<div class="filters_panel">
			<div class="header">
				<b>Advance Input Filters</b>
			</div>
			<div>
				<type-ahead items="genres" 
			 				prompt="GENRE" 
			 				title="name" 
			 				model="genre" 
			 				on-select="on_genre_selection()"
			 				ng-keypress="show_genre_options('BOOK')">
			 	</type-ahead>
			</div>
			<div>
				<type-ahead items="countries" 
			 				prompt="COUNTRY"
			 				title="name"
			 				model="country"
			 				on-select="on_country_selection()"
			 				ng-keypress="show_country_options('BOOK')">
			 	</type-ahead>
			</div>
		</div>
		<div class="filters_panel_large">
			<div class="header">
				<b>Tags</b>
			</div>
			<div ng-repeat="filter in more_filters[0]['author']">
				<filter data="filter"></filter>
			</div>
		</div>
	</div>
	<div class="filters" ng-show="active_reader_filter">
		<div class="filters_panel">
			<div class="header">
				<b>Advance Input Filters</b>
			</div>
			<div>
				<type-ahead items="genres" 
			 				prompt="GENRE" 
			 				title="name" 
			 				model="genre" 
			 				on-select="on_genre_selection()"
			 				ng-keypress="show_genre_options('BOOK')">
			 	</type-ahead>
			</div>
			<div>
				<type-ahead items="countries" 
			 				prompt="COUNTRY"
			 				title="name"
			 				model="country"
			 				on-select="on_country_selection()"
			 				ng-keypress="show_country_options('BOOK')">
			 	</type-ahead>
			</div>
		</div>
		<div class="filters_panel_large">
			<div class="header">
				<b>Tags</b>
			</div>
			<div ng-repeat="filter in more_filters[0]['reader']">
				<filter data="filter"></filter>
			</div>
		</div>
	</div>
</div>