<div class="relative_position">
	<div class="arrow_left ng-scope" ng-style="ticker_position" ng-if="ticker_popup"></div>
	<div ng-if="!seen"
		 ng-click="toggle_ticker_popup($event, notification)"
		 ng-class="{'notification': notification.book.id != null || notification.title, 'selected_notification': ($routeParams.trend_id == notification.id) && notification.id}"
	     class="notification_stable animate-fast">
	     <!-- <div class="trending_background site_color" ng-show="notification.title">
			<span class="icon-bars"></span><span>Trending: </span>
			<b><span>{{notification.keywords}}</span></b>
		</div> -->
		<div class="float_left">
			<img ng-src="{{notification.thumb | thumb_backup}}">
		</div>
		<div class="block">
			<div class="notification_message">
				<b><div ng-bind-html="notification.user.name"></div></b>
				<div ng-show="notification.title">
					<b><div ng-bind-html="notification.title"></div></b>
					<span>Checkout books related to {{notification.keywords}}</span>
				</div>
				
				<div ng-bind-html="notification.tag"></div>
			</div>
			<div class="notification_message" 
				 ng-hide="notification.title"
			     ng-bind-html="notification.message"></div>
		</div>
	</div>
</div>