<div push-notification="notification_active" 
	class="push_notification" 
	ng-if="notification_active">
	<div class="header">
		HEADER
	</div>
	<div class="content">
		CONTENT
	</div>
</div>
<div ng-show="active_book_filter" ng-model="recommendations.books">
	<div class="wild_cards">
		<div class="login_buttons fb" 
			 ng-show="!logged"
		     ng-disabled="!facebookReady"
		     ng-click="intent_login()">
		</div>
		<div class="google">
			<google-plus-signin clientid="88213598927-9fij1u8tf2ldf4apf6qob4hgu0supj54.apps.googleusercontent.com"
			ng-show="!logged"></google-plus-signin>
		</div>
	</div>
	<div ng-repeat="recommendation in recommendations.books" class="recommendation_block">
		<book track ng-if="true" id="{{recommendation.category.name | lowercase}}-{{recommendation.id}}" data="recommendation"></book>
	</div>
</div>
<div ng-show="active_reader_filter">
	<img src="assets/author.png" style="position:absolute; top:30%; left:45%" />
</div>
<div ng-show="active_author_filter">
	<img src="assets/author.png" style="position:absolute; top:30%; left:45%" />
</div>