<div id="recommendationFooter"
	 ng-class="{'compact_footer': compact_footer}">
	<!-- <div class="website-title">
		<span class="icon glyphicon-home"></span> Reader's Door
	</div> -->
	
	<div class="scroller">
		<span class="scroller-left icon-angle-left"
		      ng-mouseover="move_left($event)"
		      ng-click="move_left($event)"
		      title="Scroll left">
		</span>
		<span class="scroller-right icon-angle-right"
			  ng-mouseover="move_right($event)"
			  ng-click="move_right($event)"
			  title="Scroll right">
		</span>
	</div>
 	<!-- </type-ahead> -->
	<div class="profile_thumb" ng-click="goto_info_card()">
		<img ng-src="{{user.thumb}}" class="profile_small_thumb" ng-if="user.thumb">
		<img src="assets/profile_pic.jpeg" ng-if="!user.thumb">
	</div>
 	


 	<div class="shelf_nav_links"
 		 ng-class="{'compact_shelf_nav_links': compact_footer}">

		<div ng-class="{'inactive':read_selected || bookmark_selected, 'active':!read_selected && !bookmark_selected, 'compact_link': compact_footer}"
			 class="link"
			 title="Recommendations"
			 style="margin-left:0px;" 
			 ng-click="toggle_recommendations()">
			<span class="icon-dice"></span>
			<span ng-if="!compact_footer">
				<span ng-if="$routeParams.type == 'books'">
					{{recommendations.books.count}} </span>
				<span ng-if="$routeParams.type == 'authors'">
					{{recommendations.authors.count}} </span>
				<span ng-if="$routeParams.type == 'readers'">
					{{recommendations.readers.count}} </span>	
				<span>Recommendations</span>
			</span>
		</div>
		<div ng-class="{'inactive':!read_selected, 'active':read_selected, 'compact_link': compact_footer}"
			 class="link"
			 title="Books marked as read" 
			 ng-click="toggle_read()">
		 	<span ng-if="$routeParams.type == 'books'">
		 		<span class="icon-books"></span>
		 		<span ng-if="!compact_footer">Books Read</span>
		 	</span>
			<span ng-if="$routeParams.type == 'authors'">
				<span class="icon-users"></span>
				<span ng-if="!compact_footer">Following Authors</span>
			</span>
			<span ng-if="$routeParams.type == 'readers'">
				<span class="icon-users"></span>
				<span ng-if="!compact_footer">Following Readers</span>
			</span>
		</div>
		<div ng-class="{'inactive':!bookmark_selected, 'active':bookmark_selected, 'compact_link': compact_footer}"
			 class="link"
			 ng-if="$routeParams.type == 'books' || $routeParams.type == 'authors'"
			 title="Books bookmarked"
			 ng-click="toggle_bookmarked($event)">
			 <span ng-if="$routeParams.type == 'books'">
			 	<span class="icon-bookmarks"></span>
			 	<span ng-if="!compact_footer">Books Bookmarked</span>
		 	 </span>
			 <span ng-if="$routeParams.type == 'authors'">
			 	<span class="icon-bookmarks"></span>
				<span ng-if="!compact_footer">Authors Bookmarked</span>
			 </span>

		</div>
	</div>

 	<div class="filter_link"
 		 ng-if="!bookmark_selected && !read_selected"
 		 ng-class="{'compact_filter_link': compact_footer}" 
		 ng-click="toggle_more_filters($event)">
		 <span class="icon-filter2" ng-class="{'filter_link_icon': !show_more_filters}"></span>
		 <span ng-if="!compact_footer">
		 	<span>&nbsp;Add filters</span>
		 	<span ng-if="$routeParams.type == 'books'">for Books</span>
		 	<span ng-if="$routeParams.type == 'authors'">for Authors</span>
		 	<span ng-if="$routeParams.type == 'readers'">for Readers</span>
		 </span>
		 <span class=" icon-angle-down" ng-if="!show_more_filters"></span>
		 <span class=" icon-angle-up" ng-if="show_more_filters"></span>
	</div>
	
</div>