<div id="recommendationFooter"
	 ng-class="{'compact_footer': compact_footer}">
	<!-- <div class="website-title">
		<span class="icon glyphicon-home"></span> Reader's Door
	</div> -->
	
 	<div class="shelf_nav_links">
 		<div ng-if="main_header">
 			<div class="link active"
				 style="margin-left:0px;">
				<span class="icon-dice"></span>
				<span ng-bind-html="main_header | heading">
				</span>
			</div>
 		</div>
 		<div ng-if="!main_header">
			<div ng-class="{'inactive':read_selected || bookmark_selected, 'active':!read_selected && !bookmark_selected}"
				 class="link"
				 title="Recommendations"
				 style="margin-left:0px;" 
				 ng-click="toggle_recommendations()">
				<span class="icon-dice"></span>
				<span>
					<span ng-if="$routeParams.type == 'books'">
						{{recommendations.books.count}} </span>
					<span ng-if="$routeParams.type == 'authors'">
						{{recommendations.authors.count}} </span>
					<span ng-if="$routeParams.type == 'readers'">
						{{recommendations.readers.count}} </span>	
					<span><b>R</b>ecommendations</span>
				</span>
			</div>
			<div ng-class="{'inactive':!read_selected, 'active':read_selected}"
				 class="link"
				 title="Books marked as read" 
				 ng-click="toggle_read()">
			 	<span ng-if="$routeParams.type == 'books'">
			 		<span class="icon-books"></span>
			 		<span><b>B</b>ooks <b>R</b>ead</span>
			 	</span>
				<span ng-if="$routeParams.type == 'authors'">
					<span class="icon-users"></span>
					<span><b>F</b>ollowing <b>A</b>uthors</span>
				</span>
				<span ng-if="$routeParams.type == 'readers'">
					<span class="icon-users"></span>
					<span><b>F</b>ollowing <b>R</b>eaders</span>
				</span>
			</div>
			<div ng-class="{'inactive':!bookmark_selected, 'active':bookmark_selected}"
				 class="link"
				 ng-if="$routeParams.type == 'books' || $routeParams.type == 'authors'"
				 title="Books bookmarked"
				 ng-click="toggle_bookmarked($event)">
				 <span ng-if="$routeParams.type == 'books'">
				 	<span class="icon-bookmarks"></span>
				 	<span><b>B</b>ooks <b>B</b>ookmarked</span>
			 	 </span>
				 <span ng-if="$routeParams.type == 'authors'">
				 	<span class="icon-bookmarks"></span>
					<span><b>A</b>uthors <b>B</b>ookmarked</span>
				 </span>

			</div>
 			
 		</div>
	</div>
	<!-- <notification-link></notification-link> -->
 	<!-- <div class="filter_link"
 		 ng-if="!bookmark_selected && !read_selected"
 		 ng-class="{'compact_filter_link': compact_footer}">
		 
		<span class="icon-pen" 
			title="author filter"
			ng-click="reset_filter($event, filters.other_filters.author, 'author', 'BOOK')"
			ng-class="{'selected_filter':filters.other_filters.author}"></span>
		<span class="icon-shapes" 
			title="genre filter"
			ng-click="reset_filter($event, filters.other_filters.genre, 'genre', 'BOOK')"
			ng-class="{'selected_filter':filters.other_filters.genre}"></span>
		<span class="icon-calendar" 
			title="time group filter"
			ng-click="reset_filter($event, filters.other_filters.timeGroup, 'timeGroup', 'BOOK')"
			ng-class="{'selected_filter':filters.other_filters.timeGroup}"></span>
		<span class="icon-clock" 
			title="reading time filter"
			ng-click="reset_filter($event, filters.other_filters.readingTime, 'readingTime', 'BOOK')"
			ng-class="{'selected_filter':filters.other_filters.readingTime}"></span>
		<span class="icon-earth" 
			title="region filter"
			ng-click="reset_filter($event, filters.other_filters.country, 'country', 'BOOK')"
			ng-class="{'selected_filter':filters.other_filters.country}"></span>
		
	</div>
	<div class="filter_link"
 		 ng-if="bookmark_selected">
		 <span>Bookmarks</span><span class="icon-bookmark3"></span>
	</div> -->

	<div class="filter_status">
		<span class="selected_filters">
		</span>
		<!-- <span class="result_count selected_filter" 
			  ng-model="recommendations.books.length"
			  ng-if="filters.filter_type == 'BOOK'">
			<span ng-if="bookmark_selected">
				{{user.books.bookmarked.length}} books bookmarked</span>
			<span ng-if="read_selected">
			    {{user.books.read.length}} books read</span>
			<span ng-if="!bookmark_selected && !read_selected">
			    {{recommendations.books.length}} books
			</span>
		</span>
		<span class="result_count" 
		      ng-model="recommendations.readers.length"
		      ng-if="filters.filter_type == 'READER'">
			<span ng-if="bookmark_selected">
				{{user.readers.bookmarked.length}} readers bookmarked</span>
			<span ng-if="read_selected">
			    {{user.readers.read.length}} readers followed</span>
			<span ng-if="!bookmark_selected && !read_selected">
			    {{recommendations.readers.length}} readers
			</span>
		</span>
		<span class="result_count" 
			  ng-model="recommendations.authors.length"
			  ng-if="filters.filter_type == 'AUTHOR'">
			<span ng-if="bookmark_selected">
				{{user.authors.bookmarked.length}} authors bookmarked</span>
			<span ng-if="read_selected">
			    {{user.authors.read.length}} authors followed</span>
			<span ng-if="!bookmark_selected && !read_selected">
			    {{recommendations.authors.length}} authors
			</span>
		</span> -->
	</div>
	
</div>