<div class="search_page">
  	<div class="logo">
      <span>r</span>
      <span>e</span>
      <span>a</span>
      <span>d</span>
      <span>e</span>
      <span>r</span>
      <span>'</span>
      <span>s</span>
      <span>&nbsp;</span>
      <span>d</span>
      <span>o</span>
      <span>o</span>
      <span>r</span></div>
      <!-- <div class="logo">reader's door</div> -->
  	<div class="tagline">
  		<span class="icon-quote-left"></span>
  		<span>Live and build your years with books.</span>
  		<span class="icon-quote-right"></span></div>
  	<div class="login_button" 
  		 ng-click="toggle_login_panel()"
  	     ng-show="!logged">
  	     <span ng-if="!show_login_form">
  	     	LOG IN
  	     	<span class="icon-plus"></span>
  	     </span>
  	     <span ng-if="show_login_form">
  	     	SEARCH
  	     	<span class="icon-close"></span>
  	     </span>
  	</div>
  	<select ng-options="type for type in ['R.D.', 'Books', 'Authors', 'Readers']" 
          ng-model="search_type"
          ng-hide="show_login_form">
  	</select>
  	<input set-focus="searching" 
  	       ng-keypress="get_search_results($event)" 
  	       ng-keydown="search.selected_result=false"
  	       ng-keyup="key_up()"
  	       ng-model="search.input"
  	       ng-hide="show_login_form"
           placeholder="write test"/>
  	<div class="website_search_options" 
	   	 ng-hide="!search.input.length || search.selected_result || show_login_form">
  		<div ng-repeat="item in search_results | filter:search.input  track by $index" 
  		 ng-click="handle_selection(item.name)" 
  		 ng-class="{active:is_current($index)}" 
  		 ng-mouseenter="set_current($index)"
  		 class="option"
       ng-hide="show_login_form">
    		<div class="title">{{item.name}}</div>
 	 	</div>
	</div>
	<div class="internal_links" ng-if="logged">
		<span ng-click="hide_search_page('BOOK')">
			<div class="count">1,000,000,000+</div>
			<div class="heading">BOOKS</div>
		</span>
		<span ng-click="hide_search_page(AUTHOR)">
			<div class="count">4,000,000+</div>
			<div class="heading">AUTHORS</div>
		</span>
		<span ng-click="hide_search_page(READER)">
			<div class="count">1,000,000+</div>
			<div class="heading">READERS</div>
		</span>
	</div>
  <div class="secondary_login" 
       ng-click="toggle_login_panel()"
       ng-if="!logged && !show_login_form">
    Get book recommendations, meet authors and other readers.
  </div>
</div>
<div ng-if="!logged && show_login_form">
	<!-- <div class="login_buttons fb" 
		 ng-show="!logged"
	     ng-disabled="!facebookReady"
	     ng-click="intent_login()">
	</div>
	<div class="google">
		<google-plus-signin clientid="88213598927-9fij1u8tf2ldf4apf6qob4hgu0supj54.apps.googleusercontent.com"
		ng-show="!logged"></google-plus-signin>
	</div> -->
	<form class="login_form" ng-model="user">
      	<input class="email" 
      	       type="email" 
      	       ng-model="user.email" 
      	       placeholder="Email"
      	       spellcheck="false" 
      	       required /><br />
      	<input class="password" 
      	       type="password" 
      	       ng-model="user.password" 
      	       placeholder="Password" 
      	       spellcheck="false"
      	       required /><br />
      	
      	<div class="authenticate" ng-click="authenticate(user)" type="button">
      		LOG IN or SIGN UP
      	</div>
    </form>
</div>