<div class="wrapper" ng-if="$routeParams.type && !hide_options"></div>

<div class="search_typeahead_group animate-fast" ng-class="{'shift_top': active_nest}">
  <div class="base_search">
    <div class="base_search_option"
         ng-class="{'site_color active_border':is_active(item)}"
         ng-click="handle_base_selection(item)"
         ng-repeat="item in base_search_options">
      <span class="{{item.icon}}">&nbsp;</span><span ng-bind-html="item.name"></span>
    </div>
    <div class="search_icon">
      <span class="icon-search"></span>
    </div>
    
  </div>
  <input set-focus="website.searching" 
         ng-keypress="get_search_results($event)"
         ng-keydown="key_down($event)"
         ng-model="search_tag.input"
         id="searchInput"
         ng-hide="hide_input_field"
         ng-click="handle_options()"
         class="search_input" 
         placeholder="{{search_tag.placeholder}}"/>

  <div class="website_search_helpers animate-fast" ng-if="!hide_options">
        <div ng-show="search_initiated" class="title">{{search_display}}</div>
        <div ng-show="!search_initiated && search_tag.input" 
             class="title">No results found.. </div>
  </div>

  <div class="website_search_helpers box_shadow animate-fast" ng-if="active_nest">
    <div class="compressed_option site_color">
      <span class="icon-book"></span>
    </div>
    <div class="compressed_option">
      <span class="icon-angle-right"></span>
    </div>
    <div class="compressed_option" 
         ng-click="handle_selection_option(item)"
         ng-repeat="item in base_book_options"
         ng-class="{'site_color active_border': is_active_nest(item)}">
      <span class="{{item.icon}}"></span>
    </div>
  </div>

  <div class="website_search_helpers box-shadow animate-fast" ng-show="show_input_field">
    <input placeholder="{{custom_input_placeholder}}" class="search_input" set-focus="website.searching_custom"/>
  </div>


  <div class="animate-fast website_search_options scrollbar" ng-if="search_results.length > 0;">
    <div ng-repeat="item in search_results | limitTo: search_tag.result_count+1 track by $index "
         ng-click="handle_selection_option(item)" 
         ng-class="{'light_gray_background':is_current($index, item), 'graph_option':item.graph_option}" 
         ng-mouseenter="set_current($index)"
         msd-wheel="stop_horizontal_scroll($event)"
         class="option">
        <div class="title">
          <span ng-show="item.icon" class="{{item.icon}}">&nbsp;</span>
          <span ng-bind-html="item.name"></span>
          <span class="{{item.icon2}} right_icon"></span>
          <span class="right_icon">{{item.label}}</span>
        </div>
        <div ng-show="item.author_name">by {{item.author_name}}</div>
    </div>

  </div>

  <div class="filters website_search_options scrollbar">
    <div ng-repeat="item in filters_added"
         msd-wheel="stop_horizontal_scroll($event)"
         class="option">
        <div class="title">
          <span ng-show="item.icon" class="{{item.icon}}">&nbsp;</span>
          <span ng-bind-html="item.name"></span>
          <span class="{{item.icon2}} right_icon"></span>
          <span class="right_icon">{{item.label}}</span>
        </div>
        <div ng-show="item.author_name">by {{item.author_name}}</div>
    </div>
  </div>

</div>