<div class="left_column animate-fast scrollbar"
     msd-wheel="stop_propagation($event)"
	 ng-class="{'filters_collapsed': user.collapsed_filters, 'filters_collapsed_shifted': !user.collapsed_column && user.collapsed_filters, 'filters_collapsed_shifted2': !user.collapsed_friends && user.collapsed_filters}">
	<div class="collapse_icon" ng-click="user.collapsed_filters = !user.collapsed_filters;" ng-if="!user.collapsed_filters">
		<span class="icon-angle-left"></span>
	</div>
	<div class="collapsed_filters table"
		 ng-hide="!user.collapsed_filters"
	 	 ng-click="user.collapsed_filters = false; user.collapsed_column = true; user.collapsed_friends = true;">
	 	 <span class="table_cell">
			<span class="icon-bookmark2 light_grey_color" ng-if="user.collapsed_filters" ></span>
			<span ng-show="user.collapsed_column && user.collapsed_filters && user.collapsed_friends">Shelves</span>
	 	 </span>
	</div>
	<div class="header" ng-if="!user.collapsed_filters">
		<span class="icon-tags light_grey_color"></span>
		<span>&nbsp;Explore Shelves</span>
	</div>
	<div class="filters_panel_large" ng-if="!user.collapsed_filters">
		<div class="filters_group">
			<div ng-repeat="filter in labels">
				<filter data="filter"></filter>
			</div>
		</div>
	</div>
</div>