<div class="left_column animate-fast scrollbar"
     msd-wheel="stop_propagation($event)"
	 ng-class="{'left_column_collapsed left_column_collapsed3': user.collapsed_trends, 
	            'left_column_shifted left_column_shifted1': !user.collapsed_filters,
	            'left_column_shifted left_column_shifted2': !user.collapsed_column,
	            'left_column_shifted left_column_shifted3': !user.collapsed_friends,
	            'left_column_shifted left_column_shifted4': !user.collapsed_lists}">
	<div class="collapse_icon"
	     ng-click="user.collapsed_trends = true; user.collapsed_left_column = true;" 
	     ng-if="!user.collapsed_trends">
		<span class="icon-angle-left"></span>
	</div>

	<div class="left_column_tab"
		 ng-hide="!user.collapsed_trends"
	 	 ng-click="user.collapsed_trends = false; 
	 	           user.collapsed_left_column = false;
	 	           user.collapsed_column = true; 
	 	           user.collapsed_filters = true;
	 	           user.collapsed_lists = true;
	 	           user.collapsed_friends = true;">
	 	 <span class="table_cell">
			<span class="icon-bars red_color header_font" ng-if="user.collapsed_trends" ></span>
			<span ng-show="user.collapsed_left_column">&nbsp;&nbsp;Trending</span>
	 	 </span>
	</div>
	<div class="header" ng-if="!user.collapsed_trends">
		<span class="icon-bars red_color header_font"></span>
		<span>&nbsp;Check out books related to Trending topics</span>
	</div>
	<div class="filters_panel_large" ng-if="!user.collapsed_trends">
		<div class="filters_group">
			<div ng-repeat="filter in trends">
				<filter data="filter" icon-class="icon-bars" url="trending/{{$routeParams.type}}/id/{{filter.id}}/name/{{filter.name}}"></filter>
			</div>
		</div>
	</div>
</div>