<!-- <tooltip prepend-text="Trending" 
		 ng-show="!user.collapsed_left_column"
		 position="right"></tooltip> -->
<div class="expand_notifications" ng-class="{'expand_notifications_shift': user.collapsed_trends}" ng-click="show_trending_options()">
	<span class="icon-expand2"></span>
</div>
<div class="left_column animate-fast scrollbar"
	 id="trendingList"
     msd-wheel="stop_propagation($event)"
	 ng-class="{'left_column_collapsed left_column_collapsed5': user.collapsed_trends, 
	            'left_column_shifted left_column_shifted1': !user.collapsed_lists,
	            'left_column_shifted left_column_shifted2': !user.collapsed_column,
	            'left_column_shifted left_column_shifted3': !user.collapsed_friends,
	            'left_column_shifted left_column_shifted4': !user.collapsed_filters}">
	<div class="collapse_icon red_button"
	     ng-click="user.collapsed_trends = true; user.collapsed_left_column = true; collapse_left_panel();" 
	     ng-if="!user.collapsed_trends">
		<span class="icon-angle-left"></span>
	</div>

	<div class="left_column_tab"
		 ng-hide="!user.collapsed_trends"
	 	 ng-click="user.collapsed_trends = false; 
	 	           user.collapsed_left_column = false;
	 	           user.collapsed_column = true; 
	 	           user.collapsed_filters = true;
	 	           user.collapsed_lists = true;
	 	           user.collapsed_friends = true;
	 	           expand_left_panel();">
	 	 <span class="table_cell">
			<span class="icon-bars red_color header_font" ng-if="user.collapsed_trends" ></span>
			<span ng-show="user.collapsed_left_column">&nbsp;&nbsp;Trending</span>
	 	 </span>
	</div>
	<div class="header" ng-if="!user.collapsed_trends">
		<span><b>Trending</b></span>
	</div>
	<div ng-include src="'/assets/angular/widgets/partials/trending_feed.html'"></div>

</div>