<div class="typeahead_group {{customOptions}}">
  <div class="typeahead_options" 
  	   ng-hide="selected">
    <div ng-repeat="item in filtered = (items | filter:model)  track by $index" 
    		 ng-click="handle_selection(item)" 
    		 ng-class="{active:is_current($index, item)}" 
    		 ng-mouseenter="set_current($index)"
    		 class="option"
         ng-bind-html="highlight(model, item[title])">
         <!-- {{item[title]}} -->
         
    </div>
  </div>
  <span class='{{iconClass}}'></span>
  <span>&nbsp;</span>
  <input type="text" 
       ng-model="model" 
       placeholder="{{prompt}}" 
       ng-keydown="selected=false" 
       ng-keypress="navigate_options()"
       ng-keyup="key_up()"
       ng-click="auto_populate()"
       ng-mouseenter="focus_on_input($event)"
       class="{{custom}}"
       set-focus="{{focusWhen}}"/>
  <div class="remove_filter" ng-if="selected && model" ng-click="remove_filter()">x</div>
</div>
