<%= stylesheet_link_tag 'recommendation'%>
<horizontal-scroller></horizontal-scroller>
<div ng-controller="recommendationsController">
	<div ng-view></div>
	<div id="recommendationFooter">
		<span class="nav-links">
			<span ng-click="toggle_readers()"><img class="reader-icon" src="assets/icon-sprites.png" /></span>
			<span ng-click="toggle_books()"><img class="book-icon" src="assets/icon-sprites.png"/></span>
			<span ng-click="toggle_authors()"><img class="author-icon" src="assets/icon-sprites.png"/></span>
		</span>
	</div>
</div>
