<%= stylesheet_link_tag 'recommendation'%>
<!-- <horizontal-scroller></horizontal-scroller> -->
<div ng-controller="recommendationsController">
	<more-filters ng-show="show_more_filters" 
	              class="more_filters">
	</more-filters>
	<div ng-view></div>
	<div id="recommendationFooter">
		<!-- <div class="website-title">
			<span class="icon glyphicon-home"></span> Reader's Door
		</div> -->
		
		<div class="shelf_nav_links">
			<div ng-class="{'inactive':!bookmark_selected, 'active':bookmark_selected}"
				 class="link"
				 title="Books bookmarked"
				 ng-click="toggleBookmarked()">
				<b><span class="icon-library" ng-class="{'glow_bookmark':glowBookmark}"></span></b>
			</div>
			<div ng-class="{'inactive':!read_selected, 'active':read_selected}"
				 class="link"
				 title="Books marked as read" 
				 ng-click="toggleRead()">
				 <b><span class="icon-books" ng-class="{'glow_shelf':glowShelf}"></span></b>
			</div>
		</div>
		<div class="scroller">
			reader's 
			d
			<span class="scroller-left icon-angle-left"
			      ng-click="move_left($event)"
			      ng-dblclick="scroll_one_page_left($event)"
			      title="Scroll left">
			</span>
			<span class="scroller-right icon-angle-right"
				  ng-click="move_right($event)"
				  ng-dblclick="scroll_one_page_right($event)"
				  title="Scroll right">
			</span>
			r
		</div>
		<!-- <type-ahead items="search_results" 
	 				prompt="Start typing now to search..." 
	 				title="name" 
	 				model="searchResults" 
	 				custom-options = "search_typeahead_options"
	 				on-select="show_search_result()"
	 				ng-keypress="get_search_results($event)"
	 				custom="filter_input"> -->
	 	</type-ahead>
		<div class="link filter_link" 
			 ng-click="toggle_more_filters()" 
			 ng-class="{'active':show_more_filters, 'inactive':!show_more_filters}">
			 <span class="icon-filter2"></span> FILTERS 
			 <span class=" icon-angle-down" ng-if="show_more_filters"></span>
			 <span class=" icon-angle-up" ng-if="!show_more_filters"></span>
		</div>
		<div class="notification_bell link"
		     title="Notifications">
			<span class="icon-bell"></span>
		</div>
		
	</div>
	<shelf ng-if="bookmark_selected || read_selected" ></shelf>
</div>
