<%= stylesheet_link_tag 'recommendation'%>
<span ng-app="recommendationApp">
	<span ng-controller="BooksController">
		<a href="#books">book</a>
		<a href="#authors">author</a>
		<a href="#readers">reader</a>
		<div ng-view></div>
	</span>
</span>
<div id="recommendationFooter">
	
</div>