<%= stylesheet_link_tag 'recommendation'%>
<div ng-app="recommendationApp">
	<div  ng-controller="BooksController">
		<div ng-view></div>
		<div id="recommendationFooter">
			<span class="nav-links">
				<a href="#readers"><img class="reader-icon" src="assets/icon-sprites.png" /></a>
				<a href="#books"><img class="book-icon" src="assets/icon-sprites.png"/></a>
				<a href="#authors"><img class="author-icon" src="assets/icon-sprites.png"/></a>
			</span>
		</div>
	</div>
</div>