<%= stylesheet_link_tag 'recommendation'%>
<horizontal-scroller></horizontal-scroller>
<div ng-controller="recommendationsController">
	<shelf ng-if="bookmark_selected || read_selected"></shelf>
	<more-filters ng-if="show_more_filters"></more-filters>
	<div ng-view></div>
	<div id="recommendationFooter">
		<div class="website-title">
			Reader's Door
		</div>
		<!-- <div class="search_link" ng-click="search()">
			Start typing now to search...
		</div> -->
		<input set-focus="searching" ng-keypress="getSearchResults($event)" class="filter_input" placeholder="Start typing now to search..."></input>
		<div class="link filter_link" 
			  ng-click="toggleMoreFilters()" 
			  ng-class="{'active':show_more_filters, 'inactive':!show_more_filters}">
			 FILTERS
		</div>
		<div class="test">{{recommendations.length}} results</div>
		<div class="shelf_nav_links">
			<div ng-class="{'inactive':!bookmark_selected, 'active':bookmark_selected}"
				 class="link"
				 ng-click="toggleBookmarked()">
				<b>BOOKMARKED</b>
			</div>
			<div ng-class="{'inactive':!read_selected, 'active':read_selected}"
				 class="link"
				 ng-click="toggleRead()"><b>READ</b>
			</div>
		</div>
	</div>
</div>
