<div ng-class="{'md-whiteframe-z1 active_extended': selected_book}" class="menu_details">
    <div ng-repeat="book in info.status_books | limitTo: 4" 
                layout="row" layout-align="space-between"
                ng-class="{'md-whiteframe-z1': !selected_book}"
                ng-click="show_interesting_details(book)"
                class="menu_details margin_top white animate-fast vertical_animate pointer">
        <div layout="row" >
        	<div>
        		<img ng-src="{{book.isbn | small_thumb}}" class="small_book_thumb">
        	</div>
            <div layout-wrap layout-padding>
                <div layout="row" ng-if="reading_status_selected && selected_book"
    		 		 layout-align="space-between">
    		 		<div class="custom_title light_title" ng-if="!active_emotion">
    		 			<span>{{reading_options[active_id].status}} </span>
    		 		</div>
    		 		<div class="custom_title light_title pointer" ng-if="active_emotion" ng-click="deselect_emotion()">
    		 			<span>Feeling {{active_emotion.name}} </span>
    		 			<span>{{reading_options[active_id].emotion_status}} </span>
    		 		</div>
                </div>
                <h2 ng-class="{'bold_light_title': selected_book}">{{book.title}}</h2>
                <div class="less_important">{{book.author_name}}</div>
                <div layout="row" ng-if="reading_status_selected && selected_book"
                     layout-align="space-between">
                    <div class="custom_title light_title pointer" ng-click="show_page_count()">
                        <span ng-if="info.current_page"> on page <b>{{info.current_page}}</b></span>
                        <span ng-if="info.page_count"><b>/{{info.page_count}}</b>.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clickable_icons"
            ng-click="deselect_book()" layout-padding
            ng-if="selected_book">
            <i class="material-icons">close</i>
        </div>
        <div class="custom_title"
            layout-padding
        	ng-if="!selected_book">
            <i class="material-icons">add</i>
        </div>
    </div>
</div>
<div class="menu_details white md-whiteframe-z1 active_extended" ng-if="selected_book">
    <div layout-padding layout="row" layout-align="space-between center">
        <div></div>
        <div ng-click="mute_volume()" class="pointer" layout-padding>
            <i class="material-icons" ng-if="!mute">volume_up</i>
            <i class="material-icons" ng-if="mute">volume_off</i>
        </div>
    </div>
    <div class="margin_top" ng-if="selected_book"
        ng-include src="'/assets/angular/html/share/textbox.html'"></div>
</div>