<md-button flex layout="column"
	class="clear light_grey_color custom_title roboto menu_details margin_top white"
	ng-click="toggle_recommend()">
	<i layout-padding>Recommend book to friends</i>
</md-button>
<div class="menu_details white">
	<div layout="row" ng-if="show_recommend">
	    <md-autocomplete md-search-text="search_friend"
	        md-items="item in users_list"
	        class="menu_search"
	        placeholder="Search friends...">
	    </md-autocomplete>
	    <md-button class="md-button-clear">
	        <span class="icon-search"></span>
	    </md-button>
	</div>
	<div flex layout="column" layout-padding 
		ng-if="show_recommend && users_list"
	    ng-include src="'/assets/angular/html/share/partials/_recommend_options.html'">
	</div>
</div>