<div ng-if="!user.compressed_info">
     <div ng-include src="'/assets/angular/views/getting_started/partials/navbar.html'"></div>
     <div class="wrapper" 
     	  msd-wheel="stop_propagation($event);"
     	  ng-click="close_edit_profile($event);"
          ng-show="!user.compressed_info">
	     <div ng-click="stop_propagation($event);"
	     		class="info_cards animate-fast"
	 	 		ng-switch on="user.profile_status" 
	 	 		ng-model="user.profile_status">
	 	 	<div class="icon-close-popup" ng-click="user.compressed_info = true;"></div>
			
			<div class="profile_status_logo"></div>
			<div ng-switch-when="0">
				<div ng-include src="'/assets/angular/views/getting_started/partials/basic_info.html'"></div>	
			</div>
			
			<div ng-switch-when="1">
				<div ng-include src="'/assets/angular/views/getting_started/partials/genres.html'"></div>
			</div>
			<div ng-switch-when="2">
				<div ng-include src="'/assets/angular/views/getting_started/partials/books.html'"></div>
			</div>
			
			<div ng-switch-when="3">
				<div ng-include src="'/assets/angular/views/getting_started/partials/barter.html'"></div>
			</div>
			
			<div ng-switch-when="4">
				<div ng-include src="'/assets/angular/views/getting_started/partials/app_data.html'"></div>
			</div>

			<div class="footer">
				<span class="prev icon-angle-left grey_button" ng-click="prev_profile_state()"></span>
				<span class="next icon-angle-right grey_button" ng-click="next_profile_state()"></span>
			</div>
	     </div>
     	
     </div>
</div>
<!-- <div class="user_guide">
	<div class="close button_effect">x</div>
</div> -->