<section>
	<div class="side_padding shelf" ng-repeat="shelf in articles_grouped_by_shelves">
		<div class="padding">{{shelf.shelf}}</div><br/>
		<md-content class="grid_content">
			<div class="article"
				layout-margin
				ng-if="article.title"
	            ng-repeat="article in shelf.articles">
            	<a ng-href="/community?q={{article.id}}">
	            	<img ng-src="{{article.image_url}}">
	            	<md-tooltip md-direction="bottom">
	                 	{{article.title}}
	               	</md-tooltip>
            	</a>
	        </div>
	    </md-content>
	</div>
</section>
<style>
	.grid_content{
		height: 200px !important;
	}
</style>