<md-progress-linear class="md-primary"
                    ng-show="shelf_loading"
                    md-mode="indeterminate">
</md-progress-linear>
<div layout="row" class="book_stack" hide-sm>
	<a ng-repeat="book in visited_books | limitTo: 3" ng-if="book.title" ng-href="/book?q={{book.book_id}}" target="_blank">
		<div ng-include src="'/assets/angular/html/shared/partials/book_thumb.html'"></div>
		<!-- <img class="recent_visited_book" ng-src="{{book | choose_medium_thumb}}"> -->
	</a>
</div>