<div layout="column" layout-padding>
    <div layout="row" layout-align="space-between">
        <div class="big_title bold capitalize" ng-bind-html="active_tag.name"></div>
        <div>
            <md-button ng-class="{'md-raised': !active_tag.status}" 
                class="md-warn md-button-clear" ng-click="toggle_follow()">
                <span ng-if="!active_tag.status">Join Room&nbsp;</span>
                <span ng-if="active_tag.status">Joined</span>
                <span ng-if="!active_tag.status" class="icon-user-add"></span>
            </md-button>
        </div>
    </div>
    <div layout-padding></div>
    <img ng-src="{{active_tag.image_url}}" class="max_full_width" />
    <div layout-padding></div>
    <div class="less_important" ng-if="active_tag.users && active_tag.users.length > 0">
        Readers in this room
    </div>
    <md-list layout="row" layout-wrap>
        <a ng-repeat="user in active_tag.users" ng-href="/profile?q={{user.id}}" ng-if="user.id" layout-margin
            layout="row" layout-align="center center">
            <img class="circular" ng-src="{{user.image_url}}"  alt="{{user.first_name}} {{user.last_name}}"/>
            <div layout-padding>
                <div>{{user.first_name}} {{user.last_name}}</div>
            </div>
        </a>
    </md-list>
    <div layout-padding></div>
    <div class="less_important">Books related to {{active_tag.name}}</div>
</div>
<div layout="row" layout-wrap>
    <section ng-repeat="book in active_tag.books" layout-margin>
        <md-button ng-click="show_book_dialog(book, $event)" class="clear rd_book_image_cover md-whiteframe-z3">
            <div class="book_thumb" ng-include src="'/assets/angular/html/shared/partials/book_thumb.html'">
            </div>
        </md-button>
    </section>    
</div>