<md-card layout="column" layout-align="start center">
	<!-- <md-input-container flex>
        <label>Share</label>
        <input ng-model="user.last_name" 
               focus-out="set_last_name()" value="Mad, bad, and dangerous to know."/>
    </md-input-container> -->
	<md-card-content>
		<md-content class="white">
			<section layout="row" layout-wrap >
				<div class="article"
					layout-margin
		            ng-repeat="article in visited_articles">
	            	<a ng-href="/community?q={{article.article_id}}">
		            	<img ng-src="{{article.image_url}}">
		            	<md-tooltip md-direction="bottom">
		                 	{{article.title}}
		               	</md-tooltip>
	            	</a>
		        </div>
			</section>
		</md-content>
	</md-card-content>
</md-card>


<style>
	md-card-content{
		width: 100%;
	}

	md-grid-tile{
		background-size: cover;
		background-repeat: no-repeat;
		border: 5px solid #f5f5f5;
	}
</style>