<md-list layout-wrap layout="column">
    <div flex ng-repeat="book in author.books | limitTo: limit_count" >
        <div layout-padding>
            <md-list-item  class="md-3-line">
                <img ng-src="{{author.id | author_thumb}}"
                    class="circular" onerror="this.src='/assets/author_profile.jpg'"/>
                <div>&nbsp;&nbsp;</div>
                <div layout="column" layout-padding class="md-list-item-text side_padding">
                    <div class="less_important">
                        {{::book.published_year}}
                    </div>
                    <div>Published <a ng-href="/book?id={{book.id || book.book_id}}" class="bold"
                         data-url="book" data-id="{{book.id || book.book_id}}" ng-click="render_page($event)">{{::book.title}}</a></div>
                </div>
            </md-list-item>
        </div>
        <md-divider></md-divider>
    </div>
    <div layout-padding flex>
        <a ng-click="show_more_books()" ng-hide="hide_show_more">
            Show More
        </a>
    </div>
    <div layout-padding></div>
</md-list>