<div layout="row" layout-wrap>
    <md-list layout="row" layout-wrap>
        <img class="circular" ng-src="{{user.image_url || '/assets/user_profile.jpg'}}"  
        	alt="{{::user.first_name}} {{::user.last_name}}" onerror="this.src='/assets/user_profile.jpg'"/>
        <a ng-repeat="user in author.users" ng-href="/profile?q={{::user.id}}" ng-if="user.id" layout-margin
        	data-id="{{::user.id}}" data-url="profile" ng-click="render_page($event)" class="less_important no_anchor" 
            layout="row" layout-align="center center">
            {{::user.first_name}}&nbsp;{{::user.last_name}}
        </a>
    </md-list>
</div>