<md-list class="">
    <section layout-padding>
        <div layout="column" layout-align="center center">
            <img ng-src="{{author.id | author_thumb}}" 
                 class="author_image" onerror="this.src='/assets/author_profile.jpg'"/>
            <div layout="column"  layout-align="center center"  layout-padding>
                <h2 class="bold" layout-padding ng-bind-html="::author.name"></h2>
                <div class="small_font">Author</div>
                <div layout="row" layout-align="space-between center">
                    <div layout="row" layout-align="center center" ng-if="::author.location">
                        <i class="material-icons" class="small_font">location_on</i>
                        <div ng-bind-html="::author.location" class="small_font bold"></div>
                    </div>
                </div>
            </div>
            <div layout="row" layout-align="end start" layout-padding class="top_div">
                <md-button aria-label="toggle_follow" class=" md-button-clear md-warn" 
                    ng-hide="!info.hide_signin"
                    ng-class="{'md-raised': !author.status}" 
                    ng-click="toggle_follow()">
                    <span ng-if="!author.status">Follow</span>
                    <span ng-if="author.status">Following</span>
                </md-button>
            </div>
            <div layout="row">
                <a title="facebook" ng-if="author.facebook_url"
                    class="md-whiteframe-z1 facebook" layout-padding layout-align="center center" layout-margin
                    layout="row"
                    target="_blank" ng-href="{{::author.facebook_url}}">
                    <div>
                        <span class="icon-facebook"></span>
                    </div>
                </a>
                <a title="twitter" ng-if="author.twitter_handle" 
                    class="md-whiteframe-z1 twitter" layout-padding layout-align="center center" layout-margin
                    layout="row"
                    target="_blank" ng-href="http://twitter.com/{{::author.twitter_handle}}">
                    <div>
                        <span class="icon-twitter"></span>
                    </div>
                </a>
                <a title="website" ng-if="author.website_url"
                    class="md-whiteframe-z1 google-plus" layout-padding layout-align="center center" layout-margin
                    layout="row"
                    target="_blank" ng-href="{{::author.website_url}}">
                    <div>
                        <i class="material-icons">link</i>
                    </div>
                </a>
             </div>
        </div>
    </section>
    

</md-list>
