<div class="book_cover"
    parallax-background parallax-ratio="0.9"
    layout-align="center center"
    layout="column"
    ng-style="{'background-color': author.books[0].color}">
    <div>
        <h1>{{author.name}}</h1>
        <div>{{author.year_born}}-{{author.year_died}}</div>
    </div>
    <div class="nav_icons" layout="row">
        <md-button ng-click="previous_block()"><span class="icon-angle-up"></span></md-button>
        <md-button ng-click="next_block()"><span class="icon-angle-down"></span></md-button>
    </div>
</div>
<div layout-padding class="book_description" parallax-background parallax-ratio="0.7" layout-align="center center" layout="row">
    <div layout="row" layout-align="center center">
        <div flex="25"></div>
        <div flex="50" layout="row" layout-align="center center">
            <div flex="25" layout-padding>
                <img ng-src="{{author.books[0].isbn | choose_medium_thumb}}" class="author_thumb">
                <md-button class="md-button-clear md-primary md-raised full_width" 
                            ng-click="show_buy_dialog($event)">Get this book</md-button>
            </div>
            <div layout="column" flex="75" layout-padding>
                <h2>{{author.books[0].title}} </h2>
                <div>
                    {{author.books[0].description}}
                </div>
            </div>
        </div>
        <div flex="25"></div>
    </div>
</div>
 <div class="book_cover" layout-align="center center" layout="column" 
    parallax-background parallax-ratio="0.9"
    ng-style="{'background-color': author.books[0].color}">
     <div class="nav_icons" layout="row">
        <md-button ng-click="previous_block()"><span class="icon-angle-up"></span></md-button>
        <md-button ng-click="next_block()"><span class="icon-angle-down"></span></md-button>
    </div>
</div>
<div class="relative" flex="100">
     <div layout="row" flex="100" layout-align="center center" class="author_image_container">
        <img ng-src="{{author.thumb_url}}" class="circular author_image">
         
     </div>
    <div class="md-primary clear author_header" layout-align="center center" layout="row" rd-sticky>
        <md-tabs layout-align="center center" layout="row">
            <md-tab layout-padding>Inferno</md-tab>
            <md-tab layout-padding>About</md-tab>
            <md-tab layout-padding>Timeline</md-tab>
            <md-tab layout-padding>News</md-tab>
            <md-tab layout-padding>Discussion</md-tab>
        </md-tabs>
    </div>
</div>
<div layout-padding class="book_description" parallax-background parallax-ratio="0.7">
    <div layout="row">
        <div flex="25"></div>
        <div flex="50" layout="column" layout-align="center center">
            <h2>Who is {{author.name}}?</h2>
            <div>{{author.overview}}</div>
        </div>
        <div flex="25"></div>
    </div>
</div>

<section ng-repeat="book in author.books">
    <div class="book_cover" layout-align="center center" layout="column" parallax-background parallax-ratio="0.9"
         ng-style="{'background-color': book.color}">
         <div layout="row">
            <div layout-padding layout-margin>
                <h1>
                    <div>{{book.published_year || 0}}</div>
                </h1>
                <h3>
                    <div>Published In</div>
                </h3>
            </div>
            <div layout-padding layout-margin>
                <h1>
                    <div>{{book.pages_count || 0}}</div>
                </h1>
                <h3>
                    <div>Pages Count</div>
                </h3>
            </div>
            <div layout-padding layout-margin>
                <h1>
                    <div>{{book.popularity || 0}}</div>
                </h1>
                <h3>
                    <div>Popularity</div>
                </h3>
            </div>
            <div layout-padding layout-margin>
                <h1>
                    <div>{{book.readers_count || 0}}</div>
                </h1>
                <h3>
                    <div>Readers Count</div>
                </h3>
            </div>
            <div layout-padding layout-margin>
                <h1>
                    <div>{{book.bookmark_count || 0}}</div>
                </h1>
                <h3>
                    <div>Bookmark Count</div>
                </h3>
            </div>
            <div layout-padding layout-margin>
                <h1>
                    <div>{{book.comment_count || 0}}</div>
                </h1>
                <h3>
                    <div>Comment Count</div>
                </h3>
            </div>
         </div>
         <div class="nav_icons" layout="row">
            <md-button ng-click="previous_block()"><span class="icon-angle-up"></span></md-button>
            <md-button ng-click="next_block()"><span class="icon-angle-down"></span></md-button>
         </div>
    </div>
    <div layout-padding class="book_description" parallax-background parallax-ratio="0.7">
        <div layout="row">
            <div flex="25"></div>
            <div flex="50" layout="row" layout-align="center center">
                <div flex="25" layout-padding>
                    <img ng-src="{{book.isbn | choose_medium_thumb}}" class="author_thumb" flex="25">
                    <md-button class="md-button-clear md-primary md-raised full_width" 
                                ng-click="show_buy_dialog($event)">Get this book</md-button>
                </div>
                <div layout="column" flex="75" layout-padding>
                    <h2>{{book.title}}</h2>
                    <div>{{book.description}}</div>
                    <div>
                        <a ng-href="{{book.wiki_url}}">more on wiki</a>
                    </div>
                </div>
            </div>
            <div flex="25"></div>
        </div>
    </div>
</section>