<md-tabs layout="row" layout-wrap
		 md-selected="selectedIndex">
	<md-tab class="padding" 
			aria-controls="tab1-content"
			id="tab1"
			ng-click="get_followers()"
			label="{{user.follower_count || 0}} FOLLOWERS">
	        <div layout="column"
	             ng-include src="'/assets/angular/html/network/show.html'">
	        </div>
	        
	</md-tab>
	<md-tab class="padding" 
			aria-controls="tab2-content"
			id="tab2"
			ng-click="get_users_followed()"
			label="{{user.following_count || 0}} FOLLOWING">
			<div layout="column"
	             ng-include src="'/assets/angular/html/network/show.html'">
	        </div>
	</md-tab>
</md-tabs>
<br/>
<br/>