<!-- <div ng-include src="'/assets/angular/html/profile/invite.html'"></div> -->
<md-item ng-repeat="user in users_list" class="white user_card" layout-margin>
    <md-item-content layout="row" flex class="clear">
        <div ng-repeat="book in user.books" class="network_book">
            <a ng-href="/book?q={{book.id}}">
            <div ng-include src="'/assets/angular/html/shared/partials/book_thumb.html'"></div>
            </a>
        </div>
    </md-item-content>
    <md-item-content layout="row" layout-align="center center" flex class="user_cover_image clear">
        <img ng-src="{{user.image_url | default_profile}}" class="circular user_photo" flex="60">
    </md-item-content>
    <md-item-content layout="row" layout-align="center center" class="clear">
        <a ng-href="/profile?p={{user.id}}">
            <div class="network_name">{{user.first_name}}</div>
        </a>
    </md-item-content>
    <md-item-content layout="row" layout-align="center center" class="clear">
        <md-button class="md-primary md-button-clear">
            <span ng-if="!user.status" >Follow</span>
            <span ng-if="user.status">Following</span>
        </md-button>
    </md-item-content>
</md-item>

<style>
    .favourite_books{
        width: 150px;
        height: 180px;
        padding: 5px;
    }

    .network_name{
        margin: 5px 0px !important;
        font-size: 1.2em;
        font-family: sans-serif;
    }

    .user_photo{
        width: 100px;
        height: 100px;
        max-width: 100px !important;
    }

    .book_image_cover, .book_backup_cover, .slider_wrapper{
        width: 80px;
        height: 110px;
    }

    .user_card{
        width: 240px;
        padding: 0px;
        height: 310px;
    }

    .user_cover_image{
        margin-top: -70px;
    }

    .user_card a:hover{
        text-decoration: underline;
    }

    .network_book h5{
        display: none;
    }

    #network md-tabs.md-default-theme md-tabs-wrapper{
        width: 100%;
    }

    #network md-tab-content{
        bottom: initial;
    }
</style>