<!-- <div ng-include src="'/assets/angular/html/profile/invite.html'"></div> -->
<md-item ng-repeat="user in users_list" class="white user_card md-whiteframe-z1" layout-margin>
    <md-item-content layout="row" layout-align="center center" flex class=" clear">
        <img ng-src="{{user.image_url}}" class="square" onerror="this.src='/assets/user_profile.jpg'">
    </md-item-content>
    <md-item-content layout="row" layout-align="center center" class="clear">
        <a ng-href="/profile?p={{::user.id}}">
            <div class="network_name">{{::user.first_name}}</div>
        </a>
    </md-item-content>
    <md-item-content layout="row" layout-align="center center" class="clear">
        <md-button aria-label="toggle_follow" class="md-warn md-button-clear" 
            ng-class="{'md-raised': !user.status}"
            ng-click="toggle_follow(user);">
            <span ng-if="!user.status" >Follow</span>
            <span ng-if="user.status">Following</span>
        </md-button>
    </md-item-content>
    <md-item-content layout="column" flex class="clear">
        <div class="less_important" layout="row" layout-align="center center">Recently Visited Books</div>
        <div ng-repeat="book in user.books" class="network_book" ng-if="book.id" layout-padding>
            <a ng-href="/book?q={{::book.id}}" class="less_important bold">
                <span ng-bind-html="book.title"></span>
                <span> by </span>
                <span ng-bind-html="book.author_name"></span>
            </a>
        </div>
    </md-item-content>
</md-item>
<div layout-padding ng-if="users_list && users_list.length > 9">
    <md-button class="md-button-clear md-warn" ng-click="load_users()">
        Show more
    </md-button>
</div>
<style>
    .favourite_books{
        width: 150px;
        height: 180px;
        padding: 5px;
    }

    .network_name{
        margin: 5px 0px !important;
        font-size: 1.2em;
        font-family: sans-serif;
    }

    .user_photo{
        width: 100px !important;
        height: 100px !important;
    }

    .rd_book_backup_cover, .rd_slider_wrapper, .rd_book_shadow{
        height: 110px;
    }

    .rd_book_backup_cover, .rd_slider_wrapper, .rd_book_shadow,
    .rd_book_image_cover{
        width: 80px;
    }

    .user_card{
        width: 240px;
        padding: 0px;
        max-height: 400px;
    }

    .user_cover_image{
        margin-top: -70px;
    }

    .user_card a:hover{
        text-decoration: underline;
    }

    .network_book h5{
        display: none;
    }

    #network md-tabs.md-default-theme md-tabs-wrapper{
        width: 100%;
    }

    #network md-tab-content{
        bottom: initial;
    }
</style>