<md-bottom-sheet class="options" layout="column">
    <div class="selected_option" layout-padding 
         layout-align="space-between" layout="row" hide-sm>
        <div ng-include src="'/assets/angular/html/share/_status.html'"></div>
        <md-autocomplete
            class="add_book"
            md-search-text="search_tag.book"
            md-items="item in searched_books | filter:search_tag.book"
            md-search-text-change="search_books(search_tag.book)"
            placeholder="Add a book...">
        </md-autocomplete>
    </div>
    <div layout="row" hide-sm>
        <div flex="20" layout="column" 
             flex-sm="100"
             class="column_height">
            <div class="padding">Select</div>
            <md-button ng-repeat="option in share_options.ReadingStage" 
                    ng-click="show_level1_options(option, $index, $event)"
                    layout-padding 
                    ng-class="{'active_option1': option == first_option}"
                    class="md-button-clear">
                {{option.name}}
            </md-button>
        </div>
        <div flex="20" layout="column" 
             flex-sm="100"
             ng-if="nested_options" class="column_height">
             <md-progress-circular class="md-accent md-hue-1" 
                    md-mode="indeterminate"
                    ng-if="loading">
            </md-progress-circular>
            <md-button ng-repeat="option in nested_options"
                    layout-padding
                    ng-hide="loading"
                    ng-click="show_level2_options(option, $index, $event)" 
                    ng-class="{'active_option2': option == second_option}"
                    class="md-button-clear">
                {{option.name}}
            </md-button>
        </div>
        <div flex="60" layout="column" 
            flex-sm="100"
            class="column_height">
            <md-content ng-if="level2_nested_options" class="white">
                <md-progress-circular class="md-accent md-hue-1" 
                    md-mode="indeterminate" 
                    ng-if="level2_loading">
                </md-progress-circular>
                <div layout="column" layout-align="start start">
                    <md-button ng-repeat="option in level2_nested_options"
                            layout-padding
                            ng-hide="level2_loading"
                            ng-click="post_status(option, $event)" 
                            ng-class="{'active_option1': option == second_option}"
                            class="md-button-clear">
                        <span class="icon {{option.icon}}"></span>
                        <span>{{option.name}}</span>
                    </md-button>
                </div>
                <md-divider></md-divider>
            </md-content>
            <md-content ng-if="searched_books && searched_books.length > 0" 
                        layout="row" layout-wrap layout-padding class="white">
                <div layout-padding ng-repeat="book in searched_books">
                    <md-button ng-click="add_book(book)" class="clear book_image_cover">
                        <div ng-include src="'/assets/angular/html/shared/partials/book_thumb.html'"></div>
                    </md-button>
                </div>
            </md-content>
        </div>
    </div>
</md-bottom-sheet>

<style>
    .selected_option{
        height: 100px;
        border-bottom: 1px solid #F0F0F0;
    }

    .options{
        height: 75vh;
    }

    .add_book{
        width: 200px;
    }

    .active_option1,
    .active_option2{
        font-weight: bold !important;
    }

    .active_option1{
        background-color: #f5f5f5;
    }


</style>