<md-bottom-sheet class="options" layout="column">
    <div class="selected_option" layout-padding layout-align="start center" layout="row" hide-sm>
        <h3>
            <span>{{first_option.name}}</span>
            <span>{{second_option.name}}</span>
        </h3>
    </div>
    <div layout="row" hide-sm>
        <div flex="20" layout="column" 
             flex-sm="100"
             class="column_height">
            <div class="padding">Select</div>
            <md-button ng-repeat="option in share_options.ReadingStage" 
                    ng-click="show_level1_options(option, $event)"
                    layout-padding 
                    ng-class="{'active_option1': option == first_option}"
                    class="md-button-clear">
                {{option.name}}
            </md-button>
        </div>
        <div flex="20" layout="column" 
             flex-sm="100"
             ng-if="nested_options" class="column_height">
             <md-progress-circular class="md-accent md-hue-1" 
                    md-mode="indeterminate" 
                    ng-if="loading">
            </md-progress-circular>
            <md-button ng-repeat="option in nested_options"
                    layout-padding
                    ng-hide="loading"
                    ng-click="show_level2_options(option, $event)" 
                    ng-class="{'active_option2': option == second_option}"
                    class="md-button-clear">
                {{option.name}}
            </md-button>
        </div>
        <div flex="60" layout="column" 
            flex-sm="100"
            class="column_height">
            <md-content ng-if="level2_nested_options" class="white">
                <md-progress-circular class="md-accent md-hue-1" 
                    md-mode="indeterminate" 
                    ng-if="loading2">
                </md-progress-circular>
                <div layout="column" layout-align="start start">
                    <md-button ng-repeat="option in level2_nested_options"
                            layout-padding
                            ng-hide="loading2"
                            ng-click="post_status(option, $event)" 
                            ng-class="{'active_option1': option == second_option}"
                            class="md-button-clear">
                        <span class="icon {{option.icon}}"></span>
                        <span>{{option.name}}</span>
                    </md-button>
                </div>
            </md-content>
            <md-content ng-if="add_books" layout="column" layout-padding class="white">
                <md-input-container>
                    <label>Search Books</label>
                    <input/>
                </md-input-container>
                <div layout="row" layout-padding>

                </div>
            </md-content>
        </div>
    </div>

    <div class="selected_option" layout-padding layout-align="start center" layout="row" hide show-sm>
        <md-button ng-click="previous()"
                ng-disabled="data.selectedIndex == 0"
                flex="100" layout="row" layout-align="start">
            <div><span class="icon-angle-left"></span></div>&nbsp;&nbsp;
            <div ng-switch on="data.selectedIndex">
                <div ng-switch-when="0"></div>
                <div ng-switch-when="1">
                    <span>{{first_option.name}}</span>
                </div>
                <div ng-switch-when="2">
                    <span>{{first_option.name}}</span>
                    <span>{{second_option.name}}</span>
                </div>
            </div>
        </md-button>
    </div>
    <div layout="row" hide show-sm>
        <ng-switch on="data.selectedIndex" class="tabpanel-container">
            <div role="tabpanel"
                 id="tab1-content"
                 aria-labelledby="tab1"
                 ng-switch-when="0"
                 md-swipe-left="show_level1_options()"
                 md-swipe-right="previous()">
                <div layout="column" flex="100"
                     class="column_height" layout-fill>
                    <div class="padding">Select</div>
                    <md-button ng-repeat="option in share_options.ReadingStage" 
                            ng-click="show_level1_options(option, $event)"
                            layout-padding 
                            ng-class="{'active_option1': option == first_option}"
                            class="md-button-clear">
                        {{option.name}}
                    </md-button>
                </div>
            </div>
            <div role="tabpanel"
                 id="tab2-content"
                 aria-labelledby="tab2"
                 ng-switch-when="1"
                 md-swipe-left="show_level2_options()"
                 md-swipe-right="previous()" >
                <div layout="column" flex="100"
                     ng-if="nested_options" class="column_height" layout-fill>
                     <md-progress-circular class="md-accent md-hue-1" 
                            md-mode="indeterminate" 
                            ng-if="loading">
                    </md-progress-circular>
                    <md-button ng-repeat="option in nested_options"
                            layout-padding
                            ng-hide="loading"
                            ng-click="show_level2_options(option, $event)" 
                            ng-class="{'active_option2': option == second_option}"
                            class="md-button-clear">
                        {{option.name}}
                    </md-button>
                </div>
            </div>
            <div role="tabpanel"
                 id="tab3-content"
                 aria-labelledby="tab3"
                 ng-switch-when="2"
                 md-swipe-right="previous()" >
                <div layout="column" flex="100"
                    class="column_height" layout-fill>
                    <md-content ng-if="level2_nested_options" class="white">
                        <md-progress-circular class="md-accent md-hue-1" 
                            md-mode="indeterminate" 
                            ng-if="loading2">
                        </md-progress-circular>
                        <div layout="column" layout-align="start start" layout-fill>
                            <md-button ng-repeat="option in level2_nested_options"
                                    layout-padding
                                    ng-hide="loading2"
                                    ng-click="post_status(option, $event)" 
                                    ng-class="{'active_option1': option == second_option}"
                                    class="md-button-clear">
                                <span class="icon {{option.icon}}"></span>
                                <span>{{option.name}}</span>
                            </md-button>
                        </div>
                    </md-content>
                    <md-content ng-if="add_books" layout="column" layout-padding class="white">
                        <md-input-container>
                            <label>Search Books</label>
                            <input/>
                        </md-input-container>
                        <div layout="row" layout-padding>

                        </div>
                    </md-content>
                </div>
            </div>
        </ng-switch>
    </div>
</md-bottom-sheet>

<style>
    .selected_option{
        height: 11%;
    }

    .options{
        height: 75vh;
    }

    .active_option1,
    .active_option2{
        font-weight: bold !important;
    }

    .active_option1{
        background-color: #f5f5f5;
    }


</style>