<span ng-show="info.reading_status_value == 0 && info.book_exchange_status == 0">
	Looking to buy
	<span ng-if="info.book">{{info.book.title}}</span>
	<span ng-if="!info.book"> a book</span>.
</span>

<span ng-show="info.reading_status_value == 0 && info.book_exchange_status == 1">
	Looking to borrow
	<span ng-if="info.book">{{info.book.title}}</span>
	<span ng-if="!info.book"> a book</span>.
</span>

<span ng-show="info.reading_status_value == 0 && info.book_exchange_status == 2">
	Looking to lend
	<span ng-if="info.book">{{info.book.title}}</span>
	<span ng-if="!info.book"> a book</span>.
</span>

<span ng-show="info.reading_status_value == 1">
	<span ng-show="((info.book_exchange_status != 0) && (info.book_exchange_status != 1)) 
				&& (!info.feelings || info.feelings.length == 0)">
		Currently Reading
		<span ng-if="info.book">{{info.book.title}}</span>
		<span ng-if="!info.book"> a book</span>.
	</span>
	<span ng-show="info.feelings && info.feelings.length > 0">
		Feeling {{info.feelings[0]}} while reading
		<span ng-if="info.book">{{info.book.title}}</span>
		<span ng-if="!info.book"> a book</span>.
	</span>
	<span ng-show="info.book_exchange_status == 0">Reading
		<span ng-if="info.book">{{info.book.title}}</span>
		<span ng-if="!info.book"> a book</span> on 
	</span>
</span>

<span ng-show="info.reading_status_value == 2">
	<span ng-show="info.feelings && info.feelings.length > 0">
		Feeling {{info.feelings[0]}} after reading
		<span ng-if="info.book">{{info.book.title}}</span>
		<span ng-if="!info.book"> a book</span>.
	</span>
	<span ng-show="!info.feelings || info.feelings.length == 0">
		Finished reading
		<span ng-if="info.book">{{info.book.title}}</span>
		<span ng-if="!info.book"> a book</span>.
	</span>
</span>

<span ng-if="(info.reading_status_value != 0) && (info.reading_status_value != 1) && (info.reading_status_value != 2) && info.book">
	{{info.book.title}}
</span>