<div ng-controller="shareController" ng-if="info.show_share || info.show_book_share">
	<div class="compact_status" ng-include src="'/assets/angular/html/share/_status.html'"></div>
	<div class="share animate-fast" 
		 layout="row" 
		 layout-align="start start" layout-padding>
		<div flex="10">
			<div ng-click="back($event)" layout="row" layout-align="center center" class="custom_button">
				<h1 layout-padding>
					<span class="icon-angle-left"></span>
				</h1>
			</div>
		</div>
		<div flex="80" layout="column">
			<div ng-if="info.show_book_share" layout="row" layout-align="end">
				<md-autocomplete
					layout-margin 
		            class="share_book"
		            md-search-text="search_tag.book"
		            md-items="item in searched_books | filter:search_tag.book"
		            md-search-text-change="search_books(search_tag.book)"
		            placeholder="Add a book...">
		        </md-autocomplete>
		        <md-content ng-if="searched_books && searched_books.length > 0" 
                        layout-wrap layout="row" layout-padding class="white searched_books">
	                <div layout-padding ng-repeat="book in searched_books" >
	                    <md-button ng-click="add_book(book)" class="clear book_image_cover">
	                        <div ng-include src="'/assets/angular/html/shared/partials/book_thumb.html'"></div>
	                    </md-button>
	                </div>
	            </md-content>
			</div>
			<div layout="row" flex ng-if="info.show_share">
				<img class="circular user_image" ng-src="{{user.image_url | default_profile}}"/>
				<div layout="column" class="input_container">
					<md-input-container layout-margin 
						style="font-family: 'Inconsolata', 'Courier New', serif;" 
						class="textarea_container">
						<div ng-model="info.wrapper_status" class="textarea_wrapper" ng-bind-html="info.wrapper_status">
						</div>
				        <textarea name="text_area"
				        		  ng-keypress="play_type_key($event)" 
				        		  set-focus="info.show_share" 
				        		  ng-keydown="handle_text_input($event)"
				        		  placeholder="Share your reading journey..." 
				        		  ng-model="info.status">
				        </textarea>
				    </md-input-container>
			    	
					<div class="select_mood custom_button" 
							ng-click="show_share_options($event)">
						<span class='icon-happy'></span>
						<md-tooltip md-direction="right">
                           Share your moments
                        </md-tooltip>
					</div>
				</div>
			</div>
		</div>
	    <div flex="10"></div>
	</div>
</div>

<style>
	.share_book{
		width: 300px;
	}

	.input_container{
		top: 67vh !important;
		position: fixed;
		width: 75% !important;
	}

	.user_image{
		position: fixed;
		top: 70vh;
		width: 72px;
		height: 72px;
		z-index: 1;
		/*margin-right: -20px;*/
	}

	.share{
		position: fixed;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
		background-color: white;
		z-index: 3;
	}

	.select_mood{
		font-size: 29px;
		color: rgba(197, 197, 197, 1);
		width: 70px;
		height: 70px;
		padding: 0px;
		margin-top: -25px;
		margin-left: 80px;
		z-index: 2;
		position: relative;
	}

	.custom_button:hover{
		cursor: pointer;
		font-weight: bold;
		color: black;
	}

	textarea{
		color: transparent !important;
	}

	textarea,
	.textarea_wrapper{
		font-size: 40px;
		font-family: 'Inconsolata', 'Courier New', serif;
		line-height: 45px !important;
		height: 55px !important;
		padding-left: 75px !important;
	    /*overflow: hidden;
	    padding: 0;
	    outline: none;
	    resize: none;*/
	}

	.textarea_wrapper{
		position: absolute;
		cursor: url('http://www.i2symbol.com/images/symbols/geometry/white_small_square_u25AB_icon_256x256.png');
	}

	.textarea_wrapper a{
		background-color: #FFFF00;
		font-weight: 600;
	}

	.textarea_container{
	    /*height: 60vh;
	    vertical-align: bottom;
	    display: table-cell;*/
	}

	.compact_status{
		position: fixed;
		top: 10px;
		margin-left: 100px;
		z-index: 4;
	}

	.searched_books{
		position: fixed;
		height: 300px !important;
		left: 50px;
		top: 100px;
	}

</style>
