<!-- <div class="sub_header"><b>Your past history of books..</b></div> -->
<div class="sub_header"><b>Under Construction Area</b></div>
<div class="header">
	This will give you a head start at Reader's Door...
</div>
<div class="header scrollbar book_predict" msd-wheel="stop_horizontal_scroll($event)">
	<div class="header_font">{{fb_status}}</div><br/>
	<book-predict data="book" ng-repeat="book in app_books"></book-predict>	
	<hr/>

	<div class="header_font" ng-show="app_books_read && app_books_read.length > 0">Books read</div>
	<book-predict data="book" ng-repeat="book in app_books_read"></book-predict>
	<hr/>

	<div class="header_font" ng-show="app_books_rated && app_books_rated.length > 0">Books rated</div>
	<book-predict data="book" ng-repeat="book in app_books_rated"></book-predict>
	<hr/>

	<div class="header_font" ng-show="app_books_wants_to_read && app_books_wants_to_read.length > 0">Wants to read</div>
	<book-predict data="book" ng-repeat="book in app_books_wants_to_read"></book-
	predict>
</div>