<!-- <div class="sub_header"><b>Your past history of books..</b></div> -->
<div class="sub_header"><b>Under Construction Area</b></div>
<div class="header">
	This will give you a head start at Reader's Door...
</div>
<div class="header center scrollbar" msd-wheel="stop_horizontal_scroll($event)">
	<div>{{fb_status}}</div>
	<div ng-repeat="book in fb_books">
		<div>
			{{book.title}} {{book.created_time}}
		</div>
		<div ng-repeat="expected_book in book.books">
			<div class="inline_block">
				<img ng-src="{{expected_book.isbn | small_thumb}}"/>
			</div>
			<div class="inline_block">
				<div>
					<span>{{expected_book.name}} by </span>
					<span>{{expected_book.author_name}}</span>
				</div>
				<div>
					Shelves
				</div>
				<div>
					
				</div>
			</div>
		</div>

	</div>
</div>