<!-- <div ng-switch-when="3">
	<div class="sub_header"><b>Add authors you like <span class="red_color">(Coming Soon)</span>...</b></div>
	<div class="header">Follow authors and their lives...</div>
	<input ng-keydown="search_info_card($event, 'AUTHOR')" ng-model="info.search_author" placeholder="Search authors..."/>
	<div class="scrollbar header" 
		msd-wheel="stop_horizontal_scroll($event)" check-scroll-bottom="get_popular_authors()">
			<div class="book_column"
				 ng-repeat="author in popular_authors">
				
				<div class="book_details">
					<div>
						<span>{{author.name}}</span>
					</div>
				</div>
			</div>
			<div class="book_column">
				<img src="assets/loader2.gif" width="20px" ng-show="loading" class="loading_icon"/>
			</div>
	</div>
</div> -->