<div class="sub_header">
	<b>Tell us about yourself, <span class="site_color capitalise">{{user.name}}</span></b>
</div>
<div>
	<input class="input_30" 
	       ng-model="user.name" 
	       placeholder="Enter your name" 
	       spellcheck="false"
	       focus-out="set_user_name()"/>
	<input class="input_50" 
	    	type="email" 
	       ng-model="user.email"
	       placeholder="Enter your email id"
	       spellcheck="false"
	       focus-out="set_email()"/>
</div>
<div class="header">
	<label for="birthday">Born on</label>&nbsp;&nbsp;
 	<calendar save-date="set_date_of_birth()"></calendar>
</div>
	
<div class="header">
	<form name="gender_form">
		<label for="gender">Gender</label>&nbsp;&nbsp;
		<input type="radio" ng-model="user.gender" value="Male" id="male"
				ng-change="set_gender()"
				class="custom_radio icon-checkbox-unchecked">&nbsp;
		<label for="male">Male&nbsp;&nbsp;&nbsp;</label>

		<input type="radio" ng-model="user.gender" value="Female" id="female"
				ng-change="set_gender()"
				class="custom_radio icon-checkbox-unchecked">&nbsp;
		<label for="female">Female&nbsp;&nbsp;&nbsp;</label>

		<input type="radio" ng-model="user.gender" value="Other" id="other" 
				ng-change="set_gender()"
				class="custom_radio icon-checkbox-unchecked">&nbsp;
		<label for="other">Other&nbsp;&nbsp;&nbsp;</label>
	</form>
</div>
	
<div class="header">
	<form name="book_count_form">
		<label>I have read</label>&nbsp;&nbsp;
		<label ng-repeat="book_count in book_counts">
			<input type="radio" 
				   ng-model="user.init_book_read_count" 
				   ng-change="set_init_book_read_count()"
				   ng-value="book_count.name"
				   class="custom_radio icon-checkbox-unchecked">
			&nbsp;{{book_count.name}}&nbsp;&nbsp;&nbsp;
		</label>
	</form>
</div>
	
		<!-- <cropme
    width="info_card_width"
    max-height="470"
    ratio="info_card_ratio"
    icon-class=""
    type="png"
    destination-width="350">
</croßpme> -->
<div ng-if="user.thumb">
	<img ng-src="{{user.thumb}}" class="profile_pic">
</div>
	<!-- <div class="red_button button1" ng-click="getting_started_tour()">Getting started</div> -->
	<!--  -->