<div class="full_width animate-fast" ng-click="hide_list()" ng-hide="hide_books_list">
	<div>
		<div><b>{{book.title}}</b></div>
		<div ng-show="book.rating">You gave {{book.rating}}/5 rating to this book.</div>
	</div>
	<div ng-repeat="expected_book in book.books" ng-if="book.books">
		<div class="blue_hover animate-fast" ng-click="set_selected_book(expected_book)">
			<span><b>{{expected_book.author_name}}'s</b></span>
			<span>{{expected_book.name}}</span>
		</div>
	</div>
	<div ng-if="!book.books">
		Sorry! We couldn't find related books in our database...
	</div>
</div>
<div class="full_width animate-fast" ng-show="hide_books_list">
	<div>
		<span>{{selected_book.author_name}}'s <b>{{selected_book.name}}</b></span>
		<span class="click" ng-click="remove_selected_book()">Undo</span>
	</div>
	<div>
		<div>
			<div>Add this books to personal shelves</div>
			<div ng-repeat="label in selected_book.labels track by $index" 
				 class="capitalise inline_block light_link" 
				 ng-class="{'site_color': label.checked}"
				 ng-click="selected_label($index)">{{label.name | lowercase}}</div>
		</div>
		<rate data="selected_book"></rate>
	</div>
</div>
<br/>