<div class="full_width animate-fast" ng-click="hide_list()" ng-hide="hide_books_list">
	<div>
		<div><b>{{book.title}}</b></div>
		<div ng-show="book.rating">You gave {{book.rating}}/5 rating to this book.</div>
	</div>
	<div ng-repeat="expected_book in book.books">
		<div class="blue_hover animate-fast" ng-click="set_selected_book(expected_book)">
			<span class="header_font">{{expected_book.author_name}}'s</span>
			<span>{{expected_book.name}}</span>
		</div>
	</div>
</div>
<div class="full_width animate-fast" ng-show="hide_books_list">
	<div>
		<span>{{selected_book.author_name}}'s <b>{{selected_book.name}}</b></span>
		<span class="click" ng-click="remove_selected_book()">Undo</span>
	</div>
	<div>
		
	</div>
</div>
<br/>