<md-bottom-sheet class="md-grid todo_container" layout="column" layout-align="center center">
	<div layout-padding></div>
	<div layout-padding></div>
	<h3 layout-padding class="center_text">
		<div class="less_important">#OditAuthor</div>
		<div>A book is a time machine.</div>
	</h3>
	<div layout-padding></div>
	<div layout-padding></div>
  	<md-list layout="row" layout-align="center center">
		<md-list-item layout-padding layout-margin class="todo_block_container">
  			<div layout="column" layout-align="center center"
  				ng-if="!todo.author.follow"
  				class="center_text no_hover icon_block purple_color" layout-padding>
				<md-icon md-font-set="material-icons" class="todo_icon_small purple_color">check_box_outline_blank</md-icon>
				<div layout-padding>TWO</div>
				<md-icon md-font-set="material-icons" class="todo_icon purple_color">person_add</md-icon>
				<div layout-padding class="less_important purple_color">Follow Author</div>
  			</div>
  			<div layout="column" layout-align="center center"
  				ng-if="todo.author.follow"
  				class="center_text no_hover icon_block" layout-padding>
				<md-icon md-font-set="material-icons" class="todo_icon_small site_color">check_box</md-icon>
				<div layout-padding>TWO</div>
				<md-icon md-font-set="material-icons" class="todo_icon">person_add</md-icon>
				<div layout-padding class="less_important">Follow Author</div>
  			</div>
		</md-list-item>
  	</md-list>
  	<div layout-padding></div>
  	<div layout-padding></div>
  	<div layout-padding></div>
  	<div layout-padding></div>
  	<div layout-padding></div>
  	<div layout-padding></div>
</md-bottom-sheet>