<md-bottom-sheet class="md-grid todo_container" layout="column" layout-align="center center">
	<div layout-padding></div>
	<div layout-padding></div>
	<h3 layout-padding class="center_text">
		<div class="less_important">Welcome to Oditty.me</div><div>Follow the todo lists to get familiar with Oditty.</div></h3>
	<div layout-padding></div>
	<div layout-padding></div>
  	<md-list layout="row" layout-align="center center">
    	<md-list-item layout-padding layout-margin class="todo_block_container">
  			<a layout="column" layout-align="center center" href="/customise"
  				ng-if="!todo.home.profile"
  				class="center_text icon_block green_color" layout-padding>
				<md-icon md-font-set="material-icons" class="todo_icon_small green_color">check_box_outline_blank</md-icon>
				<div layout-padding>ONE</div>
				<md-icon md-font-set="material-icons" class="todo_icon green_color">face</md-icon>
				<div layout-padding class="less_important bold green_color">Complete your Profile</div>
  			</a>
  			<div layout="column" layout-align="center center"
  				ng-if="todo.home.profile"
  				class="center_text no_hover icon_block" layout-padding>
				<md-icon md-font-set="material-icons" class="todo_icon_small site_color">check_box</md-icon>
				<div layout-padding>ONE</div>
				<md-icon md-font-set="material-icons" class="todo_icon">face</md-icon>
				<div layout-padding class="less_important bold">Complete your Profile</div>
  			</div>
		</md-list-item>
		<md-list-item layout-padding layout-margin class="todo_block_container">
  			<a layout="column" layout-align="center center" href="/filters"
  				ng-if="!todo.home.filters"
  				class="center_text icon_block purple_color" layout-padding>
				<md-icon md-font-set="material-icons" class="todo_icon_small purple_color">check_box_outline_blank</md-icon>
				<div layout-padding>TWO</div>
				<md-icon md-font-set="material-icons" class="todo_icon purple_color">filter_list</md-icon>
				<div layout-padding class="less_important bold purple_color">Use Filters</div>
  			</a>
  			<div layout="column" layout-align="center center"
  				ng-if="todo.home.filters"
  				class="center_text no_hover icon_block" layout-padding>
				<md-icon md-font-set="material-icons" class="todo_icon_small site_color">check_box</md-icon>
				<div layout-padding>TWO</div>
				<md-icon md-font-set="material-icons" class="todo_icon">filter_list</md-icon>
				<div layout-padding class="less_important bold">Use Filters</div>
  			</div>
		</md-list-item>
		<md-list-item layout-padding layout-margin class="todo_block_container">
  			<a layout="column" layout-align="center center" href="/rooms"
  				ng-if="!todo.home.rooms"
  				class="center_text icon_block yellow_color" layout-padding>
				<md-icon md-font-set="material-icons" class="todo_icon_small yellow_color">check_box_outline_blank</md-icon>
				<div layout-padding>THREE</div>
				<md-icon md-font-set="material-icons" class="todo_icon yellow_color">room</md-icon>
				<div layout-padding class="less_important bold yellow_color">Browse Rooms</div>
  			</a>
  			<div layout="column" layout-align="center center"
  				ng-if="todo.home.rooms"
  				class="center_text no_hover icon_block" layout-padding>
				<md-icon md-font-set="material-icons" class="todo_icon_small site_color">check_box</md-icon>
				<div layout-padding>THREE</div>
				<md-icon md-font-set="material-icons" class="todo_icon">room</md-icon>
				<div layout-padding class="less_important bold">Browse Rooms</div>
  			</div>
		</md-list-item>
		<md-list-item layout-padding layout-margin class="todo_block_container">
  			<a layout="column" layout-align="center center" 
  				ng-if="!todo.home.invite" ng-click="invite_friends($event)"
  				class="center_text icon_block red_color" layout-padding>
				<md-icon md-font-set="material-icons" class="todo_icon_small red_color">check_box_outline_blank</md-icon>
				<div layout-padding>FOUR</div>
				<md-icon md-font-set="material-icons" class="todo_icon red_color">group_add</md-icon>
				<div layout-padding class="less_important bold red_color">Invite Friends</div>
  			</a>
  			<div layout="column" layout-align="center center"
  				ng-if="todo.home.invite"
  				class="center_text no_hover icon_block" layout-padding>
				<md-icon md-font-set="material-icons" class="todo_icon_small site_color">check_box</md-icon>
				<div layout-padding>FOUR</div>
				<md-icon md-font-set="material-icons" class="todo_icon">group_add</md-icon>
				<div layout-padding class="less_important bold">Introduce Friends to Oditty.me</div>
  			</div>
		</md-list-item>
  	</md-list>
  	<div layout-padding></div>
  	<div layout-padding></div>
  	<div layout-padding></div>
  	<div layout-padding></div>
  	<div layout-padding></div>
  	<div layout-padding></div>
</md-bottom-sheet>