<div class="feed_group"
	 ng-if="!reader">
	<div ng-include src="'/assets/angular/views/shared/feed/news.html'"
		 msd-wheel="stop_propagation($event)"
	     class="feed_block notifications"></div>
	<!-- <div ng-include src="'/assets/angular/views/shared/feed/trending.html'" 
		 msd-wheel="stop_propagation($event)"
	     class="feed_block notifications trending_block"></div> -->
</div>
<div class="feed_group"
	 ng-if="reader">
	<div ng-include src="'/assets/angular/views/shared/feed/readers.html'"
		 msd-wheel="stop_propagation($event)"
	     class="feed_block notifications"></div>
	<div ng-include src="'/assets/angular/views/shared/feed/news.html'"
		 msd-wheel="stop_propagation($event)"
		 ng-if="user.id == 4084079"
	     class="feed_block notifications trending_block"></div>
</div>