<div class="block span" style="width:<%= width %>">
	<div class="thumbnail span">
		<img src="<%= image_url %>"/>
	</div>
	<div class="title">
		<%= title %>
	</div>
	<div class="description">
		<%= description %>
	</div>
</div>
<style>
	.block{
		background: aliceblue;
		width: 27% !important;
		margin: 1% 0% 0% 1%;
		padding: 2%;
	}
	.block .thumbnail{

	}
	.block .title{

	}
	.block .description{

	}
</style>