<div><%= @message %></div>
<div>Redirecting in 5 secs...</div>
<script>
	$(document).ready(function(){
		setTimeout(function(){
			window.location.reload = "http://www.readersdoor.com/"
		}, 5000)
	});
</script>