<div><%= @message %></div>
<div><b>Redirecting in 3 secs...</b></div>
<script>
	$(document).ready(function(){
		setTimeout(function(){
			window.location.href = "http://www.readersdoor.com/"
		}, 3000)
	});
</script>