<div ng-if="!user.logged && show_login_form" ng-controller="loginController">
	<header></header>
	<div class="site_description">
		<div class="header">
			<div class="white_color larger_font">
				<b>Welcome to</b>
			</div>
			<div class="logo white_color">
			    <span>r</span>
			    <span>e</span>
			    <span>a</span>
			    <span>d</span>
			    <span>e</span>
			    <span>r</span>
			    <span>'</span>
			    <span>s</span>
			    <span>&nbsp;</span>
			    <span>d</span>
			    <span>o</span>
			    <span>o</span>
			    <span>r</span>
			</div>
		  	<div class="tagline white_color">
				<!-- <span class="icon-quote-left"></span> -->
				<span>LIVE AND BUILD THE YEARS WITH BOOKS.</span>
				<!-- <span class="icon-quote-right"></span> -->
			</div>
			<hr>
			
		</div>
	</div>
	<div class="login_box animate-fast">
		<div class="fb" 
			 ng-show="!user.logged"
		     ng-click="intent_login()">
		     Sign in with Facebook
		</div>
		<a class="click" ng-click="show_other_options=true;"  ng-hide="show_other_options">
			Don't have a facebook account
		</a>
		<!-- <div class="google" ng-show="show_other_options">
			<google-plus-signin clientid="88213598927-9fij1u8tf2ldf4apf6qob4hgu0supj54.apps.googleusercontent.com"
			ng-show="!user.logged"></google-plus-signin>
		</div> -->
		<form class="login_form"  ng-show="show_other_options">
	      	<input class="email" 
	      	       type="email" 
	      	       ng-keydown="submit($event)"
	      	       value="test@gmail.com" 
	      	       ng-model="user.email" 
	      	       placeholder="Email"
	      	       spellcheck="false" 
	      	       required /><br />
	      	<input class="password" 
	      	       type="password" 
	      	       ng-model="user.password" 
	      	       placeholder="Password" 
	      	       spellcheck="false"
	      	       ng-keydown="submit($event)"
	      	       required/><br />
	      	
	      	<div ng-class="{'authenticate authenticate_left blue_button': !show_sign_up, 'click small_padding': show_sign_up}"
	      		 ng-click="authenticate(true)" 
	      		 type="button">
	      		<span>Log in</span>
	      	</div>
	      	<div ng-class="{'authenticate authenticate_left blue_button': show_sign_up, 'click small_padding': !show_sign_up}"
	      		 ng-click="authenticate(false);">
	      		<span>Sign up</span>
	      	</div>
	      	<div class="click small_padding" ng-click="recover_password()" >
	      		<span>Forgot Password?</span>
	      	</div>
	    </form>
      	<div class="login_status">
      		<span ng-if="user.error_message" ng-bind-html="user.error_message"></span>
      		<img src="assets/loader2.gif" width="20px" ng-show="loading_icon"/>
      	</div>
	</div>
	<ul class="content_box">
		<li ng-repeat="content in description" ng-bind-html="content" class="animate-super-slow"></li>
	</ul>
</div>