<div class="wrapper" ng-if="!user.logged && show_login_form" ng-controller="loginController">
	<div class="login_box animate-fast"
		ng-if="!user.logged && show_login_form">
		<!-- <div class="close button_effect" ng-click="close_login_box()">x</div> -->
		<div class="header">
			<div class="logo white_color">
			    <span>r</span>
			    <span>e</span>
			    <span>a</span>
			    <span>d</span>
			    <span>e</span>
			    <span>r</span>
			    <span>'</span>
			    <span>s</span>
			    <span>&nbsp;</span>
			    <span>d</span>
			    <span>o</span>
			    <span>o</span>
			    <span>r</span>
				<span class="beta_label">BETA</span>
			</div>
		  	<div class="tagline">
				<!-- <span class="icon-quote-left"></span> -->
				<span>LIVE AND BUILD THE YEARS WITH BOOKS.</span>
				<!-- <span class="icon-quote-right"></span> -->
			</div>
			<hr>
			
		</div>
		<div class="fb" 
			 ng-show="!user.logged"
		     ng-click="intent_login()">
		     Sign in with Facebook
		</div>
		<a class="white_color" ng-click="show_other_options=true;"  ng-hide="show_other_options">
			Don't have a facebook account
		</a>
		<!-- <div class="google" ng-show="show_other_options">
			<google-plus-signin clientid="88213598927-9fij1u8tf2ldf4apf6qob4hgu0supj54.apps.googleusercontent.com"
			ng-show="!user.logged"></google-plus-signin>
		</div> -->
		<form class="login_form"  ng-show="show_other_options">
	      	<input class="email" 
	      	       type="email" 
	      	       ng-keydown="submit($event)"
	      	       value="test@gmail.com" 
	      	       ng-model="user.email" 
	      	       placeholder="Email"
	      	       spellcheck="false" 
	      	       required /><br />
	      	<input class="password" 
	      	       type="password" 
	      	       ng-model="user.password" 
	      	       placeholder="Password" 
	      	       spellcheck="false"
	      	       ng-keydown="submit($event)"
	      	       required/><br />
	      	
	      	<div class="authenticate authenticate_left blue_button" ng-click="authenticate(true)" type="button">
	      		<span>LOG IN</span>
	      	</div>
	      	<div class="authenticate blue_button" ng-click="authenticate(false)" type="button">
	      		<span>SIGN UP</span>
	      	</div>
	      	<div class="white_color link">
	      		<span ng-click="recover_password()" class="table_cell">Forgot Password?</span>
	      	</div>
	    </form>
      	<div class="login_status">
      		<span ng-if="user.error_message" ng-bind-html="user.error_message"></span>
      		<img src="assets/loader2.gif" width="20px" ng-show="loading_icon"/>
      	</div>
	</div>
</div>