<div class="home_page_base">
	<div class="search_animate animate-very-slow" 
	    ng-click="stopSearching($event)"
	    ng-controller="searchController">
	    <div class="desaturate search_page" 
		     ng-style="search_style">
	    </div>
		<div class="search_page"
	    	 ng-click="hide_popups($event)">
			<header></header>
			<!-- <div class="logo">
				<a ng-href="#user/{{user.id}}/recommendations/books">
			    <span>r</span>
			    <span>e</span>
			    <span>a</span>
			    <span>d</span>
			    <span>e</span>
			    <span>r</span>
			    <span>'</span>
			    <span>s</span>
			    <span>&nbsp;</span>
			    <span>d</span>
			    <span>o</span>
			    <span>o</span>
			    <span>r</span>
			    </a>
		  	</div>
		  	<div class="beta_tag">BETA</div> -->
		    <!-- <div class="logo">reader's door</div> -->
			<div class="tagline">
				<span>LIVE AND BUILD THE YEARS WITH BOOKS.</span>
			</div>
	<!-- 		<div class="trend_doodle">
				<span>
		  			<a ng-href="#user/{{user.id}}/trending/books/id/{{trends[2].id}}/name/{{trends[2].name}}"
		  				class="animate-fast">
		  				<img ng-src="{{trends[2].large_image}}">
		  				<span>{{trends[2].name}}</span>
		  			</a>
		  			<span>&nbsp;·&nbsp;</span>
		  		</span>
			</div> -->
			
		  	<hr>
			<!-- <select ng-options="type for type in ['R.D.', 'Books', 'Authors', 'Readers']"> -->
			<!-- </select> -->
			<!-- <a ng-href="#user/{{user.id}}/recommendations/books" class="relative_position">
				<profile-link></profile-link>
			</a> -->

		  	<search-bar></search-bar>
		  	<div class="secondary_login animate-fast" 
		       ng-click="toggle_login_panel()"
		       ng-if="!user.logged && !show_login_form">
		    	Login to explore recommendations.
		  	</div>
		  	<!-- <a ng-href="#user/{{user.id}}/recommendations/books" class="nav_menu_wrapper animate-fast">
		  		<div>EXPLORE YOUR READING COMPANION</div>
		    </a> -->
	    	<!-- <div class="nav_menu"> 
	    		<div class="relative_position">
		    		<div class="grid_thumb" ng-repeat="book in random_books">
		    		<a ng-href="#user/{{user.id}}/book/{{book.id}}">
		    			<img ng-src="{{book.isbn | medium_thumb}}" 
		    				 ng-style="set_book_width(book)" 
		    				 class="animate-fast"/>
		    		</a>
		    		</div>
	    		</div>
			</div> -->
		  	<!-- <div class="trends">
		  		<span class="trend">
		  			TRENDING
		  		</span>
		  		<span> · &nbsp;&nbsp;&nbsp;&nbsp;</span>
		  		<span ng-repeat="trend in trends | limitTo : 6" class="trend">
		  			<tooltip prepend-text="Check out books related to" 
		  					 text="trend.name" 
		  					 add-relative="true"
		  					 position="top"></tooltip>
		  			<a ng-href="#user/{{user.id}}/trending/books/id/{{trend.id}}/name/{{trend.name}}"
		  				class="animate-fast">
		  				<span class="icon-bars"></span>
		  				<span>{{trend.name}}</span>
		  			</a>
		  			<span>&nbsp;·&nbsp;</span>
		  		</span>
		  	</div> -->
		</div>
		<div ng-include="'/assets/angular/views/search/login_form.html'"></div>
	</div>
<!-- <div class="search_focus" ng-if="website.searching">
</div> -->
</div>