<div class="home_page_base">
	<div class="search_animate animate-very-slow" 
	    ng-click="stopSearching($event)"
	    ng-controller="searchController">
	    <div class="desaturate search_page" 
		     ng-style="search_style">
	    </div>
		<div class="search_page"
			 ng-if="user.logged"
	    	 ng-click="hide_popups($event)">
			<header></header>
		  	<hr>
		  	<search-bar></search-bar>
		  	<div ng-include="'/assets/angular/views/search/trending.html'" 
		  		 class="trending_panel"></div>
		</div>
		<div ng-include="'/assets/angular/views/search/login_form.html'"></div>
	</div>
</div>