<!-- <div class="big_title instruct_tagline" layout="row" layout-align="center center" layout-padding>
	<div>
		<div class="small_title">Planning to read a book?</div>
		<div>Choose the Book Discovery option</div>
	</div>
</div> -->

<div layout="row" layout-sm="column" layout-md="column" layout-align="center center" 
	class="full_width z_index_1" layout-padding>
	<md-button ng-click="handle_news_redirect($event)" id="news"
		 flex="30" flex-md="100" flex-sm="100"
		 class="pointer nav_options md-whiteframe-z1" >
		<div layout-padding>Books Via News</div>
		<div class="description">Imbibe knowledge through News.
		</div>
		
	</md-button>
	<md-button ng-click="handle_personalised_redirect($event)" id="suggestions"
	     flex="30" flex-md="100" flex-sm="100"
	     class="pointer nav_options md-whiteframe-z1" >
		<div layout-padding>Personalised Suggestions</div>
		<div class="description">
			Suggestions based on your Taste.
		</div>
		
	</md-button>
	<md-button ng-click="handle_infinity_redirect($event)" id="filters"
		  flex="30" flex-md="100" flex-sm="100"
		 class="pointer nav_options md-whiteframe-z1">
		<div layout-padding>Filters</div>
		<div class="description">
			Genre, Author, Era, Duration. Choose.
		</div>
		
	</md-button>
	
</div>
<div layout-padding></div>
<div layout-padding></div>
<div layout-padding></div>
<div layout-padding></div>
<div layout-padding></div>