<% @urls.each do |url| %>
	<img src="http://rd-images.readersdoor.netdna-cdn.com/cp/<%= url[1] %>.jpg" class="cover_photo <% if url[2].present? %>active_photo<% end %>" data-id="<%= url[1] %>"/>
<% end %>

<div class="main_footer">
	<span type="status" class="footer_status"></span>
</div>
<script>
	$(document).ready(function(){

		var set_active = function(){
			$('.cover_photo').on('click', function(){
				var $this = $(this);
				$('.footer_status').html('Updating...');
				var data = "id="+$this.attr('data-id');
				$.ajax({
					url: "<%= set_active_cover_photo_path %>",
					data: data,
					success: function(){
						$this.addClass('active_photo');
						$('.footer_status').html('');
					},
					error: function(){
						$('.footer_status').html('Error in updating...');
					}
				})
			});
		}

		set_active();
	});
</script>