<table>
	<tr>
		<th>Trending</th>
		<th>Date</th>
		<th>Search Books</th>
		<th>Books</th>
		<th>Books Count</th>
	</tr>
	<% @trends.each do |trend|%>
		<tr>
			<td><%= trend[0] %></td>
			<td><%= trend[1] %></td>
			<td>
				<input class="book_tag" />
			</td>
			<td class="books">
				
			</td>
			<td class="count">0</td>
		</tr>
	<% end %>
</table>
<script>
	$(document).ready(function(){

		$('.book_tag').on('keypress', function(event){
			var $this = $(this);
			var search_for = $this.val()+String.fromCharCode(event.charCode);
			if(search_for.length > 2){
				$this.autocomplete({
			      source: ["Searching for "+search_for+" ..."],
			      select: function(event, ui){
			      	$this.parent().siblings('.books').append(ui.item.label+" ");
			      	$this.val("");
			      	_get_count($this);
			      	event.preventDefault();
			      }
			    });
				$.ajax({
					url: "<%= search_book_path %>",
					data: "q="+search_for,
					success: function(data, textStatus, jqXHR){
						var books = [];
						for(var i=0; i<data.length; i++){
							var book = data[i][2]+" by "+data[i][3];
							books.push(book);
						}

						$this.autocomplete({
					      source: books,
					      select: function(event, ui){
					      	$this.parent().siblings('.books').append(ui.item.label+" ");
					      	$this.val("");
					      	var count = parseInt($this.parent().siblings('.count')) + 1;
					      	$this.parent().siblings('.count').html(count);
					      	event.preventDefault();
					      }
					    });
					}
				});
			}
		});

	});
</script>

<style>
	.books{
		width: 400px;
	}
</style>