<!-- <div>
	<md-tooltip md-direction="top" class="shelf_tooltip" md-visible="show_shelf || custom" 
				ng-class="{'margin_top white': custom}">
		<div ng-include src="'/assets/angular/html/shared/shelves.html'" ng-init="bookmark_object = data" class="shelves"></div>
	</md-tooltip>
</div> -->
<div class=" md-whiteframe-z1 blue_circle pointer"  
    layout="row" layout-align="center center"
   layout-padding ng-click="show_shelves()" ng-if="custom">
   <!-- <span class="icon-share"></span> -->
   <i class="material-icons" ng-hide="shelves_loading">bookmark</i>
   
   <md-tooltip md-direction="right" md-visible="demo.showTooltip">
     Bookmark
   </md-tooltip>
</div>
<div class="pointer"
    layout-padding
    ng-if="!custom"
    ng-click="show_shelves()">
    <span>Add to Shelf </span>
    <i class="material-icons" ng-hide="shelves_loading">bookmark</i>
   <md-progress-circular class="md-accent md-hue-1" md-mode="indeterminate" 
        ng-show="shelves_loading">
    </md-progress-circular>
    <!-- <span class="icon-books"></span> -->
    <span ng-hide="shelves_loading">{{count || 0}}</span>
</div>