<section layout="row" layout-wrap>
    <div ng-include src="'/assets/angular/html/shared/logo.html'" class="z_index_1" 
        flex="20" flex-md="20" flex-sm="50" layout="row" layout-align="start center"></div>
    <!-- <div layout="row" layout-align="center center" flex="20" flex-md="15" flex-sm="30"  -->
         <!-- ng-if="info.hide_signin" ng-show="info.mobile_search" -->
         <!-- ng-include src="'/assets/angular/html/shared/discovery_options.html'"></div> -->
    <div layout="row" layout-align="center center" 
         ng-hide="info.mobile_search" layout-fill layout-padding 
         hide-md hide-lg class="z_index_1" 
         ng-include src="'/assets/angular/html/shared/mobile_search.html'"></div>
    <div flex="40" flex-md="45" 
         ng-controller="searchController"
         flex-sm="15"  class="z_index_1" 
         layout="row" 
         layout-align="end center" 
         layout-align-sm="start center"
         ng-include src="'/assets/angular/html/shared/search.html'">
    </div>
    <div flex="20" hide-sm hide-md layout="row" layout-align="center center" class="z_index_1" >
        <div ng-include="'/assets/angular/html/shared/suggestions_link.html'"></div>
    </div>
    <div flex="20" flex-sm="35" layout="row" layout-align="end center" ng-if="info.hide_signin" class="z_index_1" 
         ng-include src="'/assets/angular/html/shared/right_nav_options.html'"></div>
    <div flex="20" flex-sm="35" layout="row" layout-padding layout-align="end center" class="z_index_1"  
        ng-if="!info.hide_signin" ng-include src="'/assets/angular/html/shared/sign_in.html'">
    </div>
</section>

<md-sidenav class="md-sidenav-right md-whiteframe-z2 side_panel" md-component-id="signup">
    <div ng-include="'assets/angular/html/home/partials/login_options.html'" ng-if="!hide_signin"></div>
</md-sidenav>