<section layout="row" layout-wrap>
    <div ng-include src="'/assets/angular/html/shared/logo.html'"
        flex="20" flex-sm="25" layout="row" layout-align="start center"></div>
    <div flex="40" flex-md="45" 
         ng-controller="searchController"
         flex-sm="10" 
         layout="row" 
         class="search_container" 
         layout-align="start center" 
         layout-align-sm="start center">
    </div>
    <div layout="row" layout-align="center center" flex="10" flex-md="5" flex-sm="30" 
         ng-if="info.mobile_search"></div>

    <div flex="30" flex-sm="35" layout="row" layout-align="end center" ng-if="info.hide_signin"
         ng-include src="'/assets/angular/html/shared/right_nav_options.html'"></div>
    <div layout="row" layout-align="center center" 
         ng-hide="info.mobile_search" layout-fill layout-padding 
         hide-md hide-lg ng-if="info.hide_signin"
         ng-include src="'/assets/angular/html/shared/mobile_search.html'"></div>
    <div flex="30" flex-sm="35" layout="row" layout-padding layout-align="end center" 
        ng-if="!info.hide_signin" ng-include src="'/assets/angular/html/shared/sign_in.html'">
    </div>
</section>

<div ng-if="!info.hide_signin">
    <md-sidenav class="md-sidenav-right md-whiteframe-z2 side_panel" md-component-id="signup">
        <div ng-include="'assets/angular/html/home/partials/login_options.html'"></div>
    </md-sidenav>
</div>
<style>
    .search md-input-container label,
    .search .md-input{
        color: #333 !important;
    }

    .search input{
        color: #333 !important;
    }
</style>