<a href="/shelves" ng-show="info.mobile_search" hide-sm>
    <div class="pointer" layout-padding>
        <i class="material-icons">turned_in_not</i>
        <md-tooltip >
            Shelves
        </md-tooltip>
    </div>
</a>
<div ng-show="info.mobile_search" 
    class="pointer"  layout-padding
    ng-click="toggle_notifications($event)">
    <i class="material-icons" ng-show="notifications.length == 0">notifications_none</i>
    <i class="material-icons red_color" ng-show="notifications.length != 0 && !info.notifications_seen">notifications_active</i>
    <i class="material-icons" ng-show="notifications.length != 0 && info.notifications_seen">notifications</i>
    <md-tooltip >
        Notifications
    </md-tooltip>
</div>
<a href="/profile" ng-show="info.mobile_search" hide-sm>
    <div class="profile_link pointer">
        <img ng-src="{{user.image_url}}" ng-if="user.image_url" class="circular">
        <i class="material-icons md-48" ng-if="!user.image_url">account_circle</i>
        <md-tooltip >
            Profile
        </md-tooltip>
    </div>
</a>
<div ng-show="info.mobile_search" ng-include src="'/assets/angular/html/shared/site_options.html'"></div>