<md-button ng-click="show_search_bar()" 
           ng-show="info.mobile_search" show-sm hide ng-if="info.hide_signin">
    <span class="icon-search"></span>
</md-button>
<md-autocomplete md-selected-item="selected_item_search"
                md-search-text="search_text"
                md-items="item in search_results"
                md-search-text-change="query_search(search_text)"
                md-selected-item-change="on_select(item)"
                md-item-text="item.name"
                md-min-length="2"
                class="search"
                hide-sm
                flex="85"
                ng-click="stop_propagation($event)"
                md-floating-label="Search books, topics and more..." ng-if="info.hide_signin">
    <md-item-template>
        <div layout="row" layout-align="space-between">
            <div layout="row" flex="90">
                <img ng-src="{{item.isbn | small_thumb}}" ng-show="item.isbn" class="search_thumb" />
                <img ng-src="{{item.image_url}}" ng-show="item.image_url" class="search_thumb" />
                <div>&nbsp;</div>
                <div>
                    <div ng-bind-html="item.name || item.title" ></div>
                    <div class="less_important" ng-show="item.author_name">
                        <span>&nbsp;by </span>
                        <span ng-bind-html="item.author_name"></span>
                    </div>
                </div>
            </div>
            <div flex="10" layout="row" layout-align="space-between">
                <div></div>
                <div ng-bind-html="item | search_item_type"></div>
            </div>
        </div>
    </md-item-template>
    <md-not-found>
        No matches found.
    </md-not-found>
</md-autocomplete>