<div layout="column" flex layout-fill ng-controller="shelfController">
    <md-content class="book_list">
        <section>
            <md-list layout="column" layout-fill layout-wrap layout-align="start">
                <md-item ng-repeat="label in shelves | limitTo: 4" ng-hide="show_all">
                    <md-checkbox ng-model="label.status" aria-label="{{label.label}}" class="md-warn" 
                                ng-click="toggle_bookmark(label, label.status)" 
                                ng-class="{'md-checked': label.status}">
                        <div layout-padding>{{label.name || label.label_name}}</div>
                    </md-checkbox>
                </md-item>
                <md-item ng-repeat="label in shelves" ng-show="show_all">
                    <md-checkbox ng-model="label.status" aria-label="{{label.label}}" class="md-warn" 
                        ng-click="toggle_bookmark(label, label.status)"
                        ng-class="{'md-checked': label.status}">
                        <div layout-padding>{{label.name || label.label_name}}</div>
                    </md-checkbox>
                </md-item>
                <md-item layout-padding>
                    <a class="show_more" flex ng-click="toggle_shelves()">
                        <span ng-if="!show_all">More Shelves </span>
                        <span ng-if="show_all">Less Shelves </span>
                        <span ng-if="!show_all" class="icon-angle-down"></span>
                        <span ng-if="show_all" class="icon-angle-up"></span>
                    </a>
                </md-item>
            </md-list>
        </section>
    </md-content>
    <md-divider></md-divider>
    <section layout="column" class="footer" layout-padding layout-align="end end">
        <div layout="row">
            <md-input-container class="clear">
                <label>Create New...</label>
                <input ng-model="new_label"/>
            </md-input-container>
            <md-button ng-click="add_new_label(bookmark_object.type)" class="md-button-clear md-raised md-primary">
                <span class="icon-plus"></span>
            </md-button>
        </div>
    </section>
</div>