<md-bottom-sheet class="md-list md-has-header" ng-controller="listBottomSheetController" ng-click="stop_propagation($event)">
    <md-subheader>Add to</md-subheader>
    <md-list>
        <md-item ng-repeat="item in items">
            <md-checkbox ng-model="data.cb1" aria-label="{{ item.name }}" class="md-warn">
                {{ item.name }}
            </md-checkbox>
        </md-item>
    </md-list>
    <md-divider></md-divider>
    <md-subheader>Shelves</md-subheader>
    <md-list>
        <md-item ng-repeat="item in personal_shelves">
            <md-checkbox ng-model="data.cb1" aria-label="{{ item.name }}" class="md-warn">
                {{ item.name }}
            </md-checkbox>
        </md-item>
    </md-list>
    <md-divider></md-divider>
    <md-subheader>Create New</md-subheader>
</md-bottom-sheet>