<md-bottom-sheet class="share_bottom" ng-controller="listBottomSheetController" 
    ng-click="stop_propagation($event)">
    <div layout="column" layout-fill>
    <md-content layout="column" class="book_list">
        <section>
        <md-subheader class="padding">Add to</md-subheader>
        <md-list layout="column" layout-fill>
            <md-item ng-repeat="item in items" ng-click="show_custom_toast()">
                <md-checkbox ng-model="data.cb1" aria-label="{{ item.name }}" class="md-warn">
                    {{ item.name }}
                </md-checkbox>
            </md-item>
        </md-list>
        </section>
        <md-divider></md-divider>
        <section>
        <md-subheader class="padding">Shelves</md-subheader>
        <md-list layout="column" layout-fill>
            <md-item ng-repeat="item in personal_shelves" ng-click="show_custom_toast()">
                <md-checkbox ng-model="data.cb1" aria-label="{{ item.name }}" class="md-warn">
                    {{ item.name }}
                </md-checkbox>
            </md-item>
        </md-list>
        </section>
    </md-content>
    <md-divider></md-divider>
    <div layout="row" layout-padding>
        <md-input-container class="add_new">
            <label>Create New...</label>
            <input/>
        </md-input-container>
        <md-button ng-click="add_new_shelf()">
            <span class="icon-plus"></span>
        </md-button>
    </div>
    </div>
</md-bottom-sheet>

<style>
    .share_bottom{
        height: 50%;
        position: absolute;
    }
    .header{
        position: absolute;
        top: 5px;
    }
    .book_list{
        top: 0px;
        height:300px !important;
        border: 2px solid black;
    }
    .footer{
        position: absolute;
        bottom: 5px;
    }
</style>