<div ng-if="testimonials && testimonials.length > 0">
	<div layout-padding></div>
	<div layout-padding></div>
	<div layout-padding></div>
	<div layout-padding></div>
	<div layout-padding></div>
	<h2>What People are saying about Us</h2>
	<h3>Dont' just take it from us, let our users do the talking</h3>
	<div layout="row" layout-padding layout-wrap>
		<div layout="column" layout-align="center center" class="testimonial_block" layout-padding ng-repeat="testimonial in testimonials | limitTo: 4">
			<div layout-padding>
				<img ng-src="{{testimonial.image_url || '/assets/user_profile.jpg'}}" class="square" onerror="this.src='/assets/user_profile.jpg'" />
			</div>
			<div>
				<a class="bold" ng-href="/profile?id={{testimonial.user_id}}" ng-bind-html="testimonial.name"></a>
				<div class="less_important" ng-bind-html="testimonial.created_at | timestamp | date:'dd MMM'"></div>
				<div ng-bind-html="testimonial.description"></div>
			</div>
		</div>
	</div>
	<a href="/testimonials" class="less_important site_color" layout-padding>Tell us what you feel about us...</a>
</div>
<style>
	.testimonial_block{
		max-width: 190px;
	}
</style>