<div layout-padding layout="column">
	<months info="info" active-tag="activeTag" year="'recent'"></months>
	<months info="info" active-tag="activeTag" year="2014"></months>
	<months info="info" active-tag="activeTag" year="2013"></months>
	<div ng-if="!show_all">
		<div ng-click="show_all_times()">
			<md-icon md-font-set="material-icons">more_vert</md-icon>
		</div>
	</div>
	<div ng-if="show_all" layout="column">
		<div ng-repeat="year in ::years">
			<months info="info" active-tag="activeTag" year="year"></months>
		</div>
	</div>
	<months info="info" active-tag="activeTag" year="1998"></months>
</div>