<a ng-href="#/user/{{$routeParams.id}}/{{url}}" ng-if="reader">
	<div ng-class="{'site_color':active, 'inactive_filter':!active}"
		 class="filter capitalise">
		 <div>
			 <span class="{{textClass}}">{{filter.name | lowercase}}</span>
			 <span class="{{iconClass}} float_right" ng-hide="hideIcon"></span>
		 </div>
		<div ng-show="filter.count">
			<span>{{filter.count}} books</span>	
		</div>
	</div>
</a>
<a ng-href="#/user/{{user_id}}/{{url}}" ng-if="!reader">
	<div ng-class="{'site_color':active, 'inactive_filter':!active}"
		 class="filter capitalise">
		 <div>
			 <span class="{{textClass}}">{{filter.name | lowercase}}</span>
			 <span class="{{iconClass}} float_right" ng-hide="hideIcon"></span>
		 </div>
		<div ng-show="filter.count">
			<span>{{filter.count}} books</span>	
		</div>
	</div>
</a>