<md-list layout="row" hide-sm hide-md>
	<div flex>
		<div ng-repeat="feed in personal_feed" ng-if="$even">
		    <div ng-include src="'/assets/angular/html/profile/partials/feed_type.html'"></div>
		</div>
		<div ng-if="reading_journeys" class="white">
			<b class="small-padding">{{user.first_name}}'s Reading Journey</b>
			<md-divider></md-divider>
			<md-card ng-repeat="reading_journey in reading_journeys">
				<section layout="column" layout-fill>
					<img ng-src="{{reading_journey.image}}" class="full_width">
					<a ng-href="/journey/{{reading_jounrey.id}}" layout="column">
						<md-button class="clear full_width">
							<div class="small-padding">
								<b>{{reading_journey.title}}</b>
								<div>by {{reading_journey.author_name}}</div>
								RATING
							</div>
							<md-divider></md-divider>
							<div class="small-padding">
								<B>STARTED ON</B>
								<div>{{reading_journey.started_on}}</div>
							</div>
						</md-button>
					</a>
				</section>
			</md-card>
		</div>
	</div>
	<div flex>
		<div ng-include src="'/assets/angular/html/share/status_options.html'" 
	 	  	ng-controller="shareController" 
	 	  	class="" layout-margin layout-padding>
	 	 </div>
		<div ng-repeat="feed in personal_feed" ng-if="$odd">
		    <div ng-include src="'/assets/angular/html/profile/partials/feed_type.html'"></div>
		</div>
	</div>
</md-list>
<md-list layout="column" show-sm show-md hide>
	<div ng-include src="'/assets/angular/html/share/status_options.html'" 
 	  	ng-controller="shareController" 
 	  	class="" layout-margin layout-padding>
 	 </div>
	<div ng-repeat="feed in personal_feed">
	    <div ng-include src="'/assets/angular/html/profile/partials/feed_type.html'"></div>
	</div>
</md-list>
<md-list ng-if="!personal_feed || (personal_feed == 0)">
	<md-card>
		<md-card-content>
			No recent activity.
		</md-card-content>
	</md-card>
</md-list>


<style>
	.info_button{
		width: 50px !important;
		height: 50px !important;
	}

	.genre_cover, .genre_cover_gradient{
		width: 50px !important;
		height: 50px !important;
	}

	.book_image_cover, .book_backup_cover, .slider_wrapper{
        width: 80px;
        height: 110px;
        color: transparent;
    }

    .share_text{
    	position: absolute;
		z-index: 1;
		color: white;
		left: 50%;
		top: 50%;
		margin-left: -150px;
		margin-top: -20px;
		font-size: 1.2em;
		font-family: sans-serif;
		text-transform: uppercase;
    }

    .share_image{
    	max-width: 500px;
    }

    .share_button{
    	width: 500px;
    	height: 100px;
    }

</style>