<div layout-padding class="feed_margin">
    <user-communities ng-if="profile_user" user-id="profile_user.id"></user-communities>
</div>
<div layout="row">
    <a href="/customise">
        Tell us more about you
    </a>
</div>

<!-- <div class="genres light_grey" ng-if="!hide_follow_links" layout-margin>
    <div layout="column" layout-align="space-between" layout-padding layout-sm="column">
        <div layout="column">
            <div class="big_title">
                Select Subjects that you like.
            </div>
            <div class="less_important">
                This will help us to know more about your taste.
            </div>
        </div>
       
        <div ng-click="toggle_genres()">
            <i class="material-icons close_icon">close</i>
        </div>
    </div>
    <div ng-controller="genresController" layout="row" layout-wrap 
        layout-padding layout-align="center">
        <div layout="column" layout-padding class="center_text" 
             style="width: 120px;"
             ng-repeat="genre in info.genres  | orderBy:genre.name">
            <div ng-include src="'/assets/angular/html/shared/partials/genre.html'"></div>
        </div>
    </div>
</div> -->


<style>
    #genres .genre_cover,
    #genres .genre_cover_gradient{
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    #genres .genre_cover_gradient{
        position: absolute;
        z-index: 1;
        margin-left: 10px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #genres .info_button{
        padding: 0px;
        border-radius: 50% !important;
        width: 80px;
        height: 80px;
        position: absolute;
        box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.4);
        z-index: 1;
    }

    #genres .info_button:hover{
        border-radius: 50%;
    }
    
    #genres .info_button:active{
        border-radius: 50%;
    }

    #genres .circular_icon .icon-checkmark{
        font-size: 1.5em;
    }

    #genres .circular_icon{
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }

    
</style>