<md-list ng-if="personal_feed &&  personal_feed.length > 0">
	<div ng-repeat="feed in personal_feed">
	    <!-- <div ng-if="feed.label == 'BlogNode'" ng-include src="'/assets/angular/html/home/_blog.html'"></div> -->
	    <!-- <div ng-if="feed.label == 'CommunityNode'" ng-include src="'/assets/angular/html/home/_community.html'"></div> -->
	    <div ng-if="feed.label != 'FollowNode'" 
	    	ng-include src="'/assets/angular/html/shared/partials/social_feed.html'"></div>
	    <div ng-if="feed.label == 'FollowNode'" 
	    	ng-include src="'/assets/angular/html/shared/partials/follow_feed.html'"></div>
	    <!-- <div ng-if="feed.label == 'ListopiaNode'" ng-include src="'/assets/angular/html/home/_listopia.html'"></div> -->
	</div>
</md-list>
<md-list ng-if="!personal_feed || (personal_feed == 0)">
	<md-card>
		<md-card-content>
			No recent activity.
		</md-card-content>
	</md-card>
</md-list>

<style>
	.info_button{
		width: 50px !important;
		height: 50px !important;
	}

	.genre_cover, .genre_cover_gradient{
		width: 50px !important;
		height: 50px !important;
	}
</style>