<div class="animate-fast top_pad" ng-if="show_content">
	<div id="ExploreInner"></div>
	<div layout="column" layout-fill>
		<div layout="row" layout-align="center center" class="top_view" 
			style="background-image: url('https://unsplash.imgix.net/45/tkLOe7nnQ7mnMsiuijBy_hm.jpg?q=75&fm=jpg&w=1080&fit=max&s=ae2bd50bcae444ff583512e9e659b225');"
			layout-fill>			
			<div flex="5"></div>
			<div flex-gt-md="50" flex-md="50" flex-sm="90">
				<h3 class="title" layout-padding layout-wrap>
					<div>Delve inside the</div>
					<div>richness of</div>
					<div>literature</div>
				</h3>
			</div>
			<div flex="5"></div>
			<div flex="40" layout="row" layout-align="center center" hide-sm>
				<!-- <img src="assets/Explore.png" class="img_short"/> -->
			</div>
		</div>

		<div layout="row" flex="100" layout-align="center start" class="foot_view" layout-fill>
			<div layout="column" layout-align="start center" layout-fill layout-padding>
				<div class="description" layout-padding>
					An experience that let you see a book from multiple perspectives by connecting	knowledge around in different forms.
				</div>
				<md-divider layout-fill></md-divider>
				<div ng-if="current_page_id == 4" class="w_box">
					<md-whiteframe layout-padding>
					   	<img src="assets/book_page.png" class="animate-fast img_fullsize"/>
					</md-whiteframe>
				</div>
			</div>
		</div>
	</div>
</div>