<div class="animate-fast top_pad" ng-if="show_content">
<div id="PersonaliseInner"></div>
	<div layout="column" layout-fill>
		<div layout="row" layout-align="center center" class="top_view" 
			 style="background-image: url('https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?dpr=2&fit=crop&fm=jpg&h=800&q=75&w=1050')"
			 layout-fill>
			<div flex="5"></div>
			<div flex-gt-md="50" flex-md="50" flex-sm="90">
				<h3 class="title" layout-padding layout-wrap>
					<div>Manage your</div>
					<div>personalised virtual</div>
					<div>room of knowledge</div>
				</h3>
			</div>
			<div flex="5"></div>
			<div layout="row" layout-align="center end" flex="40"  layout-fill hide-sm>
				<!-- <img src="assets/Personalise.png" class="img_shelf"/> -->
			</div>
		</div>
		<div layout="row">
			<div layout="column" layout-align="center center" class="foot_view" 			
					layout-fill ng-if="current_page_id == 5">
				<div flex="15"></div>
				<md-whiteframe class="w_box" flex="85">
	    			<img src="assets/readersdoor-myroom.png" class="animate-fast img_fullsize">
	  			</md-whiteframe>
			</div>
		</div>	
	</div>
</div>