<table>
  <tr>
    <th>S.No.</th>
    <th>Name</th>
    <th>#Books</th>
    <th>Active</th>
    <th>Submit</th>
  </tr>
  <% @genres.each_with_index do |genre, index|%>
    <tr>
      <td><%= index %></td>
      <td><%= genre[1] %></td>
      <td><%= genre[2] %></td>
    </tr>
  <% end %>
</table>
<div class="main_footer">
  GENRES
</div>

<div class="vertical_padder"></div>