<section flex="20" flex-md="5" hide-sm></section>
<section flex="60" flex-md="90" layout="column" flex-sm="100">
	<div layout-padding></div>
	<div layout-padding></div>
	<h1>Leaderboard</h1>
	<div layout-padding layout="row">
		<div layout-padding>I rank</div>
		<div layout-padding>#{{user.ranking}}</div>
		<div layout-padding>with a score of {{user.score}}</div>
		<div layout-padding>in {{user.games}} games</div>
	</div>
	<div layout="column" flex>
		<div layout="row" ng-repeat="user in users" layout-padding>
			<div>
				<h1>#{{user.ranking}}</h1>
			</div>
			<div>
				<img ng-src="{{user.image_url}}" class="square" />
			</div>
			<div layout-padding>
				<a href="/profile?id={{user.id}}" ng-bind-html="user.name"></a>
				<div>Accuracy {{user.accuracy}}</div>
			</div>
		</div>
	</div>
	<div layout-align="center center" layout="row">
		<a ng-click="get_users()">Show more people...</a>
	</div>
	<div layout-padding></div>
	<div layout-padding></div>
</section>
<section flex="20" flex-md="5" hide-sm></section>