<ul id="chat">
  <%#= render @messages %>
</ul>

  <input name="chat_message[content]" type="text" id="chat_text">
  <button id="submit_chat">Sent</button>

<script>
	$(document).ready(function(){
		$('#submit_chat').on('click', function(){
			$.ajax({
				url: "<%= chat_messages_path %>",
				data: "content="+$('#chat_text').val(),
				method: 'POST',
				format: 'js'
			})
		})
	})
</script>