<div class="thumb custom_hidden"><img ng-src="{{notification.thumb | thumb_backup}}"></div>

<div class="book_thumb_color_wrapper" ng-show="notification.book.isbn"></div>
<div class="book_thumb_wrapper" ng-show="notification.book.isbn">
	<img ng-src="{{notification.book.isbn | thumb}}" class="book_thumb"/>
</div>
<div class="tweet_text" ng-class="{'compressed_tweet_text': notification.book.isbn}">
	<b><div class="capitalise" ng-bind-html="notification.user.name"></div></b>
	<b><a ng-href="{{notification.url}}" target="_blank">
		<div ng-bind-html="notification.title"></div></a>
	</b>
	<timestamp data="notification.timestamp"></timestamp>
	<div ng-bind-html="notification.tag"></div>
	<div ng-bind-html="notification.message"></div>
	<div class="trending_background site_color" ng-show="notification.title">
		<a ng-href="#user/{{user.id}}/trending/books/id/{{notification.id}}/name/{{notification.name}}">Check out books related to  <b class="larger_font">{{notification.keywords}}</b></a>
	</div>
	<div class="relative_position" ng-show="notification.large_image">
		<div class="large_thumb_color_wrapper"></div>
		<div class="large_thumb_wrapper">
			<img ng-src="{{notification.large_image}}" class="large_thumb">
		</div>
	</div>
</div>