<!-- <header id="top-bar">
	<div class="main-col">
	  <div class="site-title">
	      <span class="site-title-text">ReadersDoor</span>
	  </div>
	</div>
</header> -->
<!-- 
  IMPORTANT: To Include this File

   Click 'Menu' button at the top and select 'Copy Link' 
--> 



<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Oditty</title>

    <!-- Bootstrap core CSS -->
	<%= stylesheet_link_tag 'bootstrap.min.css'%>

    <!-- Add custom CSS here -->
    <%= stylesheet_link_tag 'stylish-portfolio.css'%>
	<%= stylesheet_link_tag 'font-awesome.min.css'%>
