<div class="feedback"
	ng-class="{'feedback_box': get_feedback, 'hidden': user.show_profile}">
	<div class="icon-close-popup" ng-show="get_feedback" ng-click="get_feedback=false;"></div>
	<tooltip prepend-text="We will use your feedback to improve user experience..." position="top"></tooltip>
	<div ng-click="get_feedback = !get_feedback" class="site_color">
		<b>{{feedback_text}}</b>
	</div>
	<div ng-if="get_feedback">
		<textarea placeholder="Please give your valuable feedback..." 
				  ng-model="user.feedback"></textarea>
		<div class="feedback_sumbit blue_button"
			 ng-click="handle_feedback($event)">Submit</div>
	</div>
</div>