<div class="feedback_popup animate-fast"
	ng-if="popups.get_feedback"
	ng-class="{'feedback_box': popups.get_feedback}">
	<div class="icon-close-popup" ng-click="popups.get_feedback=false;"></div>
	<div ng-click="popups.get_feedback = !popups.get_feedback" class="site_color">
		<b>{{feedback_text}}</b>
	</div>
	<div>
		<textarea placeholder="Please give your valuable feedback..." 
				  ng-model="user.feedback"></textarea>
		<div class="feedback_sumbit blue_button"
			 ng-click="handle_feedback($event)">Submit</div>
	</div>
</div>