<!-- <span class="popup_icon icon-angle-down" ng-click="show_feedback_popup()"></span> -->
<!-- <ul ng-if="focused_book.show_feedback_popup" class="feedback_popup">
  <li><span ng-click="focusedBook.add_thumb = !focusedBook.add_thumb;" 
            ng-show="!focusedBook.add_thumb">Suggest a new thumbnail</span>
  <span><input placeholder="Add a thumb url..." 
              class="input_thumb" 
              set-focus="focusedBook.add_thumb"
              ng-model="new_thumb"
              ng-keydown="stop_keyboard_navigation($event)"
              ng-keypress="handle_enter($event, new_thumb)"
              ng-show="focusedBook.add_thumb"/></span></li>
  <li><span>Report Duplicate</span></li>
  <li><span>Not Interested In Such Books</span></li>
  
  <hr>
  <li><span>Error in data</span></li>
  <hr>
  <li><span>Share</span><span></span></li>
  <hr>
  <li><span>I don't want to see this</span></li>
  <li><span>Incorrect Recommendation</span></li>
  <li><span>Make Recommendations Better</span></li>
</ul> -->
<div class="arrow" ng-class="{'arrow_left': on_left, 'arrow_right': !on_left}"></div>
<div class="icon-close-popup" ng-click="hide_popups()"></div>
<!-- <div class="close button_effect" ng-click="close_focused_tooltip()">x</div> -->
<div class="header">
  <div class="title header_font" title="{{focused_book.title}}"><b>{{focused_book.title | book_title}} </b></div>
  <div class="author">by <b>{{focused_book.author_name}}</b></div>
  <div class="author">
    <span ng-if="focused_book.published_year">
      {{focused_book.published_year | published_year}}</span>
    <span>{{focused_book.page_count | page_count}}</span>
  </div>

</div>
<div class="heading_block" 
     ng-click="get_book_overview();"
     ng-class="{'active_tab2': !show_buy && !show_author}">
    <span>Overview</span>
</div>



<!-- OVERVIEw -->
<div class="book_info" 
     ng-hide="focused_book.collapse_blocks"
     ng-if="!show_buy && !show_author">
  <div ng-include src="'/assets/angular/views/shared/partials/book_info.html'"></div>
  <div ng-if="!show_buy && !show_author" ng-disabled="!focused_book.status">
    <rate data="focused_book"></rate>
  </div>
</div>

<div class="scrollbar description" 
     ng-hide="focused_book.collapse_blocks"
     ng-class="{'long_description': !focused_book.users_count || focused_book.users_count == 0}"
     msd-wheel="stop_horizontal_scroll($event)" ng-if="!show_buy && !show_author">
  <span itemprop="description" ng-bind-html="focused_book.summary | summary"></span>
  <br/>
  <br/>
  <br/>
</div>

<div class="user_box" 
     ng-hide="focused_book.collapse_blocks"
     ng-if="!show_author && !show_buy && focused_book.users_count && focused_book.users_count > 0">
  <div class="heading">{{focused_book.users_count}} friends have read this</div>
  <div class="users">
    <div ng-repeat="user in focused_book.users">
      <img ng-src="{{user.thumb}}" />
    </div>
  </div>
</div>

<div class="heading_block" 
     ng-click="get_author_details();"
     ng-class="{'active_tab2': show_author && !show_buy}">
    <span>About author</span>
</div>

<!-- ABOUT AUTHOR -->
<div class="book_info scrollbar author_book_info"
     ng-hide="focused_book.collapse_blocks"
     ng-if="show_author && !show_buy">
     <div class="image_wrapper">
        <img ng-src="{{focused_book.author_details.image_url}}"/> 
     </div>
      
      <div class="text"
          msd-wheel="stop_horizontal_scroll($event)">
          {{focused_book.author_details.about}}
          <br/>
          <br/>
          <br/>
          <br/>
      </div>
</div>

<div class="relative_position" 
     ng-hide="focused_book.collapse_blocks"
     ng-if="show_author && !show_buy">
  <div class="user_box_wrapper"
      ng-click="get_book_from_author()"
      ng-show="show_author && !show_buy">
      <div class="text"><b>More Books from {{focused_book.author_name}} </b></div>
  </div>
  <div class="user_box">
       <div class="heading">{{focused_book.author_details.book_ids.length}} more books from author</div>
        <img ng-src="{{book_isbn | small_thumb}}" 
             ng-repeat="book_isbn in focused_book.author_details.book_isbns | limitTo: 7 track by $index" 
             class="author_book_thumb">
      <!-- <img class="signature_thumb" ng-src="{{focused_book.author_details.signature_pic}}"/> -->
  </div>
</div>


<!-- BUY THIS BOOK -->
<div class="heading_block" 
     ng-click="get_buy_links();"
     ng-class="{'active_tab2': show_buy && !show_author}">
    <span>Buy this book</span>
</div>

<div ng-if="show_buy && !show_author" 
     ng-hide="focused_book.collapse_blocks"
     class="buy_column">
  <div ng-if="focused_book.bnn_links">
    <span ng-repeat="link in focused_book.bnn_links track by $index">
      <a ng-href="{{link}}" target="_blank" >
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTBDZdy7vDU-eSWNa5kfJV9tT8ocEBN-27u7fBfdZg9urKdcI4kzQ" class="inline_block" /></a>
    </span>
  </div>
  <div ng-if="!focused_book.bnn_links || focused_book.bnn_links.length == 0">
    Sorry! Could find this book on <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTBDZdy7vDU-eSWNa5kfJV9tT8ocEBN-27u7fBfdZg9urKdcI4kzQ"/>
  </div>
</div>

<div class="time_to_read" 
     ng-hide="focused_book.collapse_blocks"
     ng-if="show_buy && !show_author">
  <div class="header">Describe the reading length of this book</div>
  <div ng-click="record_read_time(0, $event)"
      class="tab read_block"
      ng-class="{'active_tab':is_timer(0)}">Tiny Read</div>
  <div ng-click="record_read_time(1, $event)"
      class="tab read_block"
      ng-class="{'active_tab':is_timer(1)}">Small Read</div>
  <div ng-click="record_read_time(2, $event)"
      class="tab read_block"
      ng-class="{'active_tab':is_timer(2)}">Normal Read</div>
  <div ng-click="record_read_time(3, $event)"
      class="tab read_block"
      ng-class="{'active_tab':is_timer(3)}">Long Read</div>
</div>

<div class="tweet_link site_color" 
     ng-click="user.interact = true;">
  <img ng-src="{{focused_book.display_profile}}" class="inline_block">
  <div class="comment_link">
    <span ng-model="focused_book.display_tweet" 
          class="table_cell">Share your reading journey...</span>
  </div>
</div>
<div>
  <recommend data="focused_book"></recommend>
  <!-- <span class="interact" ng-click="user.interact = true;">Tweet</span> -->
  <!-- <div class="own_this_book"
     ng-click="own_this_book()">
     <span ng-show="!have_this_book">I have this Book</span>
     <span ng-show="have_this_book">I don't have this Book</span>
  </div> -->
</div>