<div ng-click="recommend()"
	  class='recommend'
      title="Recommend book to friends">
	<b>Recommend to friends</b>
</div>
<div class="recommendation_box animate-slow"
	 ng-if="recommend_object.recommended" 
	 ng-click="stop_propagation($event)">
	<div class="icon-close-popup" ng-click="recommend_object.recommended = false;"></div>
	<div class="header">
		<span><b>Select friends whom you want to recommend</span></b><br/>
		<span class="site_color"> {{recommend_object.title}} by {{recommend_object.author_name}}</span>
	</div>
	<div class="friend_grid scrollbar">
		<div ng-repeat="friend in user.followers" 
			 class="block" 
			 data-selected="false"
			 title="{{friend.name}}" 
			 ng-click="select_thumb($event, friend.id)">
			 <div class="table">
				<div class="friend_thumb_wrapper">
					<img ng-src="{{friend | blob_backup}}" 
					     class="friend_thumb"/>
				</div>
				<div class="friend_name table_cell" ng-show="friend.name">{{friend.name}}</div>
			 </div>
		</div>
	</div>
	<div class="footer">
		<button class="done blue_button" ng-click="recommend()" ng-disabled="!user.selected_followers || user.selected_followers.length == 0">Done</button>
	</div>
</div>