<div ng-if="$routeParams.type != 'profile'">
	<div class="user_name animate-fast"  
		 ng-class="{'user_name_shifted': user.show_profile}"
	     ng-click="show_profile(user.id, $event)">
		<span ng-show="user.name" class="capitalise animate-fast site_color">{{user.name}}</span>
		<span ng-show="!user.name">{{user.email}}</span>
		<span>&nbsp;</span>
		<span>{{user.total_count | integer}}</span><span>&nbsp;</span>
		<span>{{user.book_read_count | integer}}</span>
		<span class='icon-books'></span>
		<span>&nbsp;</span>
		<span>{{user.bookmark_count | integer}}</span>
		<span class='icon-bookmarks'></span>
		<span>&nbsp;</span>
	</div>
</div>
<div ng-if="$routeParams.type == 'profile'">
	<div class="user_name animate-fast" 
		 ng-class="{'user_name_shifted': user.show_profile}"
		 ng-click="show_profile(reader.id, $event)">
		<span ng-show="reader.name" class="capitalise animate-fast site_color">{{reader.name}}</span>
		<span ng-show="!reader.name">{{reader.email}}</span>
		<span>&nbsp;</span>
		<span>{{reader.total_count | integer}}</span><span>&nbsp;</span>
		<span>{{reader.book_read_count | integer}}</span>
		<span class='icon-books'></span>
		<span>&nbsp;</span>
		<span>{{reader.bookmark_count | integer}}</span>
		<span class='icon-bookmarks'></span>
		<span>&nbsp;</span>
	</div>
</div>