<div class="user_profile" 
	 ng-if="user.show_profile"
	 msd-wheel="stop_propagation($event)">
	<div ng-if="reader" class="user_profile_block scrollbar">
		<div class="block">
			<div class="init_block">
				<div><b>{{reader.total_count | integer}}</b></div>
				<div>Points</div>
			</div>
			<div class="init_block">
				<div>
					<span><b>{{reader.book_read_count | integer}}</b></span>
					<span class="icon-books"></span>
				</div>
				<div>Books Read</div>
			</div>
			<div class="init_block">
				<div>
					<span><b>{{reader.bookmark_count | integer}}</b></span>
					<span class="icon-bookmarks"></span>
				</div>
				<div>Books in Shelves</div>
			</div>
		</div>
		<div class="header" ng-show="reader.selectedDay || reader.init_book_read_count">
			<b>About</b><br/>
			<span ng-show="reader.init_book_read_count">Reader of {{reader.init_book_read_count}}</span><br/>
			<span ng-show="reader.selectedDay">Birthday: {{reader.selectedDay}} {{reader.selectedMonth}}</span><br/>
			<span ng-show="reader.last_login">Last Login: {{reader.last_login}}</span><br/>
		</div>
		<div class="header" ng-show="reader.likes.length > 0">
			<b>Likes</b>
		</div>
		<div ng-repeat="like in reader.likes" class="category_block table">
			<div class="{{like.icon}} table_cell category_icon"></div><br/>
			<div class="table_cell">{{like.name}}</div>
		</div>
		<div class="header" ng-show="reader.influential_books.length > 0">
			<b>Books that left a mark on {{reader.name | first_name}}</b>
		</div>
		<div class="block">
			<div ng-repeat="book in reader.influential_books">
				<!-- <img src="{{book.isbn | small_thumb}}"/> -->
				<div><b class="site_color">{{book.title}}</b>, Book by {{book.author_name}}</div>
			</div>
		</div>
		<!-- <map class="map" zoom="11">
			<marker position="[{{reader.latitude}}, {{reader.longitude}}]" centered="true"></marker>
		</map> -->
	</div>
	<div ng-if="!reader" class="user_profile_block scrollbar">
		<div class="block">
			<div class="init_block">
				<div><b>{{user.total_count | integer}}</b></div>
				<div>Points</div>
			</div>
			<div class="init_block">
				<div>
					<span><b>{{user.book_read_count | integer}}</b></span>
					<span class="icon-books"></span>
				</div>
				<div>Books Read</div>
			</div>
			<div class="init_block">
				<div>
					<span><b>{{user.bookmark_count | integer}}</b></span>
					<span class="icon-bookmarks"></span>
				</div>
				<div>Books in Shelves</div>
			</div>
		</div>
		<div class="header" ng-show="user.selectedDay || user.init_book_read_count">
			<b>About&nbsp;&nbsp;</b><span class="click" ng-click="goto_info_card(0)">Edit</span><br/>
			<div>
				<span ng-show="user.init_book_read_count">Reader of {{user.init_book_read_count}}</span><br/>
				<span ng-show="user.selectedDay">Birthday: {{user.selectedDay}} {{user.selectedMonth}}</span><br/>
				<span ng-show="user.last_login">Last Login: {{user.last_login}}</span><br/>
			</div>
		</div>
		<div class="header">
			<b>Likes&nbsp;&nbsp;</b>
			<span class="click" ng-click="edit_genres_like()">Edit</span>
		</div>
		<div class="content">
			<div ng-repeat="like in user.likes" class="category_block table">
				<div class="{{like.icon}} table_cell category_icon"></div><br/>
				<div class="table_cell">{{like.name}}</div>
			</div>
			<div ng-show="user.likes.length == 0">
				This will help us to recommend you better books...
			</div>
		</div>
		<div class="header">
			<b>Books that left a mark on you&nbsp;&nbsp;</b>
			<span class="click" ng-click="edit_books_read()">Edit</span>
		</div>
		<div class="content">
			<div ng-repeat="book in user.influential_books">
				<!-- <img src="{{book.isbn | small_thumb}}"/> -->
				<div><b class="site_color">{{book.title}}</b>, Book by {{book.author_name}}</div>
			</div>
			<div ng-show="user.influential_books.length == 0">
				We will notify you with any activity on these books...
			</div>
		</div>
		<!-- <map class="map" zoom="11">
			<marker position="[{{user.latitude}}, {{user.longitude}}]" centered="true"></marker>
		</map> -->
	</div>
	

</div>
