<div layout="row" layout-wrap layout-align="center center">
     <div layout-margin>
	     <a href="https://rooms.oditty.me/" target="_blank" layout="column" layout-align="center center">
		     <md-button class="product_icon md-whiteframe-z1" style="background-color: #3E52B7;">
		     	<md-icon class="white_color" md-font-set="material-icons">group_work</md-icon>
<!-- 						     	<md-tooltip>Rooms: Connecting News, Videos and Books on a topic.</md-tooltip> -->
		     </md-button>
		     <div layout-padding class="less_important">Rooms</div>
	     </a>
     </div>
     <div layout-margin>
	     <a href="https://news.oditty.me/" target="_blank" layout="column" layout-align="center center">
		     <md-button class="product_icon md-whiteframe-z1" style="background-color: #88C151;">
		     	<md-icon class="white_color" md-font-set="material-icons">today</md-icon>
		     	<!-- <md-tooltip>News: Stay Updated with News in Rooms I care about</md-tooltip> -->
		     </md-button>
		     <div layout-padding class="less_important">News</div>
	     </a>
     </div>
     <div layout-margin>
	     <a href="https://spaces.oditty.me/" target="_blank" layout="column" layout-align="center center">
		     <md-button class="product_icon md-whiteframe-z1" style="background-color: #1876B8;">
		     	<md-icon class="white_color" md-font-set="material-icons">strikethrough_s</md-icon>
		     	<!-- <md-tooltip>Spaces: Feed from my social circle.</md-tooltip> -->
		     </md-button>
		     <div layout-padding class="less_important">Spaces</div>
	     </a>
     </div>
     <div layout-margin>
	     <a href="https://books.oditty.me/" target="_blank" layout="column" layout-align="center center">
		     <md-button class="product_icon md-whiteframe-z1" style="background-color: #E9453B;">
		     	<md-icon class="white_color" md-font-set="material-icons">local_library</md-icon>
		     	<!-- <md-tooltip>Books: Filter books depending on your taste</md-tooltip> -->
		     </md-button>
		     <div layout-padding class="less_important">Books</div>
	     </a>
     </div>
     <div layout-margin>
	     <a href="https://authors.oditty.me/" target="_blank" layout="column" layout-align="center center">
		     <md-button class="product_icon md-whiteframe-z1" style="background-color: #FAA929;">
		     	<md-icon class="white_color" md-font-set="material-icons">mode_edit</md-icon>
		     	<!-- <md-tooltip>Authors: Tell us how you want to see this product</md-tooltip> -->
		     </md-button>
		     <div layout-padding class="less_important">Authors</div>
	     </a>
     </div>
     <div layout-margin>
	     <a href="https://search.oditty.me/" target="_blank" layout="column" layout-align="center center">
		     <md-button class="product_icon md-whiteframe-z1" style="background-color: #FAA82A;">
		     	<md-icon class="white_color" md-font-set="material-icons">search</md-icon>
		     	<!-- <md-tooltip>Search: Look up for News, Videos, Books etc</md-tooltip> -->
		     </md-button>
		     <div layout-padding class="less_important">Search</div>
	     </a>
     </div>
    
     <div layout-margin  ng-if="info.show_more">
	     <a href="https://games.oditty.me/" target="_blank" layout="column" layout-align="center center">
		     <md-button class="product_icon md-whiteframe-z1" style="background-color: #A825F8;">
		     	<md-icon class="white_color" md-font-set="material-icons">games</md-icon>
		     	<!-- <md-tooltip>Games</md-tooltip> -->
		     </md-button>
		     <div layout-padding class="less_important">Games</div>
	     </a>
     </div>
     <div layout-margin  ng-if="info.show_more">
	     <a href="http://magazine.oditty.me/" target="_blank" layout="column" layout-align="center center">
		     <md-button class="product_icon md-whiteframe-z1" style="background-color: #B32024;">
		     	<md-icon class="white_color" md-font-set="material-icons">change_history</md-icon>
		     	<!-- <md-tooltip>Magazine: Writers, Readers and Knowledge</md-tooltip> -->
		     </md-button>
		     <div layout-padding class="less_important">Magazine</div>
	     </a>
     </div>
      <div layout-margin  ng-if="info.show_more">
	     <a href="https://quizzes.oditty.me/" target="_blank" layout="column" layout-align="center center">
		     <md-button class="product_icon md-whiteframe-z1" style="background-color: #269BED;">
		     	<md-icon class="white_color" md-font-set="material-icons">receipt</md-icon>
		     	<!-- <md-tooltip>Quizzes</md-tooltip> -->
		     </md-button>
		     <div layout-padding class="less_important">Quizzes</div>
	     </a>
     </div>
     <div layout-margin  ng-if="info.show_more">
	     <a href="https://feedback.oditty.me/" target="_blank" layout="column" layout-align="center center">
		     <md-button class="product_icon md-whiteframe-z1" style="background-color: #CBD847;">
		     	<md-icon class="white_color" md-font-set="material-icons">feedback</md-icon>
		     	<!-- <md-tooltip>Feedback: Build the product the way you want to</md-tooltip> -->
		     </md-button>
		     <div layout-padding class="less_important">Feedback</div>
	     </a>
     </div>
     <div layout-margin  ng-if="info.show_more">
	     <a href="https://products.oditty.me/" target="_blank" layout="column" layout-align="center center">
		     <md-button class="product_icon md-whiteframe-z1" style="background-color: #E92A6C;">
		     	<md-icon class="white_color" md-font-set="material-icons">local_parking</md-icon>
		     	<!-- <md-tooltip>Products: Our Journey so far</md-tooltip> -->
		     </md-button>
		     <div layout-padding class="less_important">Products</div>
	     </a>
     </div>
 </div>
	<div layout-padding  layout-align="center center" layout="row">
		<a ng-click="info.show_more = true;" ng-if="!info.show_more" class="less_important">Even more from Oditty...</a>
	</div>
</div>
<style>
	 #homeFilters{
        min-height: 70vh;
    }

    .product_icon{
        line-height: 40px !important;
	    font-size: 40px;
	    text-align: center !important;
	    color: white !important;
	    padding: 0px 25px 20px 10px;
    }

    .product_icon .material-icons{
    	font-size: 40px;
    }
</style>