<div layout="row">
	<md-button layout-padding class="md-button-clear" 
		layout-wrap flex
		ng-click="toggle()">
		{{shelf.shelf}}
	</md-button>
</div>
<div ng-show="show_shelf" layout-padding>
	<div layout="row" layout-align="space-between" layout-padding>
		<div></div>
		<md-button class="md-button-clear md-raised md-warn" 
					ng-click="add_books_to_shelf(shelf, $event)">
			<span>Add Book</span>
			
		</md-button>
	</div>
	<div ng-init="books = shelf.books" layout-padding
		 ng-include src="'/assets/angular/html/shared/partials/spine.html'"></div>
</div>
<md-divider></md-divider>
