 <md-tabs flex md-dynamic-height>
    <md-tab aria-controls="tab1-content" ng-disabled="info.loading" label="Author Suggestions"
        md-on-select="show_books_for_author()">
        <div ng-include src="'/assets/angular/html/personalised_suggestions/partials/grid/author_books.html'" ></div>
    </md-tab>
    <md-tab aria-controls="tab2-content" ng-disabled="info.loading" label="Friend's Shelves"
        md-on-select="show_books_on_friend_shelves()">
        <div ng-include src="'/assets/angular/html/personalised_suggestions/partials/grid/friends_books.html'" ></div>
    </md-tab>
</md-tabs>
<!-- <div ng-include src="'/assets/angular/html/personalised_suggestions/header.html'"></div> -->
<!-- <div ng-include src="'/assets/angular/html/personalised_suggestions/left_panel.html'"></div> -->
<!-- <div ng-include src="'/assets/angular/html/personalised_suggestions/partials/grid/category_books.html'" 
     ng-if="info.active_tab == 'favourite_category'"></div> -->
<!-- <div ng-include src="'/assets/angular/html/personalised_suggestions/partials/grid/era_books.html'" 
     ng-if="info.active_tab == 'favourite_era'"></div> -->
<!-- <div ng-include src="'/assets/angular/html/personalised_suggestions/partials/grid/unexplored_books.html'" 
     ng-if="info.active_tab == 'unexplored_subject'"></div>
<div ng-include src="'/assets/angular/html/personalised_suggestions/partials/grid/easy_books.html'" 
     ng-if="info.active_tab == 'small_read'"></div> -->
<style>
    .grid{
        position: absolute;
    }

    .md-switch-thumb .md-container, md-radio-button .md-container{
        display: none;
    }

    .book_grid_link{
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0px;
        padding: 0px;
        border-radius: 0px !important;
    }

    .book_grid_link img{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
    }

     .book_backup_cover{
        width: 100% !important;
        height: 100% !important;
        position: absolute;
        left: 0px;
        top: 0px;
        color: white;
        white-space: normal;
    }

     .bubbleChart {
        min-width: 100px;
        max-width: 700px;
        height: 65vh;
        overflow: inherit;
    }

    .left_shifted{
        margin: 0;
    }

    .bubbleChart svg{
      /*background: #000000;*/
    }

    .book_thumb{
        width: 40px;
        height: 70px;
    }

    .book_scroller{
        background-color: transparent !important;
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
    }
</style>