<!-- <md-content ng-if="!constant.show_book && !info.infinity"
		 layout="column" layout-align="center center" layout-padding class="book_scroller white">
	<section layout-sm="row">
		<md-button ng-click="show_book_dialog(book, $event)" 
				   class="clear" layout-margin
				   ng-repeat="book in info.active_tag.books">
			<div ng-include src="'/assets/angular/html/shared/partials/book_thumb.html'">
			</div>
		</md-button>
	</section>
</md-content>

<style>
    
    .book_scroller .md-button{
        width: 130px;
        height: 180px;
        margin-top: 10px;
    }
</style> -->