<div layout-padding layout="column" class="white md-whiteframe-z1">
	<div layout-padding>
		<div class="less_important" ng-show="info.active_news">News, {{info.active_news.created_at | timestamp | date:'dd MMM'}}</div>
		<div class="big_title bold" ng-bind-html="::info.active_news.title"></div>
		<div class="less_important">
			<a ng-href="{{info.active_news.url}}" target="_blank">
				{{::info.active_news.url}}
			</a>
		</div>
	</div>
	<div layout-padding>{{::info.active_news.description}}</div>
	<div>
		<img ng-src="{{info.active_news.image_url}}" class="max_full_width" />
	</div>
</div>
<div layout="row" layout-sm="column" class="margin_top white md-whiteframe-z1">
	<div flex="30" layout="column" flex-sm="100" layout-sm="column" layout-padding>
		<div class="less_important" layout-padding>
			Related Rooms
		</div>
		<md-button ng-repeat="community in newsTags"  class="md-button-clear"
			ng-click="refresh_data(community)" 
			ng-disabled="info.loading" layout="column" flex-sm="100">
			<div layout="row">
				<img ng-src="{{::community.image_url}}" class="circular">
				<div layout="column" layout-padding>
					<div ng-class="{'bold': active_tag.name == community.name}" class="wrap capitalize">
						{{::community.name}}
					</div>
					<div class="less_important" ng-show="community.view_count && community.view_count != 0">
						<span>{{::community.view_count}} </span>
						<span ng-show="community.view_count == 1">View</span>
						<span ng-show="community.view_count != 1">Views</span>
					</div>
				</div>
			</div>
		</md-button>
	</div>
	<div flex="70" layout="column" flex-sm="100" layout-padding>
		<div layout="row" layout-align="space-between" layout-padding>
			<a ng-href="/room?id={{active_tag.id}}">
				<div class="big_title bold capitalize">{{active_tag.name}}</div>
			</a>
			<md-button class="md-button-clear md-warn" 
				ng-disabled="info.loading"
				ng-class="{'md-raised': !active_tag.status}" 
				layout-margin
	            ng-click="toggle_follow()">
	            <span ng-show="!active_tag.status">Join Room </span>
	            <span ng-show="active_tag.status"> Joined</span>
	            <span ng-show="!active_tag.status" class="icon-user-add"></span>
	        </md-button>
		</div>
		<div class="less_important" ng-if="active_tag.users && active_tag.users.length > 0" layout-padding>
	        Readers in this room
	    </div>
		<div ng-include src="'/assets/angular/html/shared/partials/user_list.html'" ></div>
		<div layout="row" layout-padding layout-wrap>
			<div layout-margin ng-repeat="book in active_tag.books">
				<md-button class="clear rd_book_image_cover md-whiteframe-z3" ng-click="show_book_dialog(book, $event)" >
					<div ng-include src="'/assets/angular/html/shared/partials/book_thumb.html'" >
					</div>
				</md-button>
			</div>
		</div>
	</div>
</div>