<!-- <news-scroller layout="row" 
	layout-align="center" 
	layout-padding
	class="news_footer">
</news-scroller>
 -->
 <div layout-padding layout="column">
	<div layout-padding>{{info.active_news.description}}</div>
</div>
<img ng-src="{{info.active_news.image_url}}" />
<div layout="row">
	<div flex="30" layout="column" layout-padding>
		<div class="less_important" layout-padding>
			Related Rooms
		</div>
		<md-button ng-repeat="community in newsTags"  class="md-button-clear"
			ng-click="refresh_data(community)" layout-padding
			ng-disabled="info.loading">
			<div layout="row">
				<img ng-src="{{community.image_url}}" class="circular">
				<div layout-padding ng-class="{'bold': active_tag.name == community.name}" class="wrap">
					{{community.name}}
				</div>
			</div>
		</md-button>
	</div>
	<div flex="70" layout="column" >
		<div layout="row" layout-align="space-between" layout-padding>
			<a ng-href="/room?id={{active_tag.id}}"><div class="big_title bold">{{active_tag.name | uppercase}}</div></a>
			<md-button class="md-button-clear md-warn" ng-class="{'md-raised': !active_tag.status}" 
				layout-margin
	            ng-click="toggle_follow()">
	            <span ng-show="!active_tag.status">Join Room </span>
	            <span ng-show="active_tag.status"> Joined</span>
	            <span ng-show="!active_tag.status" class="icon-user-add"></span>
	        </md-button>
		</div>
		<div layout="row" layout-padding layout-wrap>
			<div layout-margin ng-repeat="book in active_tag.books">
				<md-button class="clear" ng-click="show_book_dialog(book, $event)" >
					<div ng-include src="'/assets/angular/html/shared/partials/book_thumb.html'" >
					</div>
				</md-button>
			</div>
		</div>
	</div>
</div>

<style>
/*	#news .news_footer md-tabs-canvas{
		height: 70vh !important;
		padding-right: inherit !important;
	}

	#news .news_footer{
        position: inherit !important;
        bottom: inherit !important;
    }

    #news .news_item{
    	max-width: 70vw !important;
    }*/
</style>