<div layout="row" layout-align="center center">
    <h3>Follow your favourite Writers and People</h3>
</div>
<md-content ng-controller="authorsController" class="white">
	<section layout="row">
		<div layout="column" class="padding" ng-repeat="person in people">
			<div class="genre_cover_gradient" layout="column" layout-align="center center" ng-if="person.status">
				<div layout="row" layout-align="center center">
					<div><span class="icon-checkmark"></span></div>
				</div>
			</div>
			<md-button class="genre_button animate-fast">
			</md-button>
			<img src="https://assets-0.housingcdn.com/website/login/login_image@2x-2ed7b17ab0cb2b35dceef58e89c900d5.jpg" class="genre_cover">
			<br/>
			<div layout="row" layout-align="center center"><div>{{person.name}}</div></div>
		</div>

	</section>
</md-content>
<style>
	.genre_cover,
	.genre_cover_gradient{
		width: 130px;
		height: 130px;
		border-radius: 50%;
	}

	.genre_cover_gradient{
		position: absolute;
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
	}

	.genre_button{
		padding: 0px;
		border-radius: 50% !important;
		width: 130px;
		height: 130px;
		position: absolute;
		box-shadow: inset 0 3px 8px #000000;
		z-index: 1;
	}

	.genre_button:hover{
		border-radius: 50%;
		border: 5px solid #ececec;
	}

	.genre_button:active{
		border-radius: 50%;
	}
</style>