<div layout="row" layout-align="center center">
    <h3>Select books which have left a mark on you</h3>
</div>
<md-content ng-controller="booksController" check-scroll-bottom="get_popular_books()" class="white">
	<section layout="row">
		<div flex="15" flex-md="10" hide-sm >
			
		</div>
		<div flex-sm="100" flex-md="80" flex="70" layout="column">
			<md-input-container flex layout-padding layout-margin>
			    <label>Search books...</label>
			    <input/>
			</md-input-container>
			<div layout="row" layout-wrap layout-align="center">
				<div ng-repeat="book in popular_books"
					 layout="column"
					 style="width: 170px;"
					 class="relative">
					 <div layout="column" layout-align="center" class="relative  upper_slider_wrapper"
		            		ng-if="book.status">
				      	<md-slider flex md-discrete ng-model="rating1" step="1" min="1" max="10" aria-label="rating">
				      	</md-slider>
					</div>
					<div class="cover_gradient" layout="column" layout-align="center" ng-if="book.status">
						<!-- <div layout="row" layout-align="end center" class="padding">
							<md-button class="bookmark_link" ng-click="show_shelf_bottom_sheet($event)">
								<span class="icon-bookmark3"></span>
							</md-button>
							<div>{{book.bookmark_count}}</div>
						</div> -->
						<div layout="row" layout-align="center center">
							<div class="circular_icon white padding">
								<span class="icon-checkmark"></span>
							</div>
						</div>
					</div>

					<md-button class="info_button animate-fast" ng-click="select_book(book)">
					</md-button>
					<div ng-style="{background:'{{book.color}}'}" class="book_backup_cover" 
		                    layout="column" layout-padding layout-align="space-between">
		                <h3>{{book.title}}</h3>
		                <h5>{{book.author_name}}</h5>
		            </div>
		            <div class="slider_wrapper">
		            	<div layout="column" layout-align="center" class="relative white"
		            		ng-if="book.status">
					      	<md-slider flex md-discrete ng-model="rating1" step="1" min="1" max="10" aria-label="rating">
					      	</md-slider>
						</div>
						<img ng-src="{{book | choose_medium_thumb}}" class="cover">
		            </div>
					<br/>
					<div layout="column" layout-align="start start">
						<b>{{book.title}}(1947)</b>
						<div>{{book.author_name}}</div>
						<div>
							<span class="icon-star"></span>
							<span>{{book.user_rating}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div flex="15" flex-md="10" hide-sm >
			
		</div>
	</section>
</md-content>

<style>
	.bookmark_link{
		color: white;
		padding: 0px;
		z-index: 2;
	}

	.cover,
	.cover_gradient{
		width: 130px;
		height: 180px;
		z-index: 1;
	}

	.cover_gradient{
		position: absolute;
		z-index: 2;
		background-color: rgba(0, 0, 0, 0.5);
		top: 48px;
  		height: 132px;
	}

	.info_button{
		padding: 0px;
		width: 130px;
		height: 180px;
		position: absolute;
		/*box-shadow: inset 0 3px 8px #000000;*/
		z-index: 2;
	}

	.info_button:hover{
		border: 5px solid #ececec;
	}

	.book_backup_cover{
		width: 130px;
		height: 180px;
        position: absolute;
        color: white;
        white-space: normal;
	}

	.circular_icon .icon-checkmark{
		font-size: 2em;
	}

	.circular_icon{
		width: 60px;
		border-radius: 50%;
		height: 60px;
	}

	.slider_wrapper{
		width: 130px;
  		height: 180px;
  		overflow: hidden;
  		z-index: 1;
	}

	.upper_slider_wrapper{
		z-index: 4;
		background-color: white;
		 height: 48px;
  		position: absolute;
  		left: 0px;
  		width: 130px;
	}

</style>