<div layout="row" layout-align="center center">
    <h3>Select Genres</h3>
</div>
<md-content ng-controller="genresController" class="white">
	<section layout="row">
		<div flex="15" flex-md="10" hide-sm >
			
		</div>
		<div flex="70"
			 flex-md="80"
			 flex-sm="100"
			  layout="row" layout-wrap layout-align="center">
			<div layout="column" class="padding"
				 style="width: 170px;" 
				 ng-repeat="genre in info.genres  | orderBy:genre.name">
				<div class="cover_gradient" layout="column" layout-align="center center" ng-if="genre.status">
					<div layout="row" layout-align="center center" class="white circular_icon">
						<div><span class="icon-checkmark"></span></div>
					</div>
				</div>
				<md-button class="info_button animate-fast" ng-click="select_genre(genre)">
				</md-button>
				<img ng-src="{{genre.url}}" class="cover">
				<br/>
				<div layout="row" layout-align="center center"><div>{{genre.name}}</div></div>
		</div>
				<!-- <toggle data="genre" on-select="save_genre(genre)" on-deselect="remove_genre(genre)"></toggle> -->
		</div>
		<div flex="15" flex-md="10" hide-sm >
			
		</div>
	</section>
</md-content>

<style>
	.cover,
	.cover_gradient{
		width: 130px;
		height: 130px;
		border-radius: 50%;
	}

	.cover_gradient{
		position: absolute;
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.5);
	}

	.info_button{
		padding: 0px;
		border-radius: 50% !important;
		width: 130px;
		height: 130px;
		position: absolute;
		box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.4);
		z-index: 1;
	}

	.info_button:hover{
		border-radius: 50%;
	}
	
	.info_button:active{
		border-radius: 50%;
	}

	.circular_icon .icon-checkmark{
		font-size: 2em;
	}

	.circular_icon{
		border-radius: 50%;
		width: 60px;
		height: 60px;
	}

	
</style>