<h3 layout="row" layout-align="center center">
    <div>Tell us about you</div>
</h3>
<section layout="row" layout-sm="column" ng-controller="infoController" layout-padding>
	<div flex="20">
		<img src="assets/profile_thumb.png" width="100%">
		<div layout="row" layout-align="center">
			<div>Upload Image</div>
		</div>
	</div>
	<div flex="80" layout="column" layout-padding>
		<div layout="row" layout-sm="column">
			<md-input-container flex>
                <label>First Name</label>
                <input ng-model="user.first_name" 
                       focus-out="set_first_name()"/>
            </md-input-container>
            <md-input-container flex>
                <label>Last Name</label>
                <input ng-model="user.last_name" 
                       focus-out="set_last_name()"/>
            </md-input-container>
		</div>
		<div layout="row" layout-sm="column">
			<calendar save-date="set_date_of_birth()" flex></calendar>
            <md-select placeholder="Gender" ng-model="user.gender" flex layout-padding>
                <md-option ng-value="Female">Female</md-option>
                <md-option ng-value="Male">Male</md-option>
            </md-select>
		</div>
		<div>
			<md-input-container>
                <label>About me</label>
                <input ng-model="user.about" focus-out="set_about()">
            </md-input-container>
            <div layout="row" layout-align="end end">{{user.about.length || 0}}/160</div>
		</div>
		<div>
			<div>Number of books read</div>
            <md-radio-group layout="row" 
                            layout-sm="column" 
                            ng-model="user.init_book_read_count" 
                            ng-change="set_init_book_read_count()">
				<md-radio-button ng-repeat="book_count in book_counts"
                                class="md-warn" 
                                ng-value="book_count.name">
                	{{book_count.name}}
            	</md-radio-button>
            </md-radio-group>
		</div>
	</div>
</section>