<div class="tweets"
 	 ng-click="stop_propagation($event)">
 	 <div class="profile_thumb_color_wrapper"></div>
 	 <div class="profile_thumb_wrapper">
		<img ng-src="{{focused_book.isbn | thumb}}" class="profile_thumb" />
 	 </div>
 	<div class="tweet feed_header">
		<div>
			<div>Book Timeline</div>
			<div>
				<span class="large_font">{{focused_book.author_name}}'s</span>
				<b><span class="large_font">{{focused_book.title}}</span></b>
			</div>
		</div>
		<div ng-include src="'/assets/angular/views/shared/partials/book_info.html'"></div>
	</div>
	<div ng-include src="'/assets/angular/views/feed/comment_box.html'"></div>
	<div class="tweet animate-fast" ng-repeat="tweet in focused_book.tweets | reverse">
		<div class="thumb"><img ng-src="{{tweet.user.thumb | thumb_backup}}"/></div>
		<div class="tweet_text">
			<b><div ng-bind-html="tweet.user.name"></div></b>
			<timestamp data="notification.timestamp"></timestamp>
			<div ng-bind-html="tweet.tag"></div>
			<div ng-bind-html="tweet.message"></div>
		</div>
	</div>
	<div class="tweet animate-fast">
		You've reached the end of Book Timeline.
	</div>
</div>