<div class="scrollbar tweets"
	check-scroll-bottom="get_notifications(false, user.id)"
	ng-click="stop_propagation($event)">
	<div class="profile_thumb_color_wrapper"></div>
	<div class="profile_thumb_wrapper">
		<img ng-src="{{user.thumb}}" class="profile_thumb" />
 	</div>
	<div class="tweet feed_header">
		<b><div>Your Reading Journey</div></b>
	</div>
	<div ng-include src="'/assets/angular/views/feed/comment_box.html'"></div>
	<div ng-repeat="notification in personal_notifications | reverse" 
	     class="tweet fx-fade-up fx-speed-900">
		<div ng-include src="'/assets/angular/views/feed/partials/notification_block.html'"></div>
	</div>
	<div class="tweet animate-fast" ng-if="personal_notifications && personal_notifications.length > 0">
		You've reached the end of your reading journey.
	</div>
	<div class="tweet animate-fast" 
		 ng-click="user.interact = true;"
		 ng-if="!personal_notifications || personal_notifications.length == 0">
		Start sharing your book reading journey.
	</div>
</div>