<div class="scrollbar tweets"
	check-scroll-bottom="get_notifications(false, reader.id)"
	ng-click="stop_propagation($event)">
	<div class="profile_thumb_color_wrapper"></div>
	<div class="profile_thumb_wrapper">
		<img ng-src="{{reader.thumb}}" class="profile_thumb" />
 	</div>
	<div class="tweet">
		<b><div>{{reader.name | first_name}}'s timeline</div></b>
	</div>
	<div ng-repeat="notification in readers_notifications | reverse" 
	     class="tweet animate-fast">
		<div ng-include src="'/assets/angular/views/feed/partials/notification_block.html'"></div>
	</div>
	<div class="tweet animate-fast">
		No new notifications from {{reader.name | first_name}}.
	</div>
</div>