<div class="wrapper animate-slow"
 	 style="z-index:12;" 
	 ng-click="close_interaction_box()"
	 msd-wheel="stop_horizontal_scroll($event)">
	 
	<div class="interaction_group">
		<div class="icon-close-popup" ng-click="close_interaction_box();"></div>
		<div ng-include src="'/assets/angular/views/feed/comment_box.html'"></div>
		<div ng-include src="'/assets/angular/views/feed/book_timeline.html'"></div>
		<div ng-include src="'/assets/angular/views/feed/trending.html'"></div>
		<div ng-include src="'/assets/angular/views/feed/news_feed.html'"></div>
		<div ng-include src="'/assets/angular/views/feed/readers_timeline.html'"></div>
		<div ng-include src="'/assets/angular/views/feed/personal_feed.html'"></div>
	</div>
</div>	