<div class="scrollbar tweets"
	ng-if="!focused_book.tweets && trending_feed && show_trending"
	check-scroll-bottom="get_notifications(true)"
	ng-click="stop_propagation($event)">
	<div class="tweet">
		<b><div>Trending</div></b>
	</div>
	<div ng-repeat="notification in trending_feed | reverse" 
	     class="tweet animate-fast">
		<div ng-include src="'/assets/angular/views/feed/partials/notification_block.html'"></div>
	</div>
	<div class="tweet animate-fast">
		You've reached end of the trending list.
	</div>
</div>