<div ng-if="!reader" class="user_profile_block scrollbar">
	<div class="header">
		<b>About {{user.name | first_name}}&nbsp;&nbsp;</b><span class="click float_right" ng-click="goto_info_card(0)">Edit</span>
	</div>
	<div class="content">
		<div class="init_block">
			<div><b>{{user.total_count | integer}}</b></div>
			<div>Cookies</div>
		</div>
		<div class="init_block">
			<div>
				<span><b>{{user.book_read_count | integer}}</b></span>
				<span class="icon-books"></span>
			</div>
			<div>Books Read</div>
		</div>
		<div class="init_block">
			<div>
				<span><b>{{user.bookmark_count | integer}}</b></span>
				<span class="icon-bookmarks"></span>
			</div>
			<div>Books in Shelves</div>
		</div>
	</div>
	<div class="content">
		<span ng-show="user.init_book_read_count">Reader of {{user.init_book_read_count}}</span><br/>
		<span ng-show="user.selectedDay">Birthday: {{user.selectedDay}} {{user.selectedMonth}}</span><br/>
		<span ng-show="user.last_login">Last Login: {{user.last_login}}</span>
	</div>
	<div class="header">
		<b>Likes&nbsp;&nbsp;</b>
		<span class="click float_right" ng-click="edit_genres_like()">Edit</span>
	</div>
	<div class="content">
		<div ng-repeat="like in user.likes" class="category_block table">
			<div class="{{like.icon}} table_cell category_icon"></div><br/>
			<div class="table_cell">{{like.name}}</div>
		</div>
		<div ng-show="user.likes.length == 0">
			This will help us to recommend you better books...
		</div>
	</div>
	<div class="header">
		<b>Books that left a mark on you&nbsp;&nbsp;</b>
		<span class="click float_right" ng-click="edit_books_read()">Edit</span>
	</div>
	<div class="content">
		<div ng-repeat="book in user.influential_books">
			<!-- <img src="{{book.isbn | small_thumb}}"/> -->
			<div><b class="site_color">{{book.title}}</b>, Book by {{book.author_name}}</div>
		</div>
		<div ng-show="user.influential_books.length == 0">
			We will notify you with any activity on these books...
		</div>
	</div>
	<!-- <map class="map" zoom="11">
		<marker position="[{{user.latitude}}, {{user.longitude}}]" centered="true"></marker>
	</map> -->
	<div class="header">
		<b>{{user.friends_count}} Friends</b>
	</div>
	<div class="friends_grid scrollbar">
		<div ng-repeat="friend in user.friends" class="friend_block animate-fast">
			<div ng-include src="'/assets/angular/views/left_panel/shared/friend_grid.html'"></div>
		</div>
	</div>
	<div class="content click" ng-click="show_all_friends()" ng-if="!user.all_friends_shown">
		Show all friends
	</div>
	<div class="padder content">
		
	</div>
</div>