<div class="notifications scrollbar">
	<notification data="notification" ng-repeat="notification in trending_feed | reverse"></notification>
	<div class="notification_stable">
		You have reached end of the trending list.
	</div>
</div>
<!-- <div ng-if="!user.trending_active"
	 class="notifications"
	 ng-hide="user.collapsed_trends && !user.show_profile">
	<div class="notification_stable">
		Check out books related to topics been talked in media and news. You can activate this feature by recommending Reader's Door to 10 friends.
	</div>
</div> -->