<div class="less_important bold" layout="row" layout-padding layout-align="center">
	<div>
		Author Suggestions on the basis of your Reading Journey
	</div>
</div>
<div ng-if="books_from_favourite_author" layout="row" layout-padding layout-sm="column">
	<div flex="30" layout="column" flex-sm="100">
		<md-button aria-label="refresh_author" class="margin_top clear md-whiteframe-z1"
			 ng-repeat="author in books_from_favourite_author" 
			 ng-click="refresh_data(author)">
			 <div layout="row">
				<img ng-src="{{::author.image_url}}" layout="row" class="square">
				<div layout-padding ng-bind-html="::author.name"
					ng-class="{'bold': info.active_tag.name == author.name}"></div>
			 </div>
		</md-button>
	</div>
	<div flex="70" layout-padding flex-sm="100">
		<div layout-padding>
			<a class="big_title" ng-href="/author?q={{info.active_tag.id}}" 
				ng-bind-html="info.active_tag.name"></a>
		</div>
		<div layout="row" layout-wrap>
			<section layout-margin ng-repeat="book in info.active_tag.books" class="rd_book_container">
				<md-button aria-label="show_book_dialog" class="md-whiteframe-z3 clear"
					ng-click="show_book_dialog(book, $event)">
					<div ng-include src="'/assets/angular/html/shared/partials/book_thumb.html'"></md-button>
				</md-button>
			</section>
		</div>
	</div>
</div>
<a ng-href="/room" ng-if="!books_from_favourite_author" class="less_important" layout-padding>
	<br/>Couldn't find your Favourite Author. Add more books to your room.<br/><br/>
</a>