.vertical_animate.ng-enter,
.vertical_animate.ng-leave.ng-leave-active{
	margin-top: -10px;
	height: 0px;
}

.vertical_animate.ng-leave,
.vertical_animate.ng-enter.ng-enter-active{
	margin-top: 0px;
	height: inherit;
}