.focused_tooltip{
	background-color: #fff;
	border: 1px solid #FFF;
	border-radius: 2px;
	box-shadow: 0 7px 15px rgba(0,0,0,.5);
	position: fixed;
	top: 52px;
	bottom: 1px;
	white-space: initial;
	z-index: 12;
	width: 72vh;
	padding-left: 3vh;
	padding-right: 3vh;
	/* for big screens */
}

.focused_tooltip .buy_column{
	padding: 10px;
}

.focused_tooltip .rating_star{
	position: absolute;
	right: 40px;
	top: 15px;
}

.focused_tooltip .rating_star img{
	width: 30px;
}

.focused_tooltip .book_info{
	padding: 15px 10px 5px;
	position: relative;
	width: 97%;
	/*overflow-y: scroll;*/
	max-height: 32vh;
}

.focused_tooltip .rating_star .rating_text{
	color: black;
	font-size: 0.7em;
	position: absolute;
	right: 8px;
	top: 10px;
}

.focused_tooltip .users img{
	display: inline-block;
	float: left;
	height: 30px;
	padding: 2px;
	width: 30px;
}

.focused_tooltip .user_box .heading{
	color: #9E9E9E;
	font-size: 0.8em;
	padding-left: 10px;
}

.focused_tooltip .description{
	font-size: .93em;
	height: 20vh;
	line-height: 1.5em;
	padding: 12px;
	width: 97%;
}

.focused_tooltip .book_info .text{
	display: inline-block;
	float: right;
	width: 68%;
	padding: 8px;
	word-wrap: break-word;
	font-size: 0.93em;
	line-height: 1.5em;
}

.focused_tooltip .long_description{
	height: 35vh;
}

.focused_tooltip .book_info img{
	width: 8%;
	border-radius: 2px;
	position: fixed;
}

.focused_tooltip .signature_thumb{
	float: right;
}

.focused_tooltip .description b{
	font-size: 2em;
}

.focused_tooltip .footer{
	bottom: 0px;
	left: 0px;
	margin-top: 5px;
	position: absolute;
	right: 0px;
}

.focused_tooltip .footer .recommend{
	cursor: pointer;
	font-size: .9em;
	padding: 10px 15px;
	float: right;
	margin-right: 3vh;
	margin-bottom: 3vh;
}

.focused_tooltip .users{
	display: -webkit-box;
	padding: 10px;
}

.rate{
	height: 25px;
	text-align: center;
	top: 20px;
	right: 0px;
	width: 240px;
}

.rate_radio{
	font-size: 0.9em;
}

.rate_radio:active{
	color: #E2B503 !important;
}

.rate_radio_buttons{
	padding: 3px 15px 2px 0px;
	width: 275px;
	text-align: left;
}

.focused_tooltip .instruct_block{
	height: 35px;
	font-size: 0.9em;
}

.focused_tooltip .header{
	padding: 3vh 0px 1vh 0px;
	cursor: default;
	line-height: 1.3em;
}

.focused_tooltip .header .author{
	font-size: 0.9em;
}

.focused_tooltip .user_box,
.focused_tooltip .user_box_wrapper{
	bottom: 145px;
	position: absolute;
	background-color: white;
	width: 93%;
	padding-top: 5px;
	height: 10vh;
	overflow-y: hidden;
}

.focused_tooltip .user_box_wrapper{
	z-index: 1;
	color: transparent;
	background-color: transparent;
	display: table;
	cursor: pointer;
}

.focused_tooltip .user_box_wrapper .text{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border-radius: 2px;
}

.focused_tooltip .user_box_wrapper:hover{
	/*background-image: -webkit-linear-gradient(top,rgba(255, 255, 255, 0),rgba(71, 135, 237, 0.79));
    background-image: -moz-linear-gradient(top,rgba(255, 255, 255, 0),rgba(71, 135, 237, 0.79));
    background-image: -ms-linear-gradient(top,rgba(255, 255, 255, 0),rgba(71, 135, 237, 0.79));
    background-image: -o-linear-gradient(top,rgba(255, 255, 255, 0),rgba(71, 135, 237, 0.79));
    background-image: linear-gradient(top,rgba(255, 255, 255, 0),rgba(71, 135, 237, 0.79));*/
    background-color: rgba(255, 255, 255, 0.8);
    color: #717070;
}

.focused_tooltip .user_box .book_thumb{
	display: inline-block;
	float: left;
	width: 40px;
	border-radius: 2px;
	margin-right: 2px;
}

.focused_tooltip .tabs{
	overflow: auto;
	width: 100%;
	margin-left: -1px;
	margin-top: 10px;
}

.focused_tooltip .tabs .tab{
	background-color: #E6E6E6;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 33%;
	font-size: 0.8em;
}

.time_to_read{
	left: 0px;
	letter-spacing: -5px;
	padding: 5px;
	padding-bottom: 20px;
	right: 0px;
	text-align: center;
	overflow-y:	auto; 
}

.focused_tooltip .popup_icon{
	position: absolute;
	right: 6px;
	top: 6px;
	color: #7E7E7E;
	font-size: 1.2em;
	cursor: pointer;
}

.focused_tooltip .popup_icon:hover{
	color: black;
}

.focused_tooltip .feedback_popup{
	list-style-type: none;
	position: absolute;
	right: 5px;
	background-color: #fff;
	z-index: 2;
	top: 10px;
	font-size: .8em;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
	padding: 10px 20px 10px 20px;
	border-radius: 3px;
}

.focused_tooltip .feedback_popup li{
	padding: 4px;
}

.focused_tooltip .feedback_popup li:hover{
	background-color: #F1F1F1;
}

.time_to_read .header{
	letter-spacing:0px;
	padding-bottom: 10px !important;
}

.time_to_read .read_block{
	background-color: white;
	cursor: pointer;
	font-size: 0.8em;
	letter-spacing: 0px;
	padding: 2px 0px;
	width: 25%;
	text-align: center;
}

.focused_tooltip .arrow{
	position: absolute;
	top: 230px;	
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	width: 0; 
	height: 0; 
}


.focused_tooltip .arrow_right{
	right: -11px;
	border-left: 10px solid white;
}

.focused_tooltip .arrow_left{
	left: -11px;
	border-right: 10px solid white; 
}

.focused_tooltip .tweet_link img{
	width: 30px;
	border-radius: 2px;
}

.focused_tooltip .tweet_link{
	bottom: 11vh;
	position: absolute;
	width: 90%;
	font-size: .8em;
	padding: 10px;
	word-wrap: break-word;
	cursor: text;
	border-radius: 2px;
	padding: 5px;
}

.focused_tooltip .tweet_link:hover{
	background-color: #E6E6E6;
}

.focused_tooltip .input_thumb{
	border: 1px solid #136CB2;
	padding: 4px;
	box-shadow: 0 3px 8px rgba(0,0,0,.3);
	width: 100%;
}

@media only screen
and (min-width : 320px)
and (max-width : 900px){
	.focused_tooltip{
		left: 1vh !important;
		right: 1vh;
		width: initial;
		bottom: 1vh;
		height: initial;
	}
}