.focused_tooltip{
	background-color: white;
	border: 1px solid #FFFFFF;
	border-radius: 4px;
	box-shadow: 0 7px 15px rgba(0,0,0,0.25);
	height: 80vh;
	min-width: 400px;
	position: fixed;
	top: 13vh;
	white-space: initial;
	width: 65vh;
	z-index: 2;
	/* for big screens */
}

.focused_tooltip .rating_star{
	position: absolute;
	right: 40px;
	top: 15px;
}

.focused_tooltip .rating_star img{
	width: 30px;
}

.focused_tooltip .book_info{
	padding: 10px;
}

.focused_tooltip .book_info .book_link .count{
	background-color: #918FB5;
	color: white;
	cursor: pointer;
	padding: 4px;
	text-shadow: 0 2px 3px rgba(0,0,0,0.5);
}

.focused_tooltip .book_thumb{
	display: inline-block;
	float: left;
	height: 50px;
	padding: 2px;
}

.focused_tooltip .rating_star .rating_text{
	color: black;
	font-size: .9em;
	position: absolute;
	right: 12px;
	top: 7px;
}

.focused_tooltip .users img{
	display: inline-block;
	float: left;
	height: 30px;
	padding: 2px;
	width: 30px;
}

.focused_tooltip hr{
	opacity: 0.2;
}

.focused_tooltip .own_this_book{
	bottom: 10px;
	color: #181f25;
	cursor: pointer;
	display: inline-block;
	float: left;
	font-size: .8em;
	margin-top: 5px;
}

.focused_tooltip .own_this_book:hover{
	text-decoration: underline;
}

.focused_tooltip .users_count{
	color: #9E9E9E;
	font-size: 0.8em;
	padding-left: 10px;
}

.focused_tooltip .description{
	font-family: Proxima Nova, sans-serif;
	font-size: 1em;
	height: 20vh;
	line-height: 1.5em;
	overflow-y: scroll;
	padding: 12px;
}

.focused_tooltip .share_menu div{
	border-bottom: 1px solid #9E9E9E;
	padding: 2px;
}

.focuseD_tooltip .share_menu div:hover{
	background-color: #E6E6E6;
	color: #9E9E9E;
}

.focused_tooltip .footer{
	background-color: #E6E6E6;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top: 1px solid #D5D5D5;
	bottom: 0px;
	left: 0px;
	margin-top: 5px;
	padding: 10px;
	position: absolute;
	right: 0px;
}

.focused_tooltip .footer .recommend{
	background-color: white;
	border: 1px solid #B8B8B8;
	cursor: pointer;
	float: left;
	font-size: 0.7em;
	margin-right: 10px;
	padding: 5px;
}

.focused_tooltip .footer .recommended{
	background-color: #B8B8B8;
	border: 1px solid #B8B8B8;
	color: white;
	cursor: pointer;	
	float: left;
	font-size: 0.7em;
	margin-right: 10px;
	padding: 5px;
}

.focused_tooltip .users{
	display: -webkit-box;
	padding: 10px;
}

.focused_tooltip .interact{
	background-color: #918FB5;
	border-bottom-right-radius: 3px;
	bottom: 0px;
	color: #fff;
	cursor: pointer;
	font-size: .8em;
	padding: 14px;
	position: absolute;
	right: 0px;
	top: 0px;
}

.rate{
	height: 15px;
	padding-top: 10px;
	text-align: center;
}

.focused_tooltip .header{
	padding: 10px 10px 0px 10px;
}

.focused_tooltip .header .title{
	cursor: pointer;
	color: #136CB2;
	font-size: 1em;
	font-weight: bold;
	max-height: 6vh;
	overflow-y: scroll;
	width: 70%;
}

.focused_tooltip .header .author{
	color: #136CB2;
	cursor: pointer;
	font-size: 0.9em;
	font-weight: bold;
	width: 70%;
}

.focused_tooltip .header .title:hover,
.focused_tooltip .header .author:hover,{
	text-decoration: underline;
}


.time_to_read{
	background-color: #E6E6E6;
	bottom: 50px;
	left: 0px;
	letter-spacing: -5px;
	padding: 5px;
	padding-bottom: 20px;
	position: absolute;
	right: 0px;
	text-align: center;
}

.time_to_read .header{
	letter-spacing:0px;
	padding-bottom: 10px !important;
}

.time_to_read hr{
	opacity: 0.3;
}

.time_to_read span{
	background-color: white;
	border: 1px solid #DFDFDF;
	cursor: pointer;
	font-size: 0.8em;
	letter-spacing: 0px;
	padding: 2px 15px 2px 15px;
	text-align: center;
}
.time_to_read .active_read_timer{
	background-color: #918FB5;
	color: white;
}

.time_to_read span:hover{
	background-color: #417FF0;
	color: white;
}