body,
md-content.md-default-theme{
	background-color: #E5E5E5;
}

md-toolbar{
	box-shadow: none;
	/*border-bottom: 1px solid #ececec;*/
}

a:hover,
a:visited,
a:active{
	text-decoration: none !important;
}

.toolbardemoScrollShrink .face {
  	width: 48px;
  	margin: 16px;
  	border-radius: 48px;
  	border: 1px solid #ddd; 
}

.header{
	/*background-color: #5f698c !important;*/
	background-color: #FFFFFF !important;
	color: rgba(145, 140, 140, 1) !important;
	z-index: 3;
	box-shadow: none;
	min-height: 48px !important;
}

md-card{
	box-shadow: none !important;
}

.no_shadow{
	box-shadow: none !important;
}

.header .md-button{
	color: rgba(145, 140, 140, 1) !important;
}

.carddemoBasicUsage md-card {
	min-height: 150px; 
}

md-card{
	margin-top: 25px !important;
	background-color: white;
}

md-content{
	height: 100vh !important;
	padding-bottom: 10px;
	/*margin-top: 0px !important;*/
	/*margin-bottom: 100px !important;*/
}

.burger{
	background-color: #ececec;
	color: rgba(145, 140, 140, 1) !important;
}

md-tabs a{
	color: white !important;
}

.logo{
	padding-left: 50px;
	font-size: 1.2em;
}

.logo img{
	position: absolute;
	z-index: 99999999;
	left: 45px;
	top: 0px;
	width: 54px;
	height: 64px;
}

.search{
	background-color: rgba(255, 255, 255, 0.82) !important;
	width: 50vw;
	height: 35px;
	padding-left: 37px;
	border: none;
	border-bottom: 1px solid #E4DDDD !important;
	box-shadow: none;
}

.search input{
	padding-left: 0px;
}

.search input:focus{
	outline: none;
}

.search_container{
	position: absolute;
    left: 25%;
    height: 50px;
}

.search_container label{
	font-size: 15px;
  	padding-left: 40px;
}

.library{
	text-transform: inherit;
	color: inherit;
	font-size: 14px;
	font-weight: bold;
	padding: 0px;
	height: 35px !important;
}

.library a{
	padding: 8px 16px;
}

.header section{
	justify-content: initial;
}

.right_links{
	position: absolute;
  	justify-content: flex-end !important;
  	right: 0px;
  	margin-top: 17px;
}

.right_links div{
	padding: 0px 10px;
}

md-card>img{
 	order: 1;
 	max-height: 50vh;
}

.card .footer{
 	order: 2;
}

.padding{
	padding: 16px;
}

.small-padding{
	padding: 10px;
}


.book.ng-enter,
.book.ng-leave.ng-leave-active{
	margin-top: 100px;
}

.book.ng-leave,
.book.ng-enter-active{
	margin-top: 0px;	
}

md-backdrop.md-opaque.md-default-theme{
	background-color: rgba(0,0,0,0.24);
}

.md-button-left{
	text-align: left;
}

.search_icon{
	color: grey;
	position: absolute;
	z-index: 1;
	top: 18px;
	margin-left: 10px;
}

md-toolbar{
	min-height: 48px;
}

.notifications{
	position: fixed;
	right: 0px;
	top: 55px;
	max-height: 300px;
	width: 300px;
	z-index: 2;
}

.circular{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.profile_link{
	padding: 4px 8px;
}

.left_panel{
	z-index: 2;
	min-width: 250px;
	width: 250px;
}

.left_panel section{
	margin-top: 60px;
}

.loader{
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 10px;
	z-index: 2;
}

.left_panel_container md-backdrop{
	z-index: 0;
}

.md-fab-custom-right{
	top: 70% !important;
	right: 10% !important;
}

.fixed_share{
	border-radius: 0px !important;
	box-shadow: none !important;
	width: 71px !important;
	height: 70px !important;
	background-color: transparent !important;
}

.fixed_share.ng-enter,
.fixed_share.ng-leave.ng-leave-active{
	margin-right: 50%;
}

.fixed_share.ng-leave,
.fixed_share.ng-enter-active{
	margin-right: 0%;
}

.share.ng-enter,
.share.ng-leave.ng-leave-active{
	opacity: 0;
}

.share.ng-leave,
.share.ng-enter-active{
	opacity: 1;
}


.rate{
	height: 25px;
	text-align: center;
	top: 20px;
	right: 0px;
	color: white;
	width: 240px;
}

.rate_radio{
	font-size: 0.9em;
	letter-spacing: -3px;
}

.rate_radio:active{
	color: white !important;
}

.rate_radio_buttons{
	padding: 3px 15px 2px 0px;
	width: 275px;
	text-align: left;
}
