
.rd_book_backup_cover,
.rd_book_image_cover,
.rd_book_container,
.rd_slider_wrapper,
.rd_book_shadow{
	width: 155px;
	min-width: 155px;
	padding: 0px;
}

.rd_book_container:hover{
	text-decoration: none !important;
}

.book_container{
	padding: 30px;
}

.rd_book_backup_cover,
.rd_book_image_cover,
.rd_slider_wrapper,
.rd_book_shadow{
  	height: 220px;
}


md-autocomplete md-autocomplete-wrap{
	box-shadow: none !important;
}

md-content.md-default-theme,
.background{
	background-color: #E5E5E5;
}

.md-paginator.md-next, 
.md-paginator.md-prev{
	background-color: #f5f5f5;
}

md-toolbar{
	box-shadow: none;
	/*border-bottom: 1px solid #ececec;*/
}

.share_wrapper{
	position: fixed;
  	top: 0px;
  	left: 0px;
  	right: 0px;
  	bottom: 0px;
  	background-color: rgba(255, 255, 255, 0.9);
  	overflow-y: scroll;
  	z-index: 999;
}

a:hover,
a:visited,
a:active{
	/*text-decoration: none !important;*/
}

a{
    color: #2196F3;
}

.header a,
.home_header a{
	color: #333;
}


.toolbardemoScrollShrink .face {
  	width: 48px;
  	margin: 16px;
  	border-radius: 48px;
  	border: 1px solid #ddd;
}

.yield{
	margin-top: 48px;
}

.header{
	/*box-shadow: none;*/
  	min-height: 48px !important;
  	z-index: 3;
  	background-color: white;
  	width: 100%;
  	position: fixed;
  	top: 0px;
}

.home_header{
	min-height: 48px !important;
  	z-index: 3;
  	background-color: white;
  	width: 100%;
  	top: 0px;	
}

.border_bottom{
  	border-bottom: 1px solid #E2E2E2;
}

.no_shadow{
	box-shadow: none !important;
}

.carddemoBasicUsage md-card {
	min-height: 150px; 
}

md-card{
	border-radius: 2px;
	background-color: white;
}

md-content{
	max-height: 99vh !important;
	outline: none !important;
}

.burger{
	padding: 10px;
}


/*md-tabs a{
	color: white !important;
}
*/
.logo{
	padding-left: 35px;
	font-size: 1.2em;
	/*font-weight: bold;*/
	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  	letter-spacing: -0.02em;
  	font-weight: 700;
  	font-style: normal;
  	/*font-size: 60px;*/
  	margin-left: -3px;
  	line-height: 1;
  	letter-spacing: -0.04em;
  	margin-top: 40px;
  	padding-top: 0;
  	margin-bottom: 8px;
  	color: rgba(0,0,0,0.8);
}

.logo:hover{
	text-decoration: none !important;
	color: #333;
}

.logo img{
	position: absolute;
  	z-index: 99999999;
  	left: 1px;
  	top: -7px;
  	width: 30px;
  	height: 36px;
}

.search{
	background-color: transparent !important;
	width: 50vw;
	height: 35px;
	padding: 0px !important;
	border: none;
	box-shadow: none;
	border-bottom: 1px solid black;
	color: white !important;
}

.search md-input-container .md-placeholder{
	color: #333;
}

.search md-input-container label,
.search .md-input{
	color: #333 !important;
	border-color: white !important;
}

.search input{
	padding-left: 40px !important;
	color: #333 !important;
}

.search input:focus{
	outline: none;
}

.search_icon{
	position: absolute;
  	left: 5px;
  	margin-top: 15px;
}

.search_container{
	position: relative;
	z-index: 1;
}

.library{
	text-transform: inherit;
	color: inherit;
	font-size: 14px;
	font-weight: bold;
	padding: 0px;
	height: 35px !important;
}

.library a{
	padding: 8px 16px;
}

.header section{
	justify-content: initial;
}

.right_links{
	position: absolute;
  	justify-content: flex-end !important;
  	right: 0px;
  	margin-top: 17px;
}

.right_links div{
	padding: 0px 10px;
}

md-card>img{
	position: absolute;
	width: 100%;
	margin-top: -10%;
}

md-card .image_wrapper{
 	order: 1;
 	height: auto;
 	overflow: hidden;
 	position: relative;
 	width: 100%;
}

.card .footer{
 	order: 2;
}

.padding{
	padding: 16px;
}

.small-padding{
	padding: 10px;
}


.book.ng-enter,
.book.ng-leave.ng-leave-active{
	margin-top: 100px;
}

.book.ng-leave,
.book.ng-enter-active{
	margin-top: 0px;	
}

md-backdrop.md-opaque.md-default-theme{
	background-color: rgba(0,0,0,0.24);
}

.md-button-left{
	text-align: left;
}

md-toolbar{
	min-height: 48px;
}

.notifications{
	position: fixed;
	right: 0px;
	/*top: 55px;*/
	/*max-height: 300px;*/
	/*height: auto !important;*/
	width: 300px;
	/*z-index: 20;*/
}

.circular{
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
}

.big_circle{
	border-radius: 50% !important;
    width: 100px;
    height: 100px;	
}

.profile_link{
	padding: 4px 8px;
}

.left_panel{
	z-index: 99999999;
	min-width: 250px;
	width: 250px;
}

.left_panel a:hover{
	text-decoration: none !important;
}

.left_panel section{
	margin-top: 10px;
}

.loader{
	position: fixed;
	z-index: 99999;
	bottom: 5px;
	left: 0px;
	right: 0px;
}

.md-fab-custom-right{
	top: 70% !important;
	right: 10% !important;
}

.primary{
	background-color: #00BCD4;
}

.share_container{
	position: relative;
  	width: 100%;
  	height: 56px;
  	z-index: 0;
}

.fixed_share{
  position: absolute;
  right: 35px;
  top: 25px;
}

.fixed_share.ng-enter,
.fixed_share.ng-leave.ng-leave-active{
	margin-right: 50%;
}

.fixed_share.ng-leave,
.fixed_share.ng-enter-active{
	margin-right: 0%;
}

.share.ng-enter,
.share.ng-leave.ng-leave-active{
	opacity: 0;
}

.share.ng-leave,
.share.ng-enter-active{
	opacity: 1;
}


.rate{
	height: 25px;
	text-align: center;
	top: 20px;
	right: 0px;
	color: white;
	width: 240px;
}

.rate_radio{
	font-size: 0.9em;
	letter-spacing: -3px;
}

.rate_radio:active{
	color: white !important;
}

.rate_radio_buttons{
	padding: 3px 15px 2px 0px;
	width: 275px;
	text-align: left;
}

.movable:hover{
	cursor: pointer;
	border: 5px solid white;
}

.movable:active{
	cursor: move;
}

.droppable:hover{
	/*background-color: #D3D3D3;*/
}

.sticky_logo{
	left: 0px !important;
}

.wiki{
	width: 100%;
  	border: none;
  	height: 80vh;
  	overflow: hidden;
}

.wiki body{
	height: 80vh;
	overflow: hidden;
}

.big_title{
	font-size: 28px;
  	letter-spacing: -0.02em;
  	line-height: 1.2;
  	font-weight: 500;
	font-family: sans-serif;
}

@media only screen
and (min-width : 320px)
and (max-width : 800px){
	.vertical_padder_active {
		height: 120px;
	}

	.share_wrapper{
		height: 0px;
		padding: 0px;
	}

	.shelf_nav_links{
		height: 30px;
		top: 63px;
	}

	.left_panel{
		top: 0px;
		width: 51px !important;
	}

	.left_column_collapsed{
		width: 50px;
		text-align: center;
		color: transparent;
	}

	.left_column_collapsed:hover{
		color: transparent;
	}

	.left_column{
		left: 0px;
		right: 60px;
		width: inherit;
	}

	.left_column_shifted{
		right: 15px;
		width: 40px !important;
		left: inherit !important;
	}

	.left_column .collapse_icon{
		right: 20px;
		left: initial;
	}

	.site_logo{
		display: none;
	}

	.compressed_site_logo{
		display: inline-block;
	}

	.main_header .search_typeahead_group,
	.main_header .search_input_shifted{
		left: 50px;
		width: 70%;
		border: none;
	}

	.user_profile,
	.feed_group{
		left: 0;
		margin: 0;
		right: 0;
		width: 96%;
		padding: 2%;
		background-color: white;
	}

	.shelf_nav_links{
		right: 5px;
	}

	.trending_thumb_color_wrapper,
	.profile_thumb_color_wrapper,
	.profile_thumb_wrapper,
	.thumb_wrapper_shifted,
	.header_navbar img,
	.expand_notifications,
	.share_wrapper .thumb_wrapper, 
	.share_wrapper .thumb_wrapper img,
	.scroller,
	.user_name .name{
		display: none;
	}

	.user_name div{
		float: left;
		display: inline-block;
	}

	.user_name{
		left: 58px;
		top: 65px;
	}

	.interaction_group,
	.feed_header{
		left: 5px;
		right: 5px;
		width: inherit;
	}

	.interaction_box,
	.message_box,
	.tweets .tweet{
		width: 96%;
		padding: 2%;
	}

	.book_thumb_color_wrapper, .book_thumb_wrapper{
		width: 100px;
		height: 155px;
	}

	.feed_header{
		margin-left: 0px;
	}

	.large_font{
		font-size: 14px;
	}

	.left_panel_expanded,
	.notifications_popup{
		left: 0px;
		right: 0px;
		width: inherit !important;
		bottom: 0px;
		height: inherit;
		max-height: none;
	}

	.share_wrapper_shifted{
		width: 100%;
		padding: 0px;
		background-position: 0px 0px;
	}

	.share{
		width: initial;
		height: initial;
		border-radius: 20px;
		padding: 10px;
	}

	.share:hover{
		text-decoration: none;
		padding: 11px;
	}


	.rd_book_backup_cover,
	.rd_book_image_cover,
	.rd_book_container,
	.rd_slider_wrapper,
	.rd_book_shadow{
		width: 140px;
		min-width: 140px;
	}

	.rd_book_backup_cover,
	.rd_book_image_cover,
	.rd_slider_wrapper,
	.rd_book_shadow{
	  	height: 170px;
	}

}


@media only screen and (min-width: 768px) {
    /* tablets and desktop */
    .book_scroller{
    	max-height: 70vh;
    	margin-left: 20px;
    }
}

@media only screen and (max-width: 767px) {
    /* phones */
    .book_scroller{
    	max-height: 180px;
    	max-width: 100vw;
    }

    .rd_book_backup_cover,
	.rd_book_image_cover,
	.rd_book_container,
	.rd_slider_wrapper,
	.rd_book_shadow{
		width: 100px;
		min-width: 100px;
	}

	.rd_book_container{
		
	}

	.rd_book_backup_cover,
	.rd_book_image_cover,
	.rd_slider_wrapper,
	.rd_book_shadow{
	  	height: 160px;
	}
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
    .book_scroller{
    	max-height: 180px;
    	max-width: 100vw;
    }
}

.margin_top{
	margin-top: 6px !important;
}

.search_thumb{
	height: 40px;
	width: 30px;
}

.shelves{
	background-color: white !important;
	color: black;
}

.shelves md-checkbox{
	margin-top: 0px;
	margin-bottom: 0px;
}

.shelves md-content{
	background-color: white;
	max-height: 200px;
}

.shelf_tooltip{
	margin-top: 55px;
	pointer-events: initial;
}

md-tooltip .md-content{
	height: auto !important;
}

.less_important_container{
	background-color: #f5f5f5;
}

.user_circular{
	width: 80px !important;
	height: 80px !important;
}

#home{
    position: inherit !important;
}

.footer{
	order: 5;
}

.active_page_menu{
	padding: 0px;
  	/*background-color: rgb(250, 250, 250);*/
  	height: 40px;
}

.active_page_menu .md-select-label{
	border-color: white !important;
	width: 100%;
  	padding: 0px 10px;
}

.active_page_menu, 
.active_page_menu .md-select-label{
	font-size: 15px;	
}

.md-select-menu-container .md-default-theme{
	background-color: white !important;
}

.h-btn-right{
    float: right !important;
    font-size: .8em;
    padding-top: 5px;
}

.navigator{
  	width: 400px;
  	/*height: 300px;*/
  	margin-left: -185px;
  	color: #333 !important;
  	font-size: 15px;
  	font-family: sans-serif;
  	text-transform: uppercase;
  	pointer-events: initial;
}

.navigator, 
.navigator .md-background,
.navigator .md-content,
.navigator .navigation_block{
	background-color: white !important;
	padding: 0px !important;
}

.navigator .navigation_block{
	width: 100px;
}
.navigator .navigation_block i{
	font-size: 48px;
}

/*.category_title{
	color: #000;
  	font-size: 11px;
  	letter-spacing: 2px;
  	line-height: 14px;
  	font-family: AvenirNextLTW01-Regular,Helvetica,Arial,sans-serif; 
}*/

.side_panel{
    margin-top: 0px !important;
    width: 400px !important;
  	max-width: 100vw !important;
    position: fixed;
    color: rgba(0,0,0,.87) !important;
}

.side_panel .login_panel{
	width: 320px !important;
}

.rd_book_backup_cover{
    position: absolute;
    color: white;
    white-space: normal;
}

.rd_book_backup_cover h3{
	font-weight: 400;
	overflow: hidden;
	margin: 0px;
}

.rd_book_image_cover{
	position: relative;
}

.rd_slider_wrapper{
		overflow: hidden;
		z-index: 1;
}

.rd_book_shadow{
	position: absolute;
	z-index: 1;
}

.rd_title{
	color: white;
  	font-weight: 600;
  	font-size: 40px;
  	text-shadow: 1px 1px 6px rgba(0,0,0,0.2);
  	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}

.md-list-item-text{
	padding: 0px !important;
}

.extensive_padding{
	padding: 20px;
}

.recommend_block{
	text-transform: capitalize;
	background-color: white;
	margin-top: 6px;
	width: 60px;
	font-size: 16px;
	font-family: sans-serif;
}

.default_book_cover{
	width: 100%;
  	height: 100%;
  	position: absolute;
  	top: 0px;
}

.trends{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.description_card{
	border: 1px solid #f5f5f5;
	color: #404040;
 	line-height: 1.6;
  	font-size: 0.9em;
}

.md-subheader:not(.md-sticky-no-effect).md-sticky-clone{
	top: 50px !important;
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084);
	margin-left: 0px !important;
}

.important_title{
	font: 300 20px Roboto,arial,sans-serif;
	color: #898989;
}

.small_book_thumb{
	width: 35px;
  	height: 50px;
}

.very_important_title{
	font-family: "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
	font-size: 52px;
  	line-height: 1.08654;
  	letter-spacing: -0.014em;
  	font-weight: 200;
  	text-decoration: none;
}

.very_important_title:hover{
	text-decoration: none !important;
}