.i-happy{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;
}

.i-nostalgic{
	background: url(/assets/icons.jpg) -296px -166px;
	width: 30px;
	height: 30px;	
}

.i-enlightened{
	background: url(/assets/icons.jpg) -357px -126px;
	width: 30px;
	height: 30px;	
}

.i-insane{
	background: url(/assets/icons.jpg) -146px -10px;
	width: 30px;
	height: 30px;	
}

.i-happy{
	background: url(/assets/icons.jpg) -61px -7px
	width: 30px;
	height: 30px;	
}

.i-sad{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-frustrated{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-bored{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-scared{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-funny{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-confused{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-romantic{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-inspired{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-out-of-the-world{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-alone{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-loved{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-upset{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-awesome{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-sleepy{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-crazy{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-heartbroken{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-irritated{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-wonderful{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-blessed{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-lonely{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-incomplete{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-hopeful{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-hurt{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-great{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-high{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-pumped{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-drained{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-old{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-naughty{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-guilty{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-low{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-excited{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;	
}

.i-thinking{
	background: url(/assets/icons.jpg) -236px 36px;
	width: 30px;
	height: 30px;
}

.i-feeling{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;
}

.i-smelling{
	background: url(/assets/icons.jpg) 75px -13px;
	width: 30px;
	height: 30px;
}
.i-counting{
	background: url(/assets/icons.jpg) -20px -7px;
	width: 30px;
	height: 30px;
}