.horizontal_padder_active{
	width: 37% !important;
}

.info_cards{
	background-color: #fff;
	border: 1px solid #F1F1F1;
	margin-right: 50px;
	margin-left: 30px;
	padding: 3%;
	white-space: normal;
	height: 68vh;
	border-radius: 3px;
	position: fixed;
	z-index: 9;
	left: 50%;
	width: 70%;
	margin-left: -35%;
	box-shadow: 0 4px 60px rgba(0, 0, 0, 0.61);
	top: 50%;
	margin-top: -40vh;
}

.info_card_placeholder{
	display: inline-block;
	float: left;
	width: 17%;
	white-space: normal;
	position: relative;
	height: 54vh;
}

.compressed_info_card{
	bottom: 20px;
	position: fixed;
	z-index: 11;
	left: 50%;
	margin-left: -284px;
	box-shadow: 8px 0 43px 0 rgba(66,66,66,.47);
}

.compressed_info_card_shifted{
	left: 5px;
	top: 100px;
}

.compressed_info_card .block{
	border-radius: 1px;
	padding: 10px;
	background-color: white;
	border-bottom: 1px solid #E9E9E9;
	cursor: pointer;
	font-size: 0.9em;
	float: left;
	display: inline-block;
	margin: 1px;
	width: 140px;
	text-align: center;
}

.compressed_info_card .block:hover{
	background-color: #F1F1F1;
}

.info_cards .dropdown{
	float: right;
	width: 25vh;
}

.info_cards .grid_thumb{
	border-radius: 2px;
	margin: 4px;
	float: left;
	display: inline-block;
}

.info_cards .sub_header{
	margin-top: 5px;
	font-size: 1.2em;
}

.info_cards .book_details{
	width: 70%;
 	float: left;
 	display: inline-block;
	font-weight: normal;
	padding: 4px;
	font-weight: normal;
}

.info_cards .book_column{
	overflow: auto;
	width: 44%;
	padding: 10px;
	margin-left: 1%;
	cursor: pointer;
	border-radius: 3px;
	float: left;
	min-width: 320px;
	/*box-shadow: 0 1px 4px 0 #DDDCDC,inset 0 0 40px #FCFCFC;*/
	border-bottom: 4px solid transparent;
}

.info_cards .selected{
	color: #427fed;
}

.info_cards .book_column:hover{
	background-color: #F5F5F5;
}

.info_cards .wrap_header{
	height: 39px;
	overflow: visible !important;
}

.info_cards .header::-webkit-scrollbar-track{
	background-color: #F5F5F5;
}

.info_cards .header::-webkit-scrollbar-track:hover {
    opacity: 1;
    width: 10px;
    background-color: #D5D5D5;
}

.info_cards .header{
	font-size: 1em;
	padding: 4px;
	/*overflow: auto;*/
	border-radius: 5px;
	margin-top: 10px;
	max-height: 45vh;
	min-width: 35vh;
	width: 100%;
	/*overflow-y: auto;*/
	color: #717070;
}

.info_cards .profile_pic{
	width: 20vh;
	margin-top: 10px;
	border-radius: 3px;
}

.info_cards .back_color{
	position: absolute;
	left: -1px;
	right: -1px;
	height: 10px;
	top: -2px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.info_cards .input_30{
    width: 30% !important;
    margin-right: 10px;
}

.info_cards .input_50{
    width: 50% !important;
    margin-right: 10px;
}

.info_cards input{
	width: 100%;
	padding: 6px;
	font-size: 1em;
	outline: 1px solid #D3D3D3;
	/*float: left;*/
	border-radius: 4px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.info_cards input[type="radio"]{
	padding: 0px;
	margin: 5px;
}

.info_cards .custom_radio{
	float: none !important;
}

.info_cards .description{
	position: absolute;
	top: 280px;
	white-space: normal;
	width: 250px;
	left: 30px;
}

.info_cards .description_box{
	position: absolute;
	white-space: normal;
	width: 250px;
	height: 50%;
	overflow-y: scroll;
}

.info_cards .footer{
	position: absolute;
	bottom: 25px;
	right: 25px;
	background-color: transparent;
	border-top: none;
	left: initial;
}

.info_cards .thumb{
	color: white;
	background-color: rgba(255, 255, 255, 0.26);
	font-size: 0.7em;
	cursor: pointer;
}

.info_cards .footer .next,
.info_cards .footer .prev{
	cursor: pointer;
	text-align: center;
	padding: 15px;
	font-size: 2em;
	background-color: rgba(255, 255, 255, 0.01);
}

.loading_circle{
	width: 10px;
}

.loading_icon{
	padding: 5px 105px;
}

.arrow_boxes{
	position: absolute;
}

.arrow_box{
	position: relative;
	background: #D094AB;
	height: 20px;
	width: 40px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	margin-bottom: 20px;
	display: inline-block;
	color: white;
	font-size: 0.6em;
	text-align: center;
	padding-top: 5px;
}

.arrow_box:after, .arrow_box:before{
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136,183,213,0);
	border-left-color: #D094AB;
	border-width: 12px;
	margin-top: -5px;
}

.arrow_box_type2{
	padding-left: 9px;
}

.arrow_box_type2:before{
	left: 0px;
	padding-left: 10px;
	border-left-color: white;
}

.info_cards .toggle_filter [class^="icon-"]{
	font-size: 1.5em;
}

.invite_friends{
	padding: 7px 20px;
	margin: 5px;
	position: absolute;
	top: 35px;
	right: 20px;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 500px) {
/* Styles */
	/*.info_cards{
		left: 1vh;
		right: 1vh;
		top: 1vh;
		bottom: 1vh;
		margin: 0px;
		width: initial;
		height: initial;
	}*/

	
}