@media (min-width:1000px)and (max-width:2200px){
	
	.fixed_left_panel{
        position: fixed;
        top: 110px;
        left: 0px;
        width: 20vw;
    }
	.right_anchored{
		border-right: 5px solid;
      	border-radius: 1px;
      	padding-right: 5px;
      	border-color: #d0d0d0;
	}

	.right_anchored:hover{
        text-decoration: underline !important;
        border-color: #404040;
    }

    .thin_margin{
        margin-top: 2px;
    }

    .inactive_link{
        font-weight: bold;
        cursor: default;
    }

    .inactive_link:hover{
        text-decoration: none !important;
    }

    .fixed_right_panel{
		position: fixed;
		top: 110px;
		width: 20vw;
		right:0px;
	}

    .left_anchored{
		border-left: 5px solid;
		border-radius: 1px;
		padding-left: 5px;
		border-color: #d0d0d0;
	}

    .left_anchored:hover{
        text-decoration: underline !important;
        border-color: #404040;
    }

    .thin_margin{
        margin-top: 2px;
    }

}
@media (min-width:600px)and (max-width:1000px){

	.fixed_left_panel{
        position: fixed;
        top: 110px;
        left: 0px;
        width: 20vw;
    }
	.right_anchored{
		border-right: 5px solid;
      	border-radius: 1px;
      	padding-right: 5px;
      	border-color: #d0d0d0;
	}

	.right_anchored:hover{
        text-decoration: underline !important;
        border-color: #404040;
    }

    .thin_margin{
        margin-top: 2px;
    }

    .inactive_link{
        font-weight: bold;
        cursor: default;
    }

    .inactive_link:hover{
        text-decoration: none !important;
    }

    .fixed_right_panel{
		position: fixed;
		top: 110px;
		width: 20vw;
		right:0px; 
	}

    .left_anchored{
		border-left: 5px solid;
		border-radius: 1px;
		padding-left: 5px;
		border-color: #d0d0d0;
	}

    .left_anchored:hover{
        text-decoration: underline !important;
        border-color: #404040;
    }


}
@media (max-width: 590px)and (max-height:1199px){
	
	.fixed_left_panel{
        left: 0px;
        width:100%;
        background: white !important;
        margin-top: 10px;
    }

    .fixed_right_panel{
    	right:0px;
    	width: 100%;
    	background: white !important;
    	margin-top: 10px;
    }

    .right_anchored:hover{
        text-decoration: underline !important;
        border-color: #404040;
    }

    .left_anchored:hover{
        text-decoration: underline !important;
        border-color: #404040;
    }

    .thin_margin{
        margin-top: 2px;
    }


}