@media (min-width:1000px)and (max-width:2200px){
	
	.author_pic{
        border-radius: 50%;
        width: 150px;
        height: 150px;
        left: 30px;
        border: 5px solid #E5E5E5;
        margin-top: -25px;
        margin-left: 40px;
    }
}
@media (min-width:550px)and (max-width:1000px){
	
	.author_pic{
        border-radius: 50%;
        width: 120px;
        height: 120px;
        left: 10px;
        border: 5px solid #E5E5E5;
        margin-top: -25px;
        margin-left: 10px;
    }
}