.vertical_padder_active{
	height: 95px;
	width: 100%;
}

.main_header{
   	background-color: #F5F5F5;
   	height: 40px;
   	left: 0px;
	position: fixed;
   	top: 0px;
   	width:100%;
   	z-index: 7;
   	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
   	box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}

/* recommendationFooter */
#recommendationFooter {
   	height:40px;
   	left:0px;
   	position:fixed;
   	top:40px;
   	width:100%;
   	z-index: 6;
}

.profile_thumb{
	display: inline-block;
	float: left;
	margin-right: 2px;
	margin-left: 25px;
	cursor: pointer;
	height: 40px;
}

.profile_thumb:hover{
	background-color: #F3F3F3;
}

.profile_thumb img{
	height: 30px;
	border-radius: 10px;
	padding: 5px;
}

/* IE 6 */
* html #recommendationFooter{
   position:absolute;
   top:expression((0-(recommendationFooter.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

.vertical_line{
	border-right: 1px solid #DADADA;
	display: inline-block;
	height: 40%;
	position: absolute;
	top: 15%;
	width: 25px;
}

.close_button{
	position: absolute;
	right: 5px;
	top: 0px;
	cursor: pointer;
	padding: 8px;
	font-size: 1.2em;
}

.comment_box{
	border: 1px solid #D6D5D5;
	color: #717070;
	font-size: 1em;
	margin: 5px 0px 5px 0px;
	width: 98%;
	height: 60px;
	max-width: 98%;
	max-height: 90px;
	outline: none;
	border: 1px solid #F1F1F1;
	border-radius: 4px;
}

.interaction_box .character_count{
	color: #A8A8A8;
	font-size: 0.8em;
	float: right;
}

.comment_box:focus{
	border: 1px solid #136CB2;	
}

.msd-wheel.ng-move{
	-webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 5.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 5.5s;
}

.msd-wheel.ng-move-active{
	margin-right: 1200px;
}

.toggle_filter [class^="icon-"],
.link [class^="icon-"]{
	font-size: 1.5em;
}

.link{
	font-size: 0.9em;
	cursor: pointer;
	display: inline-block;
	height: 10px;
	text-align: center;
	padding: 8px 15px 20px;
	color: #717070;
	margin-left: -5px;
}

.filter_link{
	font-size: 1.1em;
	cursor: pointer;
	text-align: center;
	padding: 10px 10px 8px 10px;
	background-color: white;
	color: #D3D3D3;
	border-bottom: 2px solid transparent;
	left: 50px;
	top: 50px;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
   	box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
   	position: fixed;
   	border-radius: 3px;
   	letter-spacing: 0.13em;
   	min-width: 195px;
}

.selected_filter{
	color: #717070 !important;
	cursor: default;
}

.selected_filter:hover:before{
    content: "\e694";
}

.filter_status{
	position: fixed;
	left: 60px;
	top: 60px;
}

.filter_link_icon{
	-webkit-animation: bounce 850ms linear infinite alternate;
	-moz-animation: bounce 850ms linear infinite alternate;
	animation: bounce 850ms linear infinite alternate;
}

.filter_icon{
	color: white;
	padding: 12px;
	border-radius: 2px;
}

@-webkit-keyframes bounce {
    0% { -webkit-transform: translate3d(0,   0px,0); 
         -webkit-animation-timing-function: ease-out; }
   50% { -webkit-transform: translate3d(0,-10px,0); 
         -webkit-animation-timing-function: ease-in; }
  100% { -webkit-transform: translate3d(0,   0px,0); }
}

.menu_group{
	font-size: 1em;
	float: left;
	margin-left: 3%;
	display: inline-block;
	text-align: center;
}

.advanced_filter{
	width: 40px;
	padding-top: 10px;
	padding-bottom: 13px;
	color: #427fed;
}

.advanced_filter_active{
	width: 160px;
	border-left: 1px solid #C2C2C2;
	border-right: 1px solid #C2C2C2;
}

.menu{
	top: 39px;
	border-top: 1px solid #ECECEC;
	border-left: 1px solid #C2C2C2;
	border-right: 1px solid #C2C2C2;
	background-color: white;
	color: #8aa8bd;
	position: absolute;
	width: 160px;
}

.menu a:hover{
	text-decoration: none;
	font-weight: bold;
}

.menu div{
	border-bottom: 1px solid #E7E7E7;
	padding-top: 12px;
	padding-bottom: 12px;
}

.menu div:hover{
	background-color: #F5FBFF;
	text-decoration: none;
}

#recommendationFooter .active{
	cursor: default;
	background-color: #F0F0F0;
	color: #427fed;
	font-weight: bold;
	border-radius: 3px;
}

.shelf_nav_links{
	right: 10px;
	background-color: white;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
   	box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
   	position: fixed;
   	top: 50px;
   	border-radius: 3px;
}

.push_notification{
	display: table;
	color: #717070;
	background-color: #fff;
	right: 1px;
	top: 95px;
	position: fixed;
	max-width: 240px;
	width: auto;
	padding-right: 10px;
	white-space: normal;
	height: 55px;
	box-shadow: 1px 1px 6px 0 #424242;
	z-index: 10;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.push_notification .type{
	display: inline-block;
	float: left;
	background: #427fed;
	color: #fff;
	padding: 10px;
	font-size: 2em;
	border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	margin-right: 10px;
}

.push_notification .content{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #717070;
	background-color: #fff;
	white-space: normal;
	font-size: 0.8em;
}

.scroller{
	right: 5px;
	color: #3D79A1;
	height: 35px;
	bottom: -5px;
	position: fixed;
}


.scroller .scroller-left,
.scroller .scroller-right{
	font-size: 1em;
	background-color: #427fed;
	border: 1px solid #F0F0F0;
	color: white;
}

.scroller .scroller-left:active,
.scroller .scroller-right:active{
	background-color: #315E7C; 
}

.scroller span:active{
	background-color: black;
}

.scroller .scroller-left{
	margin-left: 3px;
	padding: 6px 25px 9px 25px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.scroller .scroller-right{
	margin-right: 3px;
	padding: 6px 25px 9px 25px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.scroller .scroller-left:hover,
.scroller .scroller-right:hover{
	background-color: #3769C2;
	cursor: pointer;
}

.more_filters{
	width: 253px;
	z-index: 2;
	background-color: #fff;
	border: 1px solid #E2E2E2;
	border-radius: 3px;
	margin-top: 5px;
}

.more_filters .filter_header{
	padding: 10px;
	background-color: #F3F3F3;
	cursor: pointer;
	border-bottom: 1px solid;
}

.filters_panel,
.filters_panel_large,
.filters_panel_right{
	text-align: center;
}

.filters_group{
	width: 100%;
	overflow: auto;
}

.filters_panel,
.filters_group,
.filters_panel_right{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.filters_panel_right .header{
	color: #717070;
	font-size: 0.8em;
}

.filters_panel_right .header,
.main_filters{
	padding: 15px;
}

.filter{
	float: left;
	margin: 2px;
	display: inline-block;
	padding: 5px 4px 5px 4px;
	font-size: 0.8em;
	cursor: pointer;
	text-align: left;
	min-width: 220px;
	border-radius: 3px;
}

.interaction_box,
.message_box{
	position: fixed;
	left: 50%;
	margin-left: -250px;
	box-shadow: 8px 10px 54px 0 #424242;
	z-index: 5;
	padding: 10px;
	background-color: #fff;
	width: 500px;
	top: 100px;
	border-radius: 4px;
	padding-right: 20px;
	padding-left: 20px;
}

.interaction_box_options{
	width: 250px;
	top: 182px;
	margin-left: -239px;
	box-shadow: 0 1px 4px 0 #99A3AD,inset 0 0 40px #EEE;
	color: #717170;
	font-size: 1em;
	z-index: 6;
	position: fixed;
	left: 50%;
}

.interaction_box .highlighter{
	position: absolute;
	top: 18px;
	left: 12px;
	color: transparent;
	letter-spacing: 0.04em;
	width: 100%;
	white-space: initial;
}


.interaction_box .highlighter b{
	background: rgba(61, 121, 161, 0.34);
	box-shadow: 0 0 0 1px #A3BCEA;
	font-weight: normal;
}

.interaction_box_options .option{
	cursor: pointer;
	padding: 10px;
	background-color: white;
	white-space: normal;
}

.recommendation_box{
	position: fixed;
	background-color: white;
	width: 500px;
	max-width: 90%;
	height: 500px;
	left: 50%;
	margin-left: -250px;
	top: 50%;
	margin-top: -225px;
	box-shadow: 0 7px 15px rgba(0, 0, 0, 0.25);
	z-index: 1;
	border-radius: 4px;
}

.recommendation_box .friend_grid .friend_thumb{
	width: 60px;
	margin: 2px;
	border: 2px solid white;
}

.recommendation_box .header{
	border-bottom: 1px solid rgba(113, 112, 112, 0.14);
	width: 95%;
	padding: 12px !important;
}

.recommendation_box .footer{
	position: absolute;
	bottom: 0px;
	width: 96%;
}

.recommendation_box .footer .done{
	padding: 10px;
	width: 70px;
	text-align: center;
}

.recommendation_box .friend_grid{
	height: 380px;
	padding: 20px;
	white-space: normal;
	overflow-y: scroll;
}

.reset_filters{
	float: left;
	cursor: pointer;
	color: #717070;
	padding-left: 10px !important;
	padding-right: 10px !important;
	width: 75px !important;
}

.main_filters{
	text-align: center;
	background-color: #DFDFDF;
	height: 20px;
	border-radius: 3px;
}

.main_filters div{
	font-size: 0.8em;
	display: inline-block;
	height: 10px;
	width: 62px;
	text-align: center;
	padding: 5px 4px 5px 4px;
}

.active_filter{
	color: white;
	background-color: #918FB5;
}

.inactive_filter{
	cursor: pointer;
	color: #717070;
	background-color: #FFFFFF;
	box-shadow: 0px 1px 4px 0px #DDDCDC, inset 0px 0px 40px #FCFCFC;
}

.inactive_filter:hover{
	box-shadow: 0px 1px 4px 0px #143A5F, inset 0px 0px 40px #368AC2;
}

.main_filters a:hover{
	text-decoration: none;
}

.input_filter{
	width: 150px;
	color: #717070;
	padding: 8px;
	background-color: #FFFFFF;
	cursor: default;
	font-size: 0.8em;
	border: 1px solid #ECECEC;
	border-radius: 2px;
}

.rate_radio{
	font-size: 0.9em;
	color: #717070;
}

.rate_radio:active{
	color: #E2B503 !important;
}

.rate_radio_buttons{
	padding: 3px 15px;
	width: 275px;
	color: #717070;
	text-align: left;
}

.result_count{
    display: inline-block;
    float: right;
    margin-right: 20px;
	margin-top: 8px;
}

.typeahead_group{
	position: relative;
	width: 220px;
	height: 38px;
}

.typeahead_group .remove_filter{
	position: absolute;
	top: 2px;
	right: -2px;
	background-color: rgb(243, 243, 243);
	padding: 9px;
}

.typeahead_group .remove_filter:hover{
	background-color: #427fed;
	color: white;
}

.typeahead_options{
	position: absolute;
	width: 170px;
	box-shadow: 0px 1px 4px 0px #99A3AD, inset 0px 0px 40px #EEEEEE;
	color: #717170;
	font-size: 0.8em;
	top: 40px;
	left: 0px;
}

.typeahead_options .option{
	cursor: pointer;
	text-align: center;
	padding: 10px;
	background-color: white;
	border-bottom: 1px solid #EEEEEE;
	white-space: normal;
}

.interaction_box_options .option:hover,
.interaction_box_options .active,
.typeahead_options .active,
.typeahead_options .option:hover{
	background-color: #F1F1F1;
}

.stamp_read{
	position: absolute;
	border: 4px solid #710808;
	text-align: center;
	padding: 9px;
	color: #710808;
	margin: -310px 0px 0px -10px;
	font-size: 0.7em;
	background-color: rgba(255, 255, 255, 0.21);
}

.genre_typeahead_options,
.author_typeahead_options{
	z-index: 1;
	display: inline-block;
	float: left;
	margin: 2px;
	width: 170px;
}

.z_index_two{
	z-index: 2;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
	font-size: 0.6em;
}


/* Desktops and laptops ----------- */
@media only screen
and (min-width : 400px) {
/* Styles */
	body{
		font-size: 0.9em;
	}

	.book_navbar_base{
		width: 96.5%;
	}

	.rate_radio_buttons{
		margin-top: -10px;
	}


	.card .zoomedin_thumb{
	}

}

@media only screen
and (min-width : 1280px){

	.book_navbar_base{
		width: 97%;
	}

	.rate_radio_buttons{
		margin-top: 0px;
	}

}

@media only screen
and (min-width : 1366px){
	body{
		font-size: 0.9em;
	}

	.book_navbar_base{
		width: 97%;
	}

	.rate_radio_buttons{
		margin-top: -10px;
	}

}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */

	.recommendation_block{
		margin-top: 35px;
	}

	.rate_radio_buttons{
		margin-top: 0px;
	}


}


.notifications{
	font-size: .9em;
	z-index: 3;
	width: 255px;
	max-height: 170px;
	border-radius: 4px;
	overflow-y: hidden; 
}

.notifications:hover{
	overflow-y: auto; 
}

.notification_link{
	left: 10px;
	top: 50px;
	z-index: 7;
	font-size: 1.2em;
	position: fixed;
	padding: 8px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #ECECEC;
	border-radius: 3px;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
   	box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}

.notification_link:hover{
	border: 1px solid none;
	background-color: #427fed;
	color: white;
}


.notification_link_active{
	background-color: #427fed;
	color: white;
}

.notifications a{
	cursor: pointer;
	color: #3D79A1;
	font-weight: bold;
}

.notifications .notification_message{
	width: 165px;
	white-space: initial;
	padding: 5px;
	height: 45px;
}

.notifications .notification:hover{
	background-color: #F1F1F1;
}

.notifications .notification{
	background-color: #fff;
	overflow: auto;
	margin: 1px;
	border-bottom: 1px solid #C9C9C9;
	border-radius: 2px;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
}

.notifications span{
	display: inline-block;
	float: left;
}

.notifications img{
	width: 30px;
	margin: 5px;
	border-radius: 5px; 
}

.notification_circle {
	background-color: #d73d32;
	color: white;
	text-align: center;
	min-width: 12px;
	margin-top: 10px;
	font-size: 0.7em;
	padding: 4px;
	margin-left: 10px;
	position: absolute;
}

/* only needed for this sample */
.badge {
    float: left;
    left: 25px;
    margin: 6px;
    position: relative;
}

/* dropdown css */

/****** dropdown-select *******/

.wrap-dd-select:hover{
	background-color: #F1F1F1;
}

.wrap-dd-select{
    position: relative;
	width: 100%;
	padding: 12px;
	background: white;
	cursor: pointer;
	outline: none;
	white-space: initial;
	text-align: left;
	font-size: 0.8em;
}

.wrap-dd-select .dropdown{
    position: absolute;
	bottom: -300%;
	left: 0;
	right: 0;
	background: white;
	padding: 0;
	border: 1px solid rgba(0, 0, 0, 0.17);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	font-weight: normal;
	transition: all 0.2s ease-in;
	list-style: none;
	opacity: 0;
	pointer-events: none;
	margin-top: 0px;
	margin-bottom: 0px;
	z-index: 2;
	max-height: 35vh;
}

.wrap-dd-select .dropdown li.divider {
    padding: 2px 0;
    background: #e6e8ea;
}

.wrap-dd-select .dropdown li a {
    display: block;
    padding: 10px;
    padding-left: 20px;
    text-decoration: none;
    color: #8aa8bd;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    transition: all 0.3s ease-out;
    white-space: initial;
}

.wrap-dd-select .dropdown li i {
    float: right;
    color: inherit;
}
 
/* Hover state */
 
.wrap-dd-select .dropdown li:hover a {
    background: #f3f8f8;
}

.wrap-dd-select.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}
 
.inline_block_left{
	float: left;
	display: inline-block;
}

.site_menu{
	display: inline-block;
	float: left;
	width: 100px;
}

.go_left{
	position: fixed;
	width: 50%;
	height: 100%;
	left: 0px;
	top: 0px;
	cursor: w-resize;
}

.go_right{
	position: fixed;
	width: 50%;
	height: 100%;
	right: 0px;
	top: 0px;
	cursor: e-resize;	
}

.wrapper{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.4);
}

.top_hover_detector{
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0px;
	height: 40px;
}

.bottom_hover_detector{
	position: fixed;
	width: 100%;
	left: 0px;
	bottom: 0px;
	height: 6vh;
}

.toggle_filter{
	text-align: left;
	margin-top: 15px;
	padding: 20px;
}

.progression_state{
	position: fixed;
	height: 100%;
}

.site_logo{
    float: left;
    color: #427fed;
	font-size: 1.5em;
	font-weight: 700;
	font-family: Helvetica;
	letter-spacing: -3.2px;
	margin-left: 20px;
	margin-top: 7px;
}



.main_header .search_typeahead_group{
    position: fixed;
    right:10%;
    top: 3px;
    width: 306px;
    height: 37px;
    z-index: 1;
}

.main_header input{
	height: 70%;
	box-shadow: none;
	margin-top: 2px;
	border: 1px solid #E7E7E7;	
}

.main_header .search_typeahead_group input{
	border-top-left-radius: 3px;
}

.main_header .search_level1_typeahead_group input,
.main_header .search_level2_typeahead_group input{
	border-top-left-radius: 0px;
}

.main_header .search_typeahead_group .search_icon{
	box-shadow: none;
	padding: 9px 11px 5px;
	top: 2px;
	border-top-right-radius: 3px;
}

.main_header .website_search_helpers, 
.main_header .website_search_options{
	top: 34px;
}

.main_header .search_level1_typeahead_group{
	width: 272px;
}


.main_header .input_handler .custom_icon{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.main_header .input_handler .custom_icon, 
.main_header .input_handler_level2 .custom_icon{
	padding: 9px;
}

.main_header .search_level2_typeahead_group{
	width: 239px;
}

.main_header .input_handler{
	position: fixed;
	z-index: 2;
	top: 3px;
	width: 34px;
	height: 34px;
	margin-top: 0px;
	right: 10%;
	margin-right: 271px
}

.main_header .input_handler_level2{
	position: fixed;
	z-index: 2;
	top: 3px;
	width: 34px;
	height: 34px;
	margin-top: 0px;
	right: 10%;
	margin-right: 238px;
}

.button_effect {
	border: 1px solid #F3F3F3;
	background-color: white;
	cursor: pointer;
}

.button_effect:hover {
	background-color: #D8D8D8;
	border-bottom: 1px solid !important;
	color: white;
}

.tweets{
	position: fixed;
	top: 220px;
	left: 50%;
	width: 550px;
	margin-left: -250px;
	overflow-y: scroll;
	max-height: 55vh;
}

.tweets::-webkit-scrollbar-track{
	background-color: rgba(0,0,0,0);
}

.tweets:hover::-webkit-scrollbar-track{
	background-color: rgba(0,0,0,0);
}

.tweets::-webkit-scrollbar-track:hover {
    opacity: 1;
    width: 10px;
    background-color: #D5D5D5;
}

.tweets .tweet{
	background: white;
	padding: 10px;
	margin-top: 5px;
	border-radius: 2px;
	overflow: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.tweets a{
	color: #136CB2;
	cursor: pointer;
}

.tweets .tweet img{
	width: 30px;
	border-radius: 2px;
}

.tweets .tweet .tweet_text{
	display: inline-block;
	float: left;
	padding: 0px 10px 0px 10px;
	width: 440px;
	word-wrap: break-word;
}

.left_column{
	overflow: auto;
	left: 10px;
	top: 90px;
	position: fixed;
	z-index: 2;
	box-shadow: 8px 0 43px 0 rgba(66,66,66,.47);
}

.ticker_popup{
	top: 95px;
	left: 270px;
	white-space: initial;
	background-color: white;
	border-radius: 4px;
	border: 1px solid #FFF;
	box-shadow: 0 7px 15px rgba(0,0,0,.25);
	height: 42vh;
	min-width: 371px;
	position: fixed;
	width: 52vh;
	z-index: 2;
	padding: 4px 15px 4px 15px;
}

.ticker_popup .arrow_left{
	position: absolute;
	top: 20px;	
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	width: 0; 
	height: 0;
	left: -11px;
	border-right: 10px solid white; 
}

.ticker_popup .ticker_overflow{
	height: 42vh;
	overflow: scroll;
	width: 57vh;
}


.left_column .friends_grid{
	max-height: 35px;
	padding: 5px;
	white-space: normal;
	width: 235px;
	background-color: white;
	margin-top: 5px;
	border-radius: 4px;
	padding-left: 10px;
	padding-right: 10px;
}

.left_column .friends_grid img{
	width: 40px;
	margin: 2px;
	border-radius: 5px;

}


.green{
	background-color: #65b045;
}

.magenta{
	background-color: #11a9cc;
}

.cyan{
	background-color: #981b48;
}

.loading_widget{
	width: 100px;
	background-color: white;
	height: 75vh;
	border-radius: 4px;
}