
.search_page{
	position: fixed;
	background-color: white;
	width: 100%;
	height: 80%;
	background: -moz-radial-gradient(center, ellipse cover, #6FE2FF 0%,#0B7097 121%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #6FE2FF 0%,#0B7097 121%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #6FE2FF 0%,#0B7097 121%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,#6FE2FF 0%,#0B7097 121%); /* IE10+ */
	background: radial-gradient(ellipse at center, #6FE2FF 0%,#0B7097 121%);
	/*background-size: 100% 80%;*/
	background-repeat: no-repeat;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.search_page .login_button{
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #d73d32;
	color: white;
	text-align: center;
	padding: 15px;
	cursor: pointer;
	/*border-radius: 4px;*/
	text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.5);
}

.search_page .login_button:hover{
	border-bottom: 2px solid #8A2119;
}

.search_page .login_button:active{
	background-color: #EE4C41;
}

.search_page .logo{
	color: white;
	position: absolute;
	left: 20px;
	top: 20px;
	font-size: 2em;
	font-weight: bold;
	font-family: Helvetica;
	letter-spacing: -4.2px;
	text-shadow: 0 2px 3px rgba(0,0,0,0.5);
}

.search_page .tagline{
	position: absolute;
	top: 50px;
	left: 10px;
	color: white;
	font-size: 1.1em;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.search_page select option{
	color: white;
    margin:40px;
    background: black !important;
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}

.search_page .internal_links,
.search_page .secondary_login{
	color: #717070;
	position: absolute;
	left: 50%;
	/*border-radius: 2px;*/
}

.search_page .secondary_login:hover{
	border: 1px solid #3D79A1;
	color: #3D79A1;
}

.search_page .internal_links{
	margin-left: -245px;
	bottom: -21%;
}

.search_page .secondary_login{
	bottom: -20%;
	margin-left: -115px;
	cursor: pointer;
	font-size: 1em;
	border: 1px solid;
	padding: 20px;
	background-color: white;
}

.search_page .secondary_login.ng-enter,
.search_page .secondary_login.ng-leave.ng-leave-active{
	margin-left: -400px;
}

.search_page .secondary_login.ng-leave,
.search_page .secondary_login.ng-enter.ng-enter-active{
	margin-left: -175px;
}

.search_page .internal_links a{
	float: left;
	display: inline-block;
	font-size: 0.9em;
	cursor: pointer;
    width:80px;
    height:80px;
    /*border-radius:40px;*/
    color:#fff;
    line-height:80px;
    text-align:center;
    background:#4d90fe;
    margin-left: 60px;
}

.search_page .internal_links a:hover{
	/*border: 1px solid;*/
	text-decoration: none;
}

.search_page .internal_links .count{
	font-size: 1.2em;
}

.search_page hr{
	top: 60px;
	position: absolute;
	width: 90%;
	left: 40px;
	border-color: rgba(255, 255, 255, 0.4);
	color: rgba(255, 255, 255, 0.4);
	/*box-shadow: 10px 2px 60px 25px rgba(0, 0, 0, 0.64);*/
}

.website_search_options,
.website_search_helpers{
	top: 40px;
	position: absolute;
	box-shadow: 0px 1px 4px 0px #99A3AD, inset 0px 0px 40px #EEEEEE;
	color: #717170;
	font-size: 1em;
	z-index: 11;
	width: 100.7%;
	margin-left: 0px;
}

.website_search_options .option:hover,
.website_search_helpers .option:hover{
	background-color: #F1F1F1;
}

.website_search_options .option,
.website_search_helpers .option{
	cursor: pointer;
	padding: 10px;
	background-color: white;
	white-space: normal;
	border-bottom: 1px solid #E2E2E2;
}

.website_search_options .graph_option{
}

.website_search_helpers .option{
	cursor: default;
}

.website_search_helpers .custom_option{
	background-color: white;
}

.website_search_helpers .custom_option .title{
	padding: 10px;
}

.website_search_helpers .helper_title{
	color: #888888;
}

.website_search_helpers .helper_title div{
	padding: 10px;
	border-bottom: 1px solid rgba(113, 112, 112, 0.2);
	cursor: pointer;
}

.website_search_helpers .helper_title div:hover{
	background-color: #F3F3F3;
}

.fb{
	cursor: pointer;
	background-image: url("/assets/fb_active.png");
	height: 32px;
	background-size: 180px 32px;
	text-align: center;
	background-repeat: no-repeat;
	padding: 2px;
	width: 176px;
}

.google{
	cursor: pointer;
	text-align: center;
}

.login_box{
	position: fixed;
	left: 50%;
	margin-left: -195px;
	box-shadow: 8px 10px 54px 0px #424242;
	z-index: 5;
	padding: 35px;
	background-color: white;
	/*border-radius: 2px;*/
	width: 300px;
	height: 220px;
	bottom: 0px;
	text-align: center;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.login_box .header{
	margin-bottom: 10px;
}

.login_form input{
	padding: 10px;
	border: 1px solid #F1F1F1;
	margin: 0px;
	color: #717070;
}
.login_form input.ng-invalid.ng-dirty {
  border-color: #FA787E;
}

.login_form input.ng-valid.ng-dirty {
  border-color: #78FA89;
}

.login_form input:focus{
	outline:none;
	border: 1px solid #F1F1F1;
}

.login_form .email{
	/*border-top-right-radius: 2px;*/
	/*border-top-left-radius: 2px;*/
}

.login_form .password{
	/*border-bottom-right-radius: 2px;*/
	/*border-bottom-left-radius: 2px;*/
}

.login_form .authenticate{
	padding: 10px 0px 10px 5px;
	background-color: #427fed;
	text-align: center;
	color: white;
	cursor: pointer;
	/*border-radius: 2px;*/
	width: 47%;
	display: inline-block;
	float: left;
}

.login_form .authenticate:hover{
	background-color: #417FF0;
	border-bottom: 2px solid #3D78E4;
}

.login_form .authenticate_left{
	border-right: 1px solid;
}

.login_form .authenticate:active{
	background-color: #3D78E4;
}



.search_animate.ng-enter,
.search_animate.ng-leave.ng-leave-active{
	opacity: 0;	
}

.search_animate.ng-leave,
.search_animate.ng-enter.ng-enter-active{
	opacity: 1;
}

.search_level1_typeahead_group{
	width: 369px;
	margin-left: -163px;
}

.search_level2_typeahead_group{
	width: 339px;
	margin-left: -133px;
}

.input_handler{
    position: fixed;
    left: 50%;
    top: 35%;
    width: 38px;
    height: 37px;
    margin-left: -200px;
    margin-top: -20px;
    z-index: 2;
}

.input_handler_level2{
	position: fixed;
    left: 50%;
    top: 35%;
    width: 38px;
    height: 37px;
    margin-left: -170px;
    margin-top: -20px;
    z-index: 2;	
}

.input_handler_level2 .custom_icon,
.input_handler .custom_icon{
    background-color: white;
    width: 15px;
    padding: 11px;
}


.input_handler_level2 .custom_icon:hover,
.input_handler .custom_icon:hover{
	background-color: #F1F1F1;
}

.search_focus{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.43);
	z-index: 1;
}

.nav_menu{
	position: absolute;
	bottom: -25%;
	left: 50%;
	margin-left: -220px;
}

.nav {
  list-style: none;
  text-align: center;
}

.nav li {
  position: relative;
  display: inline-block;
  margin-right: -4px;
}

.nav a [class^="icon-"]{
	font-size: 1.5em;
}

.nav a {
  display: block;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(white));
  background-image: -webkit-linear-gradient(top, #f7f7f7, white); 
  background-image: -moz-linear-gradient(top, #f7f7f7, white); 
  background-image: -ms-linear-gradient(top, #f7f7f7, white); 
  background-image: -o-linear-gradient(top, #f7f7f7, white); 
  color: #a7a7a7;
  margin: 10px 25px;
  width: 70px;
  height: 70px;
  position: relative;
  text-align: center;
  line-height: 70px;
  /*border-radius: 50%;*/
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.nav a:hover{
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}

.nav li:before {
  content: "";
  display: block;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.nav a:before {
  content: "";
  display: block;
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  top: -18px;
  left: -18px;
  bottom: -18px;
  right: -18px;
  z-index: -1;
  /*border-radius: 50%;*/
  box-shadow: inset 0px 8px 48px #ddd;
}

.login_box .close{
	position: absolute;
	right: 5px;
	top: 0px;
	cursor: pointer;
	padding: 8px;
	font-size: 1.2em;
}


/* Desktops and laptops ----------- */
@media only screen
and (min-width : 400px) {
/* Styles */
	
	.login_form input{
		width: 200px;
		font-size: 1em;
	}

}


@media only screen
and (min-width : 1280px){
	.login_form input{
		width: 250px;
		font-size: 1em;
	}

}


@media only screen
and (min-width : 1366px){
		.login_form input{
		width: 210px;
		font-size: 1em;
	}

}

@media only screen
and (min-width : 1824px) {

}