html{
	height: 100%;
	overflow-y: hidden;
	overflow-x: auto;
}
body{
	width: 100%;
	height: 100%;
	white-space: nowrap;
    /*remove selection*/
 	-webkit-user-select: none;
 	-moz-user-select: -moz-none;
  	-ms-user-select: none;
    user-select: none;
    color: #717070;
    background-color: #E5E5E5;
    font-size: 0.9em;
    /*background-image: url('bg.png');*/
    margin: 0px;
    font-family: helvetica neue;
}

:not(.scrollbar)::-webkit-scrollbar { 
    display: none; 
}

hr{
    opacity: 0.2;
}

/*anchor tags*/
a{
    color: #717070;
    text-decoration: none;
}

a:hover{
    text-decoration:underline;
}

input{
    /*border: 1px solid #DBDBDB;*/
    border: none;
}

input:focus{
    /*border: 1px solid #717070;*/
    /*border: 1px solid #DBDBDB;*/
    outline:none;
}

.search_typeahead_options{
    bottom: 40px;
    position: absolute;
    left: 164px;
    width: 280px;
}


.recommendations_page .search_typeahead_group{
    top: 15px;
    margin-top: 0px;
}

.recommendations_page .search_input{
    color: #717070;
    background-color: white;
    border: 1px solid #D8D8D8;
}

.recommendations_page .search_input:focus{
    /*outline: 0.5px solid #4d90fe;*/
    border-color: #4d90fe !important;
    box-shadow: 0 0 10px #9ecaed;
}

.search_input{
    font-size: 1em;
    color: #717070;
    padding-left: 10px;
    /*border-radius: 2px;*/
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    width: 96%;
    height: 100%;
    content: '';
    border-top-left-radius: 4px;
}

/*animation*/
.animate-fast{
    -webkit-transition:all linear 0.2s;
    -moz-transition:all linear 0.2s;
    -o-transition:all linear 0.2s;
    transition:all linear 0.2s;
}

.animate-slow{
    -webkit-transition:all linear 0.5s;
    -moz-transition:all linear 0.5s;
    -o-transition:all linear 0.5s;
    transition:all linear 0.5s; 
}

.animate-very-slow{
    -webkit-transition:all linear 0.9s;
    -moz-transition:all linear 0.9s;
    -o-transition:all linear 0.9s;
    transition:all linear 0.9s;
}

.stuck {
  position: fixed;
  top: 0;
}

.center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.custom_radio{
    width: 12px !important;
    -webkit-appearance: none;
    color: #717070;
    font-weight: bolder;
    outline: none !important;
}

.custom_radio:before{
    content: "\e654";
}

.custom_radio:checked{
    color: #427fed;
    font-size: 1.1em;
}

.custom_radio:checked:before{
    content: "\f14a";
}

.arrow_down{
    border-top: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: 1px;  
    width: 0; 
    height: 0;
    z-index: 3;
}

.full_height{
    height: 100%;
}

.full_width{
    width: 100%;
}

.scrollbar{
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb{
    opacity: 0;
}

.scrollbar::-webkit-scrollbar-track{
    background-color: #fff;
}


.scrollbar:hover::-webkit-scrollbar-thumb {
    -webkit-background-clip: content-box;
    background-color: rgba(0, 0, 0, .4);
    border: 1px solid rgba(85, 85, 85, .6);
    -webkit-border-radius: 7px;
    -webkit-transition: width 250ms;
    width: 5px;
    opacity: 1;
}

.scrollbar:hover::-webkit-scrollbar-track {
    opacity:0;
    display: block;
    pointer-events: none;
    -webkit-user-select: none;
    background-color: #fff;
    width: 7px;
    -webkit-border-radius: 10px;
    z-index: 5;
}

.scrollbar::-webkit-scrollbar-track:hover {
    opacity: 1;
    width: 10px;
    background-color: #D5D5D5;
    -webkit-border-radius: 10px;
}

.yellow_color{
    color: #E2B503 !important;
 }
  
.dark_blue_color{
    color: #136CB2 !important;
}
  
.purple_color{
    color: #918FB5 !important;
}

.light_gray_background{
    background-color: #F1F1F1 !important;
}

.black_blue_background{
    background-color: #181F25 !important;
}
