hr{
    opacity: 0.2;
}

/*anchor tags*/
a{
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    text-decoration:underline !important;
}

input{
    /*border: 1px solid #DBDBDB;*/
    border: none;
}

input:focus{
    /*border: 1px solid #717070;*/
    /*border: 1px solid #DBDBDB;*/
    outline: 1px solid #427fed;
}


/*animation*/
.animate-fast{
    -webkit-transition:all linear 0.2s;
    -moz-transition:all linear 0.2s;
    -o-transition:all linear 0.2s;
    transition:all linear 0.2s;
}

.animate-faster{
    -webkit-transition:all linear 0.1s;
    -moz-transition:all linear 0.1s;
    -o-transition:all linear 0.1s;
    transition:all linear 0.1s;
}

.animate-slow{
    -webkit-transition:all linear 0.5s;
    -moz-transition:all linear 0.5s;
    -o-transition:all linear 0.5s;
    transition:all linear 0.5s; 
}

.animate-very-slow{
    -webkit-transition:all linear 0.9s;
    -moz-transition:all linear 0.9s;
    -o-transition:all linear 0.9s;
    transition:all linear 0.9s;
}

.animate-super-slow{
    -webkit-transition:all linear 1.5s;
    -moz-transition:all linear 1.5s;
    -o-transition:all linear 1.5s;
    transition:all linear 1.5s;
}

.full_height{
    height: 100%;
}

.full_width{
    width: 100%;
    overflow-y: auto;
}

.scrollbar{
    overflow-x: hidden;
    overflow-y: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.scrollbar:hover{
    overflow-y: auto; 
    -ms-overflow-style: auto;
}

.scrollbar::-webkit-scrollbar {
    width: 9px;
}

.scrollbar::-webkit-scrollbar-thumb{
    opacity: 0;
}

.scrollbar::-webkit-scrollbar-track{
    background-color: #fff;
}


.scrollbar:hover::-webkit-scrollbar-thumb {
    -webkit-background-clip: content-box;
    background-color: rgba(0, 0, 0, .3);
    -webkit-border-radius: 10px;
    opacity: 1;
}

.scrollbar:hover::-webkit-scrollbar-track {
    opacity:0;
    background-color: #fff;
    -webkit-border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-track:hover {
    opacity: 1;
    background-color: #D5D5D5;
    -webkit-border-radius: 9px;
    border-radius: 10px;
}


.yellow_color{
    color: #E2B503 !important;
}

.yellow{
    background-color: #FFC107 !important;   
}

.white_color{
    color: white !important;
}
  
.dark_blue_color{
    color: #136CB2 !important;
}

.purple_color{
    color: #918FB5 !important;
}

.site_color{
    color: #427fed !important;
}

.faded_site_color{
    color: rgba(66, 127, 237, 0.6) !important;
}

.green_color{
    color: #65b045 !important;
}

.orange_color{
    color: #d73d32 !important;
}

.red_color{
    color: #DD4B39 !important;
}

.red{
    background-color: #F44336 !important;
}

.light_grey{
    background-color: #f5f5f5 !important;
}

.light_grey_color{
    color: #717070 !important;
}

.normal_text{
    font-size: 11px !important;
}

.grey_color{
    color: #424242 !important;
}

.grey{
    background-color: #E5E5E5 !important;
}

.dark_green_color{
    color: #3cb878 !important;
}

.f3_background{
    background-color: #F3F3F3 !important;
}

.light_gray_background{
    background-color: #F1F1F1 !important;
}

.dark_grey{
    background-color: #D6D6D6 !important
}

.black_blue_background{
    background-color: #181F25 !important;
}

.purple_background{
    background-color: #918FB5 !important;
}

.site{
    background-color: #427fed !important;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
}

.white{
    background-color: white !important;
}

.green{
    background-color: #65b045 !important;
}

.magenta{
    background-color: #981b48 !important;
}

.cyan{
    background-color: #11a9cc !important;
}

.orange{
    background-color: #FF9800 !important;
}

.purple{
    background-color: #7e3794 !important;
}

.draggable{
    cursor: move;
}

.relative{
    position: relative;
}

.wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 10;
    background: -moz-radial-gradient(center,ellipse cover,rgba(0,0,0,.4)0,rgba(0,0,0,.9)100%);
    background: -webkit-gradient(radial,center center,0,center center,100%,color-stop(0%,rgba(0,0,0,.4)),color-stop(100%,rgba(0,0,0,.9)));
    background: -webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,.4)0,rgba(0,0,0,.9)100%);
    background: -o-radial-gradient(center,ellipse cover,rgba(0,0,0,.4)0,rgba(0,0,0,.9)100%);
    background: -ms-radial-gradient(center,ellipse cover,rgba(0,0,0,.4)0,rgba(0,0,0,.9)100%);
    background: radial-gradient(center,ellipse cover,rgba(0,0,0,.4)0,rgba(0,0,0,.9)100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000', endColorstr='#e6000000', GradientType=1);
    -ms-filter: "alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

.capitalize{
    text-transform: capitalize;
}


.light_red_color{
    color: rgba(216, 57, 30, 0.5) !important;
}

.padding{
    padding: 20px;
}

.small_padding{
    padding: 10px;   
}

.side_padding{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.bold{
    font-weight: 700 !important;
}

.small_font{
    font-size: 12px;
}

.light_link{
    color: #717070;
}

.light_link:hover{
    color: #333;
    text-decoration: none;
}

.basic_link:hover{
    text-decoration: underline;
}

.small_thumb{
    margin: 5px;
    border-radius: 2px;
    box-shadow: #ccc 5px 5px 5px;
}

.vertical-text {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -ms-transform-origin: left top 0;
    -moz-transform-origin: left top 0;
    -webkit-transform-origin: left top 0;
    transform-origin: left top 0;
    margin-left: 40px;
    padding: 12px;
    text-transform: uppercase;
    float: left;
}

.md-button-clear{
    text-transform: none !important;
    font-weight: inherit !important;
    text-align: inherit !important;
    padding: 9px 18px !important;
}

.clear{
    text-transform: none !important;
    font-weight: inherit !important;
    text-align: inherit !important;
    padding: 0px !important;
    margin: 0px !important;
}

md-input-container .md-input{
    border-bottom: 1px solid;
}

.less_important{
    color: #999999;
    font-size: 0.8em;
}

.absolute{
    position: absolute;
}

.z-index-1{
    z-index: 1;
}

.md-button{
    line-height: 18px !important;
    margin: 0px !important;
    min-width: inherit !important;
}

md-list-item{
    flex: initial !important;
}

.md-button.md-fab.md-fab-bottom-right{
    position: fixed !important;
}

.md-subheader .md-subheader-inner{
    padding: 0px !important;
}

md-autocomplete input:not(.md-input){
    /*padding: 0px;*/
}



/*md-tabs.md-default-theme .md-tab{
   
}*/

md-checkbox{
    line-height: 14px;
}

md-backdrop{
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    position: fixed;
}

md-toast.md-default-theme{
    font-size: 14px !important;
    color: #333 !important;
}

.wrap{
    white-space: initial !important;
    word-wrap: break-word;
}

.community_group,
.big_square{
    width: 120px;
}

.square{
    width: 60px;
    border-radius: 2px;
    height: 60px;
}

.big_square{
    height: 120px;
    border-radius: 2px;
}

.feed_margin{
    margin-top: 90px;
}

.z_index_1{
    z-index: 1;
}

.z_index_0{
    z-index: 0;
}

.pointer{
    cursor: pointer;
}

.pointer:hover{
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none !important;
}

.uppercase{
    text-transform: uppercase;
}

.center_text{
    text-align: center;
}

.md-autocomplete-suggestions{
    max-width: 400px !important;
}

.md-autocomplete-suggestions li{
    white-space: normal !important;
    height: inherit !important;
    line-height: inherit !important;
    padding: 10px;
}

md-sidenav{
    position: fixed;
}

.facebook, .twitter, .pinterest, .google-plus{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    font-size: 1.4em;
}

.facebook{
    color: #45619D;
}

.twitter{
    color: #55ACEE;
}

.google-plus{
    color: #DD4C39;
}

.round_corners,
md-select,
md-select-label{
    border-radius: 2px;
}