.focused_tooltip.ng-enter,
.focused_tooltip.ng-leave.ng-leave-active{
	right: -400px;
}

.focused_tooltip.ng-leave,
.focused_tooltip.ng-enter-active{
	right: 5px;
}

.push_notification.ng-enter,
.push_notification.ng-leave.ng-leave-active{
	top: -150px;
}

.push_notification.ng-leave,
.push_notification.ng-enter.ng-enter-active{
	top: 0px;
}

.message.ng-enter,
.message.ng-leave.ng-leave-active{
	opacity: 0;	
}

.message.ng-leave,
.message.ng-enter.ng-enter-active{
	opacity: 1;
}

.recommendation_block.ng-enter,
.wild_cards.ng-enter {
	margin-left: 100px;
	-webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s;
}

.recommendation_block.ng-enter.ng-enter-active, 
.wild_cards.ng-enter.ng-enter-active{
	margin-left: 0px;
}

.push_notification.ng-enter, .push_notification.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.more_filters.ng-enter,
.more_filters.ng-leave.ng-leave-active{
	bottom: -1000px;
}

.more_filters.ng-leave,
.more_filters.ng-enter.ng-enter-active {
	bottom: 40px;
}


.interaction_box.ng-enter,
.interaction_box.ng-leave.ng-leave-active{
	width: 200px;
	height: 50px;
	opacity: 0;
	margin-top: 0px;
}

.interaction_box.ng-leave,
.interaction_box.ng-enter.ng-enter-active{
	width: 500px;
	height: 200px;
	opacity: 1;
	margin-top: -100px;
}


.recommendation_box.ng-leave,
.recommendation_box.ng-enter.ng-enter-active{
	width: 500px;
	height: 500px;
	opacity: 1;
	margin-top: -300px;
}

.recommendation_box.ng-enter,
.recommendation_box.ng-leave.ng-leave-active{
	width: 200px;
	height: 50px;
	opacity: 0;
	margin-top: 0px;
}

.news.ng-enter{
	opacity: 0;
	-webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s;
}

.news.ng-enter.ng-enter-active{
	opacity: 1;
}

.notifications.ng-enter,
.notifications.ng-leave.ng-leave-active{
	margin-top: 600px;
}

.notifications.ng-leave,
.notifications.ng-enter.ng-enter-active{
	margin-top: 0px;
}

.notification.ng-enter{
	margin-top: 300px;
}

.notification.ng-enter.ng-enter-active{
	margin-top: 5px;
}

.notification.ng-leave.ng-leave-active{
	margin-left: -300px;
}

.notification.ng-leave{
	margin-left: 5px;
}
