body{
	background: url('background-1.jpg');
}

/* recommendationFooter */
#recommendationFooter {
   position:fixed;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
   background:url('woodbar.png');
}

/* IE 6 */
* html #recommendationFooter {
   position:absolute;
   top:expression((0-(recommendationFooter.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

/*
	card on recommendation page
*/
.card{
	float: left;
	width: 242px;
	height: 666px;
	background-color: white;
	position: relative;
}

.card_expand{
	float: left;
	width: 500px;
	height: 666px;
	background-color: white;
	position: relative;	
}

.discovered {
	box-shadow: 4px 10px 9px 1px #090909;
}

.card .header{
	width: 232px;
	height: 62px;
	margin: 0px 5px 5px 5px;
}

.card .header_expand{
	width: 490px;
	height: 62px;
	margin: 0px 5px 5px 5px;
}

.card .header .background{
	height: 62px;
	background: url('header-background.jpg');
}

.card .header_expand .background{
	height: 62px;
	background: url('header-background.jpg');
}

.card .header .background p{
	position: absolute;
	text-align: center;
	/*vertical-align: middle; */
	margin: 15px;
}

.card .thumb{
	width: 232px;
	height: 453px;
	margin: 5px;
	filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.card .thumb_hover{
	width: 232px;
	height: 453px;
	margin: 5px;
    filter: none;
    -webkit-filter: grayscale(0);
}

.tags{
	right: 0;
	position: absolute;
	z-index: 2;
	margin-top: 250px;
}

.tag{
	background: url('header-background.jpg');
	margin:	2px;
	padding: 0.5em;
}

.nav-link{
	width: 100px;
}

.book-icon{
	width:20px;
	height:40px;
	background:url('icon-sprites.png') -50px 0px;
}

.reader-icon{
	width:30px;
	height:40px;
	background:url('icon-sprites.png') -78px 0px;
}

.author-icon{
	width:30px;
	height:40px;
	background:url('icon-sprites.png') -113px 0px;
}

.rating:hover{
	opacity: 1;
}

.rating-icon{
	width: 17px;
	margin: -2px;
	height: 17px;
	background: url("icon-sprites.png") -3px -5px;
}

.rating{
	opacity: 0.3;
	right: 0;
	position: absolute;
	font-size: 0.6em;
	margin-top: 20px;
}

.bookmark{
	opacity: 0.3;
 	background:url('icon-sprites.png') -175px -3px;
 	width: 25px;
 	height: 50px;
 	position: absolute;
 	right: 0;
 	margin-top: -5px;
}

.bookmarked{
	opacity: 0.6;
    background:url('icon-sprites.png') -175px -3px;
    width: 25px;
 	height: 50px;
 	position: absolute;
 	right: 0;
}

.bookmark:hover{
	opacity: 1;
}

.bookmarked:hover{
	opacity: 1;
}

.expand_book{
	width: 30px;
	height: 30px;
	background:url('icon-sprites.png') 0px -41px;
	position: absolute;
	right: 10px;
	margin-top: 15px;
	z-index: 2;
	cursor: pointer;
	opacity: 0.4;
}

.expand_book:hover{
	opacity: 1;
}

a{
	color: black;
	text-decoration: none;
}

a:hover{
	color: #717070;
}

.summary_button{
	position: absolute;
	z-index: 2;
	color: white;
	margin-top: 70px;
	margin-left: 10px;
	border: 2px solid white;
	border-radius: 5px;
	padding: 7px;
}

.close_button{
	position: absolute;
	z-index: 2;
	margin-top: 70px;
	margin-left: 10px;
	border: 2px solid white;
	border-radius: 5px;
	padding: 7px;
	background-color: white;
	color: black;
	cursor: pointer;
}

.hidden_summary_button{
	position: absolute;
	z-index: 2;
	color: white;
	margin-top: 70px;
	margin-left: 10px;
	border: 2px solid white;
	border-radius: 5px;
	padding: 7px;
	display: none;
}

.summary_button:hover{
	background-color: white;
	color: black;
	cursor: pointer;
}

.category{
	width: 20px;
	height: 666px;
	float: left;
	background-color: #3cb878;
	color: white;
	text-align: center;
	font-size: 0.8em;
	box-shadow: 4px 10px 9px 1px #090909;
	cursor: pointer;
}

.hidden_category{
	width: 15px;
	height: 666px;
	float: left;
	background-color: #3cb878;
	text-align: center;
	margin-left: -5px;
	position: absolute;
	color: #3cb878;
}

.book_widget{
	width: 263px;
}

.book_widget_expand{
	width: 531px;	
}

.animate-fast{
	-webkit-transition:all linear 0.2s;
    -moz-transition:all linear 0.2s;
    -o-transition:all linear 0.2s;
    transition:all linear 0.2s;
}

.animate-slow{
	-webkit-transition:all linear 0.5s;
    -moz-transition:all linear 0.5s;
    -o-transition:all linear 0.5s;
    transition:all linear 0.5s;	
}

.animate-very-slow{
	-webkit-transition:all linear 0.9s;
    -moz-transition:all linear 0.9s;
    -o-transition:all linear 0.9s;
    transition:all linear 0.9s;
}

.book_navbar_background{
	width: 232px;
	height: 70px;
	margin-top: -80px;
	margin-left: 5px;
	position: absolute;
	background: url("header-background-opaque.jpg");
	z-index: 3;
	opacity: 0.6;
}

.book_navbar{
	position: absolute;
	width: 232px;
	height: 70px;
	margin-top: -80px;
	margin-left: 5px;
	z-index: 4;
}
.book_navbar .heading{
	color: white;
	width: 76px;
	float: left;
	font-size: 0.8em;
	text-align: center;
	margin-top: 20px;
	margin-right: 0px;
	cursor: pointer;
}

.hidden_summary{
	display: none;
}

.summary{
	width: 200px;
	height: 421px;
	background: black;
	color: white;
	padding: 1em;
	position: absolute;
	z-index: 0;
	margin-top: -462px;
	margin-left: 5px;
	left: 52%;
}