html{
	height: 100%;
	overflow-y: hidden;
	overflow-x: auto;
}
body{
	width: 100%;
	height: 100%;
	white-space: nowrap;
	background-size: cover;
 	-webkit-user-select: none;
 	-moz-user-select: -moz-none;
  	-ms-user-select: none;
    user-select: none;
    color: #717070;
    background-color: #EBEBEB;
    /*background-image: url('7H.jpg');*/
    background-image: none;
    /*font-family: 'Lucida Grande';*/
    /*background: url('right_grid_background.jpeg');*/
    /*font-family: Helvetica, Arial, sans-serif;*/
}

/*anchor tags*/
a{
	color: #717070;
	text-decoration: none;
}

a:hover{
	text-decoration:underline;
}

.search_animate.ng-enter,
.search_animate.ng-leave.ng-leave-active,
.message.ng-enter,
.message.ng-leave.ng-leave-active,
.push_notification.ng-enter,
.push_notification.ng-leave.ng-leave-active{
	opacity: 0;	
}

.search_animate.ng-leave,
.search_animate.ng-enter.ng-enter-active,
.message.ng-leave,
.message.ng-enter.ng-enter-active,
.push_notification.ng-leave,
.push_notification.ng-enter.ng-enter-active{
	opacity: 1;
}

.wild_cards{
	color: white;
	position: absolute;
	z-index: 10;
}

.wild_cards .header{
	font-family: Helvetica;
	color: white;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	padding-bottom: 20px;
}

.glow_shelf{
	color: #3cb878;
}

.glow_bookmark{
	color: #4374e0;	
}

/* recommendationFooter */
#recommendationFooter {
   position:fixed;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
   /*background-color: #FAFAFA; */
   /*border: 1px solid #DDDDDD;*/
   z-index: 6;
   /*background-image: -moz-linear-gradient(top, #b4b4b4, #707070);*/
   /*background-image: -webkit-gradient(linear, 0% 0%, 0% 150%, to(#DBDBDB), from(white));*/
}

/* IE 6 */
* html #recommendationFooter {
   position:absolute;
   top:expression((0-(recommendationFooter.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}


/*recommendation block animations*/
.recommendation_block.ng-enter,
.wild_cards.ng-enter {
	margin-left: 100px;
	-webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s;
}

.recommendation_block.ng-enter.ng-enter-active, 
.wild_cards.ng-enter.ng-enter-active{
	margin-left: 0px;
}

/*.recommendation_block.ng-leave.ng-leave-active,
.wild_cards.ng-leave.ng-leave-active {
	opacity: 0;
}

.recommendation_block.ng-leave,
.wild_cards.ng-leave{
	opacity: 1;
}*/

.recommendation_block{
	display: inline-block;
	/*margin-right: 40px;*/
}

.vertical_line{
	border-right: 1px solid #DADADA;
	height: 40%;
	top: 15%;
	position: absolute;
	display: inline-block;
	width: 25px;
}

/*book widget*/
.book_widget_base{
	display: inline-block;
	/*margin-right: 30px;*/
}
.base{
	background-color: rgba(0, 0, 0, 0.09);
	width: 250px;
	height: 10px;
	border-radius: 2px;
	position: absolute;
	margin-top: 25px;
	margin-left: 30px;
	cursor: pointer;
}

.book_widget_expand{
	width: 690px;
}

/* category */
.category{
	width: 30px;
	float: left;
	background-color: #3cb878;
	color: white;
	text-align: center;
	font-size: 0.6em;
	cursor: pointer;
	padding-top: 100px;
	margin-left: 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	box-shadow: 8px 10px 54px 0px #424242;  
}

/* card on recommendation page */
.card{
	width: 80%;
	height: 100%;
	float: left;
	background-color: white;
	position: relative;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.card_expand{
	width: 92%;
}

/*book binding*/
.book_binding{
	-webkit-transform: rotateZ(-90deg);
	transform: rotateZ(-90deg);
	top: 228px;
	left: 82px;
	position: absolute;
	height: 5%;
	width: 76%;
	text-align: center;
	color: white;
	padding-top: 5px;
    border-width: 1px; 
    border-style: solid; 
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 0px; 
	box-shadow: inset 6px 3px 13px 3px rgba(0, 0, 0, 0.3), inset 0px 3px 24px rgba(0, 0, 0, 0.5);
}

/*summary text*/
.hidden_summary{
	display: none;
}

/*.summary_base{
	width: 254px;
	height: 415px;
	color: white;
	padding: 1em;
	padding-top: 54px;
	position: absolute;
	z-index: 0;
	font-size: 0.8em;
	white-space: normal;
	background: rgba(113, 112, 112, 0.25);
	-webkit-box-shadow: 1px 2px 1px #d1d1d1;
	-moz-box-shadow: 1px 2px 1px #d1d1d1;
	box-shadow: 1px 2px 1px #d1d1d1;
	left: 53.8%;
	top: 0px;
	margin-top: 5px;
	cursor: crosshair;
}*/

.summary{
	-webkit-filter: grayscale(0);
}

.summary_grey{
	filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

/*other card properties*/
.discovered {
    box-shadow: 8px 10px 54px 0px #424242; 
}

.undiscovered{ 
    position: relative; 
    background-color: #FFFFFF; 
    border-width: 1px; 
    border-style: solid; 
    border-color: #DDDDDD; 
    border-radius: 0px; 
    box-shadow: 0px 1px 4px 0px #8E97A1, inset 0px 0px 40px #EEEEEE; 
} 
.undiscovered:before{ 
    content: ""; 
    z-index: -1; 
    position: absolute; 
    width: 95%; 
    top: 10px; 
    right: 0px; 
    bottom: 10px; 
    left: 0px; 
    border-radius: 0px; 
    box-shadow: 0px 0px 20px #2A2E31; 
} 
.undiscovered:after{ 
    content: ""; 
    z-index: -1; 
    position: absolute; 
    width: 95%; 
    top: 10px; 
    right: 0px; 
    bottom: 10px; 
    border-radius: 0px; 
    box-shadow: 0px 0px 20px #000000; 
}


.card .header{
	height: 7%;
	margin: 0px 5px 5px 5px;
}

.card .header .background{
	height: 100%;
	background-color: rgba(113, 112, 112, 0.07);
	border-bottom: rgba(0, 0, 0, 0.08) 1px solid;
}

.card .header .background p{
	position: absolute;
	text-align: center;
	font-size: 0.8em;
	width: 50%;
	margin: 2px;
}

.card .book_thumb{
	width: 300px;
	height: 87%;
	margin: 5px;
    background: rgba(113, 112, 112, 0.25);
	border-radius: 5px !important;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	padding: 1px;
	-webkit-box-shadow: 1px 2px 1px #d1d1d1;
	-moz-box-shadow: 1px 2px 1px #d1d1d1;
	box-shadow: 1px 2px 1px #d1d1d1;
	background-size: cover !important;
}

.card .thumb{
	filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1);  /*Google Chrome, Safari 6+ & Opera 15+ */
}

.card .thumb_hover{
    filter: none;
    -webkit-filter: grayscale(0);
}

.tags{
	right: 0;
	position: absolute;
	z-index: 2;
}

.tag{
	margin: 2px;
	padding: 0.6em;
	color: #717070;
	background-color: white;
	font-size: 0.7em;
	opacity: 1;
	-webkit-box-shadow: 1px 2px 1px #d1d1d1;
	-moz-box-shadow: 1px 2px 1px #d1d1d1;
	box-shadow: 1px 2px 1px #d1d1d1;
}

.tag:hover{
	cursor: pointer;
	background-color: white;
	-webkit-box-shadow: 1px 2px 1px #d1d1d1;
	-moz-box-shadow: 1px 2px 1px #d1d1d1;
	box-shadow: 1px 2px 1px #d1d1d1;
}

.nav-link{
	width: 100px;
}

.opaque{
	opacity: 1;
}

.transparent{
	opacity: 0.4;
}

.rating{
	opacity: 0.3;
	right: 40px;
	position: absolute;
	font-size: 0.6em;
	margin-top: 20px;
}

.bookmark{
	display: inline-block;
	float: left;
	background-color: #DEDEDE;
	margin-left: 2px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	cursor: pointer;
	font-size: 0.8em;
	text-align: center;
}

.bookmarked{
	opacity: 0.6;
    background:url('icon-sprites.png') -175px -3px;
    width: 25px;
 	height: 50px;
 	position: absolute;
 	right: 0;
}

.bookmark:hover{
	opacity: 1;
}

.bookmarked:hover{
	opacity: 1;
}

.book_title,
.author_name{
	color: white;
	font-size: 0.8em;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -35px;
	margin-top: -30px;
	z-index: 0;
}

.author_name{
	margin-top: -18px;
}

/*summary button*/
.summary_button_base{
	position: absolute;
  	padding: 10px;
  	color: white;
  	background-color: rgba(0, 0, 0, 0.69);
  	font: normal normal normal 12px/normal Arial, Helvetica, sans-serif;
  	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
  	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
  	cursor: default;
  	border-top-right-radius: 5px;
  	border-bottom-right-radius: 5px;
}


.hidden_summary_button{
	background-color: rgba(241, 241, 241, 0);
	border: none;
	box-shadow: none;
	color: white;
}

/*animation*/
.animate-fast{
	-webkit-transition:all linear 0.2s;
    -moz-transition:all linear 0.2s;
    -o-transition:all linear 0.2s;
    transition:all linear 0.2s;
}

.animate-slow{
	-webkit-transition:all linear 0.5s;
    -moz-transition:all linear 0.5s;
    -o-transition:all linear 0.5s;
    transition:all linear 0.5s;	
}

.animate-very-slow{
	-webkit-transition:all linear 0.9s;
    -moz-transition:all linear 0.9s;
    -o-transition:all linear 0.9s;
    transition:all linear 0.9s;
}

/*book navbar*/
.book_navbar_base{
	position: absolute;
	height: 50px;
	margin-top: -57px;
	margin-left: 5px;
	background-color: rgba(0, 0, 0, 0.45);
	border-top: rgba(0, 0, 0, 0.21) 1px solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-box-shadow: 1px 2px 1px #d1d1d1;
	-moz-box-shadow: 1px 2px 1px #d1d1d1;
	box-shadow: 1px 2px 1px #d1d1d1;
}

.book_navbar_base .heading{
	color: white;
	width: 76px;
	float: left;
	font-size: 0.7em;
	text-align: center;
	margin-top: 10px;
	cursor: pointer;
	width: 33%;
	text-align: center;
}

.book_navbar_base .heading img{
	width:15px;
}

.book_navbar_base .heading h2{
	font-size: 1.5em;
	margin: 0px;
	padding: 0px;
}

.book_navbar_base:active{
	background-color: rgba(0, 0, 0, 0.7);
}

/*mark as read*/
.mark_as_read{
	color: #717070;
	background-color: #DEDEDE;
	margin-left: 5px;
	text-align: center;
	font-size: 0.8em;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	cursor: pointer;
	display: inline-block;
	float: left;
}

.book_read{
	color: #4374e0 !important;
}

.active_bookmark{
	color: #4374e0 !important;
}

.inactive_bookmark:hover{
	background: #4374e0;
	color: white !important;
}

.mark_as_read:hover,
.book_unread:hover{
	background: #3cb878;
	color: white !important;
	opacity: 1;
}

.book_read{
	color: #3cb878 !important;
}

/*news widget*/
.news_widget{
	width: 97%;
	height: 10%;
	margin-left: 5px;
}

/*rate*/
.rate{
	text-align: center;
	background-color: #DEDEDE;
	padding-top: 15px;
	height: 50px;
}

.interaction_box .close{
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}

/*comment*/
.comment_instruct_background{
	background-color: #DEDEDE;
	width: 90%;
	margin-left: 5px;
	padding-top: 15px;
	padding-left: 7%;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.comment_instruct{
	border: 2px;
	color: #717070;
	text-align: center;
	border-radius: 4px;
	font-size: 0.8em;
	width: 90%;
	height: 20px;
	padding-top: 10px;
	margin: -7px 0px 0px 8px;
	background-color: white;
}

.comment_box{
	border: 1px solid #D6D5D5;
	color: #717070;
	font-size: 1em;
	margin: 5px 0px 5px 0px;
	width: 98%;
	height: 90px;
	max-width: 98%;
	max-height: 90px;
	border-radius: 2px;
	outline: none;
	border: none;
}

.post_button{
	background-color: #3cb878;
	border-radius: 4px;
	color: white;
	height: 20px;
	width: 90px;
	font-size: 0.8em;
	float: right;
	margin-right: 20px;
	margin-top: 10px;
	text-align: center;
	padding-top: 10px;
	opacity: 0.5;
	cursor: pointer;
}

.cancel_button{
	background-color: #717070;
	border-radius: 4px;
	color: white;
	height: 20px;
	width: 90px;
	font-size: 0.8;
	float: right;
	margin-right: 20px;
	margin-top: 10px;
	text-align: center;
	padding-top: 10px;
	opacity: 0.5;
	cursor: pointer;
}

.msd-wheel.ng-move{
	-webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 5.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 5.5s;
}

.msd-wheel.ng-move-active{
	margin-right: 1200px;
}


.book_binding_grey{
	filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */	
}

.nav-links{
	margin: 17px 48px;
	display: inline-block;
	float: right;
}

.interact_widget{
	color: #B1B1B1;
	border-top: rgba(113, 112, 112, 0.25) 1px solid;
	width: 97%;
	margin-left: 5px;
	text-align: center;
	font-size: 1em;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	cursor: pointer;
	-webkit-box-shadow: 1px 2px 1px #d1d1d1;
	-moz-box-shadow: 1px 2px 1px #d1d1d1;
	box-shadow: 1px 2px 1px #d1d1d1;
	height: 25px;
	padding-top: 11px;
	background-color: #DEDEDE;
	letter-spacing: -3px;
}

.interact_widget span{
	margin: 0px;
	padding: 12px;
	border-right: 1px solid #CFCFCF;
}

.interact_widget span:hover{
	color: white;
	background-color: #B1B1B1;
}

.link [class^="icon-"]{
	font-size: 1.5em;
}

.link{
	font-size: 0.7em;
	cursor: pointer;
	display: inline-block;
	height: 10px;
	text-align: center;
	padding: 16px 10px 16px 10px;
	color: #717070;
	text-shadow: 0px 1px 1px #fff;
	margin-left: -5px;
}

.filter_link
{
	float: right;
	margin-right: 20px;
}

.active{
    border: 1px solid #DDDDDD;
	border-radius: 0px;
	box-shadow: inset 0px 2px 50px -11px #161616, inset 0px 0px 40px #EEEEEE;
	cursor: default;
}

.inactive{
	border: 1px solid rgba(0, 0, 0, 0);
}

.inactive:hover{
	border: 1px solid #C9C9C9;
}

.shelf_nav_links{
	box-shadow: inset 0px 2px 50px -11px #7F868D, inset 0px 0px 40px #EEEEEE;
	border-radius: 4px;
	position: absolute;
	left: 50%;
	margin-left: -175px;
	bottom: -3px;
}

.shelf_nav_links div{
	width: 100px;
}

.shelf{
	width: 100%;
	height: 260px;
	position: fixed;
	z-index: 20;
	right: 0px;
	background-color: white;
	background-size: cover;
	bottom: 40px;
	/*white-space: nowrap;
	overflow-x: scroll;*/
}

[class^="nspopover-"]{
	width: 200px;
	height: 100px;
	background-color: white;
}

.push_notification{
	position: fixed;
	z-index: 1000;
	top: 5px;
	right: 20px;
	font-size: 0.8em;
	border: 1px solid #CECECE;
	border-bottom: none;
}

.message{
	position: fixed;
	z-index: 5;
	bottom: 40px;
	left: 10px;
	font-size: 0.8em;	
	padding: 15px;
	color: white;
	background-color: #4374e0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	width: 310px;
	white-space: initial;
	line-height: 25px;
}

.message .close{
	color: #4374e0;
	cursor: pointer;
	padding: 4px;
	border-radius: 2px;
	margin-left: 5px;
	background-color: white;
}

.push_notification .content{
	padding: 15px;
	color: rgb(124, 124, 124);
	color: white;
	background-color: #FFFFFF;
	background-color: #3D79A1;
}

.push_notification.ng-enter, .push_notification.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s;
}

.scroller{
	display: inline-block;
	float: left;
	left: 50%;
	color: #3D79A1;
	box-shadow: inset 0px 2px 50px -11px #7F868D, inset 0px 0px 40px #EEEEEE;
	height: 35px;
	bottom: 50px;
	border-radius: 5px;
	position: fixed;
	margin-left: -78px;
	padding: 18px 15px 0px 15px;
}


.scroller .scroller-left,
.scroller .scroller-right{
	font-size: 1em;
	background-color: #3D79A1;
	border: 1px solid #F0F0F0;
	color: white;
}

.scroller .scroller-left:active,
.scroller .scroller-right:active{
	background-color: #284D66;
}

.scroller span:active{
	background-color: black;
}

.scroller .scroller-left{
	margin-left: 3px;
	padding: 6px 25px 9px 25px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}

.scroller .scroller-right{
	margin-right: 3px;
	padding: 6px 25px 9px 25px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.scroller .scroller-left:hover,
.scroller .scroller-right:hover{
	background-color: #0B7097;
	cursor: pointer;
}

.website_logo{
	display: inline-block;
	margin-top: 12px;
	float: left;
	margin-left: 1%;
	font-size: 1.1em;
	font-family: Helvetica;
	font-weight: bold;
}

.more_filters{
	width: 600px;
	right: 10px;
	position: fixed;
	bottom: 40px;
	z-index: 5;
	padding: 0px 0px 10px 0px;
	background-color: #E6E6E6;
	border: 1px solid #E2E2E2;
	box-shadow: 8px -30px 43px 0px rgba(66, 66, 66, 0.47);
}

.more_filters.ng-enter,
.more_filters.ng-leave.ng-leave-active{
	bottom: -1000px;
}

.more_filters.ng-leave,
.more_filters.ng-enter.ng-enter-active {
	bottom: 40px;
}

.filters_panel,
.filters_panel_large,
.filters_panel_right{
	width: 78%;
	padding: 10px 35px 35px 80px;
}
.filters_group{
	width: 100%;
	height: 60px;
}

.filters_panel .header,
.filters_panel_large .header,
.filters_panel_right .header{
	color: #717070;
	font-size: 0.8em;
}

.filters{
	width: 100%;
}

.filters_panel .header,
.filters_panel_large .header,
.filters_panel_right .header,
.main_filters{
	padding: 15px;
}

.filter{
	float: left;
	margin: 2px;
	display: inline-block;
	padding: 5px 4px 5px 4px;
	border-radius: 2px;
	font-size: 0.6em;
	cursor: pointer;
	text-align: center;
}

.interaction_box{
	position: fixed;
	left: 50%;
	margin-left: -250px;
	box-shadow: 8px 10px 54px 0px #424242; 
	z-index: 5;
	padding: 1px;
	background-color: white;
	border-radius: 2px;
	width: 500px;
	height: 200px;
	top: 50%;
	margin-top: -100px;
}

.interaction_box .recommend{
	position: absolute;
	left: 8px;
	top: 8px;
	border: 1px solid #B8B8B8;
	padding: 5px;
	background-color: white;
	border-radius: 2px;
	font-size: 0.8em;
	cursor: pointer;
}

.interaction_box .recommend:hover{
	background-color: #B8B8B8;
	color: white;
}

.interaction_box .recommended{
	position: absolute;
	left: 8px;
	top: 8px;
	background-color: #B8B8B8;
	color: white;
	border: 1px solid #B8B8B8;
	padding: 5px;
	border-radius: 2px;
	font-size: 0.8em;
	cursor: pointer;
}

.interaction_box.ng-enter,
.interaction_box.ng-leave.ng-leave-active{
	width: 200px;
	height: 50px;
	opacity: 0;
	margin-top: 0px;
}

.interaction_box.ng-leave,
.interaction_box.ng-enter.ng-enter-active{
	width: 500px;
	height: 200px;
	opacity: 1;
	margin-top: -100px;
}

.reset_filters{
	float: left;
	cursor: pointer;
	color: #717070;
	padding-left: 10px !important;
	padding-right: 10px !important;
	width: 75px !important;
}

.news{

}

.news.ng-enter{
	opacity: 0;
	-webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s;
}

.news.ng-enter.ng-enter-active{
	opacity: 1;
}

input{
	/*border: 1px solid #DBDBDB;*/
	border: none;
}

input:focus{
	/*border: 1px solid #717070;*/
	/*border: 1px solid #DBDBDB;*/
	outline:none;
}

.main_filters{
	text-align: center;
	background-color: #F0F0F0;
}

.main_filters div{
	font-size: 0.6em;
	display: inline-block;
	height: 10px;
	width: 62px;
	text-align: center;
	padding: 5px 4px 5px 4px;
}

.active_filter{
	color: white;
	background-color: #3D79A1;
}

.inactive_filter{
	cursor: pointer;
	color: #717070;
	background-color: #FFFFFF;
	box-shadow: 0px 1px 4px 0px #DDDCDC, inset 0px 0px 40px #EEEEEE;
}

.inactive_filter:hover, 
.rate_radio:hover{
	box-shadow: 0px 1px 4px 0px #143A5F, inset 0px 0px 40px #368AC2;
}

.link:active{
	background-color: #D6D6D6;
}

.main_filters a:hover{
	text-decoration: none;
}

.more_filters hr{
	opacity: 0.3;
	width: 100%;
	margin: 0px;
}

.input_filter{
	width: 180px;
	font-size: 0.8em;
	color: #717070;
	padding: 4px;
	background-color: #FFFFFF;
	border-radius: 2px;
	box-shadow: 0px 1px 4px 0px #99A3AD, inset 0px 0px 40px #EEEEEE;
	cursor: default;
}

.input_filter:focus{
	border: none;
}

.input_filter:hover{
	box-shadow: 0px 1px 4px 0px #143A5F, inset 0px 0px 40px #368AC2;
}

.input_filter::-webkit-input-placeholder {
   font-size: 0.8em;
   color: #717070;
}

.input_filter:-moz-placeholder { /* Firefox 18- */
   font-size: 0.8em;  
   color: #717070;
}

.input_filter::-moz-placeholder {  /* Firefox 19+ */
   font-size: 0.8em; 
   color: #717070; 
}

.input_filter:-ms-input-placeholder {  
   font-size: 0.8em;  
   color: #717070;
}

.rate_radio{
	border: 1px solid #FFFFFF;
	border-radius: 0px;
	box-shadow: 0px 1px 4px 0px #D4D7DA, inset 0px 0px 40px #EEEEEE;
	background-color: white;
	outline: none;
}

.active_rating{
	background-color: #3D79A1;
	box-shadow: none;
	color: white;
}

.rate_radio:active{
	background-color: #3D79A1;
}

.rating_description{
	color: #717070;
	font-size: 0.7em;
}

.rate_radio_buttons{
	padding: 3px;
	color: #717070;
}
.result_count{
    display: inline-block;
    color: #717070;
    float: right;
    margin-right: 40px;
}

.typeahead_options{
	position: absolute;
	width: 189px;
	box-shadow: 0px 1px 4px 0px #99A3AD, inset 0px 0px 40px #EEEEEE;
	color: #717170;
	font-size: 0.8em;
}

.typeahead_options .option{
	cursor: pointer;
	text-align: center;
	padding: 4px;
	background-color: white;
}

.stamp_read{
	position: absolute;
	border: 4px solid #710808;
	border-radius: 6px;
	text-align: center;
	padding: 9px;
	color: #710808;
	margin: -310px 0px 0px -10px;
	font-size: 0.7em;
	background-color: rgba(255, 255, 255, 0.21);
}

.shelf_book{
	/*width: 120px;*/
	max-height: 200px;
	margin: 40px 0px 0px 22px;
	display: inline-block;
	float: left;
	background-color: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	border-color: #dddddd;
	border-radius: 0px;
	box-shadow: 0px 10px 6px -6px #777;
}

.shelf .header{
	color: #422E0A;
	width: 25%;
	text-align: center;
	padding-top: 20px;
	position: absolute;
}

.loading_gif{
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 2000;
}

.info_cards{
	display: inline-block;
	float: left;
	border: 1px solid #F1F1F1;
	border-radius: 5px;
	/*margin-right: 30px;*/
	margin-left: 30px;
	padding: 50px 30px 30px 30px;
	color: white;
	width: 250px;
	white-space: normal;
	height: 340px;
	position: relative;
}

.info_cards .header{
	font-family: Helvetica;
	color: white;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	padding: 40px 0px 10px 0px;
}

.info_cards input{
	width: 225px;
	padding: 10px;
	border-radius: 2px;
	font-size: 1em;
	/*color: #717070;*/
}

.info_typeahead_options{
	left: 164px;
	width: 245px;
	margin: 39px 0px 0px -125px;
	z-index: 1000;
}

.info_cards .description{
	position: absolute;
	top: 280px;
	white-space: normal;
	width: 250px;
}

.info_cards .footer{
	position: absolute;
	bottom: 25px;
	right: 25px;
}

.info_cards .thumb{
	color: white;
	background-color: rgba(255, 255, 255, 0.26);
	font-size: 0.7em;
	border-radius: 4px;
	cursor: pointer;
}

.info_cards .birthday{
	color: #717070;
}

.info_cards .footer .next,
.info_cards .footer .prev{
	color: white;
	cursor: pointer;
	text-align: center;
	padding: 15px;
	font-size: 2em;
	background-color: rgba(255, 255, 255, 0.01);
	border: 1px solid rgba(255, 255, 255, 0.21);
}

.login_buttons{
	cursor: pointer;
	margin: 5px;
}

.tags_header{
	padding-bottom: 10px !important;
}

.fb{
	background-image: url("fb_active.png");
	height: 32px;
	background-size: 180px 32px;
	text-align: center;
	background-repeat: no-repeat;
	padding: 2px;
	margin: 0px 0px 0px 2px;
}

.google{
	text-align: center;
}

.genre_typeahead_options,
.country_typeahead_options{
	margin-top: 25px;
}

#timeReader-slider-span{
	width: 200px;
	display: inline-block;
	float: left;
	margin: 5px;
}

.time_to_read{
	padding: 5px;
	letter-spacing: -5px;
	text-align: center;
	bottom: 1px;
	position: absolute;
	width: 470px;
}

.time_to_read .header{
	letter-spacing:0px;
	padding-bottom: 4px;
	color: #B6B6B6;
}

.time_to_read hr{
	opacity: 0.3;
}

.time_to_read span{
	text-align: center;
	border: 1px solid #DFDFDF;
	padding: 2px 15px 2px 15px;
	letter-spacing: 0px;
	cursor: pointer;
	background-color: white;
}
.time_to_read .active_read_timer{
	background-color: #3D79A1;
	color: white;
}

.time_to_read span:hover{
	background-color: #3D79A1;
	color: white;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
	font-size: 0.6em;
}


/* Desktops and laptops ----------- */
@media only screen
and (min-width : 400px) {
/* Styles */
	body{
		font-size: 0.9em;
	}

	.book_widget{
		height: 420px;
		width: 320px;
	}
	
	.filter{
		min-width: 125px;
	}

	.category{
		height: 91%;
		width: 25px;
		padding-top: 40px;
	}

	.mark_as_read{
		width: 125px;
	}

	.rate,
	.mark_as_read,
	.comment_instruct_box{
		height: 25px;
	}

	.bookmark{
		height: 15px;
		padding: 17px 13px 8px 13px;
		width: 95px;
	}

	.book_navbar_base{
		width: 96.5%;
	}

	.mark_as_read,
	.comment_instruct_box{
		padding-top: 15px; 
	}

	.rate_radio_buttons{
		margin-top: -10px;
	}


	.card .zoomedin_thumb{
	}

	.card .book_thumb {
		width: 245px;
	}

	.search_typeahead_options{
		bottom: 40px;
		position: absolute;
		left: 164px;
		width: 280px;
	}

	.wild_cards{
		width: 185px;
		height: 290px;
		/*margin-top: 0px;*/
	}

	.info_cards{
		/*margin-top: 0px;	*/
	}

	.login_form input{
		width: 200px;
		font-size: 1em;
	}

	.login_form .authenticate{
		padding: 10px;
	}

	.wild_cards .header{
		margin-top: 0px;
	}

	.vertical_padder_inactive{
		height: 0px;
		width: 100%;
	}

	.vertical_padder_active{
		height: 50px;
		width: 100%;	
	}

	.horizontal_padder_active{
		width: 320px;
		height: 500px;
		float: left;
		display: inline-block;
	}
}

@media only screen
and (min-width : 1280px){
	.book_widget{
		height: 600px;
		width: 390px;
	}

	.book_navbar_base{
		width: 97%;
	}

	.filter{
		min-width: 180px;
	}

	.category{
		height: 83.5%;
		width: 30px;
		padding-top: 100px;
	}

	.mark_as_read{
		width: 125px;
	}

	.mark_as_read,
	.comment_instruct_box{
		height: 38px;
		padding-top: 25px;
	}

	.bookmark{
		padding: 25px 18px 25px 18px;
		width: 125px;
	}

	.rate_radio_buttons{
		margin-top: 0px;
	}

	.card .book_thumb {
		width: 300px;
	}

	.search_typeahead_options{
		bottom: 40px;
		position: absolute;
		left: 164px;
		width: 280px;
	}

	.wild_cards{
		width: 250px;
		height: 520px;
		/*margin-top: 10px;*/
	}

	.info_cards{
		height: 520px;
	}

	.login_form input{
		width: 250px;
		font-size: 1em;
	}

	.login_form .authenticate{
		padding: 15px;
	}

	.vertical_padder_inactive{
		height: 15px;
		width: 100%;
	}

	.vertical_padder_active{
		height: 50px;
		width: 100%;	
	}

	.horizontal_padder_active{
		width: 440px;
		height: 500px;
		float: left;
		display: inline-block;
	}
}

@media only screen
and (min-width : 1366px){
	body{
		font-size: 0.9em;
	}

	.book_navbar_base{
		width: 97%;
	}

	.book_widget{
		height: 430px;
		width: 350px;
	}

	.vertical_padder_inactive{
		height: 15px;
		width: 100%;
	}

	.vertical_padder_active{
		height: 50px;
		width: 100%;	
	}

	.filter{
		min-width: 125px;
	}

	.category{
		height: 91%;
		width: 25px;
		padding-top: 40px;
	}

	.mark_as_read{
		height: 29px;
		width: 125px;
	}

	.rate,
	.comment_instruct_box{
		height: 25px;
	}

	.mark_as_read{
		width: 125px;
	}

	.bookmark{
		height: 15px;
		padding: 13px 15px 12px 15px;
		width: 125px;
	}

	.mark_as_read,
	.comment_instruct_box{
		padding-top: 10px; 
	}

	.rate_radio_buttons{
		margin-top: -10px;
	}

	.card .book_thumb {
		width: 270px;
	}

	.search_typeahead_options{
		bottom: 40px;
		position: absolute;
		left: 164px;
		width: 280px;
	}

	.wild_cards{
		width: 195px;
		height: 300px;
		margin-top: 15px;
	}

	.info_cards{
		/*margin-top: 15px;*/
		height: 350px;
	}

	.login_form input{
		width: 210px;
		font-size: 1em;
	}

	.login_form .authenticate{
		padding: 10px;
	}

	.wild_cards .header{
		margin-top: 0px;
	}

	.horizontal_padder_active{
		width: 320px;
		height: 500px;
		float: left;
		display: inline-block;
	}
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
	.book_widget{
		height: 650px;
		width: 390px;
	}

	.recommendation_block{
		margin-top: 35px;
	}

	.filter{
		min-width: 180px;
	}

	.mark_as_read{
		width: 125px;
	}

	.category{
		height: 84.5%;
		width: 30px;
		padding-top: 100px;
	}

	.mark_as_read,
	.comment_instruct_box{
		height: 38px;
		padding-top: 25px;
	}

	.rate_radio_buttons{
		margin-top: 0px;
	}

	.card .book_thumb {
		width: 300px;
	}

	.horizontal_padder_active{
		width: 320px;
		height: 500px;
		float: left;
		display: inline-block;
	}

}

.slider{
	padding: 20px;
}


.jslider .jslider-bg i,
.jslider .jslider-pointer { background: url("slider/jslider.png") no-repeat 0 0; }

.jslider { display: block; width: 100%; height: 1em; position: relative; top: 0.6em; font-family: Arial, sans-serif; }
.jslider table { width: 100%; border-collapse: collapse; border: 0; }
.jslider td, .jslider th { padding: 0; vertical-align: top; text-align: left; border: 0; }

.jslider table,
.jslider table tr,
.jslider table tr td { width: 100%; vertical-align: top; }

.jslider .jslider-bg { position: relative; }
.jslider .jslider-bg i { height: 5px; position: absolute; font-size: 0; top: 0; }
.jslider .jslider-bg .l { width: 10%; background-position: 0 0; left: 0; }
.jslider .jslider-bg .f { width: 80%; left: 10%; background-repeat: repeat-x; background-position: 0 -20px; }
.jslider .jslider-bg .r { width: 10%; left: 90%; background-position: right 0; }
.jslider .jslider-bg .v { position: absolute; width: 60%; left: 20%; top: 0; height: 5px; background-repeat: repeat-x; background-position: 0 -40px; }

.jslider .jslider-pointer { width: 13px; height: 15px; background-position: 0 -60px; position: absolute; left: 20%; top: -4px; margin-left: -6px; cursor: pointer; cursor: hand; }
.jslider .jslider-pointer-hover { background-position: -20px -60px; }
.jslider .jslider-pointer-to { left: 80%; }

.jslider .jslider-label { font-size: 9px; line-height: 12px; color: black; opacity: 0.4; white-space: nowrap; padding: 0px 2px; position: absolute; top: -18px; left: 0px; }
.jslider .jslider-label-to { left: auto; right: 0; }

.jslider .jslider-value { font-size: 9px; white-space: nowrap; padding: 1px 2px 0; position: absolute; top: -19px; left: 20%; line-height: 12px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
.jslider .jslider-value-to { left: 80%; }

.jslider .jslider-label small,
.jslider .jslider-value small { position: relative; top: -0.4em; }

.jslider .jslider-scale { position: relative; top: 9px; }
.jslider .jslider-scale span { position: absolute; height: 5px; border-left: 1px solid #999; font-size: 0; }
.jslider .jslider-scale ins { font-size: 9px; text-decoration: none; position: absolute; left: 0px; top: 5px; color: #999; }

.jslider-single .jslider-pointer-to,
.jslider-single .jslider-value-to,
.jslider-single .jslider-bg .v,
.jslider-limitless .jslider-label { display: none; }

.jslider_round .jslider-bg i,
.jslider_round .jslider-pointer { background-image: url("slider/jslider.plastic.png"); }

.jslider_round .jslider-pointer { width: 17px; height: 17px; top: -6px; margin-left: -8px; }


/* line 8, ../sass/ns-popover.scss */
.ns-popover-list-theme {
  	box-sizing: border-box;
  	border: solid 1px #d2d2d2;
  	border-radius: 3px;
  	z-index: 100;
  	background-color: #fff;
  	-webkit-box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
  	-moz-box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
  	box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2); 
	white-space: normal;
}

  	/* line 18, ../sass/ns-popover.scss */
	.ns-popover-list-theme ul, .ns-popover-list-theme .list {
	    padding: 0;
	    margin: 0.625rem 0;
	    display: block; 
	}

  	/* line 24, ../sass/ns-popover.scss */
	.ns-popover-list-theme li, .ns-popover-list-theme .list-item {
    	list-style-type: none; 
    }
   		/* line 27, ../sass/ns-popover.scss */
    	.ns-popover-list-theme li a, .ns-popover-list-theme .list-item a {
      		padding: 0.1875rem 0.625rem;
      		display: block; 
      	}

      	/* line 31, ../sass/ns-popover.scss */
      	.ns-popover-list-theme li a:hover, .ns-popover-list-theme .list-item a:hover {
        	background-color: #f5f5f5; 
        }

/* line 123, ../sass/ns-popover.scss */
.ns-popover-tooltip-theme {
  	box-sizing: border-box;
  	z-index: 100;
  	background-color: transparent; 
}
  	/* line 128, ../sass/ns-popover.scss */
  	.ns-popover-tooltip-theme .ns-popover-tooltip {
    	box-sizing: border-box;
    	border: solid 1px #d2d2d2;
    	border-radius: 3px;
    	z-index: 100;
    	background-color: #fff;
    	padding: 0.5625rem 0.875rem;
    	max-width: 20rem;
    	font-size: 0.875rem;
    	-webkit-box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    	-moz-box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    	box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    	margin: 10px; 
    }

    /* line 142, ../sass/ns-popover.scss */
    .ns-popover-tooltip-theme .ns-popover-tooltip ul {
      	padding: 0;
      	margin: 0.625rem 0;
      	display: block; 
    }

    /* line 148, ../sass/ns-popover.scss */
    .ns-popover-tooltip-theme .ns-popover-tooltip li {
      	list-style-type: none; 
    }
      	/* line 151, ../sass/ns-popover.scss */
      	.ns-popover-tooltip-theme .ns-popover-tooltip li a {
        	padding: 0.1875rem 0.625rem;
        	display: block; 
        }
        /* line 155, ../sass/ns-popover.scss */
        .ns-popover-tooltip-theme .ns-popover-tooltip li a:hover {
          	background-color: #f5f5f5; 
        }

  	/* line 163, ../sass/ns-popover.scss */
  	.ns-popover-tooltip-theme.ns-popover-bottom-placement .triangle {
    	content: "";
    	display: block;
    	width: 0;
    	height: 0;
    	border: solid 11px;
    	border-color: transparent;
    	position: absolute;
    	border-bottom-color: #d2d2d2;
    	left: 50%;
    	top: -11px;
    	margin-left: -11px; 
    }

    /* line 56, ../sass/ns-popover.scss */
    .ns-popover-tooltip-theme.ns-popover-bottom-placement .triangle:after {
      	content: " ";
      	display: block;
      	width: 0;
      	height: 0;
      	border: solid 10px;
      	border-color: transparent;
      	position: absolute; 
    }

    /* line 86, ../sass/ns-popover.scss */
    .ns-popover-tooltip-theme.ns-popover-bottom-placement .triangle:after {
      	border-bottom-color: white;
      	border-top-width: 0;
      	top: 1px;
      	margin-left: -10px; 
    }

  	/* line 169, ../sass/ns-popover.scss */
  	.ns-popover-tooltip-theme.ns-popover-top-placement .triangle {
    	content: "";
    	display: block;
    	width: 0;
    	height: 0;
    	border: solid 11px;
    	border-color: transparent;
    	position: absolute;
    	border-top-color: #d2d2d2;
    	left: 50%;
    	bottom: -11px;
    	margin-left: -11px; 
    }
    /* line 56, ../sass/ns-popover.scss */
    .ns-popover-tooltip-theme.ns-popover-top-placement .triangle:after {
      	content: " ";
      	display: block;
      	width: 0;
      	height: 0;
      	border: solid 10px;
      	border-color: transparent;
      	position: absolute; 
    }
    /* line 72, ../sass/ns-popover.scss */
    .ns-popover-tooltip-theme.ns-popover-top-placement .triangle:after {
      	border-top-color: white;
      	border-bottom-width: 0;
      	bottom: 1px;
      	margin-left: -10px; 
    }
  	/* line 175, ../sass/ns-popover.scss */
  	.ns-popover-tooltip-theme.ns-popover-right-placement .triangle {
    	content: "";
    	display: block;
    	width: 0;
    	height: 0;
    	border: solid 11px;
    	border-color: transparent;
    	position: absolute;
    	border-right-color: #d2d2d2;
    	top: 50%;
    	left: -11px;
    	margin-top: -11px; 
    }

    /* line 56, ../sass/ns-popover.scss */
    .ns-popover-tooltip-theme.ns-popover-right-placement .triangle:after {
      	content: " ";
      	display: block;
      	width: 0;
      	height: 0;
      	border: solid 10px;
      	border-color: transparent;
      	position: absolute; 
   	}

    /* line 114, ../sass/ns-popover.scss */
    .ns-popover-tooltip-theme.ns-popover-right-placement .triangle:after {
      	border-right-color: white;
      	border-left-width: 0;
      	left: 1px;
      	bottom: -10px; 
    }

  	/* line 181, ../sass/ns-popover.scss */
  	.ns-popover-tooltip-theme.ns-popover-left-placement .triangle {
    	content: "";
    	display: block;
    	width: 0;
    	height: 0;
    	border: solid 11px;
    	border-color: transparent;
    	position: absolute;
    	border-left-color: #d2d2d2;
    	top: 50%;
    	right: -11px;
    	margin-top: -11px; 
    }

    /* line 56, ../sass/ns-popover.scss */
    .ns-popover-tooltip-theme.ns-popover-left-placement .triangle:after {
      	content: " ";
      	display: block;
      	width: 0;
      	height: 0;
      	border: solid 10px;
      	border-color: transparent;
      	position: absolute; 
    }

    /* line 100, ../sass/ns-popover.scss */
    .ns-popover-tooltip-theme.ns-popover-left-placement .triangle:after {
      	border-left-color: white;
      	border-right-width: 0;
      	right: 1px;
      	bottom: -10px; 
    }

  	/* line 187, ../sass/ns-popover.scss */
  	.ns-popover-tooltip-theme.ns-popover-left-align .ns-popover-tooltip {
    	margin-left: 0; 
    }

  	/* line 193, ../sass/ns-popover.scss */
  	.ns-popover-tooltip-theme.ns-popover-right-align .ns-popover-tooltip {
    	margin-right: 0; 
    }

  	/* line 199, ../sass/ns-popover.scss */
  	.ns-popover-tooltip-theme.ns-popover-top-align .ns-popover-tooltip {
    	margin-top: 0; 
    }

  	/* line 205, ../sass/ns-popover.scss */
  	.ns-popover-tooltip-theme.ns-popover-bottom-align .ns-popover-tooltip {
    	margin-bottom: 0; 
    }

.tooltip{
	color: #717070;
	width: 400px;
}

.tooltip img{
	width: 30px;
	height: 30px;
	display: inline-block;
	float: left;
	padding: 2px;
	/*top: -10px;*/
}


.tooltip hr{
	opacity: 0.2;
}

.tooltip .users_count{
	color: #9E9E9E;
	font-size: 0.8em;
	padding-left: 10px;
}

.tooltip .description{
	font-size: 0.9em;
	padding: 12px;
}

.tooltip .footer .icons{
	float: right;
	padding: 2px;
	color: #9E9E9E;
}

.tooltip .footer .icon-share:hover{
	background-color: #9E9E9E;
	color: #E6E6E6;
}

.tooltip .share_menu{
	position: absolute;
	background-color: #9E9E9E;
	color: #E6E6E6;
	padding: 5px;
}

.tooltip .share_menu div{
	padding: 2px;
	border-bottom: 1px solid #9E9E9E;
}

.tooltip .share_menu div:hover{
	background-color: #E6E6E6;
	color: #9E9E9E;
}

.tooltip .footer{
	background-color: #E6E6E6;
	padding: 10px;
	border-top: 1px solid #D5D5D5;
}

.tooltip .footer .recommend{
	border: 1px solid #B8B8B8;
	padding: 5px;
	background-color: white;
	border-radius: 2px;
	font-size: 0.8em;
	cursor: pointer;
}

.tooltip .footer .recommended{
	background-color: #B8B8B8;
	color: white;
	border: 1px solid #B8B8B8;
	padding: 5px;
	border-radius: 2px;
	font-size: 0.8em;
	cursor: pointer;	
}

.tooltip .footer .recommend:hover{
	background-color: #B8B8B8;
	color: white;
}

.tooltip .users{
	display: -webkit-box;
	padding: 10px;
}

.tooltip .header{
	padding: 10px 10px 0px 10px;
}

.tooltip .header .title,
.tooltip .header .author{
	cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/standup75\/Code\/cropme\/styles\/cropme\.scss}line{font-family:\0000319}}
cropme {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/standup75\/Code\/cropme\/styles\/cropme\.scss}line{font-family:\0000321}}
cropme .step-1 {
  font-family: helvetica, arial, sans-serif;
  display: block;
  background-color: #f0f0f0;
  border: 4px dashed #cccccc;
  letter-spacing: 1px;
  font-size: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1000;
  position: absolute;
	top: 10px;
	left: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/standup75\/Code\/cropme\/styles\/cropme\.scss}line{font-family:\0000331}}
cropme .cropme-file-input {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/standup75\/Code\/cropme\/styles\/cropme\.scss}line{font-family:\0000337}}
cropme input[type=file] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/standup75\/Code\/cropme\/styles\/cropme\.scss}line{font-family:\0000344}}
cropme .cropme-button {
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  background: #3ba5b3;
  color: white;
  height: 50px;
  width: 250px;
  margin-left: -125px;
  line-height: 50px;
  -webkit-box-shadow: #cccccc 2px 2px 1px 0, #328d99 0 0 2px 2px inset;
  -moz-box-shadow: #cccccc 2px 2px 1px 0, #328d99 0 0 2px 2px inset;
  box-shadow: #cccccc 2px 2px 1px 0, #328d99 0 0 2px 2px inset;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/standup75\/Code\/cropme\/styles\/cropme\.scss}line{font-family:\0000355}}
cropme .cropme-button:hover {
  background: #3799a6;
  color: #e6fafc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/standup75\/Code\/cropme\/styles\/cropme\.scss}line{font-family:\0000360}}
cropme .cropme-or {
  pointer-events: none;
  text-align: center;
  color: #cccccc;
  margin-top: 25px;
  width: 20px;
  margin-left: -10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/standup75\/Code\/cropme\/styles\/cropme\.scss}line{font-family:\0000368}}
cropme .cropme-label {
  margin-top: 25px;
  width: 150px;
  margin-left: -75px;
  pointer-events: none;
  text-align: center;
  color: #444444;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/standup75\/Code\/cropme\/styles\/cropme\.scss}line{font-family:\0000376}}
cropme .cropme-error {
  margin-top: 10px;
  text-align: center;
  color: #da4b3e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/standup75\/Code\/cropme\/styles\/cropme\.scss}line{font-family:\0000381}}
cropme dropbox {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/standup75\/Code\/cropme\/styles\/cropme\.scss}line{font-family:\0000388}}
cropme dropbox.not-available {
  background-color: #fff0f0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/standup75\/Code\/cropme\/styles\/cropme\.scss}line{font-family:\0000391}}
cropme dropbox.over {
  background-color: #e5ffea;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/standup75\/Code\/cropme\/styles\/cropme\.scss}line{font-family:\0000394}}
cropme dropbox.loading {
  background-color: #aaffaa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/standup75\/Code\/cropme\/styles\/cropme\.scss}line{font-family:\0000398}}
cropme .overlay-tile {
  position: absolute;
  opacity: 0.5;
  background-color: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/standup75\/Code\/cropme\/styles\/cropme\.scss}line{font-family:\00003103}}
cropme .overlay-border {
  position: absolute;
  border: 2px solid #328d99;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/standup75\/Code\/cropme\/styles\/cropme\.scss}line{font-family:\00003107}}
cropme .step-2 {
  cursor: crosshair;
  overflow: hidden;
  z-index: 1000;
	position: absolute;
	top: 10px;
	left: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/standup75\/Code\/cropme\/styles\/cropme\.scss}line{font-family:\00003111}}
cropme .step-2.col-resize {
  cursor: col-resize;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/standup75\/Code\/cropme\/styles\/cropme\.scss}line{font-family:\00003113}}
cropme img {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/standup75\/Code\/cropme\/styles\/cropme\.scss}line{font-family:\00003114}}
cropme canvas {
  display: none;
}

/*!
 * http://jqueryte.com
 * jQuery Text Editor 1.3.3
 * Copyright (C) 2012, Fatih Koca (fattih@fattih.com), AUTHOR.txt (http://jqueryte.com/about)
 * This program is free software
you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation
either version 2 of the License, or (at your option) any later version.
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
You should have received a copy of the GNU General Public License along with this library
if not, write to the Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
 *
*/

/* editor's general field */
.jqte {
	margin:30px 0;
	border:#000 1px solid;
	border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;
	box-shadow:0 0 3px #999; -webkit-box-shadow:0 0 3px #999; -moz-box-shadow:0 0 3px #999;
	overflow:hidden;
	transition:box-shadow 0.4s, border 0.4s; -webkit-transition:-webkit-box-shadow 0.4s, border 0.4s; -moz-transition:-moz-box-shadow 0.4s, border 0.4s; -o-transition:-o-box-shadow 0.4s, border 0.4s;
}
.jqte * {
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
.jqte_focused {
	border-color:#789E00;
	box-shadow:0 0 20px #FFF; -webkit-box-shadow:0 0 20px #FFF; -moz-box-shadow:0 0 20px #FFF;
}

/* toolbar */
.jqte_toolbar {
	overflow:auto;
	padding:3px 4px;
	background:#EEE;
	border-bottom:#BBB 1px solid
}
.jqte_tool {
	float:left;
	margin:0;
	padding:0;
	cursor:pointer;
}

.jqte_tool, .jqte_tool_icon, .jqte_tool_label {
	border:#EEE 1px solid;
	border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px
}

.jqte_hiddenField {
	display:none
}

.jqte_tool_icon {
	display:block;
	width:22px;
	height:22px;
	background:url(../img/jquery-te.png) no-repeat
}
.jqte_tool.jqte_tool_1 .jqte_tool_label {
	position:relative;
	display:block;
	padding:3px;
	width:70px;
	height:16px;
	overflow:hidden;
	text-decoration:none !important
}
.jqte_tool.jqte_tool_1 .jqte_tool_text {
	font:bold 13px Arial,sans-serif;
	color:#222;
}
.jqte_tool.jqte_tool_1 .jqte_tool_icon {
	position:absolute;
	top:10px;
	right:2px;
	width:6px;
	height:4px;
	background-position:-19px -23px;
	border:none;
	border-radius:none; -webkit-border-radius:none; -moz-border-radius:none
}
.jqte_tool.jqte_tool_2 .jqte_tool_icon {
	background-position:0 0
}
.jqte_tool.jqte_tool_3 .jqte_tool_icon {
	background-position:-22px 0
}
.jqte_tool.jqte_tool_4 .jqte_tool_icon {
	background-position:-44px 0
}
.jqte_tool.jqte_tool_5 .jqte_tool_icon {
	background-position:-66px 0
}
.jqte_tool.jqte_tool_6 .jqte_tool_icon {
	background-position:-88px 0
}
.jqte_tool.jqte_tool_7 .jqte_tool_icon {
	background-position:-110px 0
}
.jqte_tool.jqte_tool_8 .jqte_tool_icon {
	background-position:-132px 0
}
.jqte_tool.jqte_tool_9 .jqte_tool_icon {
	background-position:-154px 0
}
.jqte_tool.jqte_tool_10 .jqte_tool_icon {
	background-position:-176px 0
}
.jqte_tool.jqte_tool_11 .jqte_tool_icon {
	background-position:-198px 0
}
.jqte_tool.jqte_tool_12 .jqte_tool_icon {
	background-position:-220px 0
}
.jqte_tool.jqte_tool_13 .jqte_tool_icon {
	background-position:-242px 0
}
.jqte_tool.jqte_tool_14 .jqte_tool_icon {
	background-position:-264px 0
}
.jqte_tool.jqte_tool_15 .jqte_tool_icon {
	background-position:-286px 0
}
.jqte_tool.jqte_tool_16 .jqte_tool_icon {
	background-position:-308px 0
}
.jqte_tool.jqte_tool_17 .jqte_tool_icon {
	background-position:-330px 0
}
.jqte_tool.jqte_tool_18 .jqte_tool_icon {
	background-position:-352px 0
}
.jqte_tool.jqte_tool_19 .jqte_tool_icon {
	background-position:-374px 0
}
.jqte_tool.jqte_tool_20 .jqte_tool_icon {
	background-position:-396px 0
}
.jqte_tool.jqte_tool_21 .jqte_tool_icon {
	background-position:-418px 0
}

.jqte_tool:hover {
	background-color:#FFF;
	border-color:#FFF
}
.jqte_tool:hover .jqte_tool_icon {
	border:#AAA 1px solid
}
.jqte_tool:active .jqte_tool_icon {
	border:#777 1px solid
}

.jqte_tool_depressed {
	background-color:#DDD;
	border-color:#CCC
}
.jqte_tool_depressed .jqte_tool_icon {
	border-color:#AAA
}
.jqte_tool_depressed:hover {
	background-color:#EEE
}

.jqte_tool.jqte_tool_1:hover .jqte_tool_icon, .jqte_tool.jqte_tool_1:active .jqte_tool_icon {
	border:none
}

/* link form area */
.jqte_linkform {
	padding:5px 10px;
	background:#DDD;
	border-bottom:#BBB 1px solid;
}

.jqte_linktypeselect {
	position:relative;
	float:left;
	width:130px;
	background:#EEE;
	cursor:pointer
}
.jqte_linktypeselect:Active {
	background:#FFF
}
.jqte_linktypeview {
	padding:3px 5px;
	border:#333 1px solid;
	color:#777;
	border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;
	outline:none
}
.jqte_linktypetext {
	font-size:12px;
}
.jqte_linktypearrow {
	position:absolute;
	bottom:8px; right:6px;
	width:7px;
	height:6px;
	margin:0 auto;
	background:url(../img/jquery-te.png) -7px -23px no-repeat;
}
.jqte_linktypes {
	display:none;
	position:absolute;
	top:22px; left:1px;
	width:125px;
	background:#FFF;
	border:#333 1px solid;
	box-shadow:0 1px 4px #AAA; -webkit-box-shadow:0 1px 4px #AAA; -moz-box-shadow:0 1px 4px #AAA
}
.jqte_linktypes a {
	display:block;
	padding:4px 5px;
	font-size:12px;
}
.jqte_linktypes a:hover {
	background:#DDD
}

.jqte_linkinput {
	float:left;
	margin:0 5px;
	padding:3px 5px;
	width:300px;
	background:#EEE;
	border:#333 1px solid;
	color:#777;
	font-size:12px;
	border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;
	outline:none;
}
.jqte_linkinput:focus, .jqte_linkinput:hover {
	background:#FFF;
	border-color:#000;
}
.jqte_linkbutton {
	float:left;
	padding:3px 12px;
	background:#AAA;
	border:#333 1px solid;
	color:#FFF;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
	border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;
	box-shadow:inset 0 1px #EEE; -webkit-box-shadow:inset 0 1px #EEE; -moz-box-shadow:inset 0 1px #EEE;
}
.jqte_linkbutton:hover {
	background:#A1A1A1
}
.jqte_linkbutton:active {
	box-shadow:inset 0 1px #CCC; -webkit-box-shadow:inset 0 1px #CCC; -moz-box-shadow:inset 0 1px #CCC;
	background:#888;
}

/* text format menu */
.jqte_formats {
	display:none;
	position:absolute;
	width:180px;
	oveflow-x:hidden;
	overflow-y:auto;
	background:#FFF;
	border:#AAA 1px solid;
	box-shadow:0 0 5px #AAA; -webkit-box-shadow:0 0 5px #AAA; -moz-box-shadow:0 0 5px #AAA;
	z-index:100;
}
.jqte_format {
	display:block;
	padding:4px 7px;
	color:#000 !important;
	font-size:13px;
	text-decoration:none !important
}
.jqte_format:hover {
	background:#DDD
}
.jqte_format_1, .jqte_format_2, .jqte_format_3, .jqte_format_4, .jqte_format_5, .jqte_format_6 {
	font-weight:bold
}
.jqte_format_1 {
	font-size:22px
}
.jqte_format_2 {
	font-size:20px
}
.jqte_format_3 {
	font-size:18px
}
.jqte_format_4 {
	font-size:16px
}
.jqte_format_5 {
	font-size:14px
}
.jqte_format_6 {
	font-size:12px
}
.jqte_format_7 {
	font-family:"Courier New", Courier, monospace
}

/* font size menu */
.jqte_fontsizes {
	display:none;
	position:absolute;
	width:180px;
	height:198px;
	oveflow-x:hidden;
	overflow-y:auto;
	background:#FFF;
	border:#AAA 1px solid;
	box-shadow:0 0 5px #AAA; -webkit-box-shadow:0 0 5px #AAA; -moz-box-shadow:0 0 5px #AAA
}

.jqte_fontsize {
	display:block;
	padding:3px 7px;
	color:#000 !important;
	text-decoration:none !important
}

.jqte_fontsize:hover {
	background:#DDD
}

/* color pallette */
.jqte_cpalette {
	display:none;
	position:absolute;
	padding:6px;
	width:144px;
	background:#FFF;
	border:#AAA 1px solid;
	box-shadow:0 0 5px #AAA; -webkit-box-shadow:0 0 5px #AAA; -moz-box-shadow:0 0 5px #AAA
}
.jqte_color {
	display:block;
	float:left;
	width:16px;
	height:16px;
	border:#FFF 1px solid;
}
.jqte_color:hover {
	border-color:#000
}
.jqte_colorSeperator {
    float:none;
    clear:both;
    height:7px;
}


/* editor area */
.jqte_editor, .jqte_source {
	padding:10px;
	background:#FFF;
	min-height:100px;
	max-height:900px;
	overflow:auto;
	outline:none;
	word-wrap:break-word; -ms-word-wrap:break-word;
	resize:vertical
}
.jqte_editor div, .jqte_editor p {
	margin:0 0 7px
}
.jqte_editor a:link, .jqte_editor a:link * {
	color:#0066FF !important;
	text-decoration:underline;
}
.jqte_editor blockquote {
	margin-top:0;
	margin-bottom:7px
}
.jqte_editor img {
    float:left;
	margin:0 10px 5px 0
}

.jqte_editor a[jqte-setlink], .jqte_editor a[jqte-setlink] * {
	background:#3297FD !important;
	color:#FFF !important
}
.jqte_editor h1, .jqte_editor h2, .jqte_editor h3, .jqte_editor h4, .jqte_editor h5, .jqte_editor h6, .jqte_editor pre {
	display:block;
	margin:0 0 3px;
	border:none !important
}
.jqte_editor h1, .jqte_editor h1 * {
	font-size:26px
}
.jqte_editor h2, .jqte_editor h2 * {
	font-size:24px
}
.jqte_editor h3, .jqte_editor h3 * {
	font-size:22px
}
.jqte_editor h4, .jqte_editor h4 * {
	font-size:20px
}
.jqte_editor h5, .jqte_editor h5 * {
	font-size:18px
}
.jqte_editor h6, .jqte_editor h6 * {
	font-size:15px
}
.jqte_editor pre, .jqte_editor pre * {
	font-family:"Courier New", Courier, monospace
}

/* source area */
.jqte_source, .jqte_source textarea {
	background:#FFF1E8
}
.jqte_source textarea {
	margin:0;
	padding:0;
	width:100%;
	min-height:100px;
	font-family:Courier, Arial, sans-serif;
	font-weight:normal;
	font-size:15px;
	overflow:hidden;
	border:none;
	outline:none;
	resize:none
}

/* title box */
.jqte_title {
	display:none;
	position:absolute;
	z-index:9999;
}
.jqte_titleArrow {
	position:relative;
}
.jqte_titleArrowIcon {
	width:7px;
	height:6px;
	margin:0 auto;
	background:url(../img/jquery-te.png) 0 -23px no-repeat;
}
.jqte_titleText {
	padding:5px 7px;
	margin-top:0;
	min-width:5px;
	min-height:1px;
	max-width:400px;
	background:#000;
	border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;
	word-wrap:break-word; -ms-word-wrap:break-word
}
.jqte_titleText, .jqte_titleText * {
	color:#FFF;
	font-size:11px
}
.jqte_placeholder {
	position:relative;
	display:none;
}
.jqte_placeholder_text {
	position:absolute;
	top:43px;
	left:10px;
	font-size:14px;
	color:#AAA;
}

.main_book_icon{
	color: #0054a6;
}

.main_author_icon{
	color: #3cb878;
}

.main_reader_icon{
	color: #790000;
}

.notifications{
	position: fixed;
	width: 31	0px;
	height: 100%;
	overflow-y: hidden;
	font-size: 0.9em;
	z-index: 1;
}

.notifications.ng-enter,
.notifications.ng-leave.ng-leave-active{
	margin-top: 600px;
}

.notifications.ng-leave,
.notifications.ng-enter.ng-enter-active{
	margin-top: 0px;
}

.notification.ng-enter{
	margin-top: 300px;
}

.notification.ng-enter.ng-enter-active{
	margin-top: 5px;
}

.notification.ng-leave.ng-leave-active{
	margin-left: -300px;
}

.notification.ng-leave{
	margin-left: 5px;
}

.notifications a{
	cursor: pointer;
	color: #3D79A1;
	font-weight: bold;
}

.notifications .notification_message{
	width: 220px;
	white-space: initial;
	padding: 5px 15px 5px 5px;
	height: 45px;
}

.notifications .notification{
	background-color: white;
	height: 70px;
	margin: 2px;
	border-bottom: 1px solid #C9C9C9;
	padding: 5px;
	border-radius: 2px;
}

.notifications span{
	display: inline-block;
	float: left;
}

.notifications .user_thumb{
	margin-left: 10px;
}

.notifications img{
	width: 50px;
	margin: 5px;
	border-radius: 5px;
}

.notifications .timestamp{
	color: #BBBBBB;
	font-size: 0.9em;
	float: right;
}

.notifications .check{
	position: absolute;
	right: 8px;
	cursor: pointer;
	color: #CFCFCF;
}

.notifications .check:hover{
	color: #3D79A1;
}