body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: none;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.category_tree{
  .node:hover{
    cursor: pointer;
    background-color: rgba(255, 165, 0, 0.69);
  }
  .node_edit:hover{
    cursor: pointer;
  }
  .node{
    background-color: orange;
    width: 100px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 10px;
    font-size: 8px;
    line-height: 10px;
  }
  .node_edit{
    background-color: lightblue;
    width: 10px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 0px;
  }
  .node_toggle{
    background-color: green;
    width: 10px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 0px;
  }

  .highlight_children{
    background-color: lightblue;
  }
}

.hide{
  display:none;
}
body .modal-body {
  min-height: 200px;
  max-height: 300px;
}
body .modal{
  min-width: 80%;
  margin-left: -40%
}