html{
	height: 100%;
	overflow-y: hidden;
	overflow-x: auto;
}
body{
	width: 100%;
	height: 100%;
	white-space: nowrap;
    /*remove selection*/
 	-webkit-user-select: none;
 	-moz-user-select: -moz-none;
  	-ms-user-select: none;
    user-select: none;
    color: #717070;
    background-color: #EBEBEB;
    font-size: 0.9em;
    background-image: url('bg.png');
}

hr{
    opacity: 0.2;
}

/*anchor tags*/
a{
    color: #717070;
    text-decoration: none;
}

a:hover{
    text-decoration:underline;
}

input{
    /*border: 1px solid #DBDBDB;*/
    border: none;
}

input:focus{
    /*border: 1px solid #717070;*/
    /*border: 1px solid #DBDBDB;*/
    outline:none;
}


.search_typeahead_options{
    bottom: 40px;
    position: absolute;
    left: 164px;
    width: 280px;
}

.search_typeahead_group{
    position: fixed;
    left: 50%;
    top: 35%;
    width: 406px;
    height: 37px;
    margin-left: -200px;
    margin-top: -20px;
    z-index: 1;
}

.search_typeahead_group .search_icon{
    position: absolute;
    right: -4px;
    color: white;
    padding: 11px 30px 12px 30px;
    top: 0.2px;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    border: 0;
    border-radius: 0 2px 2px 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.5);
}

.recommendations_page .search_typeahead_group{
    top: 15px;
    margin-top: 0px;
}

.recommendations_page .search_input{
    color: #717070;
    background-color: white;
    border: 1px solid #D8D8D8;
}

.recommendations_page .search_input:focus{
    /*outline: 0.5px solid #4d90fe;*/
    border-color: #4d90fe !important;
    box-shadow: 0 0 10px #9ecaed;
}

.search_input{
    font-size: 1em;
    color: #717070;
    padding-left: 10px;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    width: 97%;
    height: 100%;
    content: '';
}

/*animation*/
.animate-fast{
    -webkit-transition:all linear 0.2s;
    -moz-transition:all linear 0.2s;
    -o-transition:all linear 0.2s;
    transition:all linear 0.2s;
}

.animate-slow{
    -webkit-transition:all linear 0.5s;
    -moz-transition:all linear 0.5s;
    -o-transition:all linear 0.5s;
    transition:all linear 0.5s; 
}

.animate-very-slow{
    -webkit-transition:all linear 0.9s;
    -moz-transition:all linear 0.9s;
    -o-transition:all linear 0.9s;
    transition:all linear 0.9s;
}

.stuck {
  position: fixed;
  top: 0;
}