<table>
  <tr>
    <th>S.No.</th>
    <th>Name</th>
    <th>#Children</th>
    <th>Active</th>
    <th>Submit</th>
  </tr>
  <% @categories.each_with_index do |category, index|%>
    <tr>
      <td><%= index %></td>
      <td><%= category[0] %></td>
      <td><%= category[2] %></td>
    </tr>
  <% end %>
</table>
<div class="main_footer">
  CATEGORIES
</div>

<div class="vertical_padder"></div>