<div class="flex span">
    <a class="span" bg="a" width="195px" height="256px" style="width: 129.5px; height: 170px;"></a>
    <a class="span" bg="b" width="133px" height="195px" style="width: 129.5px; height: 170px;"></a>
    <a class="span" bg="c" width="300px" height="493px" style="width: 129.5px; height: 170px;"></a>
    <a class="span" bg="d" width="192px" height="260px" style="width: 129.5px; height: 170px;"></a>
    <a class="span" bg="e" width="194px" height="272px" style="width: 129.5px; height: 170px;"></a>
    <a class="span" bg="f" width="169px" height="284px" style="width: 129.5px; height: 170px;"></a>
    <a class="span" bg="g" width="185px" height="272px" style="width: 129.5px; height: 170px;"></a>
    <a class="span" bg="h" width="183px" height="280px" style="width: 129.5px; height: 170px;"></a>
    <a class="span" bg="i" width="594px" height="394px" style="width: 129.5px; height: 170px;"></a>
    <a class="span" bg="k" width="258px" height="394px" style="width: 129.5px; height: 170px;"></a>
    <a class="span" bg="l" width="278px" height="182px" style="width: 129.5px; height: 170px;"></a>
    <a class="span" bg="m" width="180px" height="275px" style="width: 129.5px; height: 170px;"></a>
    <a class="span" bg="n" width="189px" height="276px" style="width: 129.5px; height: 170px;"></a>
    <a class="span" bg="o" width="170px" height="280px" style="width: 129.5px; height: 170px;"></a>
    <a class="span" bg="p" width="194px" height="275px" style="width: 129.5px; height: 170px;"></a>
    <a class="span" bg="q" width="260px" height="190px" style="width: 129.5px; height: 170px;"></a>
    <a class="span" bg="r" width="245px" height="340px" style="width: 129.5px; height: 170px;"></a>
    <a class="span" bg="s" width="180px" height="290px" style="width: 129.5px; height: 170px;"></a>
    <a class="span" bg="t" width="400px" height="400px" style="width: 129.5px; height: 170px;"></a>
    <a class="span" bg="u" width="222px" height="194px" style="width: 129.5px; height: 170px;"></a>
    <!-- <a class="span" bg="v" width="185px" height="275px" style="width: 129px; height: 170px;"></a>
    <a class="span" bg="w" width="226px" height="340px" style="width: 129px; height: 170px;"></a>
    <a class="span" bg="x" width="170px" height="270px" style="width: 129px; height: 170px;"></a> -->
    <!-- <a class="span" bg="y" width="180px" height="280px" style="width: 154px; height: 170px;"></a>
    <a class="span" bg="z" width="550px" height="950px" style="width: 154px; height: 170px;"></a>
    <a class="span" bg="a1" width="170px" height="290px" style="width: 154px; height: 170px;"></a>
    <a class="span" bg="a2" width="180px" height="250px" style="width: 154px; height: 170px;"></a>
    <a class="span" bg="a3" width="180px" height="280px" style="width: 154px; height: 170px;"></a>
    <a class="span" bg="a4" width="200px" height="250px" style="width: 154px; height: 170px;"></a>
    <a class="span" bg="a5" width="410px" height="480px" style="width: 154px; height: 170px;"></a>
    <a class="span" bg="a6" width="180px" height="270px" style="width: 154px; height: 170px;"></a>
    <a class="span" bg="a7" width="180px" height="270px" style="width: 154px; height: 170px;"></a>
    <a class="span" bg="a8" width="260px" height="280px" style="width: 154px; height: 170px;"></a>
    <a class="span" bg="a9" width="570px" height="350px" style="width: 154px; height: 170px;"></a>
    <a class="span" bg="a10" width="180px" height="300px" style="width: 154px; height: 170px;"></a> -->
</div>
<style>
    .flex {
        position:absolute;
        width:60%;
        min-height:300px;
        margin:0 auto;
        /*margin: 1px;*/
        /*border:0px solid red;*/
        margin-top:0px;
    }
    .flex a {
        /*background-color:white;*/
        /*display:block;width:100px;*/
        /*height:100px;*/
        /*border-radius:2px;*/
        max-height: 170px;
        max-width: 154px;
        /*margin-top: 10px;*/
        margin: 2px;
        background-repeat:no-repeat;
        background-position:center;
        background-size: cover;
        border:1px solid white;
        /*cursor:pointer;*/

        /*text-align:left;*/
        /*text-shadow:1px 1px 20px #000;*/
        /*color:white;font-size:18px;*/
        /*font-weight:bold;
        text-indent:10px;
        line-height:30px;*/
    }
    [bg=a] {
        background-image:url('assets/books/2.jpeg');
    }
    [bg=a1] {
        background-image:url('assets/books/a1.jpeg');
    }
    [bg=a2] {
        background-image:url('assets/books/a2.jpeg');
    }
    [bg=a3] {
        background-image:url('assets/books/a3.jpeg');
    }
    [bg=a4] {
        background-image:url('assets/books/a4.jpeg');
    }
    [bg=a5] {
        background-image:url('assets/books/a5.jpg');
    }
    [bg=a6] {
        background-image:url('assets/books/a6.jpeg');
    }
    [bg=a7] {
        background-image:url('assets/books/a7.jpeg');
    }
    [bg=a8] {
        background-image:url('assets/books/a8.jpeg');
    }
    [bg=a9] {
        background-image:url('assets/books/a9.jpg');
    }
    [bg=a10] {
        background-image:url('assets/books/a10.jpeg');
    }

    [bg=b] {
        background-image:url('assets/books/3.jpeg');
    }
    [bg=c] {
        background-image:url('assets/books/4.jpg');
    }
    [bg=d] {
        background-image:url('assets/books/5.jpeg');
    }
    [bg=e] {
        background-image:url('assets/books/6.jpeg');
    }
    [bg=f] {
        background-image:url('assets/books/7.jpeg');
    }
    [bg=g] {
        background-image:url('assets/books/8.jpeg');
    }
    [bg=h] {
        background-image:url('assets/books/9.jpg');
    }
    [bg=i] {
        background-image:url('assets/books/10.jpg');
    }
    [bg=j] {
        background-image:url('assets/books/11.jpeg');
    }
    [bg=k] {
        background-image:url('assets/books/12.jpg');
    }
    [bg=l] {
        background-image:url('assets/books/13.jpeg');
    }
    [bg=m] {
        background-image:url('assets/books/14.jpeg');
    }
    [bg=n] {
        background-image:url('assets/books/15.jpeg');
    }
    [bg=o] {
        background-image:url('assets/books/16.jpeg');
    }
    [bg=p] {
        background-image:url('assets/books/17.jpeg');
    }
    [bg=q] {
        background-image:url('assets/books/18.jpeg');
    }
    [bg=r] {
        background-image:url('assets/books/19.gif');
    }
    [bg=s] {
        background-image:url('assets/books/20.jpeg');
    }
    [bg=t] {
        background-image:url('assets/books/21.jpg');
    }
    [bg=u] {
        background-image:url('assets/books/22.jpeg');
    }
    [bg=v] {
        background-image:url('assets/books/23.jpeg');
    }
    [bg=w] {
        background-image:url('assets/books/24.jpg');
    }
    [bg=x] {
        background-image:url('assets/books/25.jpeg');
    }
    [bg=y] {
        background-image:url('assets/books/26.jpeg');
    }
    [bg=z] {
        background-image:url('assets/books/27.jpg');
    }
</style>
<script type="text/javascript">
    $(function() {
        // $(".flex").flex();
    });
</script>