<div id="menu">
	<ul class="site-nav clearfix">
	  <li class="nav-my">
	  	<a class="bookmark" href="javascript:void(0);" style="cursor:default; background: rgb(18, 40, 56); color: azure; border-top-right-radius: 9px; border-bottom-right-radius: 2px;">READER'S DOOR</a>
	  	</li>
	  <!-- <li class="nav-darkcyan">
	  	<a class="bookmark" style="cursor:default; color: rgb(183, 207, 233);" href="javascript:void(0);">Find your next read.</a>
	  </li>
	  <li class="nav-darkseagreen">
	  	<a class="bookmark" href="javascript:void(0);" style="cursor:default; color: rgb(132, 166, 202);">Build a virtual bookshelf.</a>
	  </li>
	  <li class="nav-cornflowerblue">
	  	<a class="bookmark" href="javascript:void(0);" style="cursor:default; color: rgb(119, 141, 165);">Know your books.</a>
	  </li>
	  <li class="nav-chocolate">
	  	<a class="bookmark" href="javascript:void(0);" style="cursor:default; color: rgb(46, 70, 95);">Meet similar readers.</a>
	  </li>
	  <li class="nav-dimgrey">
	  	<a class="bookmark" href="javascript:void(0);" style="cursor:default; color: rgb(31, 63, 97);">Follow authors.</a>
	  </li>
	  <li class="nav-brown">
	  	<a class="bookmark" href="javascript:void(0);" style="cursor:default; color: rgb(11, 32, 54);">Read online.</a>
	  </li>
	  <li class="nav-yellowgreen">
	  	<a class="bookmark" href="javascript:void(0);" style="cursor:default; color: rgb(0, 0, 0);">Share books.</a>
	  </li> -->
	</ul>
</div>