<div layout-align="" layout="column">
	<div class="cover_image">
		<div layout="row" layout-align="center center">
			<img src="assets/rd_icon.png"  class="logo" />
			<h1 class="big_title">ReadersDoor</h1>
		</div>
		<img src="/assets/bookgrid.jpg" class="cover">
	</div>
	<div layout-padding layout="row">
		<div flex="20" flex-md="10" flex-sm></div>
		<div flex>
			<p>
				We are a global community for bibliophiles, where we intend to enrich and enhance users’ reading experience by focusing on virtualisation and idealisation of their real life interactions and experiences.
			</p>
		</div>
		<div flex="20" flex-md="10" flex-sm></div>
	</div>
	<div layout-padding>
		<div class="big_title">VISION</div>
		<div layout="row" layout-padding>
			<div flex="20" flex-md="10" flex-sm></div>
			<div flex>
				<p>
					Be Facebook for Books.
				</p>
			</div>
			<div flex="20" flex-md="10" flex-sm></div>
		</div>
	</div>
	<div>
		<div class="big_title">PRODUCT</div>
		<div layout-padding layout="row">
		<div flex="20" flex-md="10" flex-sm></div>
		<div flex>
			<p>
				At ReadersDoor, we aim to bridge the gap between reality and knowledge. deriving from books and literature, which we accomplish through an all-inclusive strategy comprising of recommendations, reading lists, discussion communities, latest news concerning a particular topic or an issue.
			</p>
		</div>
		<div flex="20" flex-md="10" flex-sm></div>
	</div>
	</div>
	<div>
		<div class="big_title">DESIGN</div>
		<div layout-padding layout="row">
		<div flex="20" flex-md="10" flex-sm></div>
		<div flex>
			<p>
				Minimal. Simple. Bold.
			</p>
		</div>
		<div flex="20" flex-md="10" flex-sm></div>
	</div>
	<div>
		<div class="big_title">TECHNOLOGY</div>
		<div layout="row">
			<div flex="20" flex-md="10" flex-sm></div>
			<div layout-padding>
				<p>
					We use information in Books, News and Videos to connect knowledge to be served in a personalised way.
				</p>
				<div >
					<img src="/assets/arjun.jpg" class="big_square">
				</div>
			</div>
			<div flex="20" flex-md="10" flex-sm></div>
		</div>
	</div>

	<div>
		<div class="big_title">MARKETING</div>
		<div layout-padding layout="row">
		<div flex="20" flex-md="10" flex-sm></div>
		<div flex>
			<p>
				We are a global community for bibliophiles, where we intend to enrich and enhance users’ reading experience by focusing on virtualisation and idealisation of their real life interactions and experiences.
			</p>
		</div>
		<div flex="20" flex-md="10" flex-sm></div>
	</div>
	
	
</div>

<style>
	.big_title{
		font-size: 28px;
	  	letter-spacing: -0.02em;
	  	line-height: 1.15;
	  	font-weight: 500;
		font-family: sans-serif;
		text-align: center;
	}

	body{
		width: 100%;
		margin: 0px;
		
	}

	p{
		font-size: 18px;
  		color: #4c4c4c;
  		text-align: center;
  		line-height: 32px;
  		font-family: "din", "Calibri", "Cantarell", sans-serif;
	}

	.cover_image{
		width: 100%;
		height: 70vh;
		overflow: hidden;
		position: relative;
	}

	.cover_image h1{

	}

	.cover_image .cover{
		position: absolute;
		width: 100%;
		left: 0px;
	}

	.big_square{
	    width: 120px;
	    height: 120px;	
	}

	.less_important_container{
		background-color: #f5f5f5;
	}

	.logo{
		width: 40px !important;
	}

	.important_title{
		font: 300 20px Roboto,arial,sans-serif;
		color: #898989;
	}
</style>