<div layout-align="" layout="column">
	<div class="header"  layout="column" layout-align="center center">
		<div class="z_index_1"  layout="column" layout-align="center center">
			<div class="rd_title">ReadersDoor</div>
			<div class="white_color big_title center_text">Discover yourself through books, friends, and the world.</div>
		</div>
		<img src="/assets/bookgrid.jpg" class="cover">
	</div>
	<div layout-padding layout="row" class="box">
		<div flex="20" flex-md="10" hide-sm></div>
		<div flex>
			<p>
				We are a Global Community for <br/>
				Bibliophiles, Writers, Interestingness Hunters and Curious Minds at large.
			</p>
		</div>
		<div flex="20" flex-md="10" hide-sm></div>
	</div>
	<div layout-padding class="box">
		<div class="big_title">VISION</div>
		<div layout="row" layout-padding>
			<div flex="20" flex-md="10" hide-sm></div>
			<div flex>
				<p>
					Serve Book Lovers. <br/>
					Connect <b>Information</b>.
				</p>
			</div>
			<div flex="20" flex-md="10" hide-sm></div>
		</div>
	</div>
	<div class="box">
		<div class="big_title">PRODUCT</div>
		<div layout-padding layout="row">
			<div flex="20" flex-md="10" hide-sm></div>
			<div flex>
				<p>
					We intend to enrich and enhance users’ reading experience by focusing on Virtualisation and Idealisation of their real life interactions and experiences. 
				</p>
				<p>We aim to bridge the gap between <b>Reality and Knowledge</b>, deriving from Books and News, which we accomplish through an all-inclusive strategy comprising of recommendations, reading lists, discussion communities, latest news concerning a particular topic or an issue.
				</p>
			</div>
			<div flex="20" flex-md="10" hide-sm></div>
		</div>
	</div>
	<div class="box">
		<div class="big_title">DESIGN</div>
		<div layout-padding layout="row">
			<div flex="20" flex-md="10" hide-sm></div>
			<div flex>
				<p>
					<b>Minimal. Modest. Bold.</b><br/>
					We aim to simplify Design, and then simplify it more.
				</p>
			</div>
			<div flex="20" flex-md="10" hide-sm></div>
		</div>
	</div>
	<div class="box">
		<div class="big_title">TECHNOLOGY</div>
		<div layout="row">
			<div flex="20" flex-md="10" hide-sm></div>
			<div flex>
				<p>
					We see the World around in <b>Graphs</b>.<br/>
					From where we generate meaningful Information by <b>connecting the Missing Links</b>.
				</p>
			</div>
			<div flex="20" flex-md="10" hide-sm></div>
		</div>
	</div>

	<div class="box">
		<div class="big_title">MARKETING</div>
		<div layout-padding layout="row">
			<div flex="20" flex-md="10" hide-sm></div>
			<div flex>
				<p>
					
				</p>
			</div>
			<div flex="20" flex-md="10" hide-sm></div>
		</div>
	</div>
	<div class="box">
		<p>
			Be the part of our Vision. Mail us at apply@readersdoor.com.
		</p>
	</div>
	
</div>

<style>
	.big_title{
		font-size: 28px;
	  	letter-spacing: -0.02em;
	  	line-height: 1.15;
	  	font-weight: 500;
		font-family: sans-serif;
		text-align: center;
	}

	body{
		width: 100%;
		margin: 0px;
		
	}

	p{
		font-size: 18px;
  		color: #4c4c4c;
  		text-align: center;
  		line-height: 32px;
  		font-family: "din", "Calibri", "Cantarell", sans-serif;
	}

	.header{
		width: 100%;
		height: 70vh;
		overflow: hidden;
		position: relative;
	}


	.header .cover{
		position: absolute;
		width: 100%;
		left: 0px;
		top: 0px;
	}

	.big_square{
	    width: 120px;
	    height: 120px;	
	}

	.less_important_container{
		background-color: #f5f5f5;
	}

	.logo{
		width: 40px !important;
	}

	.important_title{
		font: 300 20px Roboto,arial,sans-serif;
		color: #898989;
	}

	.rd_title{
		color: #fff;
	  	font-weight: 600;
	  	font-size: 40px;
	  	text-shadow: 1px 1px 6px rgba(0,0,0,0.2);
	}
	.z_index_1{
		z-index: 1;
	}

	.white_color{
		color: white !important;
	}

	.box{
		padding: 50px 0px;
	}

</style>