<div class="wrapper">
	<div class="content">
		<p>Warm Greetings from Reader’s Door, an internet based personalised book reading and recommendations engine.</p>
		<p>Reader’s Door is a venture started by IIT Delhi alumni, aimed at promoting a book-reading culture among people of all age groups through user friendly book search and recommendations. The platform has been designed as the <b>future of social-networking for book-reading enthusiasts</b>. </p>

		<p>Our aim is to promote a book-reading culture among people of all age groups with a vision to connect information in news, media and books.
		</p>

		<p>
		Reader's Door has a huge catalogue of 1 million+ books from all over the world supported by Open Library, Isbndb etc, with further plans to build over it. We provide a platform for our members to get personalised book recommendations, share personal insights, feelings, reflections from their book reading journeys, build virtual book shelves etc...
		</p>
		<div style="font-size: 14px;">
			<div>Founder and CEO</div>
			<div class="light">Bhuwan</div>
			<div class="light">+91-9971887030</div>
			<div><a href="mailto:bhuwanarora67@gmail.com" target="_blank"  class="click">Email</a></div>
			<div><a class="click" target="_blank" href="http://in.linkedin.com/pub/bhuwan-arora/8b/b74/10a/">Linkedin</a></div>
		</div>

	</div>
</div>