<div class="primary md-whiteframe-z1">
    <div ng-include src="'/assets/angular/html/author/header.html'"></div>
    <div ng-include src="'/assets/angular/html/shared/share.html'" ></div>
</div>
<div layout="row" class="feed_margin">
    <div flex="5" flex-md="5" hide-sm></div>
    <div flex="90" flex-md="90" flex-sm="100" layout="row" layout-sm="column" layout-md="column"> 
        <div flex="65">
            <div class="less_important bold" layout-padding>
                Books Published
            </div>
            <div layout="row" layout-wrap>
                <section ng-repeat="book in author.books" layout-margin>
                    <md-button aria-label="show_book_dialog" ng-click="show_book_dialog(book, $event)" 
                        class="md-whiteframe-z3 clear rd_book_container" >
                        <div ng-include src="'/assets/angular/html/shared/partials/book_thumb.html'"></div>
                    </md-button>
                </section>
            </div>
        </div>
        <div flex="35">
            <div layout-padding
                ng-include src="'/assets/angular/html/author/more_info.html'">
            </div>
            <div class="less_important bold" layout-padding>
                Followers
            </div>
            <div layout="row" layout-wrap>
                <div ng-include ng-init="active_tag = author" 
                    src="'/assets/angular/html/shared/partials/user_list.html'" ></div>
            </div>
        </div>
    </div>
    <div flex="5" flex-md="5" hide-sm></div>
</div>
<div layout="row" class="feed_margin">
    <div ng-include src="'/assets/angular/html/author/tabs.html'" class="full_width"></div>
</div>
<style>
    .author_thumb{
        width: 100%;
        height: 150%;
    }
    .book_container{
        min-height: 350px; 
        z-index: 1;
        position: relative;
        margin-top: -100px;
    }
    .author_header{
        z-index: 3;
        width: 100vw;
        top: 65px;
        position: absolute;
    }
    .parallax{
        z-index: 9999;
        color: white;
    }
    .author_book_cover{
        position: relative;
        z-index: 0;
        height: 350px;
        width: 100vw;
        overflow: hidden;
        background-size: contain;
        color: white;
        text-align: center;
    }
    .parallax h1,
    .book_cover h1{
        font-size: 2.5em;
        text-transform: uppercase;
    }
    .author_image{
        width: 130px;
        height: 130px;
        border-radius: 50%;
        border: 4px solid white;
        background-image: url('/assets/author_profile.jpg');
        background-size: cover;
        background-color: white;
    }
    
    .author_image_container{
        z-index: 9999;
        margin-top: -65px;
    }
    .nav_icons{
        position: absolute;
        right: 4px;
        bottom: 2px;
        color: white;
        font-size: 2em;
        font-weight: bold;
    }
    .burger_button{
        top: -73px;
        left: -10px !important;
    }
    .md-sidenav-left, md-sidenav {
        /*left: 0;*/
        /*top: -65px;*/
        /*position: absolute; */
    }

    .book_width{
        width: 130px;
    }

    .follow_author{
        position: absolute;
        z-index: 2;
        right: 10px;
        top: 67px;
    }

    .book_title{
        font-size: 1.2em;
        font-family: sans-serif;
    }

    .book_description{
        margin-top: 10px;
        font-size: 0.9em;
    }

</style>