<div ng-controller="authorController" layout="row" layout-wrap>
    <div ng-include src="'/assets/angular/html/author/no_data.html'" ng-if="author.id == 2"></div>
    <div ng-include src="'/assets/angular/html/author/show.html'" ng-if="author.id != 2"></div>
</div>
<style>

    .book_cover{
        position: relative;
        z-index: 0;
        height: 350px;
        width: 100vw;
        overflow: hidden;
        background-size: cover;
        color: white;
        text-align: center;
    }

    .author_thumb{
        width: 100%;
        height: 150%;
    }

    .book_description{
        /*height: 40vh;*/
        min-height: 300px; 
        background-color: white;
        z-index: 1;
        position: relative;
    }

    .author_header{
        z-index: 3;
        width: 100vw;
        top: 0px;
        position: absolute;
    }

    .parallax{
        z-index: 9999;
        color: white;
    }

    .parallax h1,
    .book_cover h1{
        font-size: 2.5em;
        text-transform: uppercase;
    }

    .author_image{
        width: 130px;
        height: 130px;
        border: 4px solid white;
    }

    .author_image_container{
        z-index: 9999;
        margin-top: -65px;
    }

    .nav_icons{
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: white;
        font-size: 2em;
        font-weight: bold;
    }
</style>