<div ng-include src="'/assets/angular/html/author/show.html'"></div>
<style>
    .author_thumb{
        width: 100%;
        height: 150%;
    }
    .book_container{
        min-height: 350px; 
        z-index: 1;
        position: relative;
        margin-top: -100px;
    }
    .author_header{
        z-index: 3;
        width: 100vw;
        top: 65px;
        position: absolute;
    }
    .parallax{
        z-index: 9999;
        color: white;
    }
    .author_book_cover{
        position: relative;
        z-index: 0;
        height: 350px;
        width: 100vw;
        overflow: hidden;
        background-size: contain;
        color: white;
        text-align: center;
    }
    .parallax h1,
    .book_cover h1{
        font-size: 2.5em;
        text-transform: uppercase;
    }
    .author_image{
        width: 130px;
        height: 130px;
        border: 4px solid white;
        background-image: url('https://cdn0.iconfinder.com/data/icons/users-groups-1/512/user_edit-512.png');
        background-size: cover;
        background-color: white;
    }
    .author_image_container{
        z-index: 9999;
        margin-top: -65px;
    }
    .nav_icons{
        position: absolute;
        right: 4px;
        bottom: 2px;
        color: white;
        font-size: 2em;
        font-weight: bold;
    }
    .burger_button{
        top: -73px;
        left: -10px !important;
    }
    .md-sidenav-left, md-sidenav {
        /*left: 0;*/
        /*top: -65px;*/
        /*position: absolute; */
    }

    .book_width{
        width: 130px;
    }

    .follow_author{
        position: absolute;
        z-index: 2;
        right: 10px;
        top: 67px;
    }

    .book_title{
        font-size: 1.2em;
        font-family: sans-serif;
    }

    .book_description{
        margin-top: 10px;
        font-size: 0.9em;
    }

</style>