<div class="light_grey md-whiteframe-z1" layout="row" layout-align="space-between center" id="pageHeader">
	<div layout-padding></div>
	<div layout="row">
		<a ng-href="#book/timeline" 
			ng-class="get_active_class('book/timeline')" layout-padding>
			<div layout="column" layout-align="center center">
				<div><i class="material-icons">rate_review</i></div>
				<div hide-sm>Buy & Reviews</div>
			</div>
		</a>
		<a ng-href="#book/buyandreview" 
			ng-class="get_active_class('book/buyandreview')" layout-padding>
			<div layout="column" layout-align="center center">
				<div><i class="material-icons">home</i></div>
				<div hide-sm>Feed</div>
			</div>
		</a>
		<a ng-href="#book/realvirtuality" 
			ng-class="get_active_class('book/realvirtuality')" layout-padding>
			<div layout="column" layout-align="center center">
				<div><i class="material-icons">local_library</i></div>
				<div hide-sm>Rooms and News</div>
			</div>
		</a>
		<a ng-href="#book/preview" 
			ng-class="get_active_class('book/preview')" layout-padding>
			<div layout="column" layout-align="center center">
				<div><i class="material-icons">pageview</i></div>
				<div hide-sm>Preview</div>
			</div>
		</a>
	</div>
	<div  ng-include src="'/assets/angular/html/todo/link.html'" 
		ng-if="!todo.book.recommend || !todo.book.author"></div>
	<div layout-padding></div>
</div>

<section layout="row" layout-wrap class="feed_margin">
	<div flex="5" hide-sm flex-md="5" ng-include src="'/assets/angular/html/book/_left_panel.html'" 
		ng-if="!book.show_info_only"></div>
	<div flex="85" flex-sm="100" flex-md="90" layout="column" ng-view></div>
    <div flex="10" hide-sm flex-md="5" ng-include src="'/assets/angular/html/book/_right_panel.html'" 
    	ng-if="!book.show_info_only"></div>
</section>
<style>
	#viewerCanvas{
		max-height: 80vh;
	}

	.book_page{
		min-height: 200px;
	}

	.book #tab1-content{
		height: 90vh;
	}


</style>
