<md-content>
    <section layout="row" layout-wrap>
        <div flex="20" hide-sm flex-md="10"></div>
        <div flex="60" flex-sm="100" flex-md="80" layout="column"
             ng-include src="'/assets/angular/html/book/show.html'">
        </div>
        <div flex="20" hide-sm 
             flex-md="10"></div>
    </section>
</md-content>