<section layout="row" layout-wrap class="feed_margin">
	<div flex="10" hide-sm flex-md="5" ng-include src="'/assets/angular/html/book/_left_panel.html'" 
		ng-if="!book.show_info_only"></div>
    <div flex="80" flex-sm="100" flex-md="90" layout="column" class="md-whiteframe-z1" 
         ng-include src="'/assets/angular/html/book/show.html'">
    </div>
    <div flex="10" hide-sm flex-md="5" ng-include src="'/assets/angular/html/book/_right_panel.html'" 
    	ng-if="!book.show_info_only"></div>
</section>
<style>
	#viewerCanvas{
		max-height: 80vh;
	}

	.book_page{
		min-height: 400px;
	}
</style>