<div layout-align="" layout="column">
	<div class="header"  layout="column" layout-align="center center">
		<div class="z_index_1"  layout="column" layout-align="center center">
			<div class="rd_title">oditty</div>
			<div class=" description center_text">Discover yourself through Books, Friends, and the World.</div>
		</div>
		<!-- <img src="/assets/bookgrid.jpg" class="cover"> -->
	</div>
	<md-divider></md-divider>
	<p class="description">
		Join the Team for <b>Now</b> or till <b>Then</b>. Mail us at apply@oditty.me
	</p>
	<div class="box" layout="row" layout-align="center center">
		<!-- <div flex="20" flex-md="10" hide-sm></div> -->
		<div layout="row" layout-wrap layout-align="center center">
			<a class="job_container" layout="column" layout-align="center center" 
				layout-padding layout-margin 
				href="mailto:apply@oditty.me?subject=Frontend Developer Intern/Job at Oditty, PFA CV (Choose either a job or an internship)">
				<i class="material-icons icon">
					camera_front
				</i>
				<p>Frontend Developer</p>
			</a>
			<a class="job_container" layout="column" layout-align="center center" 
				layout-padding layout-margin
				href="mailto:apply@oditty.me?subject=Backend Developer Intern/Job at Oditty, PFA CV (Choose either a job or an internship)">
				<i class="material-icons icon">
					code
				</i>
				<p>Backend Developer</p>
			</a>
			<a class="job_container" layout="column" layout-align="center center" 
				layout-padding layout-margin
				href="mailto:apply@oditty.me?subject=Android Developer Intern/Job at Oditty, PFA CV (Choose either a job or an internship)">
				<i class="material-icons icon">
					android
				</i>
				<p>Android Developer</p>
			</a>
			<a class="job_container" layout="column" layout-align="center center" 
				layout-padding layout-margin
				href="mailto:apply@oditty.me?subject=Data Scientist Intern/Job at Oditty, PFA CV (Choose either a job or an internship)">
				<i class="material-icons icon">
					data_usage
				</i>
				<p>Data Scientist</p>
			</a>
			<a class="job_container" layout="column" layout-align="center center" 
				layout-padding layout-margin
				href="mailto:apply@oditty.me?subject=Growth Hacker Intern/Job at Oditty, PFA CV (Choose either a job or an internship)">
				<i class="material-icons icon">
					group_work
				</i>
				<p>Growth Hacker</p>
			</a>
			<a class="job_container" layout="column" layout-align="center center" 
				layout-padding layout-margin
				href="mailto:apply@oditty.me?subject=Content Writer Intern/Job at Oditty, PFA CV (Choose either a job or an internship)">
				<i class="material-icons icon">
					mode_edit
				</i>
				<p>Content Writer</p>
			</a>
			<a class="job_container" layout="column" layout-align="center center" 
				layout-padding layout-margin
				href="mailto:apply@oditty.me?subject=PR Intern/Job at Oditty, PFA CV (Choose either a job or an internship)">
				<i class="material-icons icon">
					people
				</i>
				<p>PR</p>
			</a>
			<a class="job_container" layout="column" layout-align="center center" 
				layout-padding layout-margin
				href="mailto:apply@oditty.me?subject=Social Media Marketing Intern/Job at Oditty, PFA CV (Choose either a job or an internship)">
				<i class="material-icons icon">
					public
				</i>
				<p>Social Media Marketing</p>
			</a>
			<a class="job_container" layout="column" layout-align="center center" 
				layout-padding layout-margin
				href="mailto:apply@oditty.me?subject=Data Entry Intern at Oditty, PFA CV">
				<i class="material-icons icon">
					keyboard
				</i>
				<p>Data Entry</p>
			</a>
		</div>
		<!-- <div flex="20" flex-md="10" hide-sm></div> -->
	</div>
	
</div>

<style>
	.job_container{
		width: 200px;
		text-align: center;
		cursor: pointer;
	}

	.job_container:hover{
		background-color: #f5f5f5;
	}

	
	body{
		width: 100%;
		margin: 0px;
		
	}

	p{
		font-family: 'museo_sans300', sans-serif;
  		-webkit-font-smoothing: antialiased;
  		color: #3F4D51;
  		font-size: 20px;
  		margin-left: -1px;
  		letter-spacing: -0.02em;
  		line-height: 1.3;
  		margin-top: 22px;
  		margin-bottom: 0;
  		/*color: rgba(0,0,0,0.7);*/
  		text-align: center;
	}

	.header{
		width: 100%;
		height: 70vh;
		overflow: hidden;
		position: relative;
	}


	.header .cover{
		position: absolute;
		width: 100%;
		left: 0px;
		top: 0px;
	}

	.big_square{
	    width: 120px;
	    height: 120px;	
	}

	.less_important_container{
		background-color: #f5f5f5;
	}

	.logo{
		width: 40px !important;
	}

	
	.rd_title{
		font-family: Bookman Old Style;
	    font-weight: bolder;
	  	font-size: 50px;
		margin-left: -2.5px;
		margin-top: 10px;
		margin-bottom: 10px;
		letter-spacing: 0.04em;
		line-height: 1;
		color: rgba(0,0,0,0.8);
		margin-bottom: 8px;
		outline: 0;
		word-break: break-word;
		word-wrap: break-word;
	}
	.z_index_1{
		z-index: 1;
	}

	.white_color{
		color: white !important;
	}

	.box{
		padding: 70px 70px;
		min-height: 50vh;
	}

	.description{
		color: rgba(0,0,0,0.6);
	  	font-size: 18px;
	  	outline: 0;
	  	word-break: break-word;
	  	word-wrap: break-word;
	  	letter-spacing: -0.02em;
	}

	md-divider{
		color: #DFDFDF;
	}

	.center_text{
		text-align: center;
	}

	a{
		color: #3F4D51;
		text-decoration: none;
	}

	.icon{
		font-size: 80px;
		color: #C26363;
	}

</style>