<%= render :partial => "include_javascripts" %>
<body class="landing-page en">
  <%= render :partial => "shared/facebook_share"%>
  <div class="subscribe">
    <%= render :partial => "details" %>
  </div>
  <div class="brand_details">
    <%= render :partial => "right_box"%>
  </div>
</body>
<style>
  html{
    height: 100%;
  }
</style>