<div ng-include src="'/assets/angular/html/profile/_header.html'" hide-sm></div>
<div layout="column" ng-include src="'/assets/angular/html/customise/show.html'"></div>

<style>
    .footer_button{
        height: 48px;
    }
</style>