<div class="md-whiteframe-z1">
    <div class="video_wrapper compressed_video_wrapper light_grey">
        <!-- <img src="/assets/home.png"> -->
    </div>
    <div ng-include src="'/assets/angular/html/library/_header.html'" ng-hide="constant.show_book"></div>
    <div ng-include src="'/assets/angular/html/shared/share.html'"></div>
</div>

<section layout="row" layout-wrap class="feed_margin">
    <div flex="15" hide-sm hide-md layout="row" layout-align="end start" 
         ng-include src="'/assets/angular/html/library/shared/_left_panel.html'" layout-fill>
    </div>
    <div flex="70" flex-sm="100" flex-md="100"
         ng-include src="'/assets/angular/html/library/show.html'" 
         layout-align="center center" layout-fill>
    </div>
    <div ng-include src="'/assets/angular/html/library/shared/_right_panel.html'" 
         flex="15" hide-md hide-sm layout="column" layout-align="start start" layout-fill>
    </div>
</section>

<style>
    .subheaderdemoBasicUsage .face{
        border-radius: 30px;
        border: 1px solid #ddd;
        width: 48px;
        margin: 16px; 
    }

    .filters_header{
        position: relative;
        margin-top: -56px;
        padding: 7px;
    }

    .md-sticky-clone{
        top: 0px !important;
    }

    md-autocomplete{
        box-shadow: none;
        border: 1px solid #E8E8E8;
        margin-right: 4px;
    }

    .autocompletedemoBasicUsage md-content{
        min-height: 500px; 
    }

    .sticky_header{
        background-color: transparent !important;
        box-shadow: none;
        -webkit-animation: none !important;
        animation: none !important;
    }

    .book .subheader{
        height: 50px;
        margin: 0px;
        padding: 0px;
    }

    .gradient{
        height: 10vh;
        background-color: rgba(0, 0, 0, 0.31);
        position: absolute;
        z-index: 1;
        width: 60%;
        color: white;
        text-align: center;
        cursor: pointer;
        background-color: rgba(0,0,0,0);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0 0%, rgba(0,0,0,0)), color-stop(0 100% rgba(0,0,0,0.5)));
        background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0 0%, rgba(0,0,0,0.5) 0 100%);
        background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0 0%, rgba(0,0,0,0.5) 0 100%);
        background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.5)));
        background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0 0%, rgba(0,0,0,0.5) 0 100%);
        background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0 0%, rgba(0,0,0,0.5) 0 100%);
        background-image: linear-gradient(top, rgba(0,0,0,0) 0 0%, rgba(0,0,0,0.5) 0 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=0);
        background-repeat: repeat-x;
    }

    .gradient:hover{
        font-size: 1.2em;
    }

    .md-subheader:not(.md-sticky-no-effect).md-sticky-clone{
        margin: 0px !important;
    }

    md-tab md-tab-label{
        overflow: initial;
    }


    .md-button{
        text-transform: none !important;
        color: inherit;
    }

    .infinity_page .custom_title{
        font-size: 1.2em;
        font-family: sans-serif;
    }

    .video_wrapper{
        position: absolute;
        width: 100vw;
        overflow: hidden;
        top: 50px;
    }

    .init_filters_header,
    .video_wrapper{
        height: 73vh;
    }    


   

    @media (min-width:1000px)and (max-width:2200px){
        md-autocomplete{
            min-width: 300px;
        }

        .genres_autocomplete{
            min-width: 400px;
        }

        .time_autocomplete{
            min-width: 200px;
        }

        .video_wrapper video,
        .video_wrapper img{
            width: 100%;
        }

        .compressed_video_wrapper,
        .compressed_filters_header{
            height: 240px;
        }

    }

    @media (min-width:600px)and (max-width:1000px){
        md-autocomplete
        {
            min-width: 200px;
        }

        .genres_autocomplete{
            min-width: 80%;
        }

        .video_wrapper video,
        .video_wrapper img{
            width: 100%;
            min-height: 73vh;
        }

        .compressed_video_wrapper,
        .compressed_filters_header{
            height: 230px;
        }
    }

    @media (max-width: 590px)and (max-height:1199px){
        md-autocomplete,
        .genres_autocomplete,
        .time_autocomplete{
            min-width: 300px;
        }

        .full_width_sm{
            min-width: 300px;
        }

        .video_wrapper video,
        .video_wrapper img{
            height: 100%;
            min-height: 73vh;
        }

        .compressed_video_wrapper,
        .compressed_filters_header{
            height: 340px;
        }
    }
</style>