<div layout="row" class="feed_margin">
    <section flex="20" flex-md="5" hide-sm></section>
    <section flex="60" flex-md="90" layout="column" flex-sm="100" 
    	ng-include src="'/assets/angular/html/games/show.html'">
    </section>
    <section flex="20" flex-md="5" hide-sm></section>
</div>