<md-content layout="row" layout-wrap>
    <div flex="20" hide-sm flex-md="10"></div>
    <div flex="60" flex-sm="100" flex-md="80">
        	<div ng-include src="'/assets/angular/html/home/show.html'"></div>
    </div>
    <div flex="20" hide-sm flex-md="10"></div>
</md-content>