<div>
	<div class="cover_wrapper">
		<div class="tagline ">
			<div class="small_title">
				Door to Real Book Lovers	
			</div>
		</div>
		<div class="home_wrapper">
		</div>
		<img src="https://s3-ap-southeast-1.amazonaws.com/rd-genres/home3.jpg" class="cover_image">
	</div>
</div>
<div layout="column" layout-align="center center" class="background reverse_margin">
	<div class="big_title instruct_tagline" layout="row" layout-align="center center" layout-padding>
		<div>
			<div class="small_title">Planning to read a book?</div>
			<div>Choose the Book Discovery option</div>
		</div>
	</div>
	<div layout="row" layout-sm="column" layout-md="column" layout-align="center center" class="full_width z_index_1">
		<md-button ng-click="handle_personalised_redirect($event)" 
		   flex="30" flex-md="100" class="nav_options white md-whiteframe-z1" layout-margin flex-sm="100">
			<section layout-padding layout="column" layout-align="center" class="wrap">
				<div layout-padding>Personalised Suggestions</div>
				<i class="description">
					Suggestions based on your Taste.
				</i>
			</section>
		</md-button>&nbsp;<br/>
		<md-button ng-click="handle_news_redirect($event)"
			flex="30" flex-md="100" class="nav_options white md-whiteframe-z1" layout-margin
			 flex-sm="100">
			<section layout-padding layout="column" layout-align="center" class="wrap">
				<div layout-padding>Books Via News</div>
				<i class="description">Imbibe knowledge through News.
				</i>
			</section>
		</md-button>&nbsp;<br/>
		<md-button ng-click="handle_infinity_redirect($event)"
			flex="30" flex-md="100" class="nav_options white md-whiteframe-z1" layout-margin
			flex-sm="100">
			<section layout-padding layout="column" layout-align="center" class="wrap">
				<div layout-padding>Filters</div>
				<i class="description">
					Genre, Author, Era, Duration. Choose.
				</i>
			</section>
		</md-button>
	</div>
	<div layout-padding></div>
	<div layout-padding></div>
	<div layout-padding></div>
	<div layout-padding></div>
	<div layout-padding></div>
</div>
<div class="light_grey">
	
	<div layout-align="center center" ng-include="'assets/angular/html/shared/partials/social_links.html'"></div>
</div>
<style>
	.header{
		background-color: transparent !important;
  		position: absolute;
	}

	.burger{
		background-color: transparent !important;
	}

	.header .md-button, 
	.logo,
	.search label,
	.search input,
	.active_page_menu{
		color: white !important;
	}

	.search{
		border-bottom: 1px solid white;
  		color: white;
	}

	.nav_options{
		height: 300px;
		font-family: AvenirNextLTW01-Regular,Helvetica,Arial,sans-serif;
		font-weight: 400;
		font-size: 16px;
		color: #000;
		letter-spacing: 3px;
		line-height: 19px;
		text-transform: uppercase;
		text-align: center;
		/*border: 1px solid #C8C8C8;*/
		margin-bottom: 20px;
	}

	.nav_options a:hover{
		text-decoration: underline !important;
	}

	.nav_options .description{
		font-family: sans-serif;
		text-transform: none;
		letter-spacing: initial;
	}

	#suggestions{
		background: url("/assets/options.jpg") 0 0;
	}

	#news{
		background: url("/assets/options.jpg") 50% 0;
	}

	#filters{
		background: url("/assets/options.jpg") 100% 0;
	}

	.tagline{
		font-weight: 800;
		color: white;
		font-size: 60px;
		line-height: 60px;
		text-shadow: 1px 1px 6px rgba(0,0,0,0.2);
		z-index: 1;
		text-align: center;
		width: 100%;
		z-index: 2;
		position: absolute;
		top: 40%;
	}

	.instruct_tagline{
		font-family: AvenirNextLTW01-Regular,Helvetica,Arial,sans-serif;
		text-align: center;
		bottom: 20px;
		width: 100%;
		font-size: 30px;
		text-transform: uppercase;
		font-weight: 700;
		color: white;
		/*text-shadow: 1px 1px 6px rgba(0,0,0,0.2);*/
		z-index: 1;
	}

	.instruct_tagline .small_title{
		font-size: 24px !important;
	}

	.home_wrapper{
		position: absolute;
		background-color: rgba(0,0,0,.7);
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.cover_image{
		height: 100%;
	}

	.cover_wrapper{
		height: 75vh;
		position: relative;
		overflow: hidden;
	}

	.reverse_margin{
		margin-top: -150px;
	}


	@media only screen
	and (min-width : 320px)
	and (max-width : 800px){

		.nav_options{
			height: inherit !important;
			font-weight: 400;
			font-size: 16px;
			letter-spacing: 3px;
			line-height: 19px;
		}

		.tagline{
			font-weight: 400;
  			font-size: 40px;
  			line-height: 40px;
  			top: 30%;
		}

		.cover_image{
			position: absolute;
		}

		.instruct_tagline .small_title{
			font-weight: 300;
	  		font-size: 20px !important;
		}

		.instruct_tagline{
			font-size: 18px !important;
		}

	}


	@media only screen and (min-width: 768px){
	   

	}

	@media only screen and (max-width: 767px){
	   

	}

	@media only screen and (max-width: 767px) and (orientation: portrait){
	    

	}

</style>