<div>
	<div class="cover_wrapper" layout="column" layout-align="space-between" 
		ng-class="{'cover_reduced_wrapper': info.hide_signin}">
		<div></div>

		<div class="tagline" layout="row" layout-align="center center">
			<!-- <img src="assets/rd_icon.png" /> -->
			<div layout-padding>
	        	<div ng-include src="'assets/angular/html/shared/home/tagline.html'"></div>
			</div>
		</div>
		<div></div>
		<!-- <div class="home_wrapper"> -->
		<!-- </div> -->
		<!-- <img src="https://s3-ap-southeast-1.amazonaws.com/rd-genres/home3.jpg" class="cover_image"> -->
	</div>
</div>
<div layout="column" layout-align="center center" 
	ng-include src="'assets/angular/html/shared/home/options.html'">
</div>
<div class="big_title hello_world" layout-padding
	layout="column" layout-align="space-between"
	ng-include src="'assets/angular/html/shared/home/story.html'">
</div>
<div layout-padding></div>
<div layout-padding></div>
<div layout-padding></div>
<div layout-padding></div>
<div ng-include src="'assets/angular/html/shared/home/people_linked.html'"></div>

<div class="light_grey">
	<div layout-align="center center" ng-include="'assets/angular/html/shared/partials/social_links.html'"></div>
</div>
<div class="small_title" layout="column" layout-align="center center">
	<div class="less_important" layout-padding>Books are dangerous for the mind. Handle with care.</div>
	<div class="less_important" layout-padding>© Singularity Technologies Pvt. Ltd.</div>
</div>
<style>
	.header, .social_links{
		background-color: #F7F7F7 !important;
  		/*position: absolute;*/
	}

	.burger{
		background-color: transparent !important;
	}

	.logo,
	.search label,
	.search input,
	.active_page_menu,
	.pointer,
	.hello_world .about_card{
		color: #444444 !important;
	}

	.header .white_color{
		color: white !important;
	}

	.search{
		border-bottom: 1px solid white;
  		color: #444444;
	}

	.nav_options{
		height: 300px;
		font-family: AvenirNextLTW01-Regular,Helvetica,Arial,sans-serif;
		font-weight: 400;
		font-size: 16px;
		color: white !important;
		letter-spacing: 3px;
		line-height: 19px;
		text-transform: uppercase;
		text-align: center;
		/*border: 1px solid #C8C8C8;*/
		margin-bottom: 20px;
	}

	.nav_options a:hover{
		text-decoration: underline !important;
	}

	.nav_options .description{
		font-family: sans-serif;
		text-transform: none;
		letter-spacing: initial;
	}

	#suggestions{
		background-image: url('http://g-design.storage.googleapis.com/production/v2/assets/palette-perfect-209ab219.svg');
	}

	#news{
		background-image: url("/assets/news.svg");
	}

	#filters{
		background-color: #FBBC05 !important;
		/*background: url("/assets/filters.gif");*/
	}

	#suggestions:hover, 
	#news:hover, 
	#filters:hover{
		box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
	}

	#suggestions, 
	#news, 
	#filters{
		background-size: cover;
	  	color: white;
	  	background-position: 100%;
	}


	.tagline{
		/*font-family: "Open Sans" "san-selif";*/
		font-weight: 400;
  		line-height: 1.4em;
		font-size: 60px;
		width: 100%;
		z-index: 2;
		/*position: absolute;*/
		top: 40%;
	}

	.tagline img{
		width: 110px;
	}

	.tagline .small_title{
		font-weight: 300;
		margin: 0;
		padding: 0;
		font-size: 1.4em;
		color: #999;
		line-height: 1.4em;
		font-size: 22px;
	}

	.instruct_tagline{
		font-family: AvenirNextLTW01-Regular,Helvetica,Arial,sans-serif;
		text-align: center;
		bottom: 20px;
		width: 100%;
		font-size: 30px;
		text-transform: uppercase;
		font-weight: 700;
		/*color: white;*/
		/*text-shadow: 1px 1px 6px rgba(0,0,0,0.2);*/
		z-index: 1;
	}

	.instruct_tagline .small_title{
		font-size: 24px !important;
	}

	.home_wrapper{
		position: absolute;
		background-color: rgba(0,0,0,.7);
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.cover_image{
		height: 100%;
	}

	.cover_wrapper{
		height: 75vh;
		position: relative;
		overflow: hidden;
	}

	.cover_reduced_wrapper{
		height: 30vh;
	}

	.reverse_margin{
		margin-top: -150px;
	}

	.publishers img{
		height: 100px;
	}

	.hello_world{
		background-color: #8BC34A;
  		height: 400px;
  		color: white;
	}

	.hello_world .about_card a{
		color: #8BC34A;
	}

	.hello_world .about_card{
		height: 300px;
		margin-top: 100px;
		width: 400px;
	}


	@media only screen
	and (min-width : 320px)
	and (max-width : 800px){

		.nav_options{
			width: 100%;
			font-weight: 400;
			font-size: 16px;
			letter-spacing: 3px;
			line-height: 19px;
		}

		.tagline{
			font-weight: 400;
  			font-size: 30px;
  			line-height: 40px;
  			top: 30%;
		}

		.tagline .small_title{
			font-size: 18px;
		}

		.cover_image{
			position: absolute;
		}

		.instruct_tagline .small_title{
			font-weight: 300;
	  		font-size: 20px !important;
		}

		.instruct_tagline{
			font-size: 18px !important;
		}

	}


	@media only screen and (min-width: 768px){
	   

	}

	@media only screen and (max-width: 767px){
	   

	}

	@media only screen and (max-width: 767px) and (orientation: portrait){
	    

	}


</style>