<md-content ng-controller="libraryController" check-scroll-bottom="get_popular_books()">
    <div ng-include src="'/assets/angular/html/library/_header.html'" ng-hide="constant.show_book"></div>
    <section>
       <!-- <div ng-include src="'/assets/angular/html/library/_description.html'"></div> -->
        <section layout="row" layout-wrap>
            <div flex="20" hide-sm flex-md="10" 
                 ng-include src="'/assets/angular/html/library/_left_panel.html'"></div>
            <div flex="60" flex-sm="100" flex-md="80" layout="column" class="white"
                 ng-include src="'/assets/angular/html/library/show.html'">
            </div>
            <div ng-include src="'/assets/angular/html/library/_right_panel.html'" 
                 flex="20" hide-sm 
                 flex-md="10"></div>
        </section>
    </section>
</md-content>

<style>
    .subheaderdemoBasicUsage .face {
        border-radius: 30px;
        border: 1px solid #ddd;
        width: 48px;
        margin: 16px; 
    }

    .filters_header{
        background-color: #ececec !important;
        z-index: 2;
        box-shadow: none;
        padding: 7px;
        border-bottom: 1px solid #DDDDDD;
    }

    .md-sticky-clone{
        top: 0px !important;
    }

    md-autocomplete{
        box-shadow: none;
        border: 1px solid #E8E8E8;
        margin-right: 4px;
    }

    .autocompletedemoBasicUsage md-content{
        min-height: 500px; 
    }

    .sticky_header{
        background-color: transparent !important;
        box-shadow: none;
        -webkit-animation: none !important;
        animation: none !important;
    }

    .book{
        /*position: fixed;*/
        /*height: 5000px;*/
        /*width: 50%;*/
        /*background-color: white;*/
        /*z-index: 6;*/
        /*margin-left: -25%;*/
    }

    .book .subheader{
        height: 50px;
        margin: 0px;
        padding: 0px;
    }

    .gradient{
        height: 10vh;
        background-color: rgba(0, 0, 0, 0.31);
        position: absolute;
        z-index: 1;
        width: 60%;
        color: white;
        text-align: center;
        cursor: pointer;
        background-color: rgba(0,0,0,0);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0 0%, rgba(0,0,0,0)), color-stop(0 100% rgba(0,0,0,0.5)));
        background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0 0%, rgba(0,0,0,0.5) 0 100%);
        background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0 0%, rgba(0,0,0,0.5) 0 100%);
        background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.5)));
        background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0 0%, rgba(0,0,0,0.5) 0 100%);
        background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0 0%, rgba(0,0,0,0.5) 0 100%);
        background-image: linear-gradient(top, rgba(0,0,0,0) 0 0%, rgba(0,0,0,0.5) 0 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=0);
        background-repeat: repeat-x;
    }

    .gradient:hover{
        font-size: 1.2em;
    }

    .grid{
        position: absolute;
    }

    .md-subheader:not(.md-sticky-no-effect).md-sticky-clone{
        margin: 0px !important;
    }

    md-tab md-tab-label{
        overflow: initial;
    }

    .md-button{
        text-transform: none !important;
        color: inherit;

    }


</style>