<div class="wrapper">
	<div class="content">
		<p><b>Jobs</b></p>
		<p>At Reader's Door we're excited about the challenge of creating a <b>future of social-networking for book-reading enthusiasts</b>. Our aim is to promote a book-reading culture among people of all age groups with a vision to connect information in news, media and books.</p>
		<p>
			<div>Open Positions</div>
			<div><b>Technology</b></div>
			<div>
				<a class="click" target="_blank" href="https://docs.google.com/document/d/1NPlsfdIuCo30mXpC2ZrPvGTyfWzNuv_NFVQKhCR9M4o/edit?usp=sharing">Full Stack Developer</a>
			</div>
			<div>
				<a class="click" target="_blank" href="https://docs.google.com/document/d/1Q8M8a52ve29fm3ETm4yeofSgWiwcBbeNF0LQOsCxUiw/edit?usp=sharing">UI/UX Designer</a>
			</div>
			<br/>
			<div><b>Strategy</b></div>
			<div>
				We're looking for highly ambitious partners(preferably book lovers) to build and handle the product and business.
			</div>
		</p>
		<br/>
		<br/>

		<p>
			<b>Got something to offer?</b></br>

			Drop us a mail at <a href="mailto:bhuwanarora67@gmail.com" class="click">careers@readersdoor.com</a> and we'll be happy to check it out.
		</p>

	</div>
</div>
<style>
	.click{
		color: #427fed;
	}

	.click:hover{
		text-decoration: underline;
	}

	.wrapper{
		position: fixed;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		background-color: #ddd;
		line-height: 1.38;
	    font-size: 14px;
	    color: #141823;
	    font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
	}
	.content{
		margin-left: 2%;
		margin-top: 75px;
		margin-right: 2%;
		background-color: white;
		padding: 20px;
		box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
	}
</style>