<div class="wrapper">
	<div class="content">
		<p>At Reader's Door we're excited about the challenge of creating a <b>future of social-networking for book-reading enthusiasts</b>. Our aim is to promote a book-reading culture among people of all age groups with a vision to connect information in news, media and books.</p>
		<div style="overflow: auto;">
			<div><b>Jobs</b></div>
			<!-- <div style="overflow: auto;">
				<img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/p180x540/10346613_364611080376435_6164364994190156506_n.png?oh=6ce862aa7b5d66b910decfa4b81e5da2&oe=551D4782&__gda__=1427398876_0fbdc108d5d5b4d94b5df53118950464" class="thumb" />
				<img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/s720x720/10390944_364616193709257_79789162566363581_n.png?oh=71bb1abf7b4e001c58dc67757548ab29&oe=550CC4D4&__gda__=1423626561_5823bcfd3b9b70e7b86148efc61dc8df" class="thumb" />
				<img src="https://scontent-b-sin.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/p180x540/10409074_364600917044118_3339794302110873414_n.png?oh=3ef372ec22b38fb335e8f49a48017811&oe=550B9764" class="thumb" />
			</div> -->
			<div><b>Technology</b></div>
			<div>
				<a class="click" target="_blank" href="https://docs.google.com/document/d/1NPlsfdIuCo30mXpC2ZrPvGTyfWzNuv_NFVQKhCR9M4o/edit?usp=sharing">Full Stack Developer</a>
			</div>
			<div>
				<a class="click" target="_blank" href="https://docs.google.com/document/d/1Q8M8a52ve29fm3ETm4yeofSgWiwcBbeNF0LQOsCxUiw/edit?usp=sharing">UI/UX Designer</a>
			</div>
			<br/>
			<div><b>Strategy</b></div>
			<div>
				We're looking for highly ambitious partners(preferably book lovers) to build and handle the operations and business.
			</div>
		</div>
		<br/>
		<br/>
		<div style="font-size: 14px;">
			<b>Got something to offer?</b></br>
			Drop us a mail at <a href="mailto:bhuwanarora67@gmail.com" class="click">careers@readersdoor.com</a> and we'll be happy to check it out.
		</div>

	</div>
</div>