<md-content>
    <div ng-include src="'/assets/angular/html/profile/_header.html'"></div>
    <section layout="row" layout-wrap>
        <div flex="25" hide-sm flex-md="10"></div>
        <div flex="50" flex-sm="100" flex-md="80" layout="column"
             ng-include src="'/assets/angular/html/journey/_sub_header.html'">
        </div>
        <div flex="25" hide-sm 
             flex-md="10"></div>
    </section>
    <section layout="row" layout-wrap>
        <div flex="25" hide-sm flex-md="10"></div>
        <div flex="50" flex-sm="100" flex-md="80" layout="column"
             ng-include src="'/assets/angular/html/journey/show.html'">
        </div>
        <div flex="25" hide-sm flex-md="10"></div>
    </section>
</md-content>