<div ng-class="{'md-whiteframe-z3': (!info.selected_genre && !info.selected_author && !info.selected_year && !info.selected_duration)}">
    <div class="video_wrapper" 
        ng-class="{'compressed_video_wrapper': (info.selected_genre || info.selected_author || info.selected_year || info.selected_duration)}">
        <img src="/assets/home.png" hide show-sm show-md>
        <video poster="/assets/home.png" autoplay="" 
            hide-sm hide-md loop="" src="https://a0.muscache.com/airbnb/static/London-P1-1.mp4">
                <source type="video/mp4" src="http://ak6.picdn.net/shutterstock/videos/1876138/preview/stock-footage-baby-girl-reading-a-book-while-lying-on-the-floor.mp4">
                <source type="video/webm" src="http://ak6.picdn.net/shutterstock/videos/1876138/preview/stock-footage-baby-girl-reading-a-book-while-lying-on-the-floor.webm">
                <object width="596" height="336" type="application/x-shockwave-flash" data="/video/assets/static/flashmediaelement.swf">
                    <param name="movie" value="/video/assets/static/flashmediaelement.swf">
                    <param name="flashvars" value="controls=true&amp;file=http%3A%2F%2Fak6.picdn.net%2Fshutterstock%2Fvideos%2F1876138%2Fpreview%2Fstock-footage-baby-girl-reading-a-book-while-lying-on-the-floor.mp4">
                </object>
            </video>
    </div>
    <div class="filters_header animate-fast" 
         layout="column" layout-align="center center">
         <div layout="column" layout-align="center center" class="full_width" >
             <div layout-padding layout="column" layout-align="center center">
                 <div class="rd_title bold white_color" layout-padding>
                     READ LIFE
                 </div>
                 <div class="white_color big_title center_text">
                    Discover yourself through books, friends, and the world.
                 </div>
             </div>
            <section layout="row" layout-sm="row" layout-align="center center" layout-wrap class="full_width z_index_0">
                <div flex="10" flex-md="5"></div>
                <div layout="row" layout-align="center center"  layout-sm="column"
                     class="z-index-1" flex="80" flex-md="90">
                     <div class="relative" flex-md="100">
                        <md-autocomplete  class="filters_autocomplete genres_autocomplete"
                            md-selected-item="info.selected_genre"
                            md-search-text="search_tag.genre"
                            md-items="item in info.genres"
                            md-search-text-change="search_genres(search_tag.genre)"
                            md-item-text="item.name || item.root_category_name"
                            md-min-length="0"
                            placeholder="Select a Genre">
                            <div>
                                <div md-highlight-text="search_tag.genre" class="capitalize">{{item.name}}</div>
                                <div class="less_important">{{item.books_count}} books</div>
                            </div>
                        </md-autocomplete>
                    </div>
                    <br/>
                    <div class="relative" hide-sm hide-md>
                        <md-autocomplete class="filters_autocomplete time_autocomplete"
                            md-selected-item="info.selected_duration"
                            md-search-text="search_tag.read_time"
                            md-items="item in info.read_times"
                            md-item-text="item.name"
                            md-min-length="0"
                            placeholder="Time to Read">
                            <div layout="column">
                                <span md-highlight-text="search_tag.read_time" md-highlight-flags="^i">{{item.name}}</span>
                                <div class="less_important">
                                    {{item.page_count_range}} Pages to read
                                </div>
                            </div>

                        </md-autocomplete>
                    </div>
                    <div>
                        <md-button class="md-button-clear md-raised md-whiteframe-z2" style="height:42px;">
                            Go
                        </md-button>
                    </div>
                </div>  
                <div flex="10" flex-md="5"></div>
            </section>
         </div>
    </div>
</div>

<section layout="row" layout-wrap class="feed_margin">
   
</section>
<div layout-align="center center" ng-include="'assets/angular/html/shared/partials/social_links.html'"></div>
<div class="small_title" layout="column" layout-align="center center">
    <div class="less_important" layout-padding>Discover yourself through books, friends and the world.</div>
    <div class="less_important" layout-padding>© Singularity Technologies Pvt. Ltd.</div>
</div>
<style>
    .subheaderdemoBasicUsage .face{
        border-radius: 30px;
        border: 1px solid #ddd;
        width: 48px;
        margin: 16px; 
    }

    .filters_header{
        position: relative;
        margin-top: -56px;
        padding: 7px;
    }

    .md-sticky-clone{
        top: 0px !important;
    }

    md-autocomplete{
        box-shadow: none;
        border: 1px solid #E8E8E8;
        margin-right: 4px;
    }

    .autocompletedemoBasicUsage md-content{
        min-height: 500px; 
    }

    .sticky_header{
        background-color: transparent !important;
        box-shadow: none;
        -webkit-animation: none !important;
        animation: none !important;
    }

    .book .subheader{
        height: 50px;
        margin: 0px;
        padding: 0px;
    }

    .gradient{
        height: 10vh;
        background-color: rgba(0, 0, 0, 0.31);
        position: absolute;
        z-index: 1;
        width: 60%;
        color: white;
        text-align: center;
        cursor: pointer;
        background-color: rgba(0,0,0,0);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0 0%, rgba(0,0,0,0)), color-stop(0 100% rgba(0,0,0,0.5)));
        background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0 0%, rgba(0,0,0,0.5) 0 100%);
        background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0 0%, rgba(0,0,0,0.5) 0 100%);
        background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.5)));
        background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0 0%, rgba(0,0,0,0.5) 0 100%);
        background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0 0%, rgba(0,0,0,0.5) 0 100%);
        background-image: linear-gradient(top, rgba(0,0,0,0) 0 0%, rgba(0,0,0,0.5) 0 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=0);
        background-repeat: repeat-x;
    }

    .gradient:hover{
        font-size: 1.2em;
    }

    .md-subheader:not(.md-sticky-no-effect).md-sticky-clone{
        margin: 0px !important;
    }

    md-tab md-tab-label{
        overflow: initial;
    }


    .md-button{
        text-transform: none !important;
        color: inherit;
    }

    .infinity_page .custom_title{
        font-size: 1.2em;
        font-family: sans-serif;
    }

    .video_wrapper{
        position: absolute;
        width: 100vw;
        overflow: hidden;
        top: 50px;
    }

    .init_filters_header,
    .video_wrapper{
        height: 73vh;
    }    


   

    @media (min-width:1000px)and (max-width:2200px){
        md-autocomplete{
            min-width: 300px;
        }

        .genres_autocomplete{
            min-width: 400px;
        }

        .time_autocomplete{
            min-width: 200px;
        }

        .video_wrapper video,
        .video_wrapper img{
            width: 100%;
        }

        .compressed_video_wrapper,
        .compressed_filters_header{
            height: 240px;
        }

    }

    @media (min-width:600px)and (max-width:1000px){
        md-autocomplete
        {
            min-width: 200px;
        }

        .genres_autocomplete{
            min-width: 80%;
        }

        .video_wrapper video,
        .video_wrapper img{
            width: 100%;
            min-height: 73vh;
        }

        .compressed_video_wrapper,
        .compressed_filters_header{
            height: 230px;
        }
    }

    @media (max-width: 590px)and (max-height:1199px){
        md-autocomplete,
        .genres_autocomplete,
        .time_autocomplete{
            min-width: 300px;
        }

        .full_width_sm{
            min-width: 300px;
        }

        .video_wrapper video,
        .video_wrapper img{
            height: 100%;
            min-height: 73vh;
        }

        .compressed_video_wrapper,
        .compressed_filters_header{
            height: 340px;
        }
    }

    .filters_header md-autocomplete ul li{
        line-height: 16px;
        padding: 10px 15px;
        height: inherit;
    }

    .icon_angle{
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .relative{
        position: relative;
    }

    .clear_button{
        z-index: 1;
        height: 38px;
        color: #8B8B8B !important;
    }
    
    .left_nav{
        min-width: 250px;
        width: 250px;
        margin-top: -10px !important;
        position: fixed !important;
    }

    .right_nav{
        min-width: 50px;
        width: 50px;
        margin-top: -10px !important;
        position: fixed !important;
        margin-right: 50px;
    }

</style>