<div layout="column" ng-controller="communityController" id="news">
    <section layout="row">
        <div ng-include src="'/assets/angular/html/community/show.html'" 
             layout="row" layout-align="center"
             layout-sm="column"
             flex></div>
        <div flex="65" ng-if="show_details" class="animate-fast">
        </div>
    </section>
     <news-scroller layout="row" 
        layout-align="center" 
        layout-padding
        class="news_footer">
    </news-scroller>
</div>
<!-- <d3-circles></d3-circles> -->
<!-- <d3-bars data="d3Data"></d3-bars> -->
<style>
    #news .news_footer{
        position: fixed;
        bottom: 0px;
        padding: 0px;
        min-width: 300px;
        right: 0px;
        padding-right: 100px;
        left: 0px;
    }

    #news .news_footer .md-header-items,
    #news .news_footer, 
    #news .news_footer .md-header-items-container{
        background-color: #e5e5e5;
    }

    #news md-tabs.md-default-theme md-tab{
        background: white;
        padding: 0px;
        text-transform: inherit !important;
        /*max-width: 300px;*/
    }

    #news .news_footer md-tabs.md-default-theme md-tabs-ink-bar{
        color: transparent !important;
        background: transparent !important;
    }

    #news .news_thumb{
        width: 100px;
        height: 60px;
    }

    #news .news_item{
        text-transform: none !important;
        max-width: 300px;
        white-space: initial;
        text-align: left;
    }

    #news .news_footer .md-header,
    #news .news_footer md-tab md-tab-label{
        height: 60px;
    }
</style>