<div flex layout="row" layout-align="space-between" class="primary">
    <md-switch ng-model="info.circles" 
               ng-click="toggle_circles()"
               aria-label="Community Circles">
    </md-switch>
    <div></div>
</div>
<div class="primary" layout="row">
    <div flex="15" flex-md="10" hide-sm></div>
    <div flex="70" flex-md="80" flex="100" class="rd_title" layout-padding ng-bind-html="info.active_news.title | uppercase"></div>
    <div flex="15" flex-md="10" hide-sm></div>
</div>
<div ng-include src="'/assets/angular/html/shared/share.html'" class="primary"></div>
<div ng-if="info.circles" class="feed_margin">
    <section layout="row">
        <div ng-include src="'/assets/angular/html/news/show.html'" 
             layout="row" layout-align="center center"
             layout-sm="column"
             flex>
        </div>
    </section>
</div>
<div ng-if="!info.circles" layout="row" class="feed_margin">
    <div flex="15" hide-md hide-sm></div>
    <div ng-include src="'/assets/angular/html/news/show_grid.html'" 
         flex="70" flex-md="100" flex-sm="100" layout="column" class="white md-whiteframe-z1"></div>
    <div flex="15" hide-md hide-sm></div>
</div>

<news-scroller layout="row" 
    layout-align="center" 
    layout-padding
    ng-hide="!info.circles"
    class="news_footer">
</news-scroller>
<!-- <d3-circles></d3-circles> -->
<!-- <d3-bars data="d3Data"></d3-bars> -->
<style>
    #news .news_footer{
        position: fixed;
        bottom: 0px;
        padding: 0px;
        min-width: 300px;
        right: 0px;
        padding-right: 100px;
        left: 0px;
    }

    #news .news_footer .md-paginator.md-next, 
    #news .news_footer .md-paginator.md-prev{
        background-color: transparent !important;
    }

    #news .news_footer .md-header-items,
    #news .news_footer, 
    #news .news_footer .md-header-items-container{
        background-color: #e5e5e5;
    }

    #news .news_footer md-tabs-canvas{
        height: 60px;
    }
    

    #news .news_footer md-tabs.md-default-theme .md-tab{
        background-color: white;
        padding: 0px;
        line-height: 14px;
        margin-right: 5px;
    }

    #news .news_footer md-tabs.md-default-theme md-ink-bar{
        color: transparent !important;
        background: transparent !important;
    }

    #news .news_thumb{
        width: 100px;
        height: 60px;
    }

    #news .news_item{
        text-transform: none !important;
        max-width: 300px;
        white-space: initial;
        text-align: left;
    }

    #news .news_footer .md-header,
    #news .news_footer md-tab md-tab-label{
        height: 60px;
    }

    #news .max_full_width{
        max-width: 100%;
        max-height: 60vh;
    }
</style>