<!-- <div flex layout="row" layout-align="space-between" class="primary">
    <md-switch ng-model="info.circles" 
               ng-click="toggle_circles()"
               aria-label="Community Circles">
    </md-switch>
    <div></div>
</div> -->
<div layout="row" class="feed_margin">
    <div flex="10" hide-md hide-sm></div>
    <div ng-include src="'/assets/angular/html/news/show_grid.html'" 
         flex="80" flex-md="100" flex-sm="100" layout="column"></div>
    <div flex="10" hide-md hide-sm></div>
</div>
<news-scroller layout="row" 
    layout-align="center" 
    layout-padding
    class="news_footer">
</news-scroller>
<visit-news news-id="info.active_news_id" ng-if="info.active_news_id"></visit-news>

<!-- <d3-circles></d3-circles> -->
<!-- <d3-bars data="d3Data"></d3-bars> -->
<style>
    #news .news_footer{
        width: 100%;
        margin-top: 30px;
    }

    #news .news_footer .md-paginator.md-next, 
    #news .news_footer .md-paginator.md-prev{
        background-color: transparent !important;
    }

    #news .news_footer .md-header-items,
    #news .news_footer, 
    #news .news_footer .md-header-items-container{
        background-color: #0C3657;
    }

    #news .news_footer md-tabs-canvas{
        height: 60px;
    }
    

    #news .news_footer md-tabs.md-default-theme .md-tab{
        background-color: white;
        padding: 0px;
        line-height: 14px;
        margin-right: 5px;
    }

    #news .news_footer md-tabs.md-default-theme md-ink-bar{
        color: transparent !important;
        background: transparent !important;
    }

    #news .news_thumb{
        width: 100px;
        height: 60px;
    }

    #news .news_item{
        text-transform: none !important;
        max-width: 300px;
        white-space: initial;
        text-align: left;
    }

    #news .news_footer .md-header,
    #news .news_footer md-tab md-tab-label{
        height: 60px;
    }

    #news .max_full_width{
        max-width: 100%;
        max-height: 60vh;
    }
</style>