<section layout="column" id="suggestions" class="md-whiteframe-z1" layout-align="center center">
	<div class="big_title bold white_color">
		SUGGESTIONS
	</div>
</section>
<div ng-include src="'/assets/angular/html/shared/share.html'" class="shift_above"></div> 
<section layout="row" layout-wrap class="feed_margin">
    <div flex="5" hide-sm hide-md
        ng-include src="'/assets/angular/html/personalised_suggestions/left_panel.html'"></div>
    <div flex="90" flex-sm="100" flex-md="100" layout="column" class="white" 
         ng-include src="'/assets/angular/html/personalised_suggestions/grid.html'">
    </div>
    <div flex="5" hide-sm hide-md
    	ng-include src="'/assets/angular/html/personalised_suggestions/right_panel.html'"></div>
</section>
<style>
	#suggestions{
		background-image: url('/assets/personalised.svg');
		height: 70vh;
		background-size: cover;
		margin-top: -55px;
	}

	.shift_above{
		margin-top: -50px;
	}
</style>