<section layout="row" layout-wrap class="feed_margin">
    <div flex="10" hide-sm hide-md
        ng-include src="'/assets/angular/html/personalised_suggestions/left_panel.html'"></div>
    <div flex="80" flex-sm="100" flex-md="100" layout="column" class="white" 
         ng-include src="'/assets/angular/html/personalised_suggestions/grid.html'">
    </div>
    <div flex="10" hide-sm hide-md
    	ng-include src="'/assets/angular/html/personalised_suggestions/right_panel.html'"></div>
</section>
