<div layout="row" class="white">
	<div flex="5" hide-md hide-sm></div>
	<div flex="90" flex-md="100" flex-sm="100" layout="row" class="feed_margin">
		<div flex="10" hide-md hide-sm></div>
		<div flex="60" flex-md="70" flex-sm="100">
			<div class='quizz-container' data-width='100%' data-height='auto' data-quiz='88182'></div>
			<script src='//dcc4iyjchzom0.cloudfront.net/widget/loader.js' async></script>
			<!-- <div class='quizz-container' data-width='100%' data-height='auto' data-quiz='87486'></div> -->
			<!-- // <script src='//dcc4iyjchzom0.cloudfront.net/widget/loader.js' async></script> -->
		</div>
		<div flex="5" hide-md hide-sm></div>
		<div flex="25" flex-md="30" hide-sm>
			<div>
				<div class="important_title">
					Welcome to ReadersDoor
				</div>
				<div class="less_important">ReadersDoor is a Global community for Book Lovers. Discover Rooms of Knowledge. Find Books, News, and Videos related to a particular Subject.
				</div>
			</div>
			<br/>
			<br/>
			<browse-rooms reduced="true"></browse-rooms>
			<br/>
			<br/>
			<social-feed global="true" info="info"></social-feed>
			<br/>
			<br/>
			<suggest-friends></suggest-friends>
		</div>
	</div>
	<div flex="5" hide-md hide-sm></div>	
</div>