<md-content ng-controller="roomController">
	<!-- <div ng-include src="'/assets/angular/html/room/_header.html'" ng-hide="constant.show_book"></div> -->
	<section layout="row" layout-wrap>
		<md-content flex="25" flex-sm="100" flex-md="10" >
			<book-shelves></book-shelves>
		</md-content>
		<md-content flex="50" hide-sm flex-md="80" >
		    <articles layout="column" ></articles>
		</md-content>
	    <md-content flex="25" hide-sm 
		         flex-md="10">
		    <article-shelves></article-shelves>
		</md-content>
	</section>
	<!-- <book-stach></book-stach> -->
</md-content>


<!-- <img src="assets/table.png" class="table" hide-sm> -->

<style>	
	.table{
		position: fixed;
		bottom: -70px;
		width: 46%;
		left: 50%;
		margin-left: -23%;
		height: 178px;
	}

	.book_stack{
		position: fixed;
		bottom: 85px;
		width: 35%;
		left: 50%;
		margin-left: -18%;
		z-index: 1;
	}

	.article{
		width: 250px;
		background-color: white;
	}

	.article img{
		width: 100%;
	}

	.article{
		border: 1px solid #f5f5f5;
	}

	/*.book_stack img{
		width: 100px;
		height: 150px;
		margin-right: 10px;
	}*/
</style>