<md-content ng-controller="roomController">
	<div ng-include src="'/assets/angular/html/room/_header.html'" ng-hide="constant.show_book"></div>
	<section layout="row" layout-wrap>
		<md-content flex="25" hide-sm flex-md="10" >
		    <div ng-include src="'/assets/angular/html/room/_left_panel.html'"></div>
		</md-content>
		<md-content flex="50" flex-sm="100" flex-md="80" >
		    <div layout="column" ng-include src="'/assets/angular/html/room/show.html'">
	    	</div>
		</md-content>
	    <md-content flex="25" hide-sm 
		         flex-md="10">
		    <div ng-include src="'/assets/angular/html/room/_right_panel.html'" ></div>
		</md-content>
	</section>
	<div layout="row" class="book_stack">
		<img src="http://d.gr-assets.com/books/1356057697l/7898414.jpg">
		<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRn1d0ugUWvQMawcAqRDuOHtHnrskdfBnNyUcdc6paubNw2f74d">
		<img src="http://ecx.images-amazon.com/images/I/61SO%2BuOZt6L._SL1047_.jpg">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0JiW794WCEy1JcKBmC_Gifc9b0-GZbZVniCNGF090GXyij4_-">
	</div>
</md-content>


<img src="assets/table.png" class="table">

<style>	
	.table{
		position: fixed;
		bottom: -70px;
		width: 46%;
		left: 50%;
		margin-left: -23%;
		height: 178px;
	}

	.book_stack{
		position: fixed;
		bottom: 85px;
		width: 35%;
		left: 50%;
		margin-left: -18%;
		z-index: 1;
	}

	.book_stack img{
		width: 100px;
		height: 150px;
		margin-right: 10px;
	}
</style>