
<section layout="row">
	<div flex="10" hide-md hide-sm></div>
	<div ng-include src="'/assets/angular/html/community/show.html'" 
	         class="right_panel_container feed_margin"
	         flex="80" flex-md="100" flex-sm="100"></div>
	<div flex="10" hide-md hide-sm></div>
</section>
<style>
	.users{
		bottom: 0px;
		left: 0px;
		position: absolute;
	}

	.max_full_width{
		max-width: 100%;
		max-height: 70vh;
	}
</style>