<div ng-include src="'/assets/angular/html/community/header.html'"></div>
<section layout="row" class="feed_margin">
	<div flex="5" flex-md="5" hide-sm></div>
	<div layout="row" layout-md="column" layout-sm="column"
	    flex="90" flex-md="80" flex-sm="100">
	    <div ng-include src="'/assets/angular/html/community/left_panel.html'" 
	    	layout-padding flex="25" flex-sm="100" flex-md="100" ></div>
	    <div flex="55" flex-sm="100" flex-md="100" layout="column" ng-view>
	    </div>
		<trending flex="20" hide-sm></trending>
	</div>
	<div flex="5" flex-md="5" hide-sm></div>
</section>
<style>
	.users{
		bottom: 0px;
		left: 0px;
		position: absolute;
	}

	.max_full_width{
		max-width: 100%;
		max-height: 70vh;
	}
</style>