<md-content layout="row" ng-controller="communityController" id="community">
    <div flex="10" flex-md="5" hide-sm></div>
    <div ng-include src="'/assets/angular/html/community/show.html'" 
             class="right_panel_container"
             flex="80" flex-md="90" flex-sm="100"></div>
    <div flex="10" flex-md="5" hide-sm></div>
</md-content>
<style>
	.users{
		bottom: 0px;
		left: 0px;
		position: absolute;
	}
</style>