<md-content ng-controller="roomController">
	<!-- <div ng-include src="'/assets/angular/html/room/_header.html'" ng-hide="constant.show_book"></div> -->
	<section layout="row" layout-wrap>
		<md-content flex="25" hide-sm flex-md="10" >
		    <div ng-include src="'/assets/angular/html/room/_left_panel.html'"></div>
		</md-content>
		<md-content flex="50" flex-sm="100" flex-md="80" >
		    <div layout="column" ng-include src="'/assets/angular/html/room/show.html'">
	    	</div>
		</md-content>
	    <md-content flex="25" hide-sm 
		         flex-md="10">
		    <div ng-include src="'/assets/angular/html/room/_right_panel.html'" ></div>
		</md-content>
	</section>
	<div layout="row" class="book_stack">
		<img class="recent_visited_book" ng-src="{{book.url}}" ng-repeat="book in visited_books">
	</div>
</md-content>


<img src="assets/table.png" class="table">

<style>	
	.table{
		position: fixed;
		bottom: -70px;
		width: 46%;
		left: 50%;
		margin-left: -23%;
		height: 178px;
	}

	.book_stack{
		position: fixed;
		bottom: 85px;
		width: 35%;
		left: 50%;
		margin-left: -18%;
		z-index: 1;
	}

	.book_stack img{
		width: 100px;
		height: 150px;
		margin-right: 10px;
	}
</style>