<div ng-include src="'/assets/angular/html/shared/share.html'" class="md-whiteframe-z1"></div>
<section layout="row" class="feed_margin" layout-sm="column">
	<div flex="25" flex-sm="100"
	     ng-include src="'/assets/angular/html/search/_left_panel.html'"></div>
	<div flex="50" flex-sm="100" layout="column"
	     ng-include src="'/assets/angular/html/search/show.html'"></div>
	<div ng-include src="'/assets/angular/html/search/_right_panel.html'" 
	     flex="25" hide-sm ></div>
	
</section>