<md-content layout="row" layout-wrap ng-controller="searchController">
	<div flex="20" hide-sm
	     ng-include src="'/assets/angular/html/search/_left_panel.html'"></div>
	<div flex="60" flex-sm="100" layout="column"
	     ng-include src="'/assets/angular/html/search/show.html'"></div>
	<div ng-include src="'/assets/angular/html/search/_right_panel.html'" 
	     flex="20" hide-sm ></div>
</md-content>