<md-content layout="column" layout-align="center center" class="full_height">
	<div layout="row" layout-align="center center" layout-padding>
		<img src="assets/rd_icon.png">
		<div>ReadersDoor</div>
	</div>
	<div ng-include="'assets/angular/html/landing_page/partials/login_options.html'" class="white signup_block"></div>
</md-content>

<style>
	.signup_block{
		width: 50vw;
		min-width: 350px;
	}
</style>