<md-content layout="column" layout-align="center center" class="full_height grey" layout-padding>
	<h3>Welcome to ReadersDoor</h3>
	<div class="white">
		<div layout="row" layout-align="center center" layout-padding>
			<img src="assets/rd_icon.png">
		</div>
		<div ng-include="'assets/angular/html/landing_page/partials/login_options.html'" class="white signup_block">
			
		</div>
		
	</div>
</md-content>

<style>
	.signup_block{
		width: 350px;
	}
</style>