<md-content ng-controller="signupController" layout="row" layout-align="center center">
	<div ng-include="'assets/angular/html/landing_page/partials/login_options.html'" class="white signup_block"></div>
</md-content>

<style>
	.signup_block{
		width: 50vw;
	}
</style>