<div layout-align="" layout="column">
	<div class="header"  layout="column" layout-align="center center" style="background: #D03C31; color: white;">
		<div class="z_index_1"  layout="column" layout-align="center center">
			<div class="rd_title">oditty</div>
			<div class=" description center_text">Discover yourself through Books, Friends, and the World.</div>
		</div>
		<!-- <img src="/assets/bookgrid.jpg" class="cover"> -->
	</div>
	<md-divider></md-divider>
	<div layout="row" layout-align="center center" class="margin_top">
		<div>
			<img src="/assets/bhuwan.jpg" class="circular" layout-padding>
			<div layout-padding layout-align="center center" layout="column">
				<h3><a href="http://oditty.me/profile?id=4986324">Bhuwan</a></h3>
				<div class="less_important">b@oditty.me</div>
			</div>
		</div>
		<div layout-padding></div>
		<div>
			<img src="/assets/ashesh.jpg" class="circular" layout-padding>
			<div layout-padding layout-align="center center" layout="column">
				<h3><a href="http://oditty.me/profile?id=4974698">Ashesh</a></h3>
				<div class="less_important">ashesh@oditty.me</div>
			</div>
		</div>
		<div layout-padding></div>
		<div>
			<img src="/assets/prachi.jpg" class="circular" layout-padding>
			<div layout-padding layout-align="center center" layout="column">
				<h3><a href="http://oditty.me/profile?q=4105710">Prachi</a></h3>
				<div class="less_important">prachi@oditty.me</div>
			</div>
		</div>
	</div>
	<md-divider></md-divider>
	<h3 layout="row" layout-align="center center" class="margin_top">
		We will tell You more about Us later. Miles to go now.
	</h3>
</div>

<style>

	.less_important{
		color: #999999;
    	font-size: 0.8em;
	}

	.margin_top{
		margin: 100px 0px !important;
	}

	.circular{
		border-radius: 50%;
		width: 150px;
		height: 150px;
	}

	.job_container{
		width: 200px;
		text-align: center;
		cursor: pointer;
	}

	.job_container:hover{
		background-color: #f5f5f5;
	}

	body{
		width: 100%;
		margin: 0px;
		
	}

	p{
		font-family: 'museo_sans300', sans-serif;
  		-webkit-font-smoothing: antialiased;
  		color: #3F4D51;
  		font-size: 20px;
  		margin-left: -1px;
  		letter-spacing: -0.02em;
  		line-height: 1.3;
  		margin-top: 22px;
  		margin-bottom: 0;
  		/*color: rgba(0,0,0,0.7);*/
  		text-align: center;
	}

	.header{
		width: 100%;
		height: 70vh;
		overflow: hidden;
		position: relative;
	}


	.header .cover{
		position: absolute;
		width: 100%;
		left: 0px;
		top: 0px;
	}

	.big_square{
	    width: 120px;
	    height: 120px;	
	}

	.less_important_container{
		background-color: #f5f5f5;
	}

	.logo{
		width: 40px !important;
	}

	h3{
		font: 300 20px Roboto,arial,sans-serif;
		color: #898989;
		margin: 0px;
	}

	.rd_title{
		font-family: Bookman Old Style;
	    font-weight: bolder;
	  	font-size: 50px;
		margin-left: -2.5px;
		margin-top: 10px;
		margin-bottom: 10px;
		letter-spacing: 0.04em;
		line-height: 1;
		color: white;
		margin-bottom: 8px;
		outline: 0;
		word-break: break-word;
		word-wrap: break-word;
	}

	.z_index_1{
		z-index: 1;
	}

	.white_color{
		color: white !important;
	}

	.box{
		padding: 70px 70px;
		min-height: 50vh;
	}

	.description{
		color: white;
	  	font-size: 18px;
	  	outline: 0;
	  	word-break: break-word;
	  	word-wrap: break-word;
	  	letter-spacing: -0.02em;
	}

	md-divider{
		color: #DFDFDF;
	}

	.center_text{
		text-align: center;
	}

	a{
		color: #3F4D51;
		text-decoration: none;
	}

	.icon{
		font-size: 80px;
		color: #C26363;
	}

</style>