<div layout="row" layout-fill class="feed_margin">
    <rd-content url="url" style="padding-left: 10px;" id="MainhomeContainer"></rd-content>
    <div ng-repeat="container in containers track by $index" id="container{{$index}}" 
        ng-if="container.url"
        style="padding-left: 10px; display: inline-table;">
        <rd-main-content></rd-main-content>
	</div>
    <div layout-padding></div>
    <div layout-padding></div>
    <div layout-padding></div>
</div>

<style>
	.homeContainerFab{
		position: fixed;
		right: 20px;
	    bottom: 90px;
    }

    .browse_container{
        max-height: 92vh !important;
        overflow-x: scroll;
        outline: none !important;
        margin-top: 72px !important;
    }
</style>