<div layout="row" class="feed_margin">
	<div flex="15" flex-md="10" hide-sm></div>
	<div flex="70" flex-md="80" flex-sm="100" layout="column" layout-align="space-between" layout-padding>
		<div>
			<h1 layout-padding>#OditAnAuthor</h1>
			<h3 layout-padding>
				I can checkout book publishing feed of any author. <br/>
				I can read His/Her interview. <br/>
				I can follow that author.
			</h3>
		</div>
		<div ng-include src="'/assets/angular/html/shared/partials/odit_invitation.html'"></div>
	</div>
	<div flex="15" flex-md="10" hide-sm></div>
</div>