<div layout="row" class="feed_margin">
	<div flex="15" flex-md="10" hide-sm></div>
	<div flex="70" flex-md="80" flex-sm="100" layout="column" layout-align="space-between" layout-padding>
		<div>
			<h1 layout-padding>#OditABook</h1>
			<h3 layout-padding>
				I can compare book prices across different book stores.<br/>
			 	I can read book reviews from Amazon.<br/>
			 	I can even Recommend Book to Friends.<br/>
			 	I can share my reading journey. <br/>
			 	I can even add book to any shelf.
			</h3>
		</div>
		<div layout-padding flex layout="column" layout-align="center center">
			<div layout-padding></div>
			<div layout-padding></div>
			<div layout-padding></div>
			<div layout-padding></div>
			<div layout-padding></div>
			<div layout-padding></div>
			<md-button class="md-raised md-button-clear md-primary" ng-href="{{continue_url}}">
				Continue
			</md-button>
		</div>
	</div>
	<div flex="15" flex-md="10" hide-sm></div>
</div>