<div layout="row" class="feed_margin">
	<div flex="15" flex-md="10" hide-sm></div>
	<div flex="70" flex-md="80" flex-sm="100" layout="column" layout-align="space-between" layout-padding>
		<div>
			<h1 layout-padding>#OditFilters</h1>
			<h3 layout-padding>
				I can filter from million of books depending on Genre, Time to read, Author and the Year of Publication. 
				<br/>
				<br/>
				Basically, depending on whatever I desire.
			</h3>
		</div>
		<div layout-padding flex layout="column" layout-align="center center">
			<div layout-padding></div>
			<div layout-padding></div>
			<div layout-padding></div>
			<div layout-padding></div>
			<div layout-padding></div>
			<div layout-padding></div>
			<md-button class="md-raised md-button-clear md-primary" ng-href="{{continue_url}}">
				Continue
			</md-button>
		</div>
	</div>
	<div flex="15" flex-md="10" hide-sm></div>
</div>