<div layout="row" class="feed_margin">
	<div flex="15" flex-md="10" hide-sm></div>
	<div flex="70" flex-md="80" flex-sm="100" layout="column" layout-align="space-between" layout-padding>
		<div>
			<h1 layout-padding>#OditFilters</h1>
			<h3 layout-padding>
				I can filter from million of books depending on Genre, Time to read, Author and the Year of Publication. 
				<br/>
				<br/>
				Basically, depending on whatever I desire.
			</h3>
		</div>
		<div ng-include src="'/assets/angular/html/shared/partials/odit_invitation.html'"></div>
	</div>
	<div flex="15" flex-md="10" hide-sm></div>
</div>