<div layout="row" class="feed_margin">
	<div flex="15" flex-md="10" hide-sm></div>
	<div flex="70" flex-md="80" flex-sm="100" layout="column" ng-model="ad">
		<h1 layout-padding>#OditProfile</h1>
		
	</div>
	<div flex="15" flex-md="10" hide-sm></div>
</div>