<div layout="row" class="feed_margin">
	<div flex="15" flex-md="10" hide-sm></div>
	<div flex="70" flex-md="80" flex-sm="100" layout="column" layout-align="space-between" layout-padding>
		<div>
			<h1 layout-padding>#OditRooms</h1>
			<h3 layout-padding>
				I can here browse and join different rooms that I may be interested in.
			</h3>
		</div>
		<div ng-include src="'/assets/angular/html/shared/partials/odit_invitation.html'"></div>
	</div>
	<div flex="15" flex-md="10" hide-sm></div>
</div>