<div layout="row" class="feed_margin">
	<div flex="15" flex-md="10" hide-sm></div>
	<div flex="70" flex-md="80" flex-sm="100" layout="column" layout-align="space-between">
		<div>
			<h1 layout-padding>#OditRoom</h1>
			<h3 layout-padding>
				I can join a room.<br/>
				I can here explore <b>Books</b> related to a particular topic room is based on.<br/>
				I can here explore <b>Videos</b> related to a particular topic room is based on.<br/>
				I can here explore <b>News</b> related to a particular topic room is based on.<br/>
				I can read the <b>Wiki</b> page of a particular topic room is based on.
			</h3>
		</div>
		<div layout-padding flex layout="column" layout-align="center center">
			<div layout-padding></div>
			<div layout-padding></div>
			<div layout-padding></div>
			<div layout-padding></div>
			<div layout-padding></div>
			<div layout-padding></div>
			<md-button class="md-raised md-button-clear md-primary" ng-href="{{continue_url}}">
				Continue
			</md-button>
		</div>
	</div>
	<div flex="15" flex-md="10" hide-sm></div>
</div>