<div layout="row" class="feed_margin">
	<div flex="15" flex-md="10" hide-sm></div>
	<div flex="70" flex-md="80" flex-sm="100" layout="column" layout-align="space-between" layout-padding>
		<div>
			<h1 layout-padding>#OditRoom</h1>
			<h3 layout-padding>
				I can join a room.<br/>
				I can here explore <b>Books</b> related to a particular topic room is based on.<br/>
				I can here explore <b>Videos</b> related to a particular topic room is based on.<br/>
				I can here explore <b>News</b> related to a particular topic room is based on.<br/>
				I can read the <b>Wiki</b> page of a particular topic room is based on.
			</h3>
		</div>
		<div ng-include src="'/assets/angular/html/shared/partials/odit_invitation.html'"></div>
	</div>
	<div flex="15" flex-md="10" hide-sm></div>
</div>