<div class="wrapper" 
     ng-style="user.faded_wrapper"
     ng-click="reset_search_bar($event)"
     ng-if="$routeParams.type && !hide_options"></div>
<div class="search_typeahead_group animate-fast"
     ng-style="search_panel_style">
 <!--  <div class="base_search animate-fast"
       id="baseSearchTabs" 
       ng-class="{'light_grey_color': active_nest && !($routeParams.type && hide_options)}">
    <div class="tab base_search_option"
         ng-class="{'active_tab':is_active(item)}"
         ng-click="handle_base_selection(item)"
         ng-hide="$routeParams.type && hide_options"
         ng-repeat="item in base_search_options">
      <span class="table_cell">&nbsp;{{item.name}}</span>
    </div>
    <div ng-include="'/assets/angular/views/search/partials/search_icon.html'" ng-show="hide_input_field && $routeParams.type && !(show_secondary_input && !($routeParams.type && hide_options))"></div>
  </div> -->

  <div class="compressed_filters" ng-show="$routeParams.type && hide_options && filters_added.length > 0">
    <div ng-repeat="item in filters_added"
          class="compressed_filter_icon"
         ng-click="remove_filter(item, $event)">
        <span ng-show="item.icon2" class="{{item.icon2}}"></span>
        <span ng-bind-html="item.name"></span>
    </div>
  </div>

  <div class="input_wrapper" 
       ng-class="{'search_input_shifted': $routeParams.type && hide_options}"
       ng-hide="hide_input_field">
    <input set-focus="website.searching" 
           ng-keypress="get_search_results($event)"
           ng-keydown="key_down($event)"
           ng-model="search_tag.input"
           id="searchInput"
           ng-click="handle_options($event)"
           class="search_input"
           placeholder="{{search_tag.placeholder}}"/>
    <div ng-include="'/assets/angular/views/search/partials/search_icon.html'"></div>
  </div>

  <div class="website_search_helpers animate-fast" 
       ng-show="active_nest && !($routeParams.type && hide_options)">
    <div class="direction_option green_color"
         ng-click="handle_base_selection()">
        <span class="icon-book"></span>
    </div>
    <div class="direction_option light_grey_color">
      <span class="icon-angle-right"></span>
    </div>
    <div class="compressed_option tab" 
         ng-click="handle_selection_option(item, $event)"
         ng-repeat="item in base_book_options"
         ng-class="{'active_tab': is_active_nest(item), 'faded_site_color': item.active}">
      <span class="capitalise">{{item.type | lowercase}}</span>
    </div>
    <div class="table float_right close_filters animate-fast"
         ng-click="handle_base_selection()">
        <span class="icon-close table_cell"></span>
    </div>
  </div>

  <div class="filters_added website_search_options"
       ng-hide="$routeParams.type && hide_options">
    <div ng-repeat="item in filters_added"
         ng-click="remove_filter(item, $event)"
         msd-wheel="stop_horizontal_scroll($event)"
         class="option site_color animate-fast">
        <div class="title">
          <span ng-show="item.icon2" class="{{item.icon2}} faded_site_color">&nbsp;</span>
          <b><span ng-bind-html="item.name"></span></b>
          <span class="right_icon icon-close close_icon"></span>
          <span class="right_icon">&nbsp;</span>
        </div>
        <div ng-show="item.author_name">by {{item.author_name}}</div>
    </div>
  </div>

  <div class="input_wrapper" ng-show="show_secondary_input && !($routeParams.type && hide_options)">
    <input placeholder="{{custom_input_placeholder}}" 
           class="search_input box-shadow animate-fast"
           ng-model="search_tag.custom_input"
           ng-keypress="search_custom($event)"
           ng-click="shift_search_to_top()"
           ng-keydown="key_down($event)"
           set-focus="website.searching_custom"/>
    <div ng-include="'/assets/angular/views/search/partials/search_icon.html'"></div>
  </div>

  <div class="website_search_helpers animate-fast" ng-show="!($routeParams.type && hide_options)">
        <div class="title" ng-show="search_display" ng-bind-html="search_display"></div>
  </div>
  <div class="animate-fast website_search_options scrollbar init_filter"
       ng-if="search_results.length > 0 && search_results == base_book_options && !hide_options">
    <div class="large_font inline_block green_color left_icon">
      <span class="icon-book"></span>
    </div>
    <div class="inline_block right_tab">
      <div class="large_font light_grey_color">
        Add Filters
      </div>
      <div>
        <span ng-repeat="item in search_results | limitTo: search_tag.result_count+1 | filter:search_tag.custom_input | orderBy: item.name track by $index "
             ng-click="handle_selection_option(item, $event)" 
             ng-mouseenter="set_current($index)"
             msd-wheel="stop_horizontal_scroll($event)">
            <b><span ng-bind-html="item.type | lowercase" class="capitalise click"></span></b><span>&nbsp;</span>
        </span>
      </div>
    </div>
    <!-- <div class="inline_block float_right" ng-show="!$routeParams.type">
      <div class="larger_font inline_block line_separator">|</div>
      <div class="inline_block padding">
        <div class="click">
          <a ng-href="#/user/{{user.id}}/recommendations/books">Recommendations</a>
        </div>
      </div>
    </div> -->
  </div>

  <div class="animate-fast website_search_options scrollbar" 
       ng-mouseleave="remove_active_state()"
       ng-if="search_results.length > 0 && !($routeParams.type && hide_options) && (search_results != base_book_options)">
    <div ng-repeat="item in search_results | limitTo: search_tag.result_count+1 | filter:search_tag.custom_input | orderBy: item.name track by $index "
         ng-click="handle_selection_option(item, $event)" 
         ng-class="{'light_gray_background':is_current($index, item)}"
         ng-mouseenter="set_current($index)"
         msd-wheel="stop_horizontal_scroll($event)"
         class="option">
        <div class="title">
          <span ng-show="item.icon" class="{{item.icon}} light_grey_color">&nbsp;</span>
          <span ng-bind-html="item.name"></span>
          <span class="{{item.icon2}} right_icon"></span>
          <span class="right_icon">{{item.label}}&nbsp;</span>
        </div>
        <div ng-show="item.author_name" class="light_grey_color">Book by {{item.author_name}}</div>
    </div>
  </div>

  <!--  <div class="website_search_options search_button blue_button"
       ng-click="show_books()"
       ng-hide="($routeParams.type) || (filters_added.length == 0)">
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span class="icon-search"></span>
    <span>&nbsp;Search Books</span>
  </div> -->

</div>