<md-content	ng-if="constant.show_book" layout="column" layout-align="start end" layout-padding  class="fixed_left_panel">
	<div layout="row" layout-align="center center" layout-margin 
		 class="genre" 
		 ng-repeat="genre in active_book.genres | limitTo:5">
		<div>{{genre}}&nbsp;&nbsp;</div>
		<div class="grey_circle" layout-align="center center" layout="center">
			<div>{{genre | first_two | uppercase}}</div>
		</div>
	</div>
</md-content>

<style>
    .fixed_left_panel{
        position: fixed;
		top: 100px;
		left: 0px;
		width: 20vw;
    }

	.grey_circle{
		background-color: rgba(197, 197, 197, 0.46);
		width: 40px;
		height: 40px;
		border-radius: 50%;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
	}

	.genre{
		text-align: right;
	}

    .genre:hover{
    	/*text-decoration: underline;*/
    	cursor: pointer;
    }

    .genre:hover .grey_circle{
    	/*background-color: white;*/
    	box-shadow: none;
    	/*color: white;*/
    	text-decoration: none !important;
    }

</style>