<md-content ng-controller="realVirtualityController" class="white" check-scroll-bottom="load_news()">
    <div class="less_important" layout-align="center center" layout="row" layout-padding>
        <div>
            Real Virtuality is seeing the world through the eyes of a book.
        </div>
    </div>
    <md-radio-group layout="row" layout-align="center center" 
        layout-padding ng-change="load_news()"
        layout-wrap ng-model="active_community">
        <md-radio-button ng-repeat="community in communities" 
                        class="md-warn" layout="row" layout-margin
                        ng-value="community">
            <img ng-src="{{::community.image_url}}" class="circular">
            <md-tooltip>
                <div ng-bind-html="::community.name"></div>
            </md-tooltip>
            <!-- <div ng-bind-html="community.name | uppercase" layout-padding class="less_important"></div> -->    
        </md-radio-button>
    </md-radio-group>
    <md-divider></md-divider>
     <section layout="row" layout-sm="column" layout-wrap 
        ng-repeat="news in active_community.news" 
        ng-if="active_community.news">
        <div flex="20" flex-sm="100" layout="row" layout-align="center center">
            <div flex="50" layout-align="center center" layout="row">
                <div>{{news.created_at | timestamp | date:'dd MMM'}}</div>
            </div>
             <div flex="50" layout-align="center center" layout="row">
                <img class="circular"
                     ng-src="{{news.image_url | default_profile}}"/>
            </div>
        </div>
        <div flex="80" layout-align="start start" layout="column" class="small-padding" flex-sm="100">
            <a ng-href="/news?id={{::news.news_id}}">
                <div ng-bind-html="::news.title" class="big_title"></div>
            </a>
            <a ng-href="{{::news.news_url}}" class="less_important" target="_blank">{{news.news_url}}</a>
            <div ng-bind-html="::news.description"></div>
        </div>
     </section>
     <section ng-if="!active_community.news && !info.loading" layout-padding>
         <div class="big_title">We're searching for news from the real world for this book. Please come back later.</div>
     </section>
     <section ng-if="!active_community.news && info.loading" layout-padding class="less_important">
         Searching...
     </section>
      <md-progress-linear class="md-primary loader"
                        ng-show="book_loading"
                        md-mode="indeterminate">
    </md-progress-linear>
</md-content>
<style>
    .md-switch-thumb .md-container, 
    md-radio-button .md-container{
        display: none;
    }

    .md-checked img{
        border: 6px solid #219653;
    }

    .md-switch-thumb .md-label, 
    md-radio-button .md-label{
        flex-direction: row;
        display: flex;
    }
</style>