<div class="padding">
     <div layout="row" layout-align="space-between center">
        <h4>News</h4>
        <div layout="row" layout-align="start center">
            <md-checkbox ng-model="data.cb1" aria-label="Thriller" class="md-warn">
                Thriller
            </md-checkbox>
            <md-checkbox ng-model="data.cb2" aria-label="Suspense" class="md-warn">
                Suspense
            </md-checkbox>
            <md-checkbox ng-model="data.cb3" aria-label="Terrorism" class="md-warn">
                Terrorism
            </md-checkbox>
        </div>
    </div>
     <section layout="row" layout-wrap class="padding">
         <div flex="10"></div>
         <div flex="10" class="light_grey small-padding" layout-align="center center" layout="row">
            2015
        </div>
         <div flex="80">
     </section>
     <section layout="row" layout-wrap class="padding">
         <div flex="10" layout-align="center center" layout="row">
            <div>29Feb</div>
        </div>
         <div flex="10" layout-align="center center" layout="row">
                <img class="circular"
                     src="http://www.chicagonow.com/avatar/blog-108-128.png"/>
        </div>
         <div flex="80" layout-align="start start" layout="column" class="small-padding">
            <div>Eric Arthur Blair (25 June 1903 – 21 January 1950),[1] who used the pen name George Orwell 
            </div>
            <div>Terrorism community</div>
         </div>
     </section>
     <section layout="row" layout-wrap class="padding">
         <div flex="10" layout-align="center center" layout="row">
            <div>29Feb</div>
        </div>
        <div flex="10" layout-align="center center" layout="row">
                <img class="circular"
                     src="http://www.chicagonow.com/avatar/blog-108-128.png"/>
        </div>
         <div flex="80" layout-align="start start" layout="column" class="small-padding">
            <div>Eric Arthur Blair (25 June 1903 – 21 January 1950),[1] who used the pen name George Orwell 
            </div>
            <div>Terrorism community</div>
         </div>
     </section>
     <section layout="row" layout-wrap class="padding">
         <div flex="10" layout-align="center center" layout="row">
            <div>29Feb</div>
        </div>
        <div flex="10" layout-align="center center" layout="row">
                <img class="circular"
                     src="http://www.chicagonow.com/avatar/blog-108-128.png"/>
        </div>
         <div flex="80" layout-align="start start" layout="column" class="small-padding">
            <div>Eric Arthur Blair (25 June 1903 – 21 January 1950),[1] who used the pen name George Orwell 
            </div>
            <div>Terrorism community</div>
         </div>
     </section>
     <section layout="row" layout-wrap class="padding">
         <div flex="10" layout-align="center center" layout="row">
            <div>29Feb</div>
        </div>
        <div flex="10" layout-align="center center" layout="row">
                <img class="circular"
                     src="http://www.chicagonow.com/avatar/blog-108-128.png"/>
        </div>
         <div flex="80" layout-align="start start" layout="column" class="small-padding">
            <div>Eric Arthur Blair (25 June 1903 – 21 January 1950),[1] who used the pen name George Orwell 
            </div>
            <div>Terrorism community</div>
         </div>
     </section>
     <section layout="row" layout-wrap class="padding">
         <div flex="10" layout-align="center center" layout="row">
            <div>29Feb</div>
        </div>
        <div flex="10" layout-align="center center" layout="row">
                <img class="circular"
                     src="http://www.chicagonow.com/avatar/blog-108-128.png"/>
        </div>
         <div flex="80" layout-align="start start" layout="column" class="small-padding">
            <div>Eric Arthur Blair (25 June 1903 – 21 January 1950),[1] who used the pen name George Orwell 
            </div>
            <div>Terrorism community</div>
         </div>
     </section>
     <section layout="row" layout-wrap class="padding">
         <div flex="10" layout-align="center center" layout="row">
            <div>29Feb</div>
        </div>
        <div flex="10" layout-align="center center" layout="row">
                <img class="circular"
                     src="http://www.chicagonow.com/avatar/blog-108-128.png"/>
        </div>
         <div flex="80" layout-align="start start" layout="column" class="small-padding">
            <div>Eric Arthur Blair (25 June 1903 – 21 January 1950),[1] who used the pen name George Orwell 
            </div>
            <div>Terrorism community</div>
         </div>
     </section>
</div>