<div ng-controller="realVirtualityController" class="white book_page">
    <h3 layout-padding>
        Real Virtuality is seeing the world through the eyes of a book.
    </h3>
    
    <section id="browseAllRooms">
        <div ng-include src="'/assets/angular/html/rooms/show.html'" ng-init="rooms = communities"></div>
    </section>
     <section ng-if="!active_community.news && !info.loading" layout-padding>
         <div class="less_important">We're searching for rooms from the real world for this book. Please come back later.</div>
     </section>
     <section ng-if="!active_community.news && info.loading" layout-padding class="less_important">
         Searching...
     </section>
</div>
<style>
    .md-switch-thumb .md-container, 
    md-radio-button .md-container{
        display: none !important;
    }

    .md-checked{
        font-weight: bold;
    }

    .md-switch-thumb .md-label, 
    md-radio-button .md-label{
        flex-direction: row;
        display: flex;
    }
</style>