<md-content layout="column" layout-padding class="fixed_right_panel" 
          layout-align="start start"
          hide-sm
          ng-if="constant.show_book">
     <div class="padding"></div>
     <div class="padding"></div>
     <div layout-margin class="relative_block">
          <div class="counter" layout="row" layout-align="center center" ng-if="book.endorse_count">
               <div>{{book.endorse_count}}</div>
          </div>
          <md-button ng-class="{'inactive_blue_circle': !book.endorse_status, 'md-raised blue_circle': book.endorse_status}" 
                    ng-click="toggle_endorse()">
               <span class="icon-feed"></span>
               <md-tooltip>
                Endorse
               </md-tooltip>
          </md-button>
     </div>
     <div layout-margin class="relative_block">
          <div class="counter" layout="row" layout-align="center center" ng-if="book.bookmark_count">
               <div>{{book.bookmark_count}}</div>
          </div>
          <md-button class="md-raised blue_circle" ng-click="show_shelf_bottom_sheet(book.id || book.book_id, 'Book')">
               <span class="icon-bookmark3"></span>
               <md-tooltip md-visible="demo.showTooltip">
                 Bookmark
               </md-tooltip>
          </md-button>
     </div>
     <div layout-margin class="relative_block">
          <div class="counter" layout="row" layout-align="center center" ng-if="book.share_count">
               <div>{{book.share_count}}</div>
          </div>
          <md-button class="md-raised blue_circle" ng-click="show_share_bottom_sheet()">
               <span class="icon-share"></span>
               <md-tooltip md-visible="demo.showTooltip">
                 Share
               </md-tooltip>
          </md-button>
     </div>
</md-content>
<style> 
     .fixed_right_panel{
          position: fixed;
          top: 110px;
          width: 20vw;
          right: 0px;
     }

     .blue_circle,
     .inactive_blue_circle{
          background-color: #4986c5 !important;
          width: 40px;
          height: 40px;
          border-radius: 50% !important;
          color: white !important;
          padding: 0px !important;
     }

     .inactive_blue_circle{
          background-color: #346699 !important;
          box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
     }

     .blue_circle:hover,
     .inactive_blue_circle:hover{
          box-shadow: none;
          background-color: #4986c5 !important;
     }

     .counter{
          position: absolute;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          right: 0px;
          top: 0px;
          background-color: white;
          /*border: 1px solid black;*/
          font-size: 0.7em;
          z-index: 1;
     }

     .relative_block{
          position: relative;
          width: 45px;
          height: 45px;
     }

</style>