<div ng-controller="timelineController" class="white book_page">
     <md-card ng-repeat="feed in book_feed" ng-if="book_feed && book_feed.length > 0" class="no_shadow">
        <md-card-content ng-if="feed.user.first_name" layout="row">
            <img ng-src="{{feed.user.image_url}}" class="circular" onerror="this.src='/assets/user_profile.jpg'">
            <div layout="column" layout-padding>
                <div class="big_title">
                    <a ng-href="/profile?q={{feed.user.id}}">
                        <span>{{::feed.user.first_name}}</span>
                        <span>{{::feed.user.last_name}}</span>
                    </a>
                </div>
                <div class="less_important">
                    {{::feed.user.init_book_read_count}}
                </div>
            </div>
        </md-card-content>
        <md-card-content>
            <section layout="column" layout-align="start">
                <div ng-bind-html="feed.message"></div>
                <div class="less_important" ng-show="feed.created_at != null && feed.created_at">
                    {{feed.created_at | timestamp | date:'h:mm a, dd MMM'}}
                </div>
            </section>
        </md-card-content>
        <md-divider></md-divider>
     </md-card>
     <md-card ng-if="book_feed && book_feed.length == 0" class="no_shadow less_important bold" layout-padding>
        Be the first to share reading moments for this Book...
     </md-card>
     <div layout="row" layout-align="start center" layout-padding>
        <md-button aria-label="share moments from reading journey" class="clear share_moments" 
                    ng-click="write_reading_journey_for($event)"
                    layout-align="start end">
            <div layout="row" layout-align="start end">
                <span>Share moments from Reading Journey.</span>
                <span class="icon-pencil"></span>
            </div>
        </md-button>
     </div>
</div>
<style>
    .user_title{
        font-size: 1.2em;
        font-family: sans-serif;
    }

    .user_description{
        margin-top: 10px;
        font-size: 0.9em;
    }

    .share_moments{
        max-width: 500px;
        width: 80vw;
        border-bottom: 1px solid #ececec;
    }

    
</style>