
<div layout="row">
    <div flex="75" layout="row" layout-md="column" layout-sm="column" flex-sm="100">
        <div flex="30" layout-padding flex-md="100" flex-sm="100">
            <div class="white round_corners">
                <div layout="column" layout-md="row" layout-sm="column">
                    <div flex-md="30" flex-sm="100">
                        <div layout="column" layout-padding hide-md>
                            <h2><a ng-href="/book?q={{book.id || book.book_id}}" class="bold">{{::book.title}}</a></h2>
                            <a ng-href="/author?q={{::book.author_id}}">{{::book.author_name}}</a>
                        </div>
                        <div class="relative">
                            <img ng-src="{{book.isbn | medium_thumb}}" 
                                onerror="this.src='/assets/defpicbook.png'" 
                                class="full_width" />
                        </div>
                    </div>
                    <div flex-md="70" flex-sm="100" 
                        layout-md="column" class="description_card" 
                        layout-padding>
                        <div layout="column" layout-padding show-md hide>
                            <h2><a ng-href="/book?q={{book.id || book.book_id}}">{{::book.title}}</a></h2>
                            <a ng-href="/author?q={{::book.author_id}}">{{::book.author_name}}</a>
                        </div>
                        <div>
                            {{book.description | reduced_summary}}&nbsp;<a href="#book/preview">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <suggest-friends class="white" ></suggest-friends>
        </div>
        <div flex="70" layout="column" flex-md="100" layout-padding flex-sm="100">
            <div ng-controller="buyController" layout="column" class="book_page white" layout-padding >
                <h3 layout-padding>
                    Get this book
                </h3>
                <div layout="column" layout-sm="column" class="full_height">
                    <div flex layout="column" layout-padding
                        ng-include src="'/assets/angular/html/book/partials/_buy_options.html'"></div>
                    <div flex layout="column" layout-padding
                        ng-include src="'/assets/angular/html/book/partials/_borrow_options.html'"></div>
                </div>
                <md-divider></md-divider>
                <h3 layout-padding ng-if="reviews.editorial_review">Editorial Review</h3>
                <div ng-bind-html="reviews.editorial_review || reviews.product_review" class="summary" layout-padding></div>
                <div ng-bind-html="reviews.source" layout-padding class="less_important"></div>
                <iframe ng-src="{{reviews.user_review_iframe}}" seamless="seamless" class="wiki" 
                    ng-if="reviews && reviews.user_review_iframe"></iframe>
                <!-- <iframe ng-src="{{::author.wiki_url}}" class="wiki" seamless="seamless"></iframe> -->
            </div>


        </div>
    </div>
    <div flex="25" layout="column" hide-sm>
        <div ng-include src="'/assets/angular/html/shared/partials/rating_block.html'"
            class="md-whiteframe-z1 white" ng-if="book.goodness_index"></div>
        <!-- <div layout-padding class="md-whiteframe-z1 white">
            <div layout="row" layout-align="space-between"  layout-padding>
                <h3 class="white">
                    Rate this book {{::book.user_rating}}/10
                </h3>
            </div>
             <md-slider flex="20" md-discrete 
                    class="rate_slider md-primary"
                    ng-model="::book.user_rating" ng-change="rate_book(book)"
                    step="1" min="1" max="10" aria-label="rating">
            </md-slider>
        </div>
        <md-divider></md-divider> -->
        <div role="tabpanel"
            class="white md-whiteframe-z1" 
             id="tab5-content" ng-if="active_book"
             aria-labelledby="tab5"
             layout-padding>
            <div layout="column"  ng-include src="'/assets/angular/html/shared/recommend_to_friends.html'"
                ng-controller="recommendController"></div>
        </div>
        
        <!-- <a class="twitter-timeline" ng-href="https://twitter.com/search?q=1984%20book"  -->
        <!-- data-widget-id="619523647649091584">Tweets about 1984 book</a> -->
    </div>
</div>
<style>
    .user_title{
        font-size: 1.2em;
        font-family: sans-serif;
    }

    .user_description{
        margin-top: 10px;
        font-size: 0.9em;
    }

    .share_moments{
        max-width: 500px;
        width: 80vw;
        border-bottom: 1px solid #ececec;
    }

    
</style>