<div layout="row">
    <div flex="75" layout="row" layout-md="column" layout-sm="column" flex-sm="100">
        <div flex="30" layout-padding flex-md="100" flex-sm="100">
            <div class="white round_corners">
                <div layout="column" layout-md="row" layout-sm="column">
                    <div flex-md="30" flex-sm="100">
                        <div layout="column" layout-padding hide-md>
                            <a ng-href="/book?q={{book.id || book.book_id}}" class="big_title bold">{{::book.title}}</a>
                            <a ng-href="/author?q={{::book.author_id}}">{{::book.author_name}}</a>
                        </div>
                        <div class="relative">
                            <img ng-src="{{book.isbn | medium_thumb}}" 
                                onerror="this.src='/assets/defpicbook.png'" 
                                class="full_width" />
                        </div>
                    </div>
                    <div flex-md="70" flex-sm="100" 
                        layout-md="column" class="description_card" 
                        layout-padding>
                        <div layout="column" layout-padding show-md hide>
                            <a ng-href="/book?q={{book.id || book.book_id}}" class="big_title">{{::book.title}}</a>
                            <a ng-href="/author?q={{::book.author_id}}">{{::book.author_name}}</a>
                        </div>
                        <div>
                            {{book.description | reduced_summary}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div flex="70" layout="column" flex-md="100" layout-padding flex-sm="100">
            <div ng-include src="'/assets/angular/html/share/status_options.html'"
                ng-if="!hide_follow_links" flex="50" flex-sm="100"
                ng-controller="shareController" layout-align="center center"
                class="animate-slow" layout="row">
            </div>
            <div ng-controller="timelineController" class="book_page">
                 <md-card ng-repeat="feed in book_feed" ng-if="book_feed && book_feed.length > 0" class="no_shadow">
                    <md-card-content ng-if="feed.user.first_name" layout="row">
                        <img ng-src="{{feed.user.image_url}}" class="circular" onerror="this.src='/assets/user_profile.jpg'">
                        <div layout="column" layout-padding>
                            <div>
                                <a ng-href="/profile?q={{feed.user.id}}">
                                    <span>{{::feed.user.first_name}}</span>
                                    <span>{{::feed.user.last_name}}</span>
                                </a>
                            </div>
                            <div class="less_important">
                                {{::feed.user.init_book_read_count}}
                            </div>
                        </div>
                    </md-card-content>
                    <md-card-content>
                        <section layout="column" layout-align="start">
                            <div ng-bind-html="feed.message"></div>
                            <div class="less_important" ng-if="feed.created_at != null && feed.created_at">
                                {{feed.created_at | timestamp | date:'h:mm a, dd MMM'}}
                            </div>
                        </section>
                    </md-card-content>
                    <md-divider></md-divider>
                 </md-card>
            </div>
        </div>
    </div>
    <div flex="25" layout="column" hide-sm>
        <div layout-padding class="md-whiteframe-z1 white">
            <div layout="row" layout-align="space-between"  layout-padding>
                <div class="important_title white">
                    Rate this book {{::book.user_rating}}/10
                </div>
            </div>
             <md-slider flex="20" md-discrete 
                    class="rate_slider"
                    ng-model="::book.user_rating" ng-change="rate_book(book)"
                    step="1" min="1" max="10" aria-label="rating">
            </md-slider>
        </div>
        <md-divider></md-divider>
        <div role="tabpanel"
            class="white md-whiteframe-z1" 
             id="tab5-content" ng-if="active_book"
             aria-labelledby="tab5"
             layout-padding>
            <div layout="column"  ng-include src="'/assets/angular/html/shared/recommend_to_friends.html'"
                ng-controller="recommendController"></div>
        </div>
        <suggest-friends class="white md-whiteframe-z1" ></suggest-friends>
        <!-- <a class="twitter-timeline" ng-href="https://twitter.com/search?q=1984%20book"  -->
        <!-- data-widget-id="619523647649091584">Tweets about 1984 book</a> -->
    </div>
</div>
<style>
    .user_title{
        font-size: 1.2em;
        font-family: sans-serif;
    }

    .user_description{
        margin-top: 10px;
        font-size: 0.9em;
    }

    .share_moments{
        max-width: 500px;
        width: 80vw;
        border-bottom: 1px solid #ececec;
    }

    
</style>