<div ng-include src="'/assets/angular/html/book/_left_panel.html'" ></div>
<div ng-include src="'/assets/angular/html/book/_right_panel.html'" ></div>
<div class="book animate-fast" ng-style="book_style" flex="100" ng-controller="specificBookController">
    <!-- <div>TEST</div> -->
    <md-toolbar class="light_grey">
        <div layout="row">
            <md-tabs md-selected="data.selectedIndex" flex="70">
                <md-tab id="tab1" aria-controls="tab1-content" class="padding">
                    <div layout="row" layout-align="center center">
                        <img ng-src="{{book.isbn | small_thumb}}" width="40px" height="50px" layout-padding/>
                        <div>
                            {{book.title}}
                        </div>
                    </div>
                </md-tab>
                <md-tab id="tab2" aria-controls="tab2-content" class="padding">
                    Real Virtuality
                </md-tab>
                <md-tab id="tab3" aria-controls="tab3-content" class="padding">
                    Discussions
                </md-tab>
                <md-tab id="tab4" aria-controls="tab4-content" class="padding">
                    Get this book
                </md-tab>
            </md-tabs>
            <md-slider flex="20" md-discrete ng-model="rating1" step="1" min="1" max="10" aria-label="rating">
            </md-slider>
             <md-button class="rating md-primary" ng-click="show_rating($event)" flex="10   ">
                {{book.rating}}
            </md-button>
        </div>
    </md-toolbar>
    <ng-switch on="data.selectedIndex" class="tabpanel-container">
        <div role="tabpanel"
             id="tab1-content"
             aria-labelledby="tab1"
             ng-switch-when="0"
             md-swipe-left="next()"
             md-swipe-right="previous()" >
            <div ng-include src="'/assets/angular/html/book/_overview.html'"></div>
        </div>
        <div role="tabpanel"
             id="tab2-content"
             aria-labelledby="tab2"
             ng-switch-when="1"
             md-swipe-left="next()"
             md-swipe-right="previous()" >
            <div ng-include src="'/assets/angular/html/book/_news.html'"></div>
        </div>
        <div role="tabpanel"
             id="tab3-content"
             aria-labelledby="tab3"
             ng-switch-when="2"
             md-swipe-left="next()"
             md-swipe-right="previous()" >
             <div ng-include src="'/assets/angular/html/book/_discussions.html'"></div>
        </div>
        <div role="tabpanel"
             id="tab4-content"
             aria-labelledby="tab4"
             ng-switch-when="3"
             md-swipe-left="next()"
             md-swipe-right="previous()" >
            <div ng-include src="'/assets/angular/html/book/_buy.html'"></div>
        </div>
    </ng-switch>
</div>