<div ng-if="$routeParams.type == 'books'" 
	ng-model="recommendations.books" class="full_height">
	<!-- <div class="recommendation_block"></div> -->
	<div ng-if="!grid_view">
		<div ng-if="!user.show_covered_books || (user.show_covered_books && recommendation.summary && recommendation.isbn)"
			 ng-repeat="recommendation in recommendations.books"
			 ng-class="{'recommendation_block': !recommendation.is_grid, 'grid': recommendation.is_grid}">
				<book track
					  id="{{recommendation.category.name | lowercase}}-{{recommendation.id}}" 
					  data="recommendation"
			 		  ng-if="!recommendation.is_grid && !recommendation.is_book_array"></book>
				<book-grid data="recommendation"
						   ng-if="recommendation.is_grid && !recommendation.is_book_array"></book-grid>
				<book-group data="recommendation"
							ng-if="recommendation.is_book_array && !recommendation.is_grid"></book-group>
				<div ng-if="recommendation.padding"></div>
		</div>
		
		<div class="recommendation_block"animate-fast >
			<div class="widget loading_widget">
				<div class="loading_thumb"></div>
				<!-- <div class="loading_interaction_box">
					<div class="loading_bookmark">
					</div>
					<div class="loading_mark_as_read"></div>
				</div> -->
				<!-- <span ng-show="loading">loading..</span>
				<span ng-show="!loading"><div>SHOW</div><div>BOOKS</div></span> -->
			</div>
		</div>
	</div>

	<div ng-if="grid_view">
		<div ng-repeat="recommendation in recommendations.books"
			 ng-class="{'small_block': !recommendation.is_grid}">
				<img ng-src="{{recommendation.isbn | medium_thumb}}" class="" />
		</div>
	</div>

</div>
<div ng-if="$routeParams.type == 'readers'" 
	class="full_height">
	<div ng-repeat="recommendation in recommendations.readers" class="recommendation_block" >
		<reader track id="{{recommendation.category.name | lowercase}}-{{recommendation.id}}" data="recommendation"></reader>
	</div>
</div>
<div ng-if="$routeParams.type == 'authors'" 
	class="full_height">
	<div ng-repeat="recommendation in recommendations.authors" class="recommendation_block">
		<author track id="{{recommendation.category.name | lowercase}}-{{recommendation.id}}" data="recommendation"></author>
	</div>
</div>