<h1>Listing human_profiles</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @human_profiles.each do |human_profile| %>
      <tr>
        <td><%= link_to 'Show', human_profile %></td>
        <td><%= link_to 'Edit', edit_human_profile_path(human_profile) %></td>
        <td><%= link_to 'Destroy', human_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Human profile', new_human_profile_path %>
