<md-content layout="column" layout-sm="row" layout-align="center center" layout-padding class="book_scroller">
	<section>
	    <md-list>
	        <md-item>
				<md-button ng-if="!active_tag.status"
			        class=" md-raised user_circular circular big_title"
			        layout-padding
			        ng-click="toggle_follow()">
			        <span ng-if="!active_tag.status" class="icon-user-add"></span>
			        <md-tooltip md-direction="right">
			        	Join {{active_tag.name}}
			        </md-tooltip>

			    </md-button>
			</md-item>
	        <md-item ng-repeat="user in active_tag.users">
	            <md-item-content>
	            	<a ng-href="/profile?id={{user.id}}" ng-if="user.first_name">
		                <img ng-src="{{user.image_url | default_profile}}" layout-margin class="user_circular circular" />
		                <md-tooltip md-direction="bottom">
		                	{{user.first_name}} {{user.last_name}}
		                </md-tooltip>
	            	</a>
	            </md-item-content>
	        </md-item>
	        
	    </md-list>
	</section>
</md-content>