<div layout-padding ng-if="active_tag.books && active_tag.books.length > 0 && (active_tag.books.length != 1 && active_tag.books[0].title != null )">
    <h3 layout-padding>Books related to {{active_tag.name}}</h3>
    <div layout="row" layout-wrap layout-padding ng-if="active_tag.books && active_tag.books.length > 0">
        <section ng-repeat="book in active_tag.books" layout-margin ng-if="book.title != null">
            <a ng-href="/book?id={{book.id || book.book_id}}">
                <md-button aria-label="show_book_dialog" 
                    class="clear rd_book_container md-whiteframe-z1 white">
                    <div class="book_thumb" ng-include src="'/assets/angular/html/shared/partials/book_thumb.html'">
                    </div>
                </md-button>
            </a>
        </section>    
    </div>
</div>
<div>
    <md-autocomplete
        class="search_book_autocomplete" 
        flex layout-padding layout-margin
        md-search-text="search_text"
        md-items="item in popular_books"
        md-search-text-change="search_books(search_text)"
        md-selected-item-change="add_book(item)"
        md-item-text="item.title"
        md-selected-item="selected_item_search"
        placeholder="Search and add books...">
        <md-item-template>
            <div layout="row" layout-align="space-between">
                <div layout="row" flex="90">
                    <img ng-src="{{item.isbn | small_thumb}}" class="search_thumb"  
                        onerror="this.src='/assets/defpicbook.png'"/>
                    <div layout-align="center start" layout="column">
                        <div ng-bind-html="item.title" ></div>
                        <div class="less_important">
                            <span>&nbsp;by </span>
                            <span ng-bind-html="item.author_name"></span>
                        </div>
                    </div>
                </div>
            </div>
        </md-item-template>
        <md-not-found>
            No matches found.
        </md-not-found>
    </md-autocomplete>
</div>