<div layout-padding ng-show="active_tag.books && active_tag.books.length > 0 && (active_tag.books.length != 1 && active_tag.books[0].title != null )">
    <div class="important_title" layout-padding>Books related to {{active_tag.name}}</div>
    <div layout="row" layout-wrap layout-padding ng-show="active_tag.books && active_tag.books.length > 0">
        <section ng-repeat="book in active_tag.books" layout-margin ng-if="book.title != null">
            <md-button aria-label="show_book_dialog" ng-click="show_book_dialog(book, $event)" 
                class="clear rd_book_container md-whiteframe-z3 white">
                <div class="book_thumb" ng-include src="'/assets/angular/html/shared/partials/book_thumb.html'">
                </div>
            </md-button>
        </section>    
    </div>
</div>