<div class="light_grey md-whiteframe-z1" layout="row" layout-align="space-between center">
    <div layout-padding></div>
    <div layout="row">
        <a ng-href="#room/books" 
            ng-class="get_active_class('room/books')" layout-padding>
           	<div layout="column" layout-align="center center">
    	       	<div><i class="material-icons">library_books</i></div>
    	        <div hide-sm>Books</div>
    	    </div>
        </a>
        <a ng-href="#room/news" ng-click="update_room_news_visit()"
            ng-class="get_active_class('room/news')" layout-padding>
           	<div layout="column" layout-align="center center">
    	       	<div><i class="material-icons">local_library</i></div>
    	        <div hide-sm>News</div>
    	    </div>
        </a>
        <a ng-href="#room/videos" 
            ng-class="get_active_class('room/videos')" layout-padding>
           	<div layout="column" layout-align="center center">
    	       	<div><i class="material-icons">video_library</i></div>
    	        <div hide-sm>Videos</div>
    	    </div>
        </a>
        <a ng-href="#room/wiki" 
            ng-class="get_active_class('room/wiki')" layout-padding>
           	<div layout="column" layout-align="center center">
    	       	<div><i class="material-icons">toys</i></div>
    	        <div hide-sm>Wiki</div>
    	    </div>
        </a>
    </div>
    <div  ng-include src="'/assets/angular/html/todo/link.html'" 
        ng-if="!todo.room.news || !todo.room.rating"></div>
    <div ng-if="user && (user.id == 4986324)">
        <md-button ng-click="add_videos()">
            <md-icon md-font-set="material-icons">cloud_upload</md-icon>
            <md-tooltip>Upload Videos</md-tooltip>
        </md-button></div>
    <div layout-padding></div>
</div>