<md-sidenav class="md-sidenav-right md-whiteframe-z2 details_panel" 
            md-is-open="show_details"
            md-component-id="right" 
            ng-click="stop_propagation($event);"
            layout-padding>
    <md-content class="white">
        <md-subheader layout="row" layout-align="space-between">
            <div layout="row">
                <img class="circular" ng-src="{{active_tag.image_url}}" layout-padding>
                <h3>{{active_tag.name | uppercase}}</h3>
            </div>
            <md-button ng-class="{'md-raised': !active_tag.status}" class="md-button-clear" ng-click="toggle_follow()">
                <span ng-if="!active_tag.status">Join Community&nbsp;</span>
                <span ng-if="active_tag.status">Joined</span>
                <span ng-if="!active_tag.status" class="icon-user-add"></span>
            </md-button>
        </md-subheader>
        <md-card ng-repeat="news_info in active_tag.news">
            <md-card-content>
                <h3><a target="_blank" ng-href="{{news.news_url}}">{{news_info.title}}</a></h3>
                <div class="less_important">{{news_info.created_at | timestamp | date:'dd MMM'}}</div>
                <div ng-bind-html="news_info.description"></div>
            </md-card-content>

            <md-card-content>
                <img ng-src="{{news_info.image_url}}" class="news_cover"/>
            </md-card-content>
        </md-card>
    </md-content>
</md-sidenav>
<style>
    .details_panel{
        width: 60vw;
        min-width: 60vw;
    }

    .news_cover{
    	width: 100%;
    }

    .details_panel p{
        margin: 0px;
        line-height: 1.4em;
    }
</style>