<md-sidenav class="md-sidenav-right md-whiteframe-z2 details_panel" 
            md-is-open="show_details"
            md-component-id="right" 
            ng-click="stop_propagation($event);"
            layout-padding>
    <div ng-repeat="news_info in active_tag.news">
        <div><img ng-src="{{news_info.image_url}}" class="news_cover"/></div>
        <a target="_blank" ng-href="{{news.news_url}}">{{news_info.title}}</a>
        <div class="less_important">{{news_info.created_at | timestamp | date:'dd MMM'}}</div><br/>
        <div>{{news_info.description}}</div>
        <md-divider layout-margin layout-padding></md-divider>
    </div>
</md-sidenav>
<style>
    .details_panel{
        width: 60vw;
        min-width: 60vw;
    }

    .news_cover{
    	width: 100%;
    }
</style>