<div ng-include src="'/assets/angular/html/community/_books_column.html'" 
    flex="15" flex-sm="100" layout-align="center" layout="column"
    ng-hide="show_details"></div>
<div flex layout-align="center center" layout="column">
    <div class="community_header" layout-padding layout="column" class="light_grey">
        <div layout-padding>
            <div>Books and Communities for</div>
            <div class="less_important"><b>{{active_news.title}}</b></div>
        </div>
        <!-- <md-button ng-class="{'md-raised': !active_tag.status}" class="md-button-clear md-primary" 
            ng-click="toggle_follow()">
            <span ng-if="!active_tag.status">Join {{active_tag.name}}&nbsp;</span>
            <span ng-if="active_tag.status">Joined</span>
            <span ng-if="!active_tag.status" class="icon-user-add"></span>
        </md-button> -->
    </div>
    <d3-click-circles news-tags="newsTags" 
        on-center-click="toggle_details()" 
        on-click="refresh_data(active_item)"
        community-page="true"
        ng-if="newsTags.length > 0">
        <div class="bubbleChart animate-fast"></div>
    </d3-click-circles>
    <div ng-include src="'/assets/angular/html/community/right_panel.html'" class="right_panel_container"></div>
</div>
<div ng-include src="'/assets/angular/html/community/_users_column.html'" 
    flex="15" layout-align="center" ng-hide="show_details" layout="column"></div>
<style>
    .bubbleChart {
        min-width: 100px;
        max-width: 700px;
        height: 80vh;
        overflow: inherit;
    }

    .left_shifted{
        margin: 0;
    }

    .bubbleChart svg{
      /*background: #000000;*/
    }

    .book_thumb{
        width: 40px;
        height: 70px;
    }

    .book_scroller{
        background-color: transparent !important;
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
    }

    .book_cover{
        width: 50px;
        height: 70px;
    }

    .community_header{
        position: absolute;
        max-width: 300px;
    }
   
</style>