<md-list ng-controller="videoController" layout="column"  layout-wrap layout-align="center">
    <md-list-item ng-repeat="video in active_tag.videos" layout-margin layout="row" flex layout-sm="column" 
        class="video_group_container" layout-align="start start">
        <div class="video_wrapper" ng-click="video.play = true" ng-if="!video.play">
            <i class="material-icons video_icon">video_library</i>
            <img ng-src="{{video.thumbnail}}" class="video_thumb md-3-line">
        </div>
        <div layout="column" flex ng-if="!video.play" >
            <a ng-click="video.play = true" ng-if="!pages" class="less_important" ng-bind-html="video.title"></a>
            <a ng-click="render_page($event)" data-url="watch_video" data-url="{{video.url}}"
                ng-if="pages" class="less_important no_anchor" ng-bind-html="video.title"></a>
        </div>
        <iframe ng-if="video.play" class="embed" 
            ng-src="{{video.url}}">
        </iframe>
    </md-list-item>
</md-list>
<style>
    .video_thumb{
        height: 100px;
    }

    .video_container,
    .video_thumb{
        width: 150px;
    }

    .video_group_container{
        position: relative;
        margin: 5px 5px;
        padding: 0px;
        width: 97%;
        word-break: break-word;
    }

    .video_icon{
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -10px;
        margin-top: -10px;
        color: white;
    }

    .video_wrapper{
        position: relative;
        cursor: pointer;
    }

    .video_wrapper:hover .video_icon{
        color: #f5f5f5;
    }

    .embed{
        top: 0;
        left: 0;
        width: 100%;
        max-height: 80vh;
        height: 400px;
    }
</style>