<md-list ng-controller="videoController" layout="column"  layout-wrap layout-align="center">
	<md-list-item ng-repeat="video in active_tag.videos" layout-margin layout="row" flex layout-sm="column" 
		class="video_group_container" ng-class="{'md-whiteframe-z1': !video.play}" layout-align="start start">
		<div class="video_wrapper" ng-click="video.play = true" ng-if="!video.play">
			<i class="material-icons video_icon">video_library</i>
			<img ng-src="{{video.thumbnail}}" class="video_thumb md-3-line">
		</div>
		<div layout="column" layout-padding flex ng-if="!video.play">
			<a ng-click="video.play = true" ng-bind-html="video.title"></a>
			<div layout-padding></div>
			<div layout="column" layout-align="space-between" flex>
				<a ng-href="{{video.url}}" target="_blank" ng-bind-html="video.url" class="less_important wrap" flex></a>
				<div ng-bind-html="video.published_date | timestamp| date:'dd MMM'" class="less_important"></div>
				<!-- <div ng-bind-html="Number((video.duration/60).toFixed(2))" class="less_important bold"></div> -->
			</div>
		</div>
		<iframe ng-if="video.play" class="embed" 
			ng-src="{{video.url}}">
		</iframe>
	</md-list-item>
</md-list>
<style>
	.video_thumb{
		height: 100px;
	}

	.video_container,
	.video_thumb{
		width: 150px;
	}

	.video_group_container{
		position: relative;
	    margin: 5px 5px;
	    padding: 0px;
	    width: 97%;
	    word-break: break-word;
	}

	.video_icon{
		position: absolute;
	    left: 50%;
	    top: 50%;
	    margin-left: -10px;
	    margin-top: -10px;
	    color: white;
	}

	.video_wrapper{
		position: relative;
		cursor: pointer;
	}

	.video_wrapper:hover .video_icon{
		color: #f5f5f5;
	}

	.embed{
	  	top: 0;
	  	left: 0;
	  	width: 100%;
	  	max-height: 80vh;
	  	height: 400px;
	}
</style>