<div class="bundles-area" style="padding-top: 130px;">
	<div id="ConnectInner"></div>
	<div class="header-image bundles-header">
		<h2 class="header-title" ng-hide="hide_text">
			<span>Discover books,</span> 
			<span>because finding your next read</span>
			<span>is precious for us.<span>
		</h2>
	</div>
	<div style="height: 500px;">
		<div>
			<div class="h-center-container">
				<md-whiteframe class="md-whiteframe-z1 w-box" layout="row" layout-align="left left">
	    			<p>
	    				Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
	    			</p>
	    				
	    			
	  			</md-whiteframe>
			</div>
		</div>
	</div>
</div>