<div class="animate-fast" style="padding-top: 121px;">
	<div id="ConnectInner"></div>
	<div layout="row" layout-margin layout-align="center center" class="header-image purple-background">
			<div>
				<h2 class="header-title">
					<span>Get connected</span> 
					<span>with like minded souls.</span>
				</h2>
			</div>
			<div flex>
				<img src="assets/Connect.png" class="img-connect">
			</div>
		</div>
	<div style="height: 500px;">
		<div class="aside-bg">
			<div class="nav-container">
				<ul>
					<li class="icon promos" ng-class="{'site_color': nested_page_id == 1}">
						<span class='icon-'></span>
						<span>Communities</span>
					</li>
					<li class="icon purchases" ng-class="{'site_color': nested_page_id == 2}">
						<span class='icon-'></span>
						<span>Authors</span>
					</li>
					<li class="icon travel" ng-class="{'site_color': nested_page_id == 3}">
						<span class='icon-'></span>
						<span>Friends</span>
					</li>
				</ul>
			</div>
		</div>

		<div class="right-container">
			<div class="h-center-container" ng-if="current_page_id == 3">
				<div ng-if="nested_page_id == 1" class="animate-fast content-box">
					<div class="feature-description">
						Connect and discuss with people on a common topic.
					</div>
					<md-whiteframe class="md-whiteframe-z1 w-box" 
									layout="row" 
									layout-align="left left">
		    			<img src="assets/community.png" class="animate-fast">
		  			</md-whiteframe>
				</div>


				<div ng-if="nested_page_id == 2" class="animate-fast content-box">
		  			<div class="feature-description">
						Follow and reach out to contemporary authors.
					</div>
		  			<md-whiteframe class="md-whiteframe-z1 w-box" 
		  							layout="row" 
		  							layout-align="left left">
		    			<img src="assets/author_post.png" class="animate-fast">
		  			</md-whiteframe>
				</div>


				<div ng-if="nested_page_id == 3" class="animate-fast content-box">
		  			<div class="feature-description">
						Stay updated with your friends reading journeys.
					</div>
		  			<md-whiteframe class="md-whiteframe-z1 w-box" 
		  							layout="row" 
		  							layout-align="left left">
		    			<img src="assets/friends.png" class="animate-fast"/>
		  			</md-whiteframe>
				</div>
			
			</div>
		</div>
	</div>
</div>