<div class="animate-fast top_pad" ng-if="show_content">
	<div id="Search"></div>
	<div layout="column" layout-fill>
		<div layout="row" class="top_view blue_background">
			<div flex="5"></div>
			<div flex-gt-md="50" flex-md="50" flex-sm="90" layout="row" layout-align="center center">
				<h3 class="title clear_margin" layout-align="start center" layout-padding layout-wrap>
					<div>Discover yourself</div>
					<div>through books,</div>
					<div>friends & the world</div>
				</h3>
			</div>
			<div flex="5"></div>
			<div layout="row" layout-align="center end" flex="40" hide-sm>
				<img src="assets/Discover.png" class="img_resize"/>
			</div>
		</div>

		<div layout="row" layout-align="start start" class="foot_view">
			<div layout="column" class="left_container" flex="25" flex-sm="15" layout-fill>
				<div layout="row" layout-align="start start" class="list" ng-class="{'site_color': nested_page_id == 2}">
					<span flex="20" flex-sm="100" flex-md="10" class='icon-' show-sm hide-lg></span>
					<span flex="80" flex-md="90" hide-sm>Filters</span>
				</div>
				<div layout="row" layout-align="start start" class="list" ng-class="{'site_color': nested_page_id == 3}">
					<span flex="20" flex-sm="100" flex-md="10" class='icon-' show-sm hide-lg></span>
					<span flex="80" flex-md="90" hide-sm>Suggestions</span>
				</div>
			</div>
			<div ng-if="current_page_id == 2" flex="75" flex-sm="85" layout="column" 					
				 	layout-fill>
				<div ng-if="nested_page_id == 2" class="animate-fast" layout="column" 
					layout-fill layout-padding>
					<div class="description" layout-wrap layout-fill layout-padding>
						Infinity - Your personal infinite source of knowledge
					</div>
					<md-divider layout-fill></md-divider>
  					<div class="w_box" layout-padding>
						<img src="assets/infinity.png" class="img_fullsize"/>
					</div>
				</div>
				<div ng-if="nested_page_id == 3" class="animate-fast" layout="column" 
					layout-fill layout-padding>
					<div class="description" layout-wrap layout-fill layout-padding>
						Enhance your reading journey through personalised suggestions
					</div>
					<md-divider layout-fill></md-divider>
	   				<div layout-padding>
						<img src= "assets/suggestions.png" class="img_fullsize"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	