<div class="animate-fast" ng-if="show_content" style="padding-top: 121px;">
	<div id="ExploreInner"></div>
	<div layout="row" layout-margin layout-align="center center" class="header-image green-background">
		<div flex>
			<h2 class="header-title">
				<span>Delve inside the </span> 
				<span>richness of literature.</span>
			</h2>
		</div>
		<div flex>
			<img src="assets/Explore.png" class="img-wrapped"/>
		</div>
	</div>
	<div style="height: 600px;" class="discover-area">
		<div>
			<div class="feature-description">
				An experience that let you see a book from multiple perspectives by connecting knowledge around in different forms.
			</div>
			<div class="h-center-container" ng-if="current_page_id == 4">
				<md-whiteframe class="w-box" layout="row" layout-align="left left">
	    			<img src="assets/book_page.png" class="animate-fast img-resize"/>
	  			</md-whiteframe>
			</div>
		</div>
	</div>
</div>