<div layout="row" ng-if="show_content" layout-align="center center" class="full_view hex_background">    
    <div flex="50" flex-sm="100" layout="column" layout-align="center center">
        <div layout-padding layout="row">
            <div flex="15" flex-md="5" hide-sm></div>
            <div flex="80" flex-md="90" flex-sm="100">
                <div class="first_title" layout-align="start start" 
                    layout-padding
                    flex="50" flex-sm="100" flex-md="80"> 
                    <div>Infect with</div>
                    <div>bibliophilia</div>
                </div>
                <div class="desc" 
                     layout-align="start start" layout-wrap 
                     flex-gt-md="30" flex-sm="90" flex-md="80">
                    <div layout-padding>Built on everything we learnt from the
                    journeys of several book lovers,
                    ReadersDoor is a fresh start to help 
                    spread the love of books.
                    </div>
               	    <div layout-padding>Read on to know more</div>
                </div>
            </div>
            <div flex="15" flex-md="5" hide-sm></div>
        </div>
    </div> 
    <div layout="row" layout-align="center center" flex="50" hide-sm>		
		<img src="assets/intro-product.png" class="full_img">
    </div>
</div>