<div layout="row" class="inbox-area md-whiteframe-z1 " style="background: #f5f5f5;" id="tab0">
	<div flex>
		<div layout="row" layout-margin layout-align="center center">
			<div flex>
				<video class="logo-video show" preload="metadata" autoplay style="display: block; margin: 0 auto;">
					<source src="assets/intro.webm" type="video/webm">
				</video>
	   		 </div>
		</div>
	</div>		
</div>
<div ng-include="'assets/angular/views/landing_page/discover.html'" id="tab1"></div>
<div ng-include="'assets/angular/views/landing_page/connect.html'" id="tab2"></div>
<div ng-include="'assets/angular/views/landing_page/explore.html'" id="tab3"></div>
<div ng-include="'assets/angular/views/landing_page/intro.html'" id="tab4"></div>
<div ng-include="'assets/angular/views/landing_page/personalise.html'" id="tab5"></div>
<div ng-include="'assets/angular/views/landing_page/request.html'" id="tab6"></div>