<div class="animate-fast" ng-if="show_content" style="padding-top: 121px;">
	<div id="PersonaliseInner"></div>
	<div layout="row" layout-margin layout-align="center center" class="header-image green-background">
		<div flex>
			<h2 class="header-title animate-fast enlarge-width">
				<span>Manage your</span>
				<span>personalised virtual</span> 
				<span>room of knowledge.</span>
			</h2>
		</div>
		<div flex>
			<img src="assets/Personalise.png" class="img-wrapped"/>
		</div>
	</div>
	<div style="height: 500px;" class="discover-area">
		<div>
			<div class="h-center-container" ng-if="current_page_id == 5">
				<md-whiteframe class="md-whiteframe-z1 w-box" layout="row" layout-align="left left">
	    			<img src="assets/readersdoor-myroom.png" class="animate-fast">
	  			</md-whiteframe>
			</div>
		</div>
	</div>
</div>