<div layout="row" class="inbox-area">	
	<div flex>
		<div layout="row" layout-margin layout-align="center center">
			<div flex style="text-align: center;">
	    		<h2>ReadersDoor starts with an invitation.<br>
	    		Join us</h2>
	   		 </div>
	   		 <!-- <div flex>
	   		 	<a class="invite-link" data-href-desktop="https://mail.google.com/mail/u/0/#inbox?compose=new" data-track-action="inbox@google.com" href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank">
                    inbox@google.com</a>
	   		 </div> -->
		</div>
	</div>		
</div>