<div layout="row" ng-if="show_content" class="main_view top_pad hex_background"layout-margin layout-align="center center" 
	layout-margin layout-fill layout-padding>
	<div flex-sm="15" flex-gt-sm="5"></div>
	<div layout="column" layout-align="center center" flex-sm="75" flex-gt-sm="90">
		<div flex="50">
		    <div class="invite" layout="row" layout-align="center center" layout-wrap layout-fill>
		    	ReadersDoor starts with an invitation<br>
		    </div>
		   	<div class="invite" layout="row" layout-align="center center">Join us</div>
		</div>
		<div flex="50" layout="row" layout-align="center center" layout-fill>
			<h3 class="desc" layout="row" layout-align="center center" layout-padding layout-wrap>
		   		Send an email to &nbsp <a class="invite-link" data-href-desktop="https://mail.google.com/mail/u/0/#inbox?compose=new" data-track-action="readersdoor@gmail.com" href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank">readersdoor@gmail.com</a> &nbsp to 
				request an invitation.
			</h3>
		</div>
	</div>
	<div flex-sm="10" flex-gt-sm="5"></div>		
</div>