<div layout="column" layout-align="space-between">
	<div layout-padding layout="row" layout-align="space-between">
		<div class="less_important bold">Store</div>
		<div class="less_important bold">Delivery Time</div>
		<div class="less_important bold">Price</div>
		<div class="less_important bold">Goto Store</div>
	</div>
	<md-divider></md-divider>
	<div ng-repeat="price in prices" ng-class="{'light_grey_color': !price.in_stock}">
		<div layout-padding layout="row" layout-align="space-between">
			<div layout-padding>
				<div >{{price.store}}&nbsp;</div>
				<div class="less_important" ng-if="price.in_stock">(Available)</div>
				<div class="less_important" ng-if="!price.in_stock">(Not in Stock)</div>
			</div>
			<div layout-padding>
				<div ng-if="price.min_days">
					<div ng-if="price.max_days == price.min_days">
						Upto {{price.min_days}} Days
					</div>
					<div ng-if="price.max_days != price.min_days">
						{{price.min_days}}-{{price.max_days}} Days
					</div>
				</div>
			</div>
			<div class=" bold" layout-padding>
				{{price.currency_code}} {{price.price}} 
			</div>
		    <md-button ng-href="{{price.url}}" target="_blank" class="md-button-clear md-warn md-raised">Buy</md-button>
		</div>
	</div>
</div>