<h4>Buy this book from</h4>
<md-list>
  <md-item>
        <md-item-content>
            <div class="md-tile-left">
                <img class="circular" src="https://pbs.twimg.com/profile_images/528320705125838848/q7o83VPn_400x400.jpeg">
            </div>
            <div class="md-tile-content" layout="row" layout-align="space-between center">
                <div>amazon</div>
                <div layout="row" layout-md="column" layout-sm="column">
                    <!-- <div layout-padding>458.00</div> -->
                    <div ng-if="book.isbn">
                        <md-button class="md-primary md-raised md-button-clear" 
                            ng-href="http://www.amazon.in/dp/{{book.isbn | first_isbn}}/?tag=reade0c-21" target="_blank ">Buy</md-button>
                    </div>
                    <div ng-if="!book.isbn">
                        Can't find this book on amazon.
                    </div>
                </div>
            </div>
        </md-item-content>
      </md-item>
</md-list>