<div layout="column">
	<div ng-include src="'/assets/angular/html/book/partials/_description.html'"></div>
	<div layout="column"  
		ng-include src="'/assets/angular/html/shared/recommend_to_friends.html'" 
		ng-controller="recommendController"></div>
</div>