<md-content ng-controller="libraryController" check-scroll-bottom="get_popular_books()"
	class="rd_main_container white" id="homeScreen">
	<div ng-include src="'/assets/angular/html/shared/pages/books.html'"></div>	
</md-content>