<md-content ng-controller="profileController" check-scroll-bottom="get_feed()"
	class="rd_main_container white" layout-padding>
	<div ng-include src="'/assets/angular/html/shared/pages/profile.html'" ></div>
</md-content>