<md-content ng-controller="communityController" check-scroll-bottom="get_community_news()"
	class="rd_main_container white" layout-padding>
	<div ng-include src="'/assets/angular/html/shared/pages/room.html'" layout-padding></div>
</md-content>