<!DOCTYPE html>
<html>
  <head>
    <title>ReadersDoor</title>
    <link href="/assets/icomoon.css" rel="stylesheet">
  </head>
  <body>
    <%= render :partial => "website/loading"%>
  </body>
</html>