<!DOCTYPE html>
<html ng-app="myApp" ng-strict-di>
    <head>
        <meta charset="utf-8" />
        <title>ReadersDoor</title>
        <script>document.write('<base href="' + document.location + '" />');</script>

        <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,100italic,400italic|Roboto+Condensed&amp;lang=en' rel='stylesheet' type='text/css'>

        <!--<link rel="stylesheet" href="assets/min/landing_page_site.min.css" />
        <script src="assets/min/angular/landing_page_main.js"></script>
        -->
        <link rel="stylesheet" href="assets/angular_material.css" />
        <link rel="stylesheet" href="assets/landing_page/style.css" />
        <link rel="stylesheet" href="assets/website/website.css" />
        <link rel="stylesheet" href="assets/landing_page/animate.css" />

        <script src="assets/angular/vendors/angular13.min.js"></script>
        <script src="assets/angular/vendors/angular_animate13.min.js"></script>
        <script src="assets/angular/vendors/hammer.js"></script>
        <script src="assets/angular/vendors/angular-aria.js"></script>
        <script src="assets/angular/vendors/angular_mousewheel.min.js"></script>
        <script src="assets/angular/vendors/angular_router.min.js"></script>
        <script src="assets/angular/vendors/angular-material.min.js"></script>
        <script src="assets/lib/angular_scroll.min.js"></script>
        <script src="assets/angular/apps/landing_page_app.js"></script>
        <script src="assets/angular/apps/app_constants.js"></script>
        <script src="assets/angular/controllers/landing_page_controller.js"></script> 
    </head>

    <body ng-controller="MainCtrl">
        <div msd-wheel="bind_mousewheel_scroll($event)" layout="row" layout-fill ng-keypress="scroll_on_keypress($event)">
            <div flex>
                <header class="main-header animate-very-slow" ng-if="show_content">
                    <a class="title-btn" ng-click="scroll_page(0)"><h1>ReadersDoor</h1></a>
                    <div class="h-btn-right">
                        <!-- <md-button md-no-ink class="md-warn">Sign in</md-button> -->
                        <md-button class="md-raised md-warn md-hue-2">Request Invite</md-button>
                    </div>
                </header>

                <md-whiteframe class="md-whiteframe-z1 tab-main animate-very-slow" layout layout-align="center" ng-if="show_content">
                    <md-tabs class="md-accent" md-selected="data.selectedIndex">
                        <md-tab ng-click="scroll_page(1)" ng-class="{'active': current_page_id == 1}">
                            <a>{{data[1]}}</a>
                        </md-tab>
                        <md-tab ng-click="scroll_page(2)" ng-class="{'active': current_page_id == 2}">
                            <a>{{data[2]}}</a>
                        </md-tab>
                        <md-tab ng-click="scroll_page(3)" ng-class="{'active': current_page_id == 3}">
                             <a>{{data[3]}}</a>
                        </md-tab>
                        <md-tab ng-click="scroll_page(4)" ng-class="{'active': current_page_id == 4}">
                            <a>{{data[4]}}</a>
                        </md-tab>
                        <md-tab ng-click="scroll_page(5)" ng-class="{'active': current_page_id == 5}">
                            <a>{{data[5]}}</a>
                        </md-tab>
                        <md-tab ng-click="scroll_page(6)" ng-class="{'active': current_page_id == 6}">
                            <a>{{data[6]}}</a>
                        </md-tab>
                    </md-tabs>
                </md-whiteframe>
                <div ng-view ng-fadein class="view-cont"></div>

                <md-button class="md-fab btn-arrow animate-fast" 
                           aria-label="Comment" 
                           ng-if="show_content"
                           ng-click="scroll_next_state()"
                           ng-style="down_button_style">
                    <md-icon icon="assets/arrow-down.png" style="width: 24px; height: 24px;"></md-icon>
                </md-button>
            </div>
        </div>
    </body>
</html>