<!DOCTYPE html>
<html ng-app="homeApp" ng-strict-di>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta property="og:url" content="http://www.readersdoor.com" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="ReadersDoor: Global Community of Book Lovers" />
        <meta property="og:image" content="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfp1/t31.0-8/s2048x2048/10928967_401263720044504_3799751116430229659_o.jpg" />
        <meta property="og:description" content="ReadersDoor is a global community for book readers, where we intend to enrich and enhance users’ reading experience by focusing on virtualisation and idealisation of their real life interactions and experiences." />
        <meta property="fb:app_id" content="667868653261167"/>

        <meta charset="utf-8" />
        <title>ReadersDoor</title>
        <link rel="icon" type="image/png" href="assets/favicon.png">
        <script>document.write('<base href="' + document.location + '" />');</script>

        <!-- <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,100italic,400italic|Roboto+Condensed&amp;lang=en' rel='stylesheet' type='text/css'> -->


        <link rel="stylesheet" href="assets/angular_material.css" />
        <link rel="stylesheet" href="assets/website/website.css" />
        <link rel="stylesheet" href="assets/website/icomoon.css" />
        <link rel="stylesheet" href="assets/website/home.css" />
        <link rel="stylesheet" href="assets/website/media_library.css" />
        <% if Rails.env.development? %>

            <script src="assets/min/angular/vendors.min.js"></script>

            <script src="assets/angular/services/third_party/d3_service.js"></script>
            <script src="assets/angular/vendors/angular-parallax.min.js"></script>
            <script src="assets/angular/vendors/angular_sticky.js"></script>
            
            <script src="assets/angular/apps/filters_app.js"></script>
            <script src="assets/angular/apps/home_app.js"></script>
            <script src="assets/angular/apps/app_constants.js"></script>
            <script src="assets/angular/services/user_service.js"></script>
            <script src="assets/angular/services/genre_service.js"></script>
            <script src="assets/angular/services/book_service.js"></script>
            <script src="assets/angular/services/author_service.js"></script>
            <script src="assets/angular/services/shelf_service.js"></script>
            <script src="assets/angular/services/infinity_service.js"></script>
            <script src="assets/angular/services/shared_service.js"></script>
            <script src="assets/angular/services/network_service.js"></script>

            <script src="assets/angular/controllers/app_controller.js"></script>
            
            <script src="assets/angular/controllers/notification_controller.js"></script>
            <script src="assets/angular/controllers/search_controller.js"></script>
            <script src="assets/angular/controllers/home/left_controller.js"></script>
            <script src="assets/angular/controllers/home/right_controller.js"></script>
            <script src="assets/angular/controllers/book/buy_controller.js"></script>
            <script src="assets/angular/controllers/recommend_controller.js"></script>
            <script src="assets/angular/controllers/home/shelf_controller.js"></script>
            <script src="assets/angular/controllers/share/share_controller.js"></script>
            <script src="assets/angular/controllers/share/options_controller.js"></script>            

            <script src="assets/angular/controllers/toast_controller.js"></script>
            <script src="assets/angular/directives/site_directives.js"></script>

            <script src="assets/angular/services/search_service.js"></script>
            <script src="assets/angular/services/status_service.js"></script>
            <script src="assets/angular/services/feed_service.js"></script>

            <% if (@community || @home || @infinity)%>
                <script src="assets/angular/vendors/jquery.min.js"></script>
                <script src="assets/angular/vendors/d3.min.js"></script>
                <script src="assets/angular/vendors/bubble_chart/d3_transform.js"></script>
                <script src="assets/angular/vendors/bubble_chart/extarray.js"></script>
                <script src="assets/angular/vendors/bubble_chart/misc.js"></script>
                <script src="assets/angular/vendors/bubble_chart/micro-observer.js"></script>
                <script src="assets/angular/vendors/bubble_chart/microplugin.js"></script>
                <script src="assets/angular/vendors/bubble_chart/bubble-chart.js"></script>
                <script src="assets/angular/vendors/bubble_chart/central-click.js"></script>
                <script src="assets/angular/vendors/bubble_chart/lines.js"></script>
                <script src="assets/angular/directives/d3_directives.js"></script>
            <% end %>

            
            <% if @home %>
                <script src="assets/angular/controllers/home/home_controller.js"></script>
            <% end %>

            <% if @network %>
                <script src="assets/angular/controllers/network_controller.js"></script>
            <% end %>

            <% if @community %>
                <script src="assets/angular/controllers/book/specific_book_controller.js"></script>
                <script src="assets/angular/controllers/book/timeline_controller.js"></script>
                <script src="assets/angular/controllers/book/real_virtuality_controller.js"></script>
                
                <script src="assets/angular/services/community_service.js"></script>
                <script src="assets/angular/controllers/community_controller.js"></script>
            <% end %>

            <% if @customise %>
                <script src="assets/angular/controllers/customise/customise_controller.js"></script>
                <script src="assets/angular/controllers/customise/info_controller.js"></script>
                <script src="assets/angular/controllers/customise/genres_controller.js"></script>
                <script src="assets/angular/controllers/customise/books_controller.js"></script>
                <script src="assets/angular/controllers/customise/authors_controller.js"></script>
            <% end %>

            <% if @book %>
                <script src="assets/angular/controllers/book/specific_book_controller.js"></script>
                <script src="assets/angular/controllers/book/timeline_controller.js"></script>
                <script src="assets/angular/controllers/book/real_virtuality_controller.js"></script>
            <% end %>

            <% if @infinity %>
                <script src="assets/angular/services/time_group_service.js"></script>
                <script src="assets/angular/services/reading_time_service.js"></script>
                
                <script src="assets/angular/controllers/library/library_controller.js"></script>
                <script src="assets/angular/controllers/library/filters_controller.js"></script>
                <script src="assets/angular/controllers/book/specific_book_controller.js"></script>
                <script src="assets/angular/controllers/book/timeline_controller.js"></script>
                <script src="assets/angular/controllers/book/real_virtuality_controller.js"></script>

            <% end %>

            <% if @room %>
                <script src="assets/angular/services/room_service.js"></script>
                <script src="assets/angular/controllers/room/room_controller.js"></script>
            <% end %>

            <% if @author %>
                <script src="assets/angular/controllers/author_controller.js"></script>
            <% end %>

            <% if @profile %>
                <script src="assets/angular/services/community_service.js"></script>
                <script src="assets/angular/controllers/profile_controller.js"></script>
                <script src="assets/angular/controllers/book/specific_book_controller.js"></script>
            <% end %>

            <% if @search %>
                <script src="assets/angular/controllers/search_page_controller.js"></script>
            <% end %>

        <% else %>
            <!-- <link rel="stylesheet" href="assets/min/site.min.css" /> -->
            <script src="assets/min/angular/site.min.js"></script>

            <% if (@community || @home || @infinity)%>
                <script src="assets/min/angular/d3_group.min.js"></script> 
            <% end %>

            <% if @home %>
                <script src="assets/min/angular/controllers/home_group.min.js"></script>
            <% end %>

            <% if @network %>
                <script src="assets/min/angular/controllers/network_group.min.js"></script>
            <% end %>

            <% if @community %>
                <script src="assets/min/angular/controllers/community_group.min.js"></script>
            <% end %>

            <% if @customise %>
                <script src="assets/min/angular/controllers/customise_group.min.js"></script>
            <% end %>

            <% if @book %>
                <script src="assets/min/angular/controllers/book_group.min.js"></script>
            <% end %>

            <% if @infinity %>
                <script src="assets/min/angular/controllers/infinity_group.min.js"></script>
            <% end %>

            <% if @room %>
                <script src="assets/min/angular/controllers/room_group.min.js"></script>
            <% end %>

            <% if @author %>
                <script src="assets/min/angular/controllers/author_group.min.js"></script>
            <% end %>

            <% if @profile %>
                <script src="assets/min/angular/controllers/profile_group.min.js"></script>
            <% end %>

            <% if @search %>
                <script src="assets/min/angular/controllers/search_group.min.js"></script>
            <% end %>
        <% end %>
    </head>

    <body ng-controller="appController" 
        ng-keydown="scroll_on_keypress($event)" 
        ng-click="close_popups()" 
        msd-wheel="close_popups()">
        <audio id="audiotag1" src="assets/typewriter2.m4a" preload="auto"></audio>
        <audio id="audiotag2" src="assets/typewriter2.m4a" preload="auto"></audio>
        <audio id="audiotag3" src="assets/typewriter3.m4a" preload="auto"></audio>
        <script>
          // (function() {
          //   var cx = '010250045073231072543:z7pnnxbf5s8';
          //   var gcse = document.createElement('script');
          //   gcse.type = 'text/javascript';
          //   gcse.async = true;
          //   gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
          //       '//cse.google.com/cse.js?cx=' + cx;
          //   var s = document.getElementsByTagName('script')[0];
          //   s.parentNode.insertBefore(gcse, s);
          // })();
        </script>
        <!-- <gcse:search></gcse:search> -->
        <div layout="column" layout-fill>
            <!-- <div ng-include src="'/assets/angular/html/shared/header.html'"></div> -->
            <md-toolbar md-scroll-shrink class="md-whiteframe-z1 header <% if !@infinity %>'no_shadow'<% end %>">
                <section layout="row" layout-wrap>
                    <div flex="20" flex-sm="35" layout="row" layout-align="start center">
                        <md-button ng-show="info.mobile_search" class="burger padding" ng-click="toggleLeft($event)">
                            <a><span class="icon-menu2"></span></a>
                        </md-button>
                        <div ng-show="info.mobile_search" 
                             layout-align-lg="center center">
                            <a class="logo" href="/home">
                                <img src="assets/rd_icon.png"/>

                                <span hide-sm hide-md ng-hide="<%= @signup %>">ReadersDoor</span>
                                
                            </a>
                        </div>
                    </div>
                    <div flex="50" flex-md="45" 
                         ng-controller="searchController"
                         flex-sm="10" 
                         layout="row" 
                         layout-align="end center" 
                         layout-align-sm="start center">
                        <md-button ng-click="show_search_bar()" 
                                   ng-show="info.mobile_search" show-sm hide>
                            <span class="icon-search"></span>
                        </md-button>
                        <div hide-sm class="search_icon">
                            <span class="icon-search"></span>
                        </div>
                        <!-- md-items="item in info.genres | filter:search_tag.genre" -->
                        <md-autocomplete md-selected-item="selected_item_search"
                                        md-search-text="search_text"
                                        md-items="item in search_results"
                                        md-search-text-change="query_search(search_text)"
                                        md-selected-item-change="on_select(item)"
                                        md-item-text="item.name"
                                        md-min-length="2"
                                        class="search"
                                        hide-sm
                                        flex="85"
                                        ng-click="stop_propagation($event)"
                                        placeholder="Search books, topics and more...">
                            <div ng-bind-html="item.name"></div>
                        </md-autocomplete>
                    </div>
                    <div layout="row" layout-align="center center" flex="10" flex-md="15" flex-sm="20">
                        <md-button ng-show="info.mobile_search" class="library">
                            <a href="/infinity">Infinity</a>
                        </md-button>
                    </div>
                    <div flex="20" flex-sm="35" layout="row" layout-align="end center">
                        <a href="/room" ng-show="info.mobile_search">
                            <md-button class="small-padding">
                                <span class="icon-home2"></span>
                                <md-tooltip >
                                    Room
                                </md-tooltip>
                            </md-button>
                        </a>
                        <md-button ng-show="info.mobile_search" class="small-padding" 
                            ng-click="toggle_notifications($event)">
                            <span class="icon-bell"></span>
                            <md-tooltip >
                                Notifications
                            </md-tooltip>
                        </md-button>
                        <a href="/profile" ng-show="info.mobile_search">
                            <md-button class="profile_link">
                                <img ng-src="{{user.image_url | default_profile}}" 
                                    class="circular">
                                    <md-tooltip >
                                        Profile
                                    </md-tooltip>
                            </md-button>
                        </a>
                    </div>
                    <div layout="row" layout-align="center center" 
                            ng-hide="info.mobile_search" layout-fill layout-padding hide-md hide-lg>
                        <md-button flex="10" ng-click="show_search_bar()" hide-md hide-lg class="md-button-clear">
                            <span class="icon-angle-left"></span>
                        </md-button>
                        <md-autocomplete
                            md-selected-item="selectedItem1"
                            md-search-text="searchText"
                            md-items="item in querySearch(searchText)"
                            md-item-text="display"
                            class="search"
                            flex="90" hide-md hide-lg
                            placeholder="Search books, topics and more...">
                            <span md-highlight-text="searchText" ng-bind-html="item.display"></span>
                        </md-autocomplete>
                    </div>
                </section>
            </md-toolbar>

            <div ng-show="info.mobile_search">
                <%= yield %>
            </div>
            
            <div ng-controller="shareController" ng-show="info.mobile_search">
                <md-button class="md-fab md-fab-bottom-right animate-fast fixed_share"
                            ng-hide="active_shelf || info.show_share"
                            aria-label="Share reading journey"
                            ng-click="show_share_page($event)"
                            ng-style="type_icon_pressed"
                            style="background-image: url('assets/type.png')">
                            <md-tooltip md-direction="left">
                                  Share your reading journey
                            </md-tooltip>
                </md-button>
            </div>
            
            <md-progress-linear class="md-primary loader"
                                ng-show="info.loading && !info.show_share"
                                md-mode="indeterminate">
            </md-progress-linear>

            <md-progress-circular class="md-accent md-hue-1" md-mode="indeterminate" 
                    ng-if="info.cirular_loading">
            </md-progress-circular>

            <div ng-include src="'/assets/angular/html/shared/left_panel.html'" class="left_panel_container"></div>
            <div ng-include src="'/assets/angular/html/shared/notifications.html'" ng-if="show_notifications"></div>
            <div ng-include src="'/assets/angular/html/share/show.html'"></div>
            <!-- <div ng-include src="'/assets/angular/html/home/show.html'"></div> -->
        </div>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-35051501-1', 'readersdoor.com');
            ga('send', 'pageview');
        </script>
    </body>
</html>