<!DOCTYPE html>
<html ng-app="homeApp" ng-strict-di>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width">
        <meta property="og:url" content="http://www.readersdoor.com" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="ReadersDoor: Global Community of Book Lovers" />
        <meta property="og:image" content="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfp1/t31.0-8/s2048x2048/10928967_401263720044504_3799751116430229659_o.jpg" />
        <meta property="og:description" content="ReadersDoor is a global community for book readers, where we intend to enrich and enhance users’ reading experience by focusing on virtualisation and idealisation of their real life interactions and experiences." />
        <meta property="fb:app_id" content="667868653261167"/>

        <script type="text/javascript" src="https://www.google.com/jsapi"></script>

        <meta charset="utf-8" />

        <title>ReadersDoor</title>
        <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
        <link rel="icon" type="image/png" href="assets/favicon.png">
        <script>document.write('<base href="' + document.location + '" />');</script>
        <!-- <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,100italic,400italic|Roboto+Condensed&amp;lang=en' rel='stylesheet' type='text/css'> -->

        <% if Rails.env.development? %>
            <link rel="stylesheet" href="assets/material_icons.css" />
            <link rel="stylesheet" href="assets/angular_material.css" />
            <link rel="stylesheet" href="assets/website/website.css" />
            <link rel="stylesheet" href="assets/website/icomoon.css" />
            <link rel="stylesheet" href="assets/website/home.css" />
            <link rel="stylesheet" href="assets/website/media_library.css" />
            <link rel="stylesheet" type="text/css" href="assets/website/animation.css" >
            <script src='assets/min/angular/vendors/angular.min.js'></script>
            <script src='assets/min/angular/vendors/angular_messages.min.js'></script>
            <script src="assets/angular/vendors/hammer.js"></script>
            <script src="assets/angular/vendors/angular-aria.min.js"></script>
            <script src="assets/angular/vendors/angular_mousewheel.min.js"></script>
            <script src="assets/angular/vendors/angular_router.min.js"></script>
            <script src="assets/angular/vendors/angular_material.min.js"></script>
            <script src="assets/angular/vendors/angular_cookies.min.js"></script>
            <script src="assets/angular/vendors/angular_facebook.js"></script>
            <script src="assets/angular/vendors/angular-timer.min.js"></script>

            <script src='assets/min/angular/vendors/angular_animate.min.js'></script>
            <script src='assets/min/angular/vendors/angular-sanitize.min.js'></script>
            <script src='assets/min/lib/angular_scroll.min.js'></script>
            <script src='assets/min/angular/vendors/angular_filters.min.js'></script>
            <script src="assets/min/angular/vendors/angular-parallax.min.js"></script>

            <!-- // <script src="assets/angular/services/third_party/d3_service.js"></script> -->
            <script src="assets/angular/vendors/angular-parallax.min.js"></script>
            <script src="assets/angular/vendors/angular_sticky.js"></script>
            
            <script src="assets/angular/apps/filters_app.js"></script>
            <script src="assets/angular/apps/home_app.js"></script>
            <script src="assets/angular/apps/app_constants.js"></script>
            <script src="assets/angular/constants/development.js"></script>
            <script src="assets/angular/services/user_service.js"></script>
            <script src="assets/angular/services/genre_service.js"></script>
            <script src="assets/angular/services/book_service.js"></script>
            <script src="assets/angular/services/author_service.js"></script>
            <script src="assets/angular/services/shelf_service.js"></script>
            <script src="assets/angular/services/infinity_service.js"></script>
            <script src="assets/angular/services/shared_service.js"></script>
            <script src="assets/angular/services/network_service.js"></script>

            <script src="assets/angular/controllers/app_controller.js"></script>
            
            <script src="assets/angular/controllers/notification_controller.js"></script>
            <script src="assets/angular/controllers/search_controller.js"></script>
            <script src="assets/angular/controllers/home/left_controller.js"></script>
            <script src="assets/angular/controllers/home/right_controller.js"></script>
            <script src="assets/angular/controllers/book/buy_controller.js"></script>

            <script src="assets/angular/controllers/recommend_controller.js"></script>
            <script src="assets/angular/controllers/home/shelf_controller.js"></script>
            <script src="assets/angular/controllers/share/share_controller.js"></script>
            <script src="assets/angular/controllers/share/options_controller.js"></script>            
            <script src="assets/angular/controllers/book/specific_book_controller.js"></script>
            <script src="assets/angular/controllers/book/timeline_controller.js"></script>
            <script src="assets/angular/controllers/book/real_virtuality_controller.js"></script>

            <script src="assets/angular/controllers/toast_controller.js"></script>
            <script src="assets/angular/directives/site_directives.js"></script>

            <script src="assets/angular/services/search_service.js"></script>
            <script src="assets/angular/services/status_service.js"></script>
            <script src="assets/angular/services/feed_service.js"></script>

            <% if (@news || @news_group)%>
                 <!-- <script src="assets/angular/vendors/jquery.min.js"></script>
                // <script src="assets/angular/vendors/d3.min.js"></script>
                // <script src="assets/angular/vendors/bubble_chart/d3_transform.js"></script>
                // <script src="assets/angular/vendors/bubble_chart/extarray.js"></script>
                // <script src="assets/angular/vendors/bubble_chart/misc.js"></script>
                // <script src="assets/angular/vendors/bubble_chart/micro-observer.js"></script>
                // <script src="assets/angular/vendors/bubble_chart/microplugin.js"></script>
                // <script src="assets/angular/vendors/bubble_chart/bubble-chart.js"></script>
                // <script src="assets/angular/vendors/bubble_chart/central-click.js"></script>
                // <script src="assets/angular/vendors/bubble_chart/lines.js"></script>
                // <script src="assets/angular/directives/d3_directives.js"></script> -->
            <% end %>

            
            <% if @news_group %>
                <script src="assets/angular/services/news_service.js"></script>
                <script src="assets/angular/directives/home_directives.js"></script>
                <script src="assets/angular/controllers/home/feed_controller.js"></script>
            <% end %>

            <div ng-if="info.hide_signin">
                <script src='assets/angular/services/website_service.js'></script>
                <script src="assets/angular/controllers/signup_controller.js"></script>
            </div>

            <% if @home || @signup %>
                
                <script src="assets/angular/controllers/home_controller.js"></script>

            <% end %>

            <% if @publishers %>
                <script src='assets/angular/services/publishers_service.js'></script>
                <script src='assets/angular/controllers/publishers_controller.js'></script>
            <% end %>

            <% if @personalised_suggestions %>
                <script src="assets/angular/services/news_service.js"></script>
                <script src="assets/angular/controllers/personalised_controller.js"></script>
            <% end %>

            <% if @network %>
                <script src="assets/angular/controllers/network_controller.js"></script>
            <% end %>

            <% if @news %>
                <script src="assets/angular/directives/news_directives.js"></script>
                <script src="assets/angular/services/news_service.js"></script>
                <script src="assets/angular/controllers/news_controller.js"></script>
            <% end %>

            <% if @room %>
                <script src="assets/angular/services/news_service.js"></script>
                <script src="assets/angular/controllers/community_controller.js"></script>
            <% end %>

            <% if @customise %>
                <script src="assets/angular/controllers/customise/customise_controller.js"></script>
                <script src="assets/angular/controllers/customise/info_controller.js"></script>
                <script src="assets/angular/controllers/customise/genres_controller.js"></script>
                <script src="assets/angular/controllers/customise/books_controller.js"></script>
                <script src="assets/angular/controllers/customise/authors_controller.js"></script>
            <% end %>

            <% if @book %>
                
            <% end %>

            <% if @infinity %>
                <script src="assets/angular/services/time_group_service.js"></script>
                <script src="assets/angular/services/reading_time_service.js"></script>
                
                <script src="assets/angular/controllers/library/library_controller.js"></script>
                <script src="assets/angular/controllers/library/filters_controller.js"></script>
            <% end %>

            <% if @shelves %>
                <script src="assets/angular/directives/room_directives.js"></script>
                <script src="assets/angular/services/room_service.js"></script>
                <script src="assets/angular/controllers/room/room_controller.js"></script>
            <% end %>

            <% if @author %>
                <script src="assets/angular/controllers/author_controller.js"></script>
            <% end %>

            <% if @profile %>
                <script src="assets/angular/directives/profile_directives.js"></script>
                <script src="assets/angular/services/news_service.js"></script>
                
                <script src="assets/angular/controllers/profile_controller.js"></script>
                
            <% end %>

            <% if @search %>
                <script src="assets/angular/controllers/search_page_controller.js"></script>
            <% end %>

        <% else %>
            <link rel="stylesheet" href="assets/min/site.min.css" />
            <script src="assets/min/angular/site.min.js"></script>

            <% if (@news || @news_group)%>
                <!-- // <script src="assets/min/angular/d3_group.min.js"></script>  -->
            <% end %>

            <div ng-if="info.hide_signin">
                
                <script src="assets/min/angular/controllers/signin_group.min.js"></script>
            </div>
            
            <% if @home || @signup %>
                <script src="assets/min/angular/controllers/home_group.min.js"></script>
            <% end %>

            <% if @news_group %>
                <script src="assets/min/angular/controllers/news_group_group.min.js"></script>
            <% end %>

            <% if @personalised_suggestions %>
                <script src="assets/min/angular/controllers/personalised_group.min.js"></script>
            <% end %>

            <% if @publishers %>
                <script src="assets/min/angular/controllers/publishers_group.min.js"></script>
            <% end %>

            <% if @network %>
                <script src="assets/min/angular/controllers/network_group.min.js"></script>
            <% end %>

            <% if @news %>
                <script src="assets/min/angular/controllers/news_group.min.js"></script>
            <% end %>

            <% if @room %>
                <script src="assets/min/angular/controllers/community_group.min.js"></script>
            <% end %>

            <% if @customise %>
                <script src="assets/min/angular/controllers/customise_group.min.js"></script>
            <% end %>

            <% if @book %>
                <script src="assets/min/angular/controllers/book_group.min.js"></script>
            <% end %>

            <% if @infinity %>
                <script src="assets/min/angular/controllers/infinity_group.min.js"></script>
            <% end %>

            <% if @shelves %>
                <script src="assets/min/angular/controllers/room_group.min.js"></script>
            <% end %>

            <% if @author %>
                <script src="assets/min/angular/controllers/author_group.min.js"></script>
            <% end %>

            <% if @profile %>
                <script src="assets/min/angular/controllers/profile_group.min.js"></script>
            <% end %>

            <% if @search %>
                <script src="assets/min/angular/controllers/search_group.min.js"></script>
            <% end %>
        <% end %>
    </head>

    <body ng-controller="appController" ng-keydown="scroll_on_keypress($event)" 
         ng-click="close_popups()" 
        msd-wheel="close_popups()">
        <script>
          // (function() {
          //   var cx = '010250045073231072543:z7pnnxbf5s8';
          //   var gcse = document.createElement('script');
          //   gcse.type = 'text/javascript';
          //   gcse.async = true;
          //   gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
          //       '//cse.google.com/cse.js?cx=' + cx;
          //   var s = document.getElementsByTagName('script')[0];
          //   s.parentNode.insertBefore(gcse, s);
          // })();
        </script>
        <!-- <gcse:search></gcse:search> -->
        <div layout="column" layout-fill>
            <!-- <div ng-include src="'/assets/angular/html/shared/header.html'"></div> -->


            <% if @home %>
                <md-content class="white" flex ng-controller="homeController">
            <% elsif @personalised_suggestions %>
                <md-content ng-controller="personalisedController">
            <% elsif @network %>
                <md-content ng-controller="networkController" id="network">
            <% elsif @news %>
                <md-content layout="column" ng-controller="newsController" id="news">
            <% elsif @news_group && !@blogs %>
                <md-content ng-controller="feedController" check-scroll-bottom="get_community_feed()" id="home">
            <% elsif @blogs && @news_group %>
                <md-content layout="row" layout-wrap ng-controller="feedController" 
                    check-scroll-bottom="get_blog_feed()" id="home">
            <% elsif @signup %>
                <md-content class="white" flex ng-controller="homeController">
            <% elsif @room %>
                <md-content ng-controller="communityController" id="community" class="white">
            <% elsif @infinity %>
                <md-content ng-controller="libraryController" 
                    check-scroll-bottom="get_popular_books()" ng-model="info" id="infinity_page">
            <% elsif @shelves %>
                <md-content ng-controller="roomController">
            <% elsif @author %>
                <md-content ng-controller="authorController" layout="row" layout-wrap check-scroll-bottom="get_books()" ng-keydown="keypress_scroll($event)">
            <% elsif @profile %>
                <md-content ng-controller="profileController" check-scroll-bottom="get_feed()">
            <% elsif @search %>
                <md-content layout="row" layout-wrap ng-controller="searchPageController" check-scroll-bottom="show_all_results()">
            <% elsif @book %>
                <md-content class="white" ng-controller="specificBookController">
            <% elsif @customise %>
                <md-content ng-controller="customiseController" class="white" flex="100">
            <% elsif @publishers %>
                <md-content ng-controller="publishersController">
            <% end %>
                    <div ng-show="info.mobile_search" flex>
                        <div class="header <% if @profile || @shelves || @network %>yellow<% end %>">
                            <% if @home || @signup %>
                                <div ng-include src="'/assets/angular/html/shared/home_header.html'"></div>
                            <% else %>
                                <div ng-include src="'/assets/angular/html/shared/header.html'"></div>
                            <% end %>
                            <% unless @home || @profile || @network || @infinity || @signup || @publishers || @news_group %>
                                <div ng-include src="'/assets/angular/html/shared/share.html'"></div>
                            <% end %>
                        </div>
                        <div ng-hide="info.show_share || info.show_book_share">
                            <%= yield %>
                        </div>
                    </div>
                </md-content>
            
            <md-progress-linear class="md-primary loader"
                                ng-show="info.loading && !info.show_share"
                                md-mode="indeterminate">
            </md-progress-linear>

            <md-progress-circular class="md-accent md-hue-1" md-mode="indeterminate" 
                    ng-if="info.cirular_loading">
            </md-progress-circular>

            <div ng-include src="'/assets/angular/html/shared/left_panel.html'" class="left_panel_container"></div>
            <div ng-include src="'/assets/angular/html/shared/notifications.html'" ng-if="show_notifications"></div>
            <% unless @profile %>
                <div ng-include src="'/assets/angular/html/share/show.html'"></div>
            <% end %>
            
        </div>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-35051501-1', 'readersdoor.com');
            ga('send', 'pageview');
        </script>
    </body>
</html>