<!DOCTYPE html>
<html ng-strict-di>
    <head>
     	<link rel="stylesheet" href="assets/angular_material.css" />
     	<link rel="icon" type="image/png" href="assets/favicon.png">
     	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
       <%= yield %>
    </body>
</html>