<!DOCTYPE html>
<html ng-app="oditApp" ng-strict-di class="white">
    <head>
    	<title><%= @title %></title>
    	<link rel="stylesheet" href="assets/angular_material.css" />
        <link rel="stylesheet" href="assets/website/website.css" />
    </head>

    <body ng-controller="oditController" class="white">
       <%= yield %>
    </body>
    <% if Rails.env.development? %>
        <script src='assets/min/angular/vendors/angular.min.js'></script>
        <script src='assets/min/angular/vendors/angular_messages.min.js'></script>
        <script src="assets/angular/vendors/hammer.js"></script>
        <script src="assets/angular/vendors/angular-aria.min.js"></script>
        <script src="assets/angular/vendors/angular_router.min.js"></script>
        <script src="assets/angular/vendors/angular_material.min.js"></script>
        <script src="assets/angular/vendors/angular_cookies.min.js"></script>
        <script src='assets/min/angular/vendors/angular_animate.min.js'></script>
        <script src='assets/min/angular/vendors/angular-sanitize.min.js'></script>
        <script src="assets/angular/apps/odit_app.js"></script>
        <script src="assets/angular/constants/odit.js"></script>
        <script src="assets/angular/services/odit_service.js"></script>
        <script src="assets/angular/controllers/odit_controller.js"></script>
    <% else %>
        <script src="assets/min/angular/odit_group.min.js"></script>
    <% end %>
</html>